<two-columns>
    <div class="page-container browse-page">
        <div class="left-column" style="width:250px; padding: 40px 48px 40px 0;">
            <h2>Filters</h2>

            <filter-section name="Search" expanded="true">
                <input type="text" ng-model="filters.search" ng-change="refreshFilters()">
            </filter-section>

            <filter-section name="3" expanded="true" 1>
                <div class="sidebar-box box-shadow">
                    <ul class="checkbox-list" ng-if="allowAdult">
                        <li>
                            <label><input type="checkbox" ng-model="filters.adult['1']" ng-change="refreshFilters()">
                                Show Adult Content</label>
                        </li>
                        <li>
                            <label><input type="checkbox" ng-model="filters.adult['0']" ng-change="refreshFilters()">
                                Show Non-Adult Content</label>
                        </li>
                    </ul>
                    <ul class="checkbox-list" ng-if="permissions.canModerate">
                        <li>
                            <label><input type="checkbox" ng-model="filters.hidden['1']" ng-change="refreshFilters()">
                                Hidden</label>
                        </li>
                        <li>
                            <label><input type="checkbox" ng-model="filters.hidden['0']" ng-change="refreshFilters()">
                                Unhidden</label>
                        </li>
                    </ul>
                </div>
            </filter-section>

            <filter-section name="Types" expanded="true">
                <div class="sidebar-box box-shadow">
                    <ul class="checkbox-list">
                        <li>
                            <label><input type="checkbox" ng-model="filters.include_replies" ng-change="refreshFilters()">
                                Child Comments (Replies)</label>
                        </li>
                        <li>
                            <label><input type="checkbox" ng-model="filters.commentable.ModList" ng-change="refreshFilters()">
                                Mod List Comments</label>
                        </li>
                        <li>
                            <label><input type="checkbox" ng-model="filters.commentable.Correction" ng-change="refreshFilters()">
                                Correction Comments</label>
                        </li>
                        <li>
                            <label><input type="checkbox" ng-model="filters.commentable.User" ng-change="refreshFilters()">
                                User Profile Comments</label>
                        </li>
                        <li>
                            <label><input type="checkbox" ng-model="filters.commentable.Article" ng-change="refreshFilters()">
                                Article Comments</label>
                        </li>
                        <li>
                            <label><input type="checkbox" ng-model="filters.commentable.HelpPage" ng-change="refreshFilters()">
                                Help Page Comments</label>
                        </li>
                    </ul>
                </div>
            </filter-section>

            <filter-section name="Date Filters" expanded="true">
                <div ng-repeat="filter in dateFilters">
                    <h4>{{filter.label}}
                        <!--<span class="filter-controls">
                            <span class="fa fa-calendar" ng-click="" title="Custom Date"></span>
                        </span>-->
                    </h4>
                    <slider on-change="refreshFilters()" filter-data="filters" filter="filter"></slider>
                </div>
            </filter-section>

            <filter-section name="Statistic Filters" expanded="true" ng-if="statFilters.length">
                <div class="filter-section">
                    <div ng-repeat="filter in statFilters">
                        <h4>{{filter.label}}
                            <!--<span class="filter-controls" ng-if="filter.max > 500">
                                <span class="fa fa-wrench" ng-click="" title="Custom Value"></span>
                            </span>-->
                        </h4>
                        <slider on-change="refreshFilters()" filter-data="filters" filter="filter"></slider>
                    </div>
                </div>
            </filter-section>
        </div>

        <div class="right-column">
            <h2>Comments
                <span class="results-count" ng-show="pages.resultsCount">
                    ({{pages.resultsCount}} results)
                </span>
                <span class="right-item">
                    <sort-control on-change="refreshFilters()"></sort-control>
                </span>
            </h2>
            <loader data="comments" content-class="grid-results" spinner-class="big-spinner" ng-if="!error">
                <comments comments="comments" show-context="true"></comments>

                <page-results pages="pages" data="comments" callback="refreshFilters"></page-results>
            </loader>
            <error-display content-class="content-message content-error" errors="error" label="comments"></error-display>
        </div>
    </div>
</two-columns>
