<two-columns>
    <div class="page-container browse-page">
        <div class="left-column" style="width:250px; padding: 40px 48px 40px 0;">
            <h2>Filters</h2>

            <filter-section name="Search" expanded="true">
                <h4>Text</h4>
                <input type="text" ng-model="filters.search" ng-change="refreshFilters()">

                <h4>Submitter</h4>
                <input type="text" ng-model="filters.submitter" ng-change="refreshFilters()">

                <h4>Mod Name</h4>
                <input type="text" ng-model="filters.mod_name" ng-change="refreshFilters()">
            </filter-section>

            <filter-section name="States" expanded="true">
                <div class="sidebar-box box-shadow">
                    <ul class="checkbox-list">
                        <li>
                            <label><input type="checkbox" ng-model="filters.state.open" ng-change="refreshFilters()">
                                Open</label>
                        </li>
                        <li>
                            <label><input type="checkbox" ng-model="filters.state.approved" ng-change="refreshFilters()">
                                Approved</label>
                        </li>
                        <li>
                            <label><input type="checkbox" ng-model="filters.state.denied" ng-change="refreshFilters()">
                                Denied</label>
                        </li>
                    </ul>
                </div>
            </filter-section>

            <filter-section name="Date Filters" expanded="true">
                <div ng-repeat="filter in dateFilters">
                    <h4>{{filter.label}}
                        <!--<span class="filter-controls">
                            <span class="fa fa-calendar" ng-click="" title="Custom Date"></span>
                        </span>-->
                    </h4>
                    <slider filter-data="filters" filter="filter"></slider>
                </div>
            </filter-section>

            <filter-section name="Statistic Filters" expanded="true" ng-if="statFilters.length">
                <div class="filter-section">
                    <div ng-repeat="filter in statFilters">
                        <h4>{{filter.label}}
                            <!--<span class="filter-controls" ng-if="filter.max > 500">
                                <span class="fa fa-wrench" ng-click="" title="Custom Value"></span>
                            </span>-->
                        </h4>
                        <slider filter-data="filters" filter="filter"></slider>
                    </div>
                </div>
            </filter-section>
        </div>

        <div class="right-column">
            <h2>Curator Requests
                <span class="right-item">
                    <sort-control></sort-control>
                </span>
            </h2>
            <loader data="curator_requests" content-class="grid-results" spinner-class="big-spinner" ng-if="!error">
                <div class="content-block" ng-repeat="curatorRequest in curator_requests">
                    <curator-request data="curatorRequest" index="$index + 100"></curator-request>
                </div>

                <div class="content-message" ng-hide="curator_requests.length">
                    No curator requests were found matching your search criteria.
                </div>

                <page-results pages="pages" data="curator_requests" callback="getData"></page-results>
            </loader>

            <error-display content-class="content-message content-error" errors="error" label="Curator Requests"></error-display>
        </div>
    </div>
</two-columns>
