<two-columns>
    <div class="page-container browse-page">
        <div class="left-column" style="width:250px; padding: 40px 48px 40px 0;">
            <h2>Filters</h2>

            <div class="filter-section">
                <h3>Search</h3>
                <h4>Text</h4>
                <input type="text" ng-model="filters.search">

                <h4>Submitter</h4>
                <input type="text" ng-model="filters.submitter">

                <!--<h4>Editor</h4>-->
                <!--<input type="text" ng-model="filters.editor">-->
            </div>

            <div class="filter-section" ng-if="permissions.canModerate || allowAdult">
                <h3>Content Filters</h3>
                <div class="sidebar-box box-shadow">
                    <ul class="checkbox-list" ng-if="allowAdult">
                        <li>
                            <label><input type="checkbox" ng-model="filters.adult['1']">
                                Show Adult Content</label>
                        </li>
                        <li>
                            <label><input type="checkbox" ng-model="filters.adult['0']">
                                Show Non-Adult Content</label>
                        </li>
                    </ul>
                    <ul class="checkbox-list" ng-if="permissions.canModerate">
                        <li>
                            <label><input type="checkbox" ng-model="filters.hidden['1']">
                                Hidden</label>
                        </li>
                        <li>
                            <label><input type="checkbox" ng-model="filters.hidden['0']">
                                Unhidden</label>
                        </li>
                        <li>
                            <label><input type="checkbox" ng-model="filters.approved['1']">
                                Approved</label>
                        </li>
                        <li>
                            <label><input type="checkbox" ng-model="filters.approved['0']">
                                Unapproved</label>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="filter-section">
                <h3>Standing</h3>
                <div class="sidebar-box box-shadow">
                    <ul class="checkbox-list">
                        <li>
                            <label><input type="checkbox" ng-model="filters.standing.good">
                                Good</label>
                        </li>
                        <li>
                            <label><input type="checkbox" ng-model="filters.standing.unknown">
                                Unknown</label>
                        </li>
                        <li>
                            <label><input type="checkbox" ng-model="filters.standing.bad">
                                Bad</label>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="filter-section">
                <h3>Date Filters</h3>
                <div ng-repeat="filter in dateFilters">
                    <h4>{{filter.label}}
                        <!--<span class="filter-controls">
                            <span class="fa fa-calendar" ng-click="" title="Custom Date"></span>
                        </span>-->
                    </h4>
                    <slider filter-data="filters" filter="filter"></slider>
                </div>
            </div>

            <div class="filter-sections" ng-if="statFilters.length">
                <h3>Statistic Filters</h3>
                <div class="filter-section">
                    <div ng-repeat="filter in statFilters" ng-show="filter.common || expanded.stat">
                        <h4>{{filter.label}}
                            <!--<span class="filter-controls" ng-if="filter.max > 500">
                                <span class="fa fa-wrench" ng-click="" title="Custom Value"></span>
                            </span>-->
                        </h4>
                        <slider filter-data="filters" filter="filter"></slider>
                    </div>
                </div>

                <expander expanded="expanded" key="stat"></expander>
            </div>
        </div>

        <div class="right-column">
            <h2>Load Order Notes <span class="right-item">
                <sort-control></sort-control>
            </span></h2>
            <loader data="load_order_notes" content-class="grid-results" spinner-class="big-spinner" ng-if="!error">
                <div class="content-block" ng-repeat="note in load_order_notes">
                    <load-order-note note="note" show-user-column="true" index="100"></load-order-note>
                </div>

                <div class="content-message" ng-hide="load_order_notes.length">
                    No Load Order Notes were found matching your search criteria.
                </div>

                <page-results pages="pages" data="load_order_notes" callback="getData"></page-results>
            </loader>

            <error-display content-class="content-message content-error" errors="error" label="Load Order Notes"></error-display>
        </div>
    </div>
</two-columns>