<two-columns>
    <div class="page-container">
        <div class="column-wrapper">
            <div class="left-column left-browse-column" style="width:250px; padding: 40px 48px 40px 0;">
                <h2>Filters</h2>

                <div class="filter-section">
                    <h3>Search</h3>
                    <h4>Note</h4>
                    <input type="text" ng-model="filters.note">

                    <h4>Submitter</h4>
                    <input type="text" ng-model="filters.submitter">
                </div>

                <div class="filter-section">
                    <h3>Date Filters</h3>
                    <div ng-repeat="filter in dateFilters">
                        <h4>{{filter.label}}
                            <!--<span class="filter-controls">
                                <span class="fa fa-calendar" ng-click="" title="Custom Date"></span>
                            </span>-->
                        </h4>
                        <slider filters="filters" data="filter.data" type="UserDateSlider"></slider>
                    </div>
                </div>
            </div>

            <div class="right-column right-browse-column">
                <h2>Articles <span class="right-item">
                    <sort-control></sort-control>
                </span></h2>
                <loader data="reports" content-class="grid-results" spinner-class="big-spinner" ng-if="!error">
                    <div ng-repeat="report in reports">
                        Type: {{report.reportable_type}}
                        <br />
                        number of reports: {{report.reports_count}}
                        <br>

                    </div>

                    <div class="content-message" ng-hide="reports.length">
                        No reports were found matching your search criteria.
                    </div>

                    <page-results pages="pages" data="articles" callback="getData"></page-results>
                </loader>

                <div class="content-message content-error" ng-if="error">
                    There was an error retrieving reports<br>
                    <!--TODO: Render JSON errors here, if available?-->
                    Error {{error.status}}: {{error.statusText}}
                </div>
            </div>
        </div>
    </div>
</two-columns>
