<messages></messages>

<two-columns>
    <div class="page-container browse-page">
        <div class="left-column" style="width:250px; padding: 40px 48px 40px 0;">
            <h2>Filters</h2>

            <filter-section name="Search" expanded="true">
                <h4>Mod Name</h4>
                <input type="text" ng-model="filters.search" ng-change="refreshFilters()">

                <h4>Description</h4>
                <input type="text" ng-model="filters.description" ng-change="refreshFilters()">

                <h4>Mod Author</h4>
                <input type="text" ng-model="filters.author" ng-change="refreshFilters()">
            </filter-section>

            <filter-section name="Mod List" expanded="true" ng-if="activeModList">
                <div class="sidebar-box box-shadow">
                    <ul class="checkbox-list">
                        <li>
                            <a class="list-title" ng-href="mod-lists/{{activeModList.id}}">
                                {{activeModList.name}}
                            </a>
                        </li>
                        <li>
                            <label><input type="checkbox" ng-model="modListFilter" ng-change="toggleModListFilter()">
                                Enable compatibility filter</label>
                        </li>
                        <li class="third-box">
                            <h4>Tools</h4>
                            <a ng-href="mod-lists/{{activeModList.id}}/tools">
                                {{activeModList.tools_count + activeModList.custom_tools_count}}
                            </a>
                        </li>
                        <li class="third-box">
                            <h4>Mods</h4>
                            <a ng-href="mod-lists/{{activeModList.id}}/mods">
                                {{activeModList.mods_count + activeModList.custom_mods_count}}
                            </a>
                        </li>
                        <li class="third-box">
                            <h4>Plugins</h4>
                            <a ng-href="mod-lists/{{activeModList.id}}/plugins">
                                {{activeModList.plugins_count + activeModList.custom_plugins_count}}
                            </a>
                        </li>
                    </ul>
                </div>
            </filter-section>

            <filter-section name="Content Filters" expanded="true" ng-if="permissions.canModerate || allowAdult">
                <div class="sidebar-box box-shadow">
                    <ul class="checkbox-list" ng-if="allowAdult">
                        <li>
                            <label><input type="checkbox" ng-model="filters.adult['1']" ng-change="refreshFilters()">
                                Show Adult Content</label>
                        </li>
                        <li>
                            <label><input type="checkbox" ng-model="filters.adult['0']" ng-change="refreshFilters()">
                                Show Non-Adult Content</label>
                        </li>
                    </ul>
                    <ul class="checkbox-list" ng-if="permissions.canModerate">
                        <li>
                            <label><input type="checkbox" ng-model="filters.hidden['1']" ng-change="refreshFilters()">
                                Hidden</label>
                        </li>
                        <li>
                            <label><input type="checkbox" ng-model="filters.hidden['0']" ng-change="refreshFilters()">
                                Unhidden</label>
                        </li>
                        <li>
                            <label><input type="checkbox" ng-model="filters.approved['1']" ng-change="refreshFilters()">
                                Approved</label>
                        </li>
                        <li>
                            <label><input type="checkbox" ng-model="filters.approved['0']" ng-change="refreshFilters()">
                                Unapproved</label>
                        </li>
                    </ul>
                </div>
            </filter-section>

            <filter-section name="Sources" expanded="true">
                <div class="sidebar-box box-shadow">
                    <ul class="checkbox-list">
                        <li>
                            <label><input type="checkbox" ng-model="filters.sources.nexus" ng-change="refreshFilters()">
                                Nexus Mods</label>
                        </li>
                        <li>
                            <label><input type="checkbox" ng-model="filters.sources.workshop" ng-change="refreshFilters()">
                                Steam Workshop</label>
                        </li>
                        <li>
                            <label><input type="checkbox" ng-model="filters.sources.lab" ng-change="refreshFilters()">
                                Lovers Lab</label>
                        </li>
                        <li>
                            <label><input type="checkbox" ng-model="filters.sources.other" ng-change="refreshFilters()">
                                Other</label>
                        </li>
                    </ul>
                </div>
            </filter-section>

            <filter-section name="Permissions" expanded="false" class="filter-section">
                <div class="sidebar-box box-shadow">
                    <ul class="select-list">
                        <li>
                            <label>
                                <span>Requires attribution</span>
                                <select ng-model="filters.terms.credit" ng-change="termChange('credit')" ng-change="refreshFilters()">
                                    <option value="">Any</option>
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>
                            </label>
                        </li>
                        <li>
                            <label>
                                <span>Commercial use</span>
                                <select ng-model="filters.terms.commercial" ng-change="termChange('commercial')" ng-change="refreshFilters()">
                                    <option value="">Any</option>
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                    <option value="2" title="Commercial use permissions are granted on a case-by-case basis.">Maybe</option>
                                </select>
                            </label>
                        </li>
                        <li>
                            <label>
                                <span>Redistribution</span>
                                <select ng-model="filters.terms.redistribution" ng-change="termChange('redistribution')" ng-change="refreshFilters()">
                                    <option value="">Any</option>
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                    <option value="2" title="Redistribution permissions are granted on a case-by-case basis.">Maybe</option>
                                </select>
                            </label>
                        </li>
                        <li>
                            <label>
                                <span>Modification</span>
                                <select ng-model="filters.terms.modification" ng-change="termChange('modification')" ng-change="refreshFilters()">
                                    <option value="">Any</option>
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                    <option value="2" title="Modification permissions are granted on a case-by-case basis.">Maybe</option>
                                </select>
                            </label>
                        </li>
                        <li>
                            <label>
                                <span>Private use</span>
                                <select ng-model="filters.terms.private_use" ng-change="termChange('private_use')" ng-change="refreshFilters()">
                                    <option value="">Any</option>
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>
                            </label>
                        </li>
                        <li>
                            <label>
                                <span>License inclusion</span>
                                <select ng-model="filters.terms.include" ng-change="termChange('include')" ng-change="refreshFilters()">
                                    <option value="">Any</option>
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>
                            </label>
                        </li>
                    </ul>
                </div>
            </filter-section>

            <category-tree on-change="refreshFilters()" class="filter-section" categories="categories" selection="filters.categories" toggle-all="true"></category-tree>

            <div class="filter-section">
                <h3>Tags</h3>
                <tag-selector active-tags="[]" new-tags="filters.tags" type="mod" show-count="true" can-create="false" show-add="true" max-tags="10"></tag-selector>
            </div>

            <filter-section name="Date Filters" expanded="true">
                <div ng-repeat="filter in dateFilters">
                    <h4>{{filter.label}}
                        <!--<span class="filter-controls">
                            <span class="fa fa-calendar" ng-click="" title="Custom Date"></span>
                        </span>-->
                    </h4>
                    <slider on-change="refreshFilters()" filter-data="filters" filter="filter"></slider>
                </div>
            </filter-section>

            <filter-section name="Mod Picker Filters" expanded="true">
                <div ng-repeat="filter in modPickerFilters" ng-show="filter.common || expanded.modPicker">
                    <h4>{{filter.label}}
                        <!--<span class="filter-controls" ng-if="filter.max > 500">
                            <span class="fa fa-wrench" ng-click="" title="Custom Value"></span>
                        </span>-->
                    </h4>
                    <slider on-change="refreshFilters()" filter-data="filters" filter="filter"></slider>
                </div>

                <expander expanded="expanded" key="modPicker"></expander>
            </filter-section>

            <filter-section name="Statistic Filters" expanded="true" ng-if="availableStatFilters.length">
                <div class="filter-section">
                    <div ng-repeat="filter in availableStatFilters" ng-show="filter.common || expanded.stat">
                        <h4>{{filter.label}}
                            <!--<span class="filter-controls" ng-if="filter.max > 500">
                                <span class="fa fa-wrench" ng-click="" title="Custom Value"></span>
                            </span>-->
                        </h4>
                        <slider on-change="refreshFilters()" filter-data="filters" filter="filter"></slider>
                    </div>
                </div>

                <expander expanded="expanded" key="stat"></expander>
            </filter-section>
        </div>

        <div class="right-column">
            <h2>
                Mods
                <span class="right-item view-mode-item">
                    <span class="right-item" ng-if="!tableView">
                        <sort-control on-change="refreshFilters()"></sort-control>
                    </span>
                    <span class="right-item action-box" ng-click="showDetailsModal()" ng-if="!tableView">
                        <i class="fa fa-gear"></i> Configure Details
                    </span>
                    <span class="right-item action-box" ng-click="tableView = !tableView">
                        <i class="fa {{ tableView ? 'fa-th-large' : 'fa-list-ul' }}"></i> {{ tableView ? 'Grid View' : 'List View' }}
                    </span>
                </span>
            </h2>
            <loader data="mods" content-class="table-container" spinner-class="big-spinner" ng-if="!error">
                <table-results label="mods" data="mods" ng-if="tableView"></table-results>
                <grid-results label="mods" data="mods" ng-if="!tableView"></grid-results>
                <page-results pages="pages" data="mods" callback="refreshFilters"></page-results>
            </loader>

            <error-display content-class="content-message content-error" errors="error" label="Mods"></error-display>
        </div>
    </div>
</two-columns>
