<two-columns>
    <div class="page-container">
        <div class="column-wrapper">
            <div class="left-column left-browse-column" style="width:250px; padding: 40px 48px 40px 0;">
                <h2>Filters</h2>

                <div class="filter-section">
                    <h3>Search</h3>
                    <h4>Submitter</h4>
                    <input type="text" ng-model="filters.submitter">
                </div>

                <div class="filter-section">
                    <h3>Types</h3>
                    <div class="sidebar-box box-shadow">
                        <ul class="checkbox-list">
                            <li>
                                <label><input type="checkbox" ng-model="filters.reportable.Review">
                                    Reviews</label>
                            </li>
                            <li>
                                <label><input type="checkbox" ng-model="filters.reportable.CompatibilityNote">
                                    Compatibility Notes</label>
                            </li>
                            <li>
                                <label><input type="checkbox" ng-model="filters.reportable.InstallOrderNote">
                                    Install Order Notes</label>
                            </li>
                            <li>
                                <label><input type="checkbox" ng-model="filters.reportable.LoadOrderNote">
                                    Load Order Notes</label>
                            </li>
                            <li>
                                <label><input type="checkbox" ng-model="filters.reportable.Comment">
                                    Comments</label>
                            </li>
                            <li>
                                <label><input type="checkbox" ng-model="filters.reportable.Correction">
                                    Corrections</label>
                            </li>
                            <li>
                                <label><input type="checkbox" ng-model="filters.reportable.Mod">
                                    Mods</label>
                            </li>
                            <li>
                                <label><input type="checkbox" ng-model="filters.reportable.ModList">
                                    Mod Lists</label>
                            </li>
                            <li>
                                <label><input type="checkbox" ng-model="filters.reportable.Tag">
                                    Tags</label>
                            </li>
                            <li>
                                <label><input type="checkbox" ng-model="filters.reportable.User">
                                    Users</label>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="filter-section">
                    <h3>Reasons</h3>
                    <div class="sidebar-box box-shadow">
                        <ul class="checkbox-list">
                            <li>
                                <label><input type="checkbox" ng-model="filters.reason.be_respectful">
                                    Be Respectful</label>
                            </li>
                            <li>
                                <label><input type="checkbox" ng-model="filters.reason.be_trustworthy">
                                    Be Trustworthy</label>
                            </li>
                            <li>
                                <label><input type="checkbox" ng-model="filters.reason.be_constructive">
                                    Be Constructive</label>
                            </li>
                            <li>
                                <label><input type="checkbox" ng-model="filters.reason.spam">
                                    Spam</label>
                            </li>
                            <li>
                                <label><input type="checkbox" ng-model="filters.reason.piracy">
                                    Piracy</label>
                            </li>
                            <li>
                                <label><input type="checkbox" ng-model="filters.reason.adult_content">
                                    Unmarked Adult Content</label>
                            </li>
                            <li>
                                <label><input type="checkbox" ng-model="filters.reason.other">
                                    Other</label>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="filter-section">
                    <h3>Date Filters</h3>
                    <div ng-repeat="filter in dateFilters">
                        <h4>{{filter.label}}
                            <!--<span class="filter-controls">
                                <span class="fa fa-calendar" ng-click="" title="Custom Date"></span>
                            </span>-->
                        </h4>
                        <slider filter-data="filters" filter="filter"></slider>
                    </div>
                </div>

                <div class="filter-sections">
                    <h3>Statistic Filters</h3>
                    <div class="filter-section">
                        <div ng-repeat="filter in statFilters">
                            <h4>{{filter.label}}
                                <!--<span class="filter-controls" ng-if="filter.max > 500">
                                    <span class="fa fa-wrench" ng-click="" title="Custom Value"></span>
                                </span>-->
                            </h4>
                            <slider filter-data="filters" filter="filter"></slider>
                        </div>
                    </div>
                </div>
            </div>

            <div class="right-column right-browse-column">
                <h2>Reports <span class="right-item">
                    <sort-control></sort-control>
                </span></h2>
                <loader data="reports" content-class="grid-results" spinner-class="big-spinner" ng-if="!error">
                    <report data="report" ng-repeat="report in reports"></report>

                    <div class="content-message" ng-hide="reports.length">
                        No reports were found matching your search criteria.
                    </div>

                    <page-results pages="pages" data="reports" callback="getData"></page-results>
                </loader>

                <error-display content-class="content-message content-error" errors="error" label="Reports"></error-display>
            </div>
        </div>
    </div>
</two-columns>
