<messages></messages>

<two-columns>
    <div class="page-container browse-page">
        <div class="left-column" style="width:250px; padding: 40px 48px 40px 0;">
            <h2>Filters</h2>

            <search-filter-section></search-filter-section>

            <filter-section name="Content Filters" expanded="true">
                <div class="sidebar-box box-shadow">
                    <ul class="checkbox-list">
                        <li>
                            <label><input type="checkbox" ng-model="filters.resolved['1']" ng-change="refreshFilters()">
                                Resolved</label>
                        </li>
                        <li>
                            <label><input type="checkbox" ng-model="filters.resolved['0']" ng-change="refreshFilters()">
                                Unresolved</label>
                        </li>
                    </ul>
                </div>
            </filter-section>

            <filter-section name="Types" expanded="true">
                <div class="sidebar-box box-shadow">
                    <ul class="checkbox-list">
                        <li>
                            <label><input type="checkbox" ng-model="filters.reportable.Review" ng-change="refreshFilters()">
                                Reviews</label>
                        </li>
                        <li>
                            <label><input type="checkbox" ng-model="filters.reportable.CompatibilityNote" ng-change="refreshFilters()">
                                Compatibility Notes</label>
                        </li>
                        <li>
                            <label><input type="checkbox" ng-model="filters.reportable.InstallOrderNote" ng-change="refreshFilters()">
                                Install Order Notes</label>
                        </li>
                        <li>
                            <label><input type="checkbox" ng-model="filters.reportable.LoadOrderNote" ng-change="refreshFilters()">
                                Load Order Notes</label>
                        </li>
                        <li>
                            <label><input type="checkbox" ng-model="filters.reportable.Comment" ng-change="refreshFilters()">
                                Comments</label>
                        </li>
                        <li>
                            <label><input type="checkbox" ng-model="filters.reportable.Correction" ng-change="refreshFilters()">
                                Corrections</label>
                        </li>
                        <li>
                            <label><input type="checkbox" ng-model="filters.reportable.Mod" ng-change="refreshFilters()">
                                Mods</label>
                        </li>
                        <li>
                            <label><input type="checkbox" ng-model="filters.reportable.ModList" ng-change="refreshFilters()">
                                Mod Lists</label>
                        </li>
                        <li>
                            <label><input type="checkbox" ng-model="filters.reportable.Tag" ng-change="refreshFilters()">
                                Tags</label>
                        </li>
                        <li>
                            <label><input type="checkbox" ng-model="filters.reportable.User" ng-change="refreshFilters()">
                                Users</label>
                        </li>
                    </ul>
                </div>
            </filter-section>

            <filter-section name="Reasons" expanded="true">
                <div class="sidebar-box box-shadow">
                    <ul class="checkbox-list">
                        <li>
                            <label><input type="checkbox" ng-model="filters.reason.be_respectful" ng-change="refreshFilters()">
                                Be Respectful</label>
                        </li>
                        <li>
                            <label><input type="checkbox" ng-model="filters.reason.be_trustworthy" ng-change="refreshFilters()">
                                Be Trustworthy</label>
                        </li>
                        <li>
                            <label><input type="checkbox" ng-model="filters.reason.be_constructive" ng-change="refreshFilters()">
                                Be Constructive</label>
                        </li>
                        <li>
                            <label><input type="checkbox" ng-model="filters.reason.spam" ng-change="refreshFilters()">
                                Spam</label>
                        </li>
                        <li>
                            <label><input type="checkbox" ng-model="filters.reason.piracy" ng-change="refreshFilters()">
                                Piracy</label>
                        </li>
                        <li>
                            <label><input type="checkbox" ng-model="filters.reason.adult_content" ng-change="refreshFilters()">
                                Unmarked Adult Content</label>
                        </li>
                        <li>
                            <label><input type="checkbox" ng-model="filters.reason.other" ng-change="refreshFilters()">
                                Other</label>
                        </li>
                    </ul>
                </div>
            </filter-section>

            <filter-section name="Date Filters" expanded="true">
                <div ng-repeat="filter in dateFilters">
                    <h4>{{filter.label}}
                        <!--<span class="filter-controls">
                            <span class="fa fa-calendar" ng-click="" title="Custom Date"></span>
                        </span>-->
                    </h4>
                    <slider on-change="refreshFilters()" filter-data="filters" filter="filter"></slider>
                </div>
            </filter-section>

            <filter-section name="Statistic Filters" expanded="true">
                <div class="filter-section">
                    <div ng-repeat="filter in statFilters">
                        <h4>{{filter.label}}
                            <!--<span class="filter-controls" ng-if="filter.max > 500">
                                <span class="fa fa-wrench" ng-click="" title="Custom Value"></span>
                            </span>-->
                        </h4>
                        <slider on-change="refreshFilters()" filter-data="filters" filter="filter"></slider>
                    </div>
                </div>
            </filter-section>
        </div>

        <div class="right-column">/h2>
            <h2>Reports
                <span class="results-count" ng-show="pages.resultsCount">
                    ({{pages.resultsCount}} results)
                </span>
                <span class="right-item">
                    <sort-control on-change="refreshFilters()"></sort-control>
                </span>
            </h2>
            <loader data="reports" content-class="grid-results" spinner-class="big-spinner" ng-if="!error">
                <report data="report" ng-repeat="report in reports"></report>

                <div class="content-message" ng-hide="reports.length">
                    No reports were found matching your search criteria.
                </div>

                <page-results pages="pages" data="reports" callback="refreshFilters"></page-results>
            </loader>

            <error-display content-class="content-message content-error" errors="error" label="Reports"></error-display>
        </div>
    </div>
</two-columns>
