<two-columns>
    <div class="page-container">
        <div class="left-column left-browse-column" style="width:250px; padding: 40px 48px 40px 0;">
            <h2>Filters</h2>

            <div class="filter-section">
                <h3>Search</h3>
                <h4>Username</h4>
                <input type="text" ng-model="filters.search">

                <h4>Linked Account Username</h4>
                <input type="text" ng-model="filters.linked">
            </div>

            <div class="filter-section">
                <h3>Roles</h3>
                <div class="sidebar-box box-shadow">
                    <ul class="checkbox-list">
                        <li>
                            <label><input type="checkbox" ng-model="filters.roles.admin">
                                Admin</label>
                        </li>
                        <li>
                            <label><input type="checkbox" ng-model="filters.roles.moderator">
                                Moderator</label>
                        </li>
                        <li>
                            <label><input type="checkbox" ng-model="filters.roles.author">
                                Mod Author</label>
                        </li>
                        <li>
                            <label><input type="checkbox" ng-model="filters.roles.user">
                                User</label>
                        </li>
                        <li ng-if="permissions.canModerate">
                            <label><input type="checkbox" ng-model="filters.roles.restricted">
                                Restricted</label>
                        </li>
                        <li ng-if="permissions.canModerate">
                            <label><input type="checkbox" ng-model="filters.roles.banned">
                                Banned</label>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="filter-section">
                <h3>Date Filters</h3>
                <div ng-repeat="filter in dateFilters">
                    <h4>{{filter.label}}
                        <!--<span class="filter-controls">
                            <span class="fa fa-calendar" ng-click="" title="Custom Date"></span>
                        </span>-->
                    </h4>
                    <slider filter-data="filters" filter="filter"></slider>
                </div>
            </div>

            <div class="filter-sections" ng-if="statFilters.length">
                <h3>Statistic Filters</h3>
                <div class="filter-section">
                    <div ng-repeat="filter in statFilters" ng-show="filter.common || expanded.stat">
                        <h4>{{filter.label}}
                            <!--<span class="filter-controls" ng-if="filter.max > 500">
                                <span class="fa fa-wrench" ng-click="" title="Custom Value"></span>
                            </span>-->
                        </h4>
                        <slider filter-data="filters" filter="filter"></slider>
                    </div>
                </div>

                <expander expanded="expanded" key="stat"></expander>
            </div>
        </div>

        <div class="right-column right-browse-column">
            <h2>Users</h2>
            <loader data="users" content-class="table-container" spinner-class="big-spinner" ng-if="!error">
                <table-results label="users" data="users"></table-results>
                <page-results pages="pages" data="users" callback="getData"></page-results>
            </loader>

            <error-display content-class="content-message content-error" errors="error" label="Users"></error-display>
        </div>
    </div>
</two-columns>
