/* css for columns */
.two-columns {
  background: linear-gradient(90deg, $secondary_background 50%, $primary_background 50%);
}

.single-column {
  padding: 30px 0 40px 0;
  width: 850px;
  margin: auto;
}

.left-column {
  width: 250px;
  padding: 40px 48px 40px 0;
  display: table-cell;
  vertical-align: top;
  background-color: $secondary_background;
  border-right: 1px solid $soft_border_color;
}

.wide-column {
  min-width: 360px;
}

.medium-column {
  width: 300px;
  .section-title {
    font-size: 16px;
  }
}

.right-column {
  width: 970px;
  padding: 40px 0 40px 48px;
  display: table-cell;
  vertical-align: top;
  background-color: $primary_background;
}

.tabs-column {
  padding: 20px 0 20px 20px;

  .section-title {
    font-size: 20px;
  }
}