footer {
  background-color: $background_highlight;
  border-top: 1px solid $border_color;
  height: 176px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px 0 30px 0;
  font-size: 13px;

  .left-column {
    padding: 0;
    border: 0;
    background-color: inherit;
  }

  .right-column {
    padding: 0 0 0 30px;
    background-color: inherit;
    height: calc(100vh - 428px);
  }

  section {
    width: 200px;
    display: inline-block;
    vertical-align: top;
    .section-title {
      font-weight: 600;
    }
    ul {
      margin: 4px 0;
      padding-left: 10px;
      list-style-type: none;
      li {
        padding-bottom: 3px;
      }
    }
  }
}