* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: $text_color;
  margin: 0;
  background-color: $primary_background;
  min-height: 100vh;
  position: relative;
}

.content {
  padding-bottom: 176px;
}

.hidden {
  display: none;
}

/* clearfix */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;  // For IE 6/7 only
}


.text-muted {
  color: #767676;
}

/* url styling */
a {
  color: $link_color;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

a.strong {
  font-weight: 600;
}

a.expand {
  display: block;
  padding-top: 16px;
  cursor: pointer;
  font-size: 12px;
}

a:hover {
  color: $link_hover_color_secondary;
}

.inverse-link {
  color: $text_color;

  &:hover {
    color: $link_hover_color_primary;
  }
}

/* header styling */
h1 {
  color: $h1_color;
  font-size: 36px;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

h2 {
  color: $h2_color;
  padding: 0;
  margin: 0;
  font-size: 24px;
  font-weight: 300;
  border-bottom: 1px solid $border_color;
  padding-bottom: 4px;
  margin-bottom: 18px;
}

h3 {
  font-weight: 700;
  margin-top: 14px;
  margin-bottom: 6px;
  padding: 0;
  font-size: 14px;
  color: $h3_color;
}

h4 {
  margin-bottom: 6px;
  padding: 0;
  font-size: 12px;
  text-transform: uppercase;
  color: $h4_color;
}

.logo {
  h1 {
    text-shadow: #000 1px 1px 4px;
  }
}

/* button styling */
input[type="button"], input[type="submit"] {
  display: inline;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  &:disabled {
    cursor: default;
    background-color: $hard_border_color;
  }
}

.btn {
  padding: 7px;
  height: 32px;
  color: $action_text_color;
  text-transform: uppercase;
  background-color: $action_color;
  &:hover {
    background-color: $bar_highlight_color;
  }
}

.btn-round {
  padding: 8px;
  color: $action_text_color;
  border-radius: 3%;
  background-color: $action_color;
  cursor: pointer;


  &:hover {
    background-color: $bar_highlight_color;
  }
}

.action-button-container {
  text-align: center;
}

.action-btn {
  background-color: $bar_color;
  display: block;
  margin: 4px;
  padding: 10px;
  height: 38px;

  &:hover {
    background-color: $bright_action_color
  }
}

.btn-sm {
  padding: 7px;
  color: $action_text_color;
  background-color: $action_color;
  margin-right: 4px;
  margin-left: 4px;
  &:hover {
    background-color: $bar_highlight_color;
  }
}

/* css for tabs */

.tabs {
  a {
    display: inline-block;
    cursor: pointer;
    color: $inverse_text_color;
    padding: 9px 16px 9px 16px;//half of font size high
    border: 1px solid $border_color;
    border-bottom: 0;
    background-color: $action_color;
    margin-right: 2px;
  }

  .selected-tab {
    background-color: inherit;
    color: $text_color;
  }

  .unselected-tab:hover {
    background-color: $bar_highlight_color;
  }
}

/* css for columns */
.two-columns {
  background: linear-gradient(90deg, $secondary_background 50%, $primary_background 50%);
}

.page-container {
  width: 1220px;
  margin: auto;
}

.single-column {
  padding: 30px 0 40px 0;
  width: 850px;
  margin: auto;
}

.left-column {
  width: 250px;
  padding: 40px 48px 40px 0;
  display: table-cell;
  vertical-align: top;
  background-color: $secondary_background;
  border-right: 1px solid $soft_border_color;
}

.wide-column {
  min-width: 360px;
}

.right-column {
  width: 970px;
  padding: 40px 0 40px 48px;
  display: table-cell;
  vertical-align: top;
  background-color: $primary_background;
}

.tabs-column {
  padding: 20px 0 20px 20px;
}

/* css for forms, inputs, and labels */

  select {
        /* styling */
    background-color: $primary_background;
    border: 1px solid $border_color;
    border-radius: 4%;
    color: $h4_color;
    font: inherit;
    padding: 0.5em 3em 0.5em 1em;

    /* reset */

    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;


    background-image:
      linear-gradient(45deg, transparent 49%, $primary_background 50%),
      linear-gradient(135deg, $primary_background 50%, transparent 51%),
      linear-gradient(to right, $action_color, $action_color);
    background-position:
      calc(100% - 1em) 50%,
      calc(100% - .5em) 50%,
      100% 0;
    background-size:
      //these are slightly wider than their actual size to stop rounding from leaving a space in between the two triangles
      .54em .5em,
      .54em .5em,
      2em 100%;
    background-repeat: no-repeat;
  }

.big-text-area {
  width: 100%;
  height: 300px;
  max-width: 100%;
  overflow-y: auto;
}

.editor-toolbar, .CodeMirror {
  border-radius: 0;
}

input[type="checkbox"] {
  margin: 0;
  padding: 0;
}

.checkbox-list {
  padding: 0;
  margin: 0;
  font-size: 12px;

  li {
    list-style: outside none none;
    padding: 0;
    margin-bottom: 2px;
  }
}

label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

label .sublabel {
  padding-left: 5px;
}

form {
  .section-title {
    display: block;
    vertical-align: top;
    width: 200px;
    font-size: 22px;
    font-weight: 500;
    color: $text_color;
  }

  section {
    display: block;
    margin-top: 15px;
    margin-left: 30px;
    margin-bottom: 30px;

    .subtitle {
      font-size: 16px;
      margin-top: 25px;
      margin-left: 0;
      margin-bottom: 0;
    }

    section {
      margin-bottom: 15px;
      margin-top: 15px;

      div {
        display: inline-block;
      }
    }

    select {
      font-size: 13px;
      height: 32px;
    }

    input[type="text"], input[type="password"], input[type="email"] {
      vertical-align: top;
      width: 350px;
      font-size: 20px;
      height: 32px;
      padding: 4px;
    }

    input[type="date"] {
      width: 150px;
      font-family: inherit;
      font-size: 13px;
      height: 32px;
    }

    .checkbox-option {
      display: inline-block;
      margin-top: 4px;
    }

    input.long-input {
      width: 400px;
      font-size: 13px;
      padding: 6px;
      height: 32px;
    }

    input.short-input {
      width: 150px;
    }
  }

  .input-label {
    min-width: 180px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
}

/* css for help tooltips */
.help-tooltip {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  cursor: default;
  display: inline-block;
  margin-left: 8px;
  border-bottom: dotted 1px $text_color;
  line-height: 15px;
}
a .help-tooltip {
  cursor: pointer;
}

/* css for avatars */

.avatar {
  max-width: 150px;
  max-height: 150px;
}

/* css for modals */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba($shadow_color, 0.4);

  .modal {
    width: 400px;
    padding: 40px;
    margin: 150px auto;
    background-color: $primary_background;
    box-shadow: 1px 1px 10px 1px rgba($shadow_color, 0.8)
  }

  .checkbox-list {
    font-size: 14px;
  }

  .section-title {
    margin-top: 0;
  }
}

/* css for pagination */

.page-results-container {
  margin: auto;
  padding: 14px;
  text-align: center;
  background-color: $background-highlight;
  .page-item {
    border: 1px solid $border_color;
    padding: 4px;
  }
  .page-ellipsis {
    margin-left: 3px;
    margin-right: 3px;
  }
}

/* css for spinner */

.big-spinner {
  height: 300px;
}

.medium-spinner {
  height: 150px;
}

.small-spinner {
  height: 60px;
}
