* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: $text_color;
  margin: 0;
  background-color: $primary_background;
  min-height: 100vh;
  position: relative;
  overflow-y: scroll;
}

.no-scroll {
  overflow-y: hidden;
  padding-right: 17px;
}

.content {
  padding-bottom: 176px;
}

.hidden {
  display: none;
}

/* clearfix */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;  // For IE 6/7 only
}

/* mixins */
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}

@mixin user-select($val) {
  -webkit-user-select: $val;
  -moz-user-select: $val;
  -ms-user-select: $val;
  user-select: $val;
}

@mixin transition($values) {
  -webkit-transition: $values;
  -moz-transition: $values;
  -o-transition: $values;
  transition: $values;
}

@mixin column-count($val) {
  -webkit-column-count: $val;
  -moz-column-count: $val;
  column-count: $val;
}

//noinspection ALL
@mixin wordbreak {
  word-break: normal;
  word-break: break-word; /*Chrome specific*/
  hyphens: auto;
}

//box shadow for containers
.box-shadow {
  box-shadow: 0 0 37px -30px $shadow_color;
}

// box shadow spread fix for webkit
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .box-shadow {
    box-shadow: 0 0 60px -30px $shadow_color;
  }
}

  /* utility classes */
.capitalize {
  text-transform: capitalize !important;
}

.no-border {
  border: none !important;
}

.no-bg {
  background-color: inherit !important;
}

.no-margin {
  margin: 0 !important;
}

.no-action {
  cursor: default !important;
}

.half-opacity {
  opacity: 0.50;
}

.right-item {
  float: right;
}

/* url styling */
a {
  color: $link_color;
  text-decoration: none;
  cursor: pointer;
  @include transition(all 0.2s ease-in-out);
}

a.strong {
  font-weight: 600;
}

a.expand {
  display: block;
  padding-top: 16px;
  cursor: pointer;
  font-size: 12px;
}

a:hover {
  color: $link_hover_color_secondary;
}

.inverse-link {
  color: $text_color;

  &:hover {
    color: $link_hover_color_primary;
  }
}

/* user roles */
.user-role-admin {
  color: $admin_color;
}

.user-role-moderator {
  color: $moderator_color;
}

.user-role-mod-author {
  color: $mod_author_color;
}

/* header styling */
h1 {
  color: $h1_color;
  font-size: 36px;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

h2 {
  color: $h2_color;
  padding: 0 0 4px;
  margin: 0 0 18px;
  font-size: 24px;
  font-weight: 300;
  border-bottom: 1px solid $border_color;
}

h3 {
  font-weight: 700;
  margin-top: 14px;
  margin-bottom: 6px;
  padding: 0;
  font-size: 14px;
  color: $h3_color;
}

h4 {
  margin-bottom: 6px;
  padding: 0;
  font-size: 12px;
  text-transform: uppercase;
  color: $h4_color;
}

/* button styling */
input[type="button"], input[type="submit"] {
  display: inline;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  @include transition(all 0.2s ease-in-out);

  &:disabled {
    cursor: default;
    background-color: $hard_border_color;
  }
}

.btn {
  padding: 7px;
  height: 32px;
  color: $action_text_color;
  text-transform: uppercase;
  background-color: $action_color;
  &:hover {
    background-color: $bar_highlight_color;
  }
}

.btn-round {
  padding: 8px;
  color: $action_text_color;
  border-radius: 3%;
  background-color: $action_color;
  cursor: pointer;


  &:hover {
    background-color: $bar_highlight_color;
  }
}

.action-button-container {
  margin-top: 16px;
  text-align: center;
}

.action-btn {
  background-color: $bar_highlight_color;
  display: block;
  margin: 4px;
  padding: 10px;
  height: 38px;

  &:hover {
    background-color: $shadow_color
  }
}

.small-action-btn {
  background-color: $bar_highlight_color;
  display: block;
  padding: 4px 8px;
  height: 26px;

  &:hover {
    background-color: $shadow_color
  }
}

.btn-sm {
  padding: 7px;
  color: $action_text_color;
  background-color: $action_color;
  margin-right: 4px;
  margin-left: 4px;
  &:hover {
    background-color: $bar_highlight_color;
  }
}

/* css for page headers */
.page-header-container {
  background-color: $bar_dark_color;

  .page-header {
    color: $bar_text_color;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-content: center;

    .header-info {
      font-size: 14px;
      margin-left: 10px;
      max-width: 700px;

      a {
        cursor: pointer;
        font-weight: 600;
        color: $bar_highlight_text_color;
      }

      a:hover {
        color: $bar_text_color;
      }
    }

    .divider {
      margin-right: 8px;
      margin-left: 8px;
      color: $bar_highlight_color;
    }

    .header-name {
      font-size: 24px;
      font-weight: 100;
    }

    .header-authors-container {
      margin-left: 6px;

      .header-authors {
        font-weight: 600;
        color: $bright_action_color;
      }
    }

    section {
      display: flex;
      align-self: center;
    }

    .header-box {
      background-color: $bar_color;
      border: 1px solid $bar_dark_color;
      padding: 10px;
      font-size: 12px;
      font-weight: 500;
    }
  }
}

/* css for tabs */
.tabs {
  a {
    display: inline-block;
    cursor: pointer;
    color: $inverse_text_color;
    padding: 9px 16px 9px 16px;//half of font size high
    border: 1px solid $border_color;
    border-bottom: 0;
    background-color: $action_color;
    margin-right: 2px;

    &:hover {
      background-color: $bar_highlight_color;
    }
  }

  a.selected-tab {
    background-color: $secondary_background;
    cursor: default;
    color: $text_color;
  }
}

.secondary-tabs {
  a.selected-tab {
    background-color: $secondary_background;

    &:hover {
      background-color: $secondary_background;
    }
  }
}

.tab {
  padding: 20px;
  border: 1px solid $border_color;
  background-color: $secondary_background;

  > div:first-child {
    margin-top: 0;
  }

  > div:last-child {
    margin-bottom: 0;
  }
}

.tab-bar-items {
  display: flex;

  .tab-bar-item {
    text-align: center;
    vertical-align: middle;
    align-items: center;
    min-height: 40px;
    padding: 5px 16px 5px 16px;
    border: 1px solid $border_color;
    background-color: $primary_background;
    display: flex;
    color: $h4_color;
    font-size: 14px;

    strong {
      margin-right: 6px;
    }

    .sort-direction {
      cursor: pointer;
      font-size: 20px;
    }
  }

  .quality-item {
    height: auto;
    padding: 5px 16px 5px 16px;
    border: 1px solid $border_color;
    background-color: $primary_background;
    color: $h4_color;
    text-align: center;
  }

  .primary-item {
    flex-grow: 1;

    select {
      margin-left: 10px;
      margin-right: 10px;
      min-width: 190px;
      display: inline-block;
    }
  }

  search-input {
    input[type="text"] {
      background-color: $input_background;
      border: 1px solid $border_color;
      border-radius: 4%;
      color: $h4_color;
      font: inherit;
      padding: 0.5em;
      margin: 0;
      box-shadow: none;
      min-width: 250px;
      max-width: 250px;
    }

    .dropdown {
      left: 0;
      top: 30px;
    }
  }
}

/* css for columns */
.two-columns {
  background: linear-gradient(90deg, $secondary_background 50%, $primary_background 50%);
}

.page-container {
  width: 1220px;
  margin: auto;
}

.single-column {
  padding: 30px 0 40px 0;
  width: 850px;
  margin: auto;
}

.left-column {
  width: 250px;
  padding: 40px 48px 40px 0;
  display: table-cell;
  vertical-align: top;
  background-color: $secondary_background;
  border-right: 1px solid $soft_border_color;
}

.wide-column {
  min-width: 360px;
}

.medium-column {
  width: 300px;
  .section-title {
    font-size: 16px;
  }
}

.right-column {
  width: 970px;
  padding: 40px 0 40px 48px;
  display: table-cell;
  vertical-align: top;
  background-color: $primary_background;
}

.tabs-column {
  padding: 20px 0 20px 20px;
  .section-title {
    font-size: 20px;
  }
}

/* css for dropdowns */
.dropdown {
  color: $text_color;
  background-color: $primary_background;
  opacity: 1.0;
  position: absolute;
  top: 20px;
  left: -4px;
  z-index: 2;
  width: 120px;
  padding: 6px;
  font-size: 12px;
  border: 1px solid $hard_border_color;
  cursor: pointer;

  .dropdown-item {
    padding: 4px;
    margin-bottom: 2px;
    text-align: left;
  }

  .dropdown-separator {
    border-bottom: 1px solid $hard_border_color;
    margin: 8px 4px;
  }

  .dropdown-selected-item, .dropdown-item:hover {
    background-color: $action_color;
    color: $action_text_color;
  }
}

/* css for tabs */
.tabs-column {
  .selected-tab {
    background-color: $secondary_background;
    border-bottom: 1px solid $secondary_background;
    margin-bottom: -1px;
  }
}

/* css for forms, inputs, and labels */
select {
  background-color: $input_background;
  border: 1px solid $border_color;
  border-radius: 4%;
  color: $h4_color;
  font: inherit;
  padding: 0.5em 2.5em 0.5em 0.5em;

  // reset browser style
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;

  // background
  background-image:
    linear-gradient(45deg, transparent 49%, $input_background 50%),
    linear-gradient(135deg, $input_background 50%, transparent 51%),
    linear-gradient(to right, $action_color, $action_color);
  background-position:
    calc(100% - 1em) 50%,
    calc(100% - .5em) 50%,
    100% 0;
  background-size:
    //these are slightly wider than their actual size to stop rounding
    //from leaving a space in between the two triangles
    .54em .5em,
    .54em .5em,
    2em 100%;
  background-repeat: no-repeat;
}

.big-text-area, .medium-text-area, .small-text-area {
  width: 100%;
  max-width: 100%;
  overflow-y: auto;
  padding: 4px;
  font-size: 16px;
  font-family: inherit;
}

.big-text-area {
  height: 300px;
}

.medium-text-area {
  width: 500px;
  height: 150px;
}

.small-text-area {
  height: 60px;
}

input, textarea {
  background-color: $input_background;
  color: $text_color;
  border: 1px solid $hard_border_color;
}

input[type="text"], input[type="email"], input[type="password"] {
  &:disabled {
    border: 2px inset;
  }
}

input[type="file"] {
  display: none;
}

.CodeMirror {
  background-color: $input_background;
  color: $text_color;
  border-radius: 0;

  div.CodeMirror-cursor {
    border-left: 1px solid $text_color;
  }

  .CodeMirror-line {
    @include wordbreak;
  }
}

.text-container {
  width: 100%;
  margin: 10px 0;
  @include wordbreak;

  h1 {
    color: $text_color;
  }
}

.editor-toolbar {
  cursor: default;
  border-radius: 0;
}

input[type="checkbox"] {
  margin: 0;
  padding: 0;
}

.max-input {
  width: 100% !important;
  font-size: 13px !important;
  padding: 6px !important;
  height: 32px !important;
}

.checkbox-list {
  padding: 0;
  margin: 0;
  font-size: 12px;

  li {
    list-style: outside none none;
    padding: 0;
    margin-bottom: 2px;
  }
}

label {
  @include user-select(none);
}

label .sublabel {
  padding-left: 5px;
}

form {
  .section-title {
    display: block;
    vertical-align: top;
    font-size: 22px;
    font-weight: 500;
    color: $text_color;
  }

  .line-label {
    margin-bottom: 4px;
  }

  section {
    display: block;
    margin-top: 15px;
    margin-left: 30px;
    margin-bottom: 30px;

    .subtitle {
      font-size: 16px;
      margin-top: 25px;
      margin-left: 0;
      margin-bottom: 0;
    }

    .subsection {
      display: block;
      margin-bottom: 15px;
      margin-top: 15px;
    }

    section {
      margin-bottom: 15px;
      margin-top: 15px;
    }

    select {
      font-size: 13px;
      line-height: normal;
      height: 32px;
    }

    input[type="text"], input[type="password"], input[type="email"] {
      vertical-align: top;
      width: 350px;
      font-size: 20px;
      height: 32px;
      padding: 4px;
    }

    input[type="date"] {
      width: 150px;
      font-family: inherit;
      font-size: 13px;
      height: 32px;
    }

    .checkbox-option {
      display: inline-block;
      margin-top: 4px;
    }

    input.long-input {
      width: 400px;
      font-size: 13px;
      padding: 6px;
      height: 32px;
    }

    input.medium-text {
      font-size: 16px;
    }

    input.short-input {
      width: 150px;
    }
  }

  .input-label {
    display: inline-block;
    min-width: 180px;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .input-block {
    display: inline-block;
  }
}

/* css for help tooltips */
.help-tooltip {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  cursor: default;
  display: inline-block;
  margin-left: 8px;
  border-bottom: dotted 1px $text_color;
  line-height: 15px;
}
a .help-tooltip {
  cursor: pointer;
}

/* css for avatars */

.avatar {
  border: 2px solid $border_color;
  vertical-align: bottom;
}

.avatar-small {
  max-width: 48px;
  max-height: 48px;
  border-width: 0;
  box-shadow: 0 0 4px 2px $border_color;
}

.avatar-medium {
  max-width: 96px;
  max-height: 96px;
}

.avatar-full {
  max-width: 250px;
  max-height: 250px;
}

/* css for modals */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  z-index: 3;
  background-color: rgba($shadow_color, 0.4);

  .modal {
    position: relative;
    width: 400px;
    padding: 40px;
    margin: 150px auto;
    background-color: $primary_background;
    box-shadow: 1px 1px 10px 1px rgba($shadow_color, 0.8);

    .section-title {
      display: block;
      vertical-align: top;
      font-size: 20px;
      font-weight: 500;
      color: $text_color;
    }

    .content-message {
      margin: 20px 0 0;
    }
  }

  .skinny-modal {
    width: 500px !important;
    padding: 20px !important;
    margin: calc((100vh - 100px) / 3) auto !important;
  }

  .close-modal {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 3px;
    font-size: 20px;
    cursor: pointer;
  }

  .messages {
    background-color: transparent;

    .error-message, .success-message {
      font-size: 18px;
    }
  }

  .big-modal {
    width: 600px;
  }

  .huge-modal {
    width: 800px;
    margin: 100px auto;
  }

  .checkbox-list {
    font-size: 14px;
  }

  .section-title {
    margin-top: 0;
  }

  section {
    margin: 15px;
  }
}

.fullscreen-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: $primary_background;

  .modal {
    position: relative;
    width: 600px;
    padding: 40px;
    margin: 150px auto;
    text-align: center;
  }
}

/* css for pagination */

.page-results-container {
  margin: auto;
  padding: 14px;
  text-align: center;

  .page-item {
    border: 1px solid $border_color;
    background-color: $background-highlight;
    padding: 4px;
    font: inherit;
    cursor: pointer;
    color: $link_color;

    &:hover {
        color: $link_hover_color_primary;
    }

    &:disabled {
        color: inherit;
        cursor: auto;
    }
  }

  .page-ellipsis {
    margin-left: 3px;
    margin-right: 3px;
  }
}

/* css for spinner */

.big-spinner {
  height: 200px;
}

.medium-spinner {
  height: 150px;
}

.small-spinner {
  height: 60px;
}

/* css for plugin-metadata  */

plugin-metadata {
  .stat-data {
    width: calc(100% - 170px);
    white-space: normal;
  }

  .plugin-description {
    white-space: pre-line;
    word-wrap: break-word;
  }
}

//css for readMore directive
.read-more {
    font-size: 14px;

    //moving the margin from the marked div to below the show more link
    margin-top: -12px;
    margin-bottom: 16px;
}
