/* header styling */
h1 {
  color: $h1_color;
  font-size: 36px;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

h2 {
  color: $h2_color;
  padding: 0 0 4px;
  margin: 0 0 18px;
  font-size: 24px;
  font-weight: 300;
  border-bottom: 1px solid $border_color;
}

h3 {
  font-weight: 700;
  margin-top: 14px;
  margin-bottom: 6px;
  padding: 0;
  font-size: 14px;
  color: $h3_color;
}

h4 {
  margin-bottom: 6px;
  padding: 0;
  font-size: 12px;
  text-transform: uppercase;
  color: $h4_color;
}
