.help-tooltip, .error-tooltip {
  margin-left: 10px;
  margin-right: -10px;
  cursor: default;

  &.small {
    font-size: 18px;
  }
}

a .help-tooltip, a .error-tooltip {
  cursor: pointer;
}

.help-tooltip {
  color: $warning_secondary;
}

.error-tooltip {
  color: $error_secondary;
}