/* url styling */
a {
  color: $link_color;
  text-decoration: none;
  cursor: pointer;
  @include transition(all 0.2s ease-in-out);
}

a.expand {
  display: block;
  padding-top: 16px;
  cursor: pointer;
  font-size: 12px;
}

a:hover {
  color: $link_hover_color_secondary;
}

.inverse-link {
  color: $text_color;

  &:hover {
    color: $link_hover_color_primary;
  }
}