/* url styling */
a {
  color: $link_color;
  text-decoration: none;
  cursor: pointer;
  @include transition(color 0.2s ease-in-out);

  &:hover {
    color: $link_hover_color_secondary;
  }
}

a.expand {
  display: block;
  padding-top: 16px;
  cursor: pointer;
  font-size: 12px;
}

a.inverse-link {
  color: $text_color;

  &:hover {
    color: $link_hover_color_primary !important;
  }
}

a.medium-link {
  color: $medium_text_color;

  &:hover, &:active {
    color: $link_hover_color_primary;
  }
}