adult-marker {
  position: relative;

  .text {
    display: inline-block;
    margin: 6px 12px;
    vertical-align: top;
    position: relative;
    z-index: 1;
  }

  .shadow {
    box-shadow: 0 0 6px 8px $error_secondary;
    position: absolute;
    left: 18px;
    top: 4px;
    width: 34px;
    z-index: 0;
  }
}