.article {
  .section-title {
    font-size: 25px;
    font-weight: 499;
    margin-left: 9px;
  }

  .news-box {
    padding-left: 19px;
    font-size: 13px;
    margin: 19px 19px -1;
    border-bottom: 0px solid $border_color;

    .image-container {
      display: table-cell;
      width: 149px;
      padding-right: 13px;

      img {
        max-width: 149px;
        max-height: 149px;
      }
    }

    .content-container {
      display: table-cell;
      vertical-align: top;

      .article-title {
        font-size: 23px;
        display: inline;
        margin-left: 0;
        color: $dark_action_color;
      }

      read-more {
        display: block;
        margin-left: 10px;
      }

      .article-details {
        display: block;
        font-size: 12px;
      }
    }
  }
}
