ul.asset-tree-list {
  margin: 0;
  padding-left: 30px;

  li {
    list-style: none;
  }
}

.asset-tree-title {
  cursor: default;
}

.asset-tree-expandable {
  cursor: pointer;
  display: inline-block;
  padding-right: 10px;
}

.file-icon {
  float: left;
  text-align: center;
  margin-right: 4px;
}