.categories-chart {
  section {
    position: relative;
    margin-bottom: 70px;
  }

  .connector {
    border-top: 2px solid;
    border-left: 2px solid;
    display: block;
    float: right;
    height: 60px;
    width: 50%;
    position: relative;

    .arrow {
      border-top: 10px solid;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      position: absolute;
      bottom: -4px;
      left: -7px;
    }
  }

  .section-header {
    text-align: center;

    h3 {
      font-size: 22px;
      color: $text_color;
      display: block;
    }

    p {
      margin: 0;
      display: inline-block;
      padding: 0 12px;
      background: $primary_background;
      z-index: 2;
      position: relative;
    }
  }

  .section-content {
    border: 2px solid;
    border-bottom: none;
    padding: 30px;
    margin-top: -10px;

    span.yes, span.no {
      position: absolute;
      top: 32px;
      background: $primary_background;
      padding: 0 10px;
    }

    span.yes {
      left: 60px;
    }

    span.no {
      right: 60px;
    }

    .subcategory {
      max-width: 450px;
      margin-left: 24px;
      position: relative;

      p {
        margin-bottom: 5px;
        margin-top: 32px;
      }

      b {
        margin-left: 40px;
      }

      .subcategory-connector {
        border-top: 2px solid;
        display: inline-block;
        position: absolute;
        top: 9px;
        left: -56px;
        width: 40px;

        .arrow {
          border-left: 10px solid;
          border-top: 6px solid transparent;
          border-bottom: 6px solid transparent;
          position: absolute;
          top: -7px;
          right: -6px;
        }

        &.last {
          height: 83px;
          background: $primary_background;
        }
      }
    }
  }

  .final-section {
    .section-content {
      width: 70%;
      margin: auto;
      margin-top: -10px;
      height: 95px;
    }

    span.yes {
      top: -70px;
      left: 15px;
    }

    span.no {
      top: -70px;
      right: 79px;
    }

    .left, .right {
      position: absolute;
      top: 115px;
      max-width: 200px;

      .arrow {
        border-top: 10px solid;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        position: absolute;
        top: -14px;
      }
    }

    .right {
      right: 30px;

      .arrow {
        right: 93px;
      }
    }

    .left {
      left: 90px;

      .arrow {
        left: 32px;
      }
    }
  }
}