.comment-container {
  display: flex;
  margin-bottom: 12px;
  position: relative;
  width: 100%;

  comment {
    width: 100%;
  }

  .comment-user-column {
    text-align: center;
    display: table-cell;
    padding: 0 10px;

    .user-avatar {
      display: block;
    }
  }

  .comment-content-column {
    display: table-cell;
    vertical-align: top;
    width: 100%;

    .comment-header {
      font-size: 13px;
      .user-title {
        margin-left: 10px;
        font-weight: 500;
      }
      .date-submitted {
        margin-left: 5px;
        color: $soft_text_color;
      }
    }

    .comment-text-container {
      p:first-child {
        margin-top: 4px;
      }
      p:last-child {
        margin-bottom: 4px;
      }
    }

    .edit-summary {
      font-size: 11px;
    }

    .edit-container {
      margin-top: 8px;
    }

    .reply-container {
      margin: 16px;
    }
  }

  .comment-actions-container {
    cursor: default;
    height: 26px;

    .action-item {
      color: $soft_text_color;
      font-size: 13px;
      font-weight: 500;
      margin-right: 4px;
      padding: 2px;
      cursor: pointer;

      &:hover {
        color: $text_color;
      }
    }
  }

  .child-comments {
    padding-top: 10px;
    padding-right: 10px;
  }
}

.new-comment-container {
  margin-bottom: 30px;
}