.comment-container {
  display: table;
  margin-bottom: 16px;
  position: relative;

  .user-column {
    text-align: center;
    display: table-cell;
    padding: 5px 10px;

    .user-avatar {
      display: block;
    }
  }

  .content-column {
    display: table-cell;
    vertical-align: top;

    .comment-header {
      font-size: 13px;
      .user-title {
        margin-left: 10px;
        font-weight: 500;
      }
      .date-submitted {
        color: $h4_color;
      }
    }

    .text-container {
      p:first-child {
        margin-top: 4px;
      }
      p:last-child {
        margin-bottom: 8px;
      }
    }

    .edit-summary {
      font-size: 11px;
    }
  }

  .actions-container {
    cursor: default;

    .action-item {
      color: $hard_border_color;
      font-size: 13px;
      font-weight: 500;
      margin-right: 4px;
      padding: 2px;
      cursor: pointer;

      &:hover {
        color: $text_color;
      }
    }
  }
}