helper {
  display: block;
  position: fixed;
  right: 50px;
  bottom: 0;
  z-index: 400;

  .help-context {
    max-width: 200px;
    margin-bottom: 20px;
    font-size: 14px;
    background-color: $secondary_background;
    border: 1px solid $hard_border_color;
    padding: 4px;
  }

  .helper-container {
    position: relative;

    .hide-helper {
      position: absolute;
      top: 2px;
      right: 2px;
      cursor: pointer;
    }

    div.helper {
      min-width: 200px;
      min-height: 200px;
      background-image: url($helper_image);
    }
  }

  .show-helper {
    color: $action_color;
    font-size: 28px;
    padding-bottom: 8px;
    display: block;
    cursor: pointer;
  }
}