.help-list-page {
  padding-bottom: 150px;

  // title
  .page-title {
    font-size: 48px;
    text-align: center;
  }

  // links
  a:link, a:visited {
    color: $link_hover_color_primary;
    text-decoration: none;
  }

  a:hover, a:active {
    color: $link_hover_color_secondary;
  }

  .date {
    // new icon
    .new-label {
      margin-left: 0.5rem;
      padding: 0 0.5rem;
      color: $success_secondary;
      border: 1px solid $success_secondary;
      text-transform: uppercase;
    }
  }
}

.pages-list {
  padding-left: 0;
  list-style: none;
  overflow: hidden;

  // header image for each help page
  .header-img {
    max-width: 100%;
    background-size: cover;
  }

  // meta data
  .meta {
    font-size: 0.8em;
    color: #999;
  }

  li {
    padding: 0;
    background-color: #EEE;
    margin-bottom: 1rem;

    // grid styling
    width: 32%;
    margin-left: 1.5%;
    float: left;

    &:nth-child(3n + 1) {
      clear: both;
      margin-left: 0;
    }

    // meta info
    .meta-container {
      padding: 0 1rem 1rem;

      a:visited, a:link {
        color: #999;
      }

      a:hover, a:active {
        color: $link_hover_color_primary;
      }
    }

    .meta {
      display: block;
    }

    .item-title {
      margin: 8px 0;
      color: $text_color;
      @include transition(color 0.2s ease-in-out);

      &:hover {
        color: $link_hover_color_primary;
      }
    }

    .game {
      display: inline;
    }
  }
}