license {
  display: flex;
  margin: 24px 6px;
  line-height: initial;
  @include user-select(initial);

  .left-column {
    min-width: 100px;
    max-width: 100px;
    text-align: center;
    padding: 0;
    display: block;
    width: initial;
    border-right: none;
    background-color: initial;
    vertical-align: initial;

    > span {
      display: block;
      font-size: 14px;
    }

    .fa {
      font-size: 64px;
    }

    .fa-file-text-o {
      margin-bottom: 4px;
    }

    .fa-universal-access {
      margin-bottom: 2px;
    }

    span.license-type {
      text-transform: capitalize;
    }
  }

  .second-left-column {
    min-width: 100px;
    max-width: 100px;
    text-align: center;

    .license-terms {
      .fa-stack {
        margin-bottom: -1px;
      }

      .fa-ban {
        color: #f00;
        opacity: 0.5;
      }

      .fa-question {
        color: #ec5;
        opacity: 0.7;
      }
    }
  }

  .right-column {
    padding: 0 20px 0 10px;
    display: block;
    width: initial;
    background-color: initial;
    vertical-align: initial;


    span.license-title {
      font-size: 20px;
      font-weight: bold;
    }

    span.license-description {
      display: block;
    }
  }
}