.listing-table {
  border: 1px solid $border_color;
  border-collapse: collapse;
  text-align: center;

  thead {
    font-size: 16px;
    font-weight: 500;
    color: $bar_text_color;
    background-color: $bar_color;
    padding: 10px;
    font-size: 16px;
  }

  th {
    padding: 10px 20px 10px 20px;
    border: none;
  }

  .name-column {
    padding-left: 20px;
    padding-right: 50px;
    text-align: left;
    font-weight: 500;
    font-size: 18px;
    width: 400px;
  }

  .table-buttons {
    display: flex;
    vertical-align: middle;
    font-size: 14px;
  }

  tbody {
    border: 0;
    font-size: 14px;

    td {
      padding: 8px 20px 8px 20px;
    }

    .odd-row {
        background-color: $primary_background;
    }

    .even-row {
        background-color: $secondary_background;
    }
  }

  tr {
    border: 1px solid $border_color;
  }
}
