@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;  
  -moz-box-ordinal-group: $val;     
  -ms-flex-order: $val;     
  -webkit-order: $val;  
  order: $val;
}


.note-container {
  background-color: $primary_background;
  border: 1px solid $bar_dark_color;

  .note-title {
    background-color: $bar_color;
    color: $bar_text_color;
    border-bottom: 1px solid $bar_dark_color;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;

    .right-item {
      float: right;
      .standing {
        font-size: 14px;
        font-weight: 100;
        font-style: italic;
        vertical-align: top;
      }
    }
    a {
      color: $bright_action_color;
      &:hover {
        color: $bar_text_color;
      }
    }
  }

  .author-column {
    //background-color: $secondary_background;
    border-right: 1px solid $bar_dark_color;
    display: table-cell;
    min-width: 150px;
    padding: 20px 10px;
    text-align: center;
    font-size: 13px;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      .user-name {
        font-weight: 600;
      }

      .user-title {
        font-style: italic;
      }

      .user-avatar {
        margin: 4px;
      }

      .user-role {
        text-transform: capitalize;
      }

      .user-reputation {
        font-size: 16px;
        font-weight: 500;

        span {
          padding: 3px;
          vertical-align: middle;
          font-weight: 100;
          font-size: 10px;
          text-transform: uppercase;
        }
      }
    }
  }

  .content-column {
    display:table-cell;
    vertical-align: top;
    position: relative;

    .ratings-container {
      padding: 8px;
      .rating-item {
        .rating-value {
          color: $bar_text_color;
        }
      }
    }

    .mods-container {
      @include flexbox();
      -webkit-flex-direction: row;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      align-content: center;

      .mod-title {
        background-color: $secondary_background;
        border-bottom: 1px solid $bar_dark_color;
        width: 50%;

        &:nth-child(even) {
          border-left: 1px solid $bar_dark_color;
        }

        .letter-box {
          background-color: $primary_background;
          border-bottom: 1px solid $bar_dark_color;
          border-right: 1px solid $bar_dark_color;
          display: inline-block;
          text-align: center;
          width: 24px;
          height: 24px;
          vertical-align: top;
        }

        span {
          position: relative;
          top: 12px;
          display: inline-block;
          width:92%;
          padding-left: 24px;
          text-align: left;
        }

        a {
          display: inline-block;
          padding-top: 6px;
          padding-bottom: 4px;
          padding-left: 4px;
          font-weight: 500;
        }
      }
    }

    .text-container {
      width: 100%;
      padding: 0 20px 35px 20px;
    }

    .actions-container {
      width: 100%;
      padding: 8px 16px;
      position: absolute;
      bottom: 0;

      .action-link {
        padding-right: 16px;
      }

      .helpfulness {
        float: right;
      }
    }
  }
}
