user-notifications {
  position: relative;

  .dropdown {
    cursor: default;
    width: 300px;
    min-height: 200px;
    padding: 30px 6px 40px;
    left: -125px;
    z-index: 200;
    text-align: center;
    background-color: $secondary_background;

    .action {
      position: absolute;
      top: 2px;
      font-size: 20px;
    }

    .notification-settings {
      left: 4px;
    }

    .mark-all-read {
      right: 4px;
    }

    .refresh-notifications {
      right: 30px;
    }

    .more-notifications {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 30px;
      padding: 4px;
      text-align: center;
      font-size: 16px;
    }
  }
}

notification {
  display: block;
  padding: 4px;

  a {
    font-weight: 500;
  }

  .created {
    display: inline-block;
    min-width: 110px;
  }
}