plugin-metadata {
  .stat-data {
    width: calc(100% - 170px);
    white-space: normal;
  }

  .plugin-description {
    white-space: pre-line;
    word-wrap: break-word;
  }

  .flag {
    margin-left: 4px;
    font-weight: normal;
    font-size: 12px;
    padding: 0 0.5rem;
    text-transform: uppercase;
    cursor: default;
  }

  .esm-flag {
    color: $success_secondary;
    border: 1px solid $success_secondary;
  }

  .dummy-flag {
    color: $error_secondary;
    border: 1px solid $error_secondary;
  }
}