.quickdate {
  .quickdate-input-wrapper {
    input[type="text"] {
      min-width: initial !important;
      font-size: 13px !important;
      padding: 2px 3px !important;
      height: auto !important;
    }
  }
}