.tags-container {
  max-width: 400px;
  display: inline-block;

  .tag-box {
    a {
      color: inherit;
      text-decoration: inherit;
      cursor: pointer;
      transition: none;
      &:hover {
        color: inherit;
      }
    }
  }

  span {
    display: inline-block;
    padding: 4px;
  }

  .red {
    background-color: $error_secondary;
  }

  .tag-box, .edit-tag-box, .add-tag-box {
    padding: 0;
    white-space: nowrap;
    display: block;
    float: left;

    .tag-text, .tag-count, .remove-tag, .add-tag {
      line-height: 14px;
      float: left;
      @include user-select(none);
    }

    tag-input {
      position: relative;

      input {
        border: 0;
        padding: 0;
        min-width: 10px;
        max-width: 300px;
        height: auto;
        font-size: 11px;
        line-height: 14px;
        color: $action_text_color;
        background-color: inherit;
      }
    }

    .tag-count {
      border-left: 1px solid $border_color;
      cursor: default;
    }

    .remove-tag {
      cursor: pointer;
    }

    .last-child {
      padding: 4px;
      margin-right: 2px;
    }
  }

  .add-tag-box {
    background-color: $bar_highlight_color;
    cursor: pointer;
    @include transition(all 0.2s ease-in-out);

    &:hover {
      background-color: $action_color;
    }
  }
}

.tag-actions-container {
  margin: 6px;
  text-align: center;
}

.wide-tag-selector {
  .tags-container {
    max-width: 100%;
  }
}
