.tags-container {
  max-width: 400px;
  display: inline-block;

  span, a {
    display: inline-block;
    padding: 4px;
  }

  .tag-box, .edit-tag-box, .add-tag-box {
    font-size: 12px;
    color: $action_text_color;
    background-color: $action_color;
    border-radius: 2px;
    margin: 2px;
    padding: 0;
    white-space: nowrap;
    display: block;
    float: left;
    @include transition(background-color 0.2s ease-in-out);

    &.red-box {
      background-color: $error_secondary;
    }


    .tag-text, .tag-count, .remove-tag, .add-tag {
      line-height: 14px;
      float: left;
      @include user-select(none);
    }

    span.tag-text {
      cursor: default;
    }

    tag-input {
      position: relative;

      input {
        border: 0;
        padding: 0 !important;
        min-width: 10px;
        max-width: 300px;
        height: auto;
        font-size: 11px;
        line-height: 14px;
        color: $action_text_color;
        background-color: inherit;
      }
    }

    .tag-count {
      color: inherit;
      text-decoration: inherit;
      cursor: pointer;
      transition: none;
      border-left: 1px solid $border_color;

      &:hover {
        color: inherit;
      }
    }

    .remove-tag {
      cursor: pointer;
    }

    .last-child {
      padding: 4px;
      margin-right: 2px;
    }
  }

  .add-tag-box {
    background-color: $bar_highlight_color;
    cursor: pointer;
    @include transition(all 0.2s ease-in-out);

    &:hover {
      background-color: $action_color;
    }
  }
}

tag-selector {
  &.included-tags {
    .add-tag-box {
      background-color: $success_secondary;

      &:hover {
        background-color: $bar_highlight_color;
      }
    }
  }

  &.excluded-tags {
    .add-tag-box {
      background-color: $error_secondary;

      &:hover {
        background-color: $bar_highlight_color;
      }
    }
  }
}

.tag-actions-container {
  margin: 6px;
  text-align: center;
}

.wide-tag-selector {
  .tags-container {
    max-width: 100%;
  }
}
