.editor-toolbar, .CodeMirror a{
	.fa {
		color: $text_color !important;
	}
}

.CodeMirror {
  img {
    max-width: 100%;
  }
}

.editor-statusbar {
  cursor: default;

  .characters {
    color: $success_secondary;
    font-weight: 500;

    &.too-few {
      color: $error_secondary;
    }

    &.too-many {
      color: $error_secondary;
    }
  }
}