<div class="content-block modlist-tab-item" ng-if="isEditing(false)" >
    {{modlist.description}}
</div>
<!-- Mod List Description: Edit Mode -->
<div class="content-block modlist-tab-item" ng-if="isEditing(true)">
    <div class="content-title">
        <div>
            Modlist Description
        </div>
    </div>
    <section class="note-content-container">
        <text-area class="large-note-text-area" data="modlist.description" ng-refresh="updateMDE"></text-area>
    </section>
</div>
<div class="content-block modlist-tab-item" ng-if="isEditing(true)">
    <div class="content-title">
        <div>
            Modlist Options
        </div>
    </div>
    <section class="note-content-container">
        <ul class="list flist">
            <li>
               <strong>Status</strong>
                <select ng-init="statusSelect = 'underConstruction'">
                    <option value="planned">Planned</option>
                    <option value="underConstruction">Under Construction</option>
                    <option value="testing">Testing</option>
                    <option value="complete">Complete</option>
                </select>
            </li>
            <li>
                <label>
                <strong>Title</strong>
                <input type="text" name="mlTitleInput" ng-value="modlistTitle">
                </label>
            </li>
            <li>
                <strong>Short Description</strong>
                <textarea>{{shortDescTextArea}}</textarea>
            </li>
            <li>
                <strong>Collection</strong>
                <input type="checkbox" name="mlIsCollection" ng-checked="bIsCollection"> Mod List is a collection
            </li>
            <li>
               <strong>Modlist Visibility</strong>
                <select ng-model="visibilitySelect" ng-init="visibilitySelect = 'visible'">
                    <option value="visible">Visible</option>
                    <option value="hidden">Hidden</option>
                </select>
            </li>
            <li>    
                <strong>Public Display Options</strong>   
                <input type="checkbox" name="mlCatNotesCB" ng-checked="bHideCatNotes"> Do not display mod category notes.<br>
                <input type="checkbox" name="mlModGrpNotesCB" ng-checked="bHideModGrpNotes"> Do not display plugin group notes.
            </li>
        </ul>
    </section>
</div>