<!-- Mod List Details: Display Mode -->
<div ng-if="!editing">
    <div class="content-block">
        <div class="content-title">Description</div>
        <div class="content-container">
            <div marked="mod_list.description" class="text-container"></div>
        </div>
    </div>
</div>

<!-- Mod List Details: Edit Mode -->
<form ng-if="editing">
    <div class="content-block">
        <div class="content-title">Description</div>
        <div class="content-container">
            <text-area class="large-note-text-area" data="activeModList.description" ng-refresh="updateMDE"></text-area>
        </div>
    </div>

    <div class="content-block">
        <div class="content-title">Options</div>
        <div class="content-container" ng-if="editing">
            <h3 class="section-title">Name</h3>
            <section>
                <input type="text" ng-model="activeModList.name">
            </section>

            <h3 class="section-title">Status</h3>
            <section>
                <select ng-model="activeModList.status">
                    <option value="under_construction">Under Construction</option>
                    <option value="testing">Testing</option>
                    <option value="complete">Complete</option>
                </select>
            </section>

            <h3 class="section-title">Visibility</h3>
            <section>
                <select ng-model="activeModList.visibility">
                    <option value="visibility_public">Public</option>
                    <option value="visibility_unlisted">Unlisted</option>
                    <option value="visibility_private">Private</option>
                </select>
            </section>

            <h3 class="section-title">Other Options</h3>
            <section>
                <label>
                    <input type="checkbox" ng-model="activeModList.is_collection"> Collection
                </label>
            </section>
        </div>
    </div>

    <div class="action-button-container">
        <input class="btn action-btn" type="submit" value="Save" ng-click="saveChanges()"/>
        <input class="btn action-btn" type="button" value="Discard" ng-click="discardChanges()"/>
    </div>
</form>
