<!-- Mod List Details: Display Mode -->
<div ng-if="!editing">
    <div class="content-block">
        <div class="content-title">Description</div>
        <div class="content-container">
            <div marked="modlist.description" class="text-container"></div>
        </div>
    </div>
</div>

<!-- Mod List Details: Edit Mode -->
<form ng-if="editing">
    <div class="content-block">
        <div class="content-title">Description</div>
        <div class="content-container">
            <text-area class="large-note-text-area" data="modlist.description" ng-refresh="updateMDE"></text-area>
        </div>
    </div>

    <div class="content-block">
        <div class="content-title">Options</div>
        <div class="content-container" ng-if="editing">
            <h3 class="section-title">Name</h3>
            <section>
                <input type="text" ng-model="modlist.name">
            </section>

            <h3 class="section-title">Status</h3>
            <section>
                <select ng-model="modlist.status">
                    <option value="planned">Planned</option>
                    <option value="under construction">Under Construction</option>
                    <option value="testing">Testing</option>
                    <option value="complete">Complete</option>
                </select>
            </section>

            <h3 class="section-title">Visibility</h3>
            <section>
                <select ng-model="modlist.visibility">
                    <option value="visibility_public">Public</option>
                    <option value="visibility_unlisted">Unlisted</option>
                    <option value="visibility_private">Private</option>
                </select>
            </section>

            <h3 class="section-title">Other Options</h3>
            <section>
                <label>
                    <input type="checkbox" ng-model="modlist.is_collection"> Collection
                </label>
            </section>
        </div>
    </div>
</form>
