<table title='Skyrim Configuration Files' class='section-table'>
    <colgroup>
        <col style="width: 100%">
    </colgroup>
    <thead>
        <tr>
            <th>
                <span class="section-title">Custom Settings & Preferences</span>
                <a ng-click="curSkyConfigTab = 'skyrim.ini'" ng-class="cssChange('skyrimConfig','skyrim.ini')">Skyrim.ini</a><a ng-click="curSkyConfigTab = 'skyrimprefs.ini'" ng-class="cssChange('skyrimConfig','skyrimprefs.ini')">SkyrimPrefs.ini</a>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <ul class="list tblist">
                    <li ng-show='bIsEditing'>
                        <textarea>{{longDescTextArea}}</textarea>
                    </li>
                    <li ng-hide='bIsEditing'>
                        {{longDescTextArea}}
                    </li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>
<table title='ENB Configuration Files' class='section-table'>
    <colgroup>
        <col style="width: 100%">
    </colgroup>
    <thead>
        <tr>
            <th>
                <span class="section-title">Custom ENB Settings</span>
                <a ng-click="curENBConfigTab = 'enblocal.ini'" ng-class="cssChange('enbConfig','enblocal.ini')">enblocal.ini</a><a ng-click="curENBConfigTab = 'enbseries.ini'" ng-class="cssChange('enbConfig','enbseries.ini')">enbseries.ini</a>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <ul class="list tblist">
                    <li ng-show='bIsEditing'>
                        <textarea>{{longDescTextArea}}</textarea>
                    </li>
                    <li ng-hide='bIsEditing'>
                        {{longDescTextArea}}
                    </li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>     
