<!--<loader data="modlist" spinner-class="big-spinner">
</loader>-->
<div title="modlist-header">
    <div class="modlist-header-color">
        <div class="page-container mod-header">
            <section>
                <div class="mod-info">
                    <span class="mod-name">{{modlist.name}}</span>
                    <span class="modlist-authors-container">by 
                        <span class="mod-authors">{{modlist.created_by}}</span>
                    </span>
                    <br>
                    999 Tools | 999 Mods | 999 Plugins | 999 BSAs
                    <a ng-if="permissions.canManage && !bIsEditing" ng-click="startEditing()">Edit</a>
                </div>
            </section>

            <section>
                <div class="mod-header-box">
                    <!-- TODO: I feel like using some spans here would be wiser -->
                    ACTIONS
                    <div class="action-box" ng-click="starMod()">
                        <i class="fa {{modlistStarred ? 'fa-star' : 'fa-star-o'}}" aria-hidden="true"></i>
                        {{modlistStarred ? 'Unfavorite' : 'Favorite'}}
                    </div>
                    <div class="action-box">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Dupicate Modlist
                    </div>
                </div>
                <div class="mod-header-box">
                    STATUS
                    <div class="action-box {{mlStatusClass}} capitalize">
                         <i class="fa {{curStatusIcon.name}}" aria-hidden="true"></i>
                        {{modlist.status}}
                    </div>
                    <div class="action-box {{mlVisibilityClass}} capitalize" ng-if="bIsEditing">
                        <i class="fa fa-eye-slash" aria-hidden="true"></i>
                        {{modlist.hidden}}
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<div class="page-container tabs-column">
    <tabs tabs='tabs' class="secondary-tabs">
    </tabs>
    <div ui-view class="mod-tab tab"></div>
</div>