<loader data="mod_list.mods && !retrieving.mods" spinner-class="big-spinner">
    <div class="tab-bar-items">
        <div class="tab-bar-item primary-item">
            <span><strong>{{notes.unresolved_compatibility.length + notes.unresolved_install_order.length}}</strong> Unresolved Issues</span>
            <span><strong>{{notes.ignored_compatibility.length + notes.ignored_install_order.length}}</strong> Ignored Issues</span>
            <span><strong>{{required.missing_mods.length}}</strong> Missing Requirements</span>
        </div>

        <div class="tab-bar-item" ng-if="editing">
            <strong>Add a mod:</strong>
            <search-input search-type="mods" result-id="add.mod.id" search-text="add.mod.name" on-change="addMod(add.mod.id)"></search-input>
        </div>
    </div>

    <div class="content-block">
        <div class="content-title">Mods
            <span class="right-item action-box" ng-if="editing" ng-click="addGroup('mods')">
                <i class="fa fa-plus"></i> New Group
            </span>
        </div>
        <div class="content-container">
            <grid-items type="mods" model="model.mods" editing="editing" remove-callback="removeMod"></grid-items>
        </div>
    </div>

    <div class="content-block">
        <div class="content-title">Required Mods
            <span class="note-item">
                ({{show.missing_mods ? 'Missing' : 'All'}})
            </span>
            <span class="right-item toggle-item" ng-click="show.missing_mods = !show.missing_mods">
                {{show.missing_mods ? 'Show All' : 'Show Missing Requirements'}}
            </span>
        </div>
        <div class="content-container">
            <ul ng-if="show.missing_mods">
                <li ng-repeat="requirement in required.missing_mods">
                    <a href="#/mod/{{requirement.required_mod.id}}">{{requirement.required_mod.name}}</a>
                    is required by
                    <a href="#/mod/{{requirement.mod.id}}">{{requirement.mod.name}}</a>
                    <!-- resolution options -->
                    <span ng-if="editing">
                        <span class="action-box green-box" ng-click="addMod(requirement.required_mod.id)" title="Add {{requirement.required_mod.name}}">Add Requirement</span>
                        <span class="action-box red-box" ng-click="removeMod(findMod(requirement.mod.id))" title="Remove {{requirement.mod.name}}">Remove Requirer</span>
                    </span>
                </li>
            </ul>
            <div ng-show="show.missing_mods && !required.missing_mods.length" class="content-message">
                No missing requirements to display.
            </div>

            <ul ng-if="!show.missing_mods">
                <li ng-repeat="requirement in required.mods" ng-hide="requirement._destroy">
                    <a href="#/mod/{{requirement.required_mod.id}}">{{requirement.required_mod.name}}</a>
                    is required by
                    <a href="#/mod/{{requirement.mod.id}}">{{requirement.mod.name}}</a>
                </li>
            </ul>
            <div ng-show="!show.missing_mods && isEmpty(required.mods)" class="content-message">
                No requirements to display.
            </div>
        </div>
    </div>

    <div class="content-block">
        <div class="content-title">Compatibility Issues
            <span class="note-item">
                ({{show.unresolved_compatibility ? 'Unresolved' : 'All'}})
            </span>
            <span class="right-item toggle-item" ng-click="show.unresolved_compatibility = !show.unresolved_compatibility">
                {{show.unresolved_compatibility ? 'Show All' : 'Show Unresolved Issues'}}
            </span>
        </div>
        <div class="content-container">
            <div ng-if="show.unresolved_compatibility" ng-repeat="note in notes.unresolved_compatibility" class="content-block">
                <compatibility-note note="note" index="100 + $index" current-user="currentUser" show-resolution-options="editing"></compatibility-note>
            </div>
            <div ng-show="show.unresolved_compatibility && !notes.unresolved_compatibility.length" class="content-message">
                No unresolved compatibility issues to display.
            </div>

            <div ng-if="!show.unresolved_compatibility" ng-repeat="note in notes.compatibility" class="content-block" ng-hide="note._destroy">
                <compatibility-note note="note" index="100 + $index" current-user="currentUser" show-resolution-options="editing"></compatibility-note>
            </div>
            <div ng-show="!show.unresolved_compatibility && isEmpty(notes.compatibility)" class="content-message">
                No compatibility issues to display.
            </div>
        </div>
    </div>

    <div class="content-block">
        <div class="content-title">Install Order Issues
            <span class="note-item">
                ({{show.unresolved_install_order ? 'Unresolved' : 'All'}})
            </span>
            <span class="right-item toggle-item" ng-click="show.unresolved_install_order = !show.unresolved_install_order">
                {{show.unresolved_install_order ? 'Show All' : 'Show Unresolved Issues'}}
            </span>
        </div>
        <div class="content-container">
            <div ng-if="show.unresolved_install_order" ng-repeat="note in notes.unresolved_install_order" class="content-block">
                <install-order-note note="note" index="100 + $index" current-user="currentUser" show-resolution-options="editing"></install-order-note>
            </div>
            <div ng-show="show.unresolved_install_order && !notes.unresolved_install_order.length" class="content-message">
                No unresolved install order issues to display.
            </div>

            <div ng-if="!show.unresolved_install_order" ng-repeat="note in notes.install_order" class="content-block" ng-hide="note._destroy">
                <install-order-note note="note" index="500 + $index" current-user="currentUser" show-resolution-options="editing"></install-order-note>
            </div>
            <div ng-show="!show.unresolved_install_order && isEmpty(notes.install_order)" class="content-message">
                No install order issues to display.
            </div>
        </div>
    </div>

    <div class="action-button-container" ng-if="editing">
        <input class="btn action-btn" type="submit" value="Save" ng-click="saveChanges()"/>
        <input class="btn action-btn" type="button" value="Reset" ng-click="discardChanges()"/>
    </div>
</loader>