<loader data="mod_list.tools && toolsReady" spinner-class="big-spinner">
    <div class="tab-bar-items">
        <div class="tab-bar-item primary-item">
            <span><strong>999</strong> Unresolved Issues</span>
            <span><strong>999</strong> Ignored Issues</span>
            <span><strong>{{required.missing_tools.length}}</strong> Missing Requirements</span>
        </div>

        <div class="tab-bar-item" ng-if="editing">
            <strong>Add a tool:</strong>
            <search-input search-function="searchTools" result-id="add.tool.id" search-text="add.tool.name" on-change="addTool(add.tool.id)" label="tool" key="name"></search-input>
        </div>
    </div>

    <div class="content-block">
        <div class="content-title">Tools
            <span class="right-item action-box" ng-if="editing" ng-click="addToolGroup()">
                <i class="fa fa-plus"></i> Add Group
            </span>
            <span class="right-item action-box" ng-click="toolsTable = !toolsTable">
                <i class="fa {{ toolsTable ? 'fa-th-large' : 'fa-list-ul' }}" ng-class=""></i> {{ toolsTable ? 'Grid View' : 'List View' }}
            </span>
        </div>
        <div class="content-container" ng-if="!toolsTable">
            <grid-items type="mod" label="tools" model="model.tools" editing="editing"></grid-items>
        </div>
        <div class="content-container" ng-if="toolsTable">
            <table-items type="mod" label="tools" columns="columns" column-groups="columnGroups" actions="actions" model="model.tools" editing="editing"></table-items>
        </div>
    </div>
</loader>

<required-tools></required-tools>

<div class="action-button-container" ng-if="editing">
    <input class="btn action-btn" type="submit" value="Save" ng-click="saveChanges()"/>
    <input class="btn action-btn" type="button" value="Reset" ng-click="discardChanges()"/>
</div>