<loader data="analysisReady" spinner-class="big-spinner">
    <div class="content-block">
        <div class="content-title">
            Statistics
        </div>
        <div class="content-container statistics-grid">
            <div>
                <span class="title">Mods</span>
                <div class="left-column">
                    <i class="fa fa-cubes"></i>
                </div>
                <div class="right-column">
                    <div class="stat-column count-column">
                        <span class="number">{{mod_list.tools_count}}</span>
                        <span class="number">{{mod_list.mods_count}}</span>
                        <span class="number">{{mod_list.custom_tools_count}}</span>
                        <span class="number">{{mod_list.custom_mods_count}}</span>
                    </div>
                    <div class="stat-column label-column">
                        <span class="label">Tools</span>
                        <span class="label">Mods</span>
                        <span class="label">Custom Tools</span>
                        <span class="label">Custom Mods</span>
                    </div>
                </div>
            </div>

            <div>
                <span class="title">Plugins</span>
                <div class="left-column">
                    <i class="fa fa-plug"></i>
                </div>
                <div class="right-column">
                    <div class="stat-column count-column">
                        <span class="number">{{mod_list.plugins_count}}</span>
                        <span class="number">{{mod_list.master_plugins_count}}</span>
                        <span class="number">{{mod_list.available_plugins_count}}</span>
                        <span class="number">{{mod_list.custom_plugins_count}}</span>
                    </div>
                    <div class="stat-column label-column">
                        <span class="label">Plugins</span>
                        <span class="label">Master Plugins</span>
                        <span class="label">Available Plugins</span>
                        <span class="label">Custom Plugins</span>
                    </div>
                </div>
            </div>

            <div>
                <span class="title">Config</span>
                <div class="left-column">
                    <i class="fa fa-sliders"></i>
                </div>
                <div class="right-column">
                    <div class="stat-column count-column">
                        <span class="number">{{mod_list.config_files_count}}</span>
                        <span class="number">{{mod_list.custom_config_files_count}}</span>
                    </div>
                    <div class="stat-column label-column">
                        <span class="label">Config Files</span>
                        <span class="label">Custom Config Files</span>
                    </div>
                </div>
            </div>

            <div>
                <span class="title">Social</span>
                <div class="left-column">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="right-column">
                    <div class="stat-column count-column">
                        <span class="number">{{mod_list.tags_count}}</span>
                        <span class="number">{{mod_list.comments_count}}</span>
                        <span class="number">{{mod_list.stars_count}}</span>
                    </div>
                    <div class="stat-column label-column">
                        <span class="label">Tags</span>
                        <span class="label">Comments</span>
                        <span class="label">Stars</span>
                    </div>
                </div>
            </div>

            <div>
                <span class="title">Notes</span>
                <div class="left-column">
                    <i class="fa fa-tasks"></i>
                </div>
                <div class="right-column">
                    <div class="stat-column count-column">
                        <span class="number">{{mod_list.compatibility_notes_count}}</span>
                        <span class="number">{{mod_list.install_order_notes_count}}</span>
                        <span class="number">{{mod_list.load_order_notes_count}}</span>
                        <span class="number">{{mod_list.ignored_notes_count}}</span>
                    </div>
                    <div class="stat-column label-column">
                        <span class="label">Compatibility Notes</span>
                        <span class="label">Install Order Notes</span>
                        <span class="label">Load Order Notes</span>
                        <span class="label">Ignored Notes</span>
                    </div>
                </div>
            </div>

            <div>
                <span class="title">Data</span>
                <div class="left-column">
                    <i class="fa fa-database"></i>
                </div>
                <div class="right-column">
                    <div class="stat-column count-column">
                        <div class="number">{{mod_list.bsa_files_count}}</div>
                        <div class="number">{{mod_list.asset_files_count}}</div>
                        <div class="number">{{mod_list.records_count}}</div>
                        <div class="number">{{mod_list.override_records_count}}</div>
                        <div class="number">{{mod_list.plugin_errors_count}}</div>
                    </div>
                    <div class="stat-column label-column">
                        <div class="label">BSA Files</div>
                        <div class="label">Asset Files</div>
                        <div class="label">Records</div>
                        <div class="label">Override Records</div>
                        <div class="label">Plugin Errors</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-block">
        <div class="content-title">
            Conflicting Assets
        </div>
        <div class="content-container analysis-container">
            <table class="analysis-table big-analysis-table" ng-if="analysis.conflicting_assets.length">
                <thead>
                <tr>
                    <th>Asset Path</th>
                    <th>Mods</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="asset in analysis.conflicting_assets">
                    <td>{{asset.asset_file.path}}</td>
                    <td>
                        <div ng-repeat="mod in asset.mods" title="{{mod.subpath}}{{asset.asset_file.path}}" ng-class="{ 'winning-asset' : mod.wins }">
                            [{{mod.index}}] {{mod.mod.name}}
                            <span ng-show="mod.subpath.endsWith('.bsa\\')">(BSA)</span>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="content-message" ng-if="!analysis.conflicting_assets.length">
                No conflicting assets found.
            </div>
        </div>
    </div>

    <div class="content-block">
        <div class="content-title">
            Conflicting Overrides
        </div>
        <div class="content-container analysis-container">
            <table class="analysis-table big-analysis-table" ng-if="analysis.conflicting_overrides.length">
                <thead>
                <tr>
                    <th>Master Plugin</th>
                    <th>FormID</th>
                    <th>Plugins</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="override in analysis.conflicting_overrides">
                    <td>{{override.master_plugin.plugin.filename}}</td>
                    <td>[{{override.sig}}:{{override.fid | hex:8}}]</td>
                    <td>
                        <span ng-repeat="plugin in override.plugins track by $index">
                            {{plugin.plugin.filename}}{{!$last ? ',' : ''}}
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="content-message" ng-if="!analysis.conflicting_overrides.length">
                No conflicting overrides found.
            </div>
        </div>
    </div>

    <div class="content-block">
        <div class="content-title">
            Plugin Errors
        </div>
        <div class="content-container analysis-container">
            <ul>
                <li ng-repeat="plugin in analysis.plugins" ng-show="plugin.errors_count > 0">
                    <a ng-href="#/mod/{{plugin.mod_id}}/analysis?plugin={{plugin.id}}">{{plugin.filename}}</a> ({{plugin.errors_count}} Errors)
                </li>
            </ul>
            <div class="content-message" ng-if="noPluginErrors()">
                No plugin errors found.
            </div>
        </div>
    </div>
</loader>