<div class="content-block">
    <div class="content-title">Description
        <span class="right-item action-box green-box special-box" ng-click="downloadModList()" tabindex="0" ng-if="permissions.canDownloadModList">
            <i class="fa fa-cloud-download"></i> Download Mod List
        </span>
        <span class="right-item action-box" ng-click="toggleExportDropdown($event)" ng-blur="blurExportDropdown()" tabindex="0">
            <i class="fa fa-download"></i> Export
        </span>
        <div class="dropdown export-dropdown" ng-if="showExportDropdown">
            <a ng-href="/mod_lists/{{mod_list.id}}/export_modlist.txt" target="_blank">
                modlist.txt
            </a>
            <a ng-href="/mod_lists/{{mod_list.id}}/export_plugins.txt" target="_blank">
                plugins.txt
            </a>
            <a ng-href="/mod_lists/{{mod_list.id}}/export_links.txt" target="_blank">
                links.txt
            </a>
        </div>
        <span class="right-item action-box" ng-click="toggleImportModal(true)" tabindex="0" ng-if="editing">
            <i class="fa fa-upload"></i> Import
        </span>
    </div>
    <div class="content-container" ng-if="!editing">
        <div marked="mod_list.description" class="text-container"></div>
    </div>
    <div class="content-container" ng-if="editing">
        <text-area data="mod_list.description" ng-refresh="updateMDE"></text-area>
    </div>
</div>

<div class="content-block" ng-if="editing">
    <div class="content-title">Options</div>
    <div class="content-container" ng-if="editing">
        <form>
            <h3 class="section-title">Name</h3>
            <section>
                <input type="text" ng-model="mod_list.name">
            </section>

            <h3 class="section-title">Status</h3>
            <section>
                <select ng-model="mod_list.status">
                    <option value="under_construction">Under Construction</option>
                    <option value="testing">Testing</option>
                    <option value="complete">Complete</option>
                </select>
            </section>

            <h3 class="section-title">Visibility</h3>
            <section>
                <select ng-model="mod_list.visibility">
                    <option value="visibility_public">Public</option>
                    <option value="visibility_unlisted">Unlisted</option>
                    <option value="visibility_private">Private</option>
                </select>
            </section>

            <h3 class="section-title">Other Options</h3>
            <section>
                <label class="checkbox-option">
                    <input type="checkbox" ng-model="mod_list.is_collection"> Collection
                </label>
                <span class="help-tooltip small" title="Collections are a special type of Mod List which can be added to &#13;other mod lists.">
                    <i class="fa fa-question-circle"></i>
                </span><br/>

                <label class="checkbox-option">
                    <input type="checkbox" ng-model="mod_list.disable_comments"> Disable Comments
                </label>
                <span class="help-tooltip small" title="If enabled the Comments tab for this mod list will be hidden and &#13;any existing comments on this mod list will be hidden from public&#13;viewing.  NOTE: Unsetting this will not restore the hidden comments, &#13;only a moderator or site administrator can restore them.">
                    <i class="fa fa-question-circle"></i>
                </span><br/>

                <label class="checkbox-option">
                    <input type="checkbox" ng-model="mod_list.lock_tags"> Lock Tags
                </label>
                <span class="help-tooltip small" title="If enabled only the mod list author, moderators and administrators &#13;will be able to add tags to this mod list.">
                    <i class="fa fa-question-circle"></i>
                </span><br/>

                <label class="checkbox-option">
                    <input type="checkbox" ng-model="mod_list.hidden">
                    Delete
                </label>
                <a href="/help/data_policies" target="_blank">
                    <span class="help-tooltip small" title="Checking this box will delete this mod list.  Click for more information &#13;on our data deletion and recovery policies.">
                        <i class="fa fa-question-circle"></i>
                    </span>
                </a><br/>
            </section>
        </form>
    </div>
</div>

<tag-selector active-tags="mod_list.tags" new-tags="newTags" max-tags="30" type="mod-list" show-count="true" show-add="(!mod_list.lock_tags && permissions.canTag) || editing" can-create="permissions.canCreateTags" show-remove="permissions.canManage && (!mod_list.lock_tags || editing)" save-callback="saveTags" class="wide-tag-selector"></tag-selector>
<span class="stat-title" ng-show="mod_list.lock_tags && !mod_list.tags.length">Tags locked</span>
<span class="stat-title" ng-show="!permissions.canTag && !mod_list.tags.length">You must log in to add tags</span>

<mod-list-import-modal ng-if="showImportModal"></mod-list-import-modal>