<!--<loader data="modlist" spinner-class="big-spinner">
</loader>-->
<div>
    <div class="modlist-header-color">
        <div class="page-container mod-header">
            <section>
                <div class="mod-info">
                    <span class="mod-name">{{modlist.name}}</span>
                    <span class="mod-authors-container">
                        by 
                        <a ng-href="#/user/{{modlist.submitter.id}}">{{modlist.submitter.username}}</a>
                    </span>
                    <br>
                    <span>0 Tools</span> <!-- TODO: Add tools_count to backend -->
                    <span class="divider">|</span>
                    <span>{{modlist.mods_count}} Mods</span>
                    <span class="divider">|</span>
                    <span>{{modlist.plugins_count}} Plugins</span>
                    <span class="divider">|</span>
                    <span>{{modlist.config_files_count}} Config Files</span>
                    <span class="divider" ng-if="permissions.canManage">|</span>
                    <a ng-if="permissions.canManage" ng-click="toggleEditing()">
                        <span ng-hide="editing">Edit</span>
                        <span ng-show="editing">View</span>
                    </a>
                </div>
            </section>

            <section>
                <div class="mod-header-box">
                    <!-- TODO: I feel like using some spans here would be wiser -->
                    ACTIONS
                    <div class="action-box" ng-click="starMod()">
                        <i class="fa {{modlistStarred ? 'fa-star' : 'fa-star-o'}}" aria-hidden="true"></i>
                        {{modlistStarred ? 'Unfavorite' : 'Favorite'}}
                    </div>
                    <div class="action-box">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Dupicate Modlist
                    </div>
                </div>
                <div class="mod-header-box">
                    STATUS
                    <div class="action-box {{statusClass}} capitalize">
                         <i class="fa {{statusIcons[modlist.status]}}" aria-hidden="true"></i>
                        {{modlist.status}}
                    </div>
                    <div class="action-box {{visibilityClass}} capitalize">
                        <i class="fa {{visibilityIcons[modlist.visibility]}}" aria-hidden="true"></i>
                        {{modlist.visibility.replace("visibility_", "")}}
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<div class="page-container tabs-column">
    <tabs tabs='tabs' class="secondary-tabs"></tabs>
    <div ui-view class="mod-tab tab"></div>
</div>