<loader data="mod_list.mods" spinner-class="big-spinner">
    <div class="tab-bar-items">
        <div class="tab-bar-item primary-item">
            <span><strong>999</strong> Unresolved Issues</span>
            <span><strong>999</strong> Ignored Issues</span>
            <span><strong>999</strong> Missing Requirements</span>
        </div>

        <div class="tab-bar-item" ng-if="editing">
            <strong>Add a mod:</strong>
            <search-input search-type="mods" result-id="add.modId" search-text="add.modName" on-change="addMod"></search-input>
        </div>
    </div>

    <div class="content-block" ng-show="mod_list.mods.length">
        <div class="content-title">Mods</div>
        <div class="content-container">
            <mod-items mods="mod_list.mods" editing="editing" remove-callback="removeMod"></mod-items>
        </div>
    </div>

    <div class="content-block" ng-show="mod_list.missing_mods">
        <div class="content-title">Missing Requirements</div>
        <div class="content-container">
            Show Missing Requirements Service: Mods
        </div>
    </div>

    <div class="content-block" ng-show="mod_list.compatibility_notes">
        <div class="content-title">Compatibility Issues</div>
        <div class="content-container">
            Mods: Show compatibility issues Here
        </div>
    </div>

    <div class="content-block" ng-show="mod_list.install_order_notes">
        <div class="content-title">Install Order Notes</div>
        <div class="content-container">
            Mods: Show Install Order Notes Here
        </div>
    </div>

    <div class="content-block" ng-show="mod_list.asset_conflicts">
        <div class="content-title">Asset Conflicts</div>
        <div class="content-container">
            Mods: Asset Conflicts Container.  Will be a directive.
        </div>
    </div>
</loader>