<div class="modlist-content-block modlist-tab-item">
    <div class="content-title"> 
            <div>
                Plugins Overview
            </div>
    </div>
    <section class="overview-content-container">
        <div>
            <ul>
                <li>
                    <span class="modlist-status">[_] Stable</span> 
                </li>
                <li>
                    <span>999</span> 
                    Unresolved Issues
                </li>
                <li>
                    <span>999</span> 
                    Ignored Issues
                </li>
            </ul>
        </div>
        <div>
            <ul>
                <li>
                    <span>999</span> 
                    Master Plugins
                </li>
                <li>
                    <span>999</span> 
                    Standard Plugins
                </li>
                <li>
                    <span>999</span> 
                    Patch Plugins
                </li>
                <li>
                    <span>999</span> 
                    Custom Plugins
                </li>
            </ul> 
        </div>
    </section>
</div>
<div class="modlist-content-block modlist-tab-item">
    <div class="content-title"> 
        <div>
            Plugins
        </div>
        <div>
            <a ng-click="curPluginSecTab = 'list'" ng-class="cssChange('plugins','list')">List</a><a ng-click="curPluginSecTab = 'tiles'" ng-class="cssChange('plugins','tiles')">Tiles</a>
        </div>
    </div>
    <section class="ratings-container">
    _
    <!--Modlist plugin editing options go here! (may port over to the service directive, here for display purposes)-->
    </section>
    <section class="note-content-container">
        Show Plugins Service
    </section>
</div>

<div class="modlist-content-block modlist-tab-item">
    <div class="content-title"> 
        <div>
            Missing Requirements
            <span class="section-header-counter"># Unresolved Issues</span>
        </div>
        <div>
            <a ng-click="" class="section-unselected-tab">Resolve All Issues</a>
        </div>
    </div>
    <section class="note-content-container">
        Show Missing Requirements Service: Plugins
    </section>
</div>

<div class="modlist-content-block modlist-tab-item">
    <div class="content-title"> 
        <div>
            Compatibility Issues
            <span class="section-header-counter"># Unresolved Issues</span>
        </div>
        <div>
            <a ng-click="" class="section-unselected-tab">Show ignored issues(#)</a><a ng-click="" class="section-unselected-tab">Show resolved issues(#)</a>
        </div>
    </div>
    <section class="note-content-container">
        Plugins: Show compatibility issues Here
    </section>
</div> 

<div class="modlist-content-block modlist-tab-item">
    <div class="content-title"> 
        <div>
            Load Order Notes
            <span class="section-header-counter"># Unresolved Issues</span>
        </div>
        <div>
            <a ng-click="" class="section-unselected-tab">Show ignored notes(#)</a><a ng-click="" class="section-unselected-tab">Show resolved notes(#)</a>
        </div>
    </div>
    <section class="note-content-container">
        Plugins: Show Install Order Notes Here
    </section>
</div>
<div class="modlist-content-block modlist-tab-item">
    <div class="content-title"> 
        <div>
            Record Conflicts
        </div>
    </div>
    <section class="ratings-container">
    _
    <!--Asset Conflict Table Options Go Here! (will port over service directive, here for display purposes)-->
    </section>
    <section class="note-content-container">
        Plugins: Record Conflict Container.  Will be a directive.
    </section>
</div>
