<div class="content-block">
    <div class="content-title">Required Mods
    <span class="note-item">
        ({{show.missing_mods ? 'Missing' : 'All'}})
    </span>
    <span class="right-item toggle-item" ng-click="show.missing_mods = !show.missing_mods">
        {{show.missing_mods ? 'Show All' : 'Show Missing Requirements'}}
    </span>
    </div>

    <div class="content-container">
        <ul ng-if="show.missing_mods">
            <li ng-repeat="requirement in required.missing_mods">
                <a href="#/mod/{{requirement.required_mod.id}}">{{requirement.required_mod.name}}</a>
                is required by
                <a href="#/mod/{{requirement.mod.id}}">{{requirement.mod.name}}</a>
                <!-- resolution options -->
            <span ng-if="editing">
                <span class="action-box green-box" ng-click="addMod(requirement.required_mod.id)" title="Add {{requirement.required_mod.name}}">Add Requirement</span>
                <span class="action-box red-box" ng-click="removeMod(findMod(requirement.mod.id))" title="Remove {{requirement.mod.name}}">Remove Requirer</span>
            </span>
            </li>
        </ul>
        <div ng-show="show.missing_mods && !required.missing_mods.length" class="content-message">
            No missing requirements to display.
        </div>

        <ul ng-if="!show.missing_mods">
            <li ng-repeat="requirement in required.mods" ng-hide="requirement._destroy">
                <a href="#/mod/{{requirement.required_mod.id}}">{{requirement.required_mod.name}}</a>
                is required by
                <a href="#/mod/{{requirement.mod.id}}">{{requirement.mod.name}}</a>
            </li>
        </ul>
        <div ng-show="!show.missing_mods && isEmpty(required.mods)" class="content-message">
            No requirements to display.
        </div>
    </div>
</div>