<div class="content-block">
    <div class="content-title">Required Plugins
        <span class="note-item">
            ({{show.missing_plugins ? 'Missing' : 'All'}})
        </span>
        <span class="right-item toggle-item" ng-click="show.missing_plugins = !show.missing_plugins">
            {{show.missing_plugins ? 'Show All' : 'Show Missing Requirements'}}
        </span>
    </div>
    <div class="content-container">
        <ul ng-if="show.missing_plugins">
            <li ng-repeat="requirement in required.missing_plugins">
                <a ng-href="#/mod/{{requirement.master_plugin.mod_id}}/analysis?plugin={{requirement.master_plugin.id}}">{{requirement.master_plugin.filename}}</a>
                is required by
                <span ng-repeat="plugin in requirement.plugins | limitTo: 2">
                    <a ng-href="#/mod/{{plugin.mod_id}}/analysis?plugin={{plugin.id}}">{{plugin.filename}}</a>
                    {{!$last || requirement.plugins.length > 2 ? ', ' : ''}}
                </span>
                <span ng-if="requirement.plugins.length > 2">
                    and
                    <span class="help-tooltip" title="{{getRequirerList(requirement, 2)}}">{{requirement.plugins.length - 2}} more</span>
                </span>
                <!-- resolution options -->
                <span ng-if="editing">
                    <span class="action-box green-box" ng-click="addPlugin(requirement.master_plugin.id)" title="Add {{requirement.master_plugin.filename}}">Add Requirement</span>
                    <span class="action-box red-box" ng-click="removeRequirers(requirement)" title="Remove {{getRequirerList(requirement)}}">Remove Requirers</span>
                </span>
            </li>
        </ul>
        <div ng-show="show.missing_plugins && !required.missing_plugins.length" class="content-message">
            No missing requirements to display.
        </div>

        <ul ng-if="!show.missing_plugins">
            <li ng-repeat="requirement in required.plugins" ng-show="requirement.plugins.length">
                <a ng-href="#/mod/{{requirement.master_plugin.mod_id}}/analysis?plugin={{requirement.master_plugin.id}}">{{requirement.master_plugin.filename}}</a>
                is required by
                <span ng-repeat="plugin in requirement.plugins | limitTo: 2">
                    <a ng-href="#/mod/{{plugin.mod_id}}/analysis?plugin={{plugin.id}}">{{plugin.filename}}</a>{{!$last || requirement.plugins.length > 2 ? ', ' : ''}}
                </span>
                <span ng-if="requirement.plugins.length > 2">
                    and
                    <span class="help-tooltip no-margin" title="{{getRequirerList(requirement, 2)}}">{{requirement.plugins.length - 2}} more</span>
                </span>
            </li>
        </ul>
        <div ng-show="!show.missing_plugins && isEmpty(required.plugins)" class="content-message">
            No requirements to display.
        </div>
    </div>
</div>