<loader data="mod_list.tools" spinner-class="big-spinner">
    <div class="content-block" ng-show="mod_list.tools.length">
        <div class="content-title">Tools</div>
        <div class="content-container">
            <div class="mod-grid-item box-shadow" ng-repeat="tool in mod_list.tools" ng-hide="tool._destroy">
                <div class="remove-mod" ng-if="editing">
                    <span class="fa fa-times" ng-click="removeMod(tool, true)"></span>
                </div>
                <div class="image-container">
                    <div class="helper"></div>
                    <img ng-src="{{tool.mod.image}}"/>
                </div>
                <ul>
                    <li class="mod-name">
                        <a href="#/mod/{{tool.mod.id}}">{{tool.mod.name}}</a>
                        <span ng-if="tool.mod.aliases">({{tool.mod.aliases.split(",")[0]}})</span>
                    </li>
                    <li>by {{tool.mod.authors}}</li>
                    <li>Released {{tool.mod.released | date}}</li>
                    <li ng-if="tool.mod.updated">Updated {{tool.mod.updated | date}}</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="content-block" ng-show="mod_list.tools.length">
        <div class="content-title">Missing Requirements
            <span class="section-header-counter"># Unresolved Issues</span>
        <span class="right-item">
            <a ng-click="">Resolve All Issues</a>
        </span>
        </div>
        <div class="content-container">
            Show Missing Requirements Service: Tools
        </div>
    </div>

    <div class="content-message" ng-hide="mod_list.tools.length">
        There are no tools in this mod list.
    </div>
</loader>