<loader data="mod_list.tools && !retrieving.tools" spinner-class="big-spinner">
    <div class="tab-bar-items">
        <div class="tab-bar-item primary-item">
            <span><strong>999</strong> Unresolved Issues</span>
            <span><strong>999</strong> Ignored Issues</span>
            <span><strong>{{required.missing_tools.length}}</strong> Missing Requirements</span>
        </div>

        <div class="tab-bar-item" ng-if="editing">
            <strong>Add a tool:</strong>
            <search-input search-type="tools" result-id="add.tool.id" search-text="add.tool.name" on-change="addTool(add.tool.id)"></search-input>
        </div>
    </div>

    <div class="content-block" ng-show="mod_list.tools.length">
        <div class="content-title">Tools
            <span class="right-item action-box" ng-if="editing" ng-click="addGroup('tools')">
                <i class="fa fa-plus"></i> New Group
            </span>
        </div>
        <div class="content-container">
            <grid-items type="tools" model="model.tools" editing="editing" remove-callback="removeTool"></grid-items>
        </div>
    </div>

    <div class="content-block">
        <div class="content-title">Required Tools
            <span class="right-item toggle-item" ng-click="show.missing_tools = !show.missing_tools">
                {{show.missing_tools ? 'Show All' : 'Show Missing Requirements'}}
            </span>
        </div>
        <div class="content-container">
            <ul ng-if="show.missing_tools">
                <li ng-repeat="requirement in required.missing_tools">
                    <a href="#/mod/{{requirement.required_mod.id}}">{{requirement.required_mod.name}}</a>
                    is required by
                    <a href="#/mod/{{requirement.mod.id}}">{{requirement.mod.name}}</a>
                    <span class="action-box green-box" ng-click="addTool(requirement.required_mod.id)" title="Add {{requirement.required_mod.name}}">Add Requirement</span>
                    <span class="action-box red-box" ng-click="removeTool(findTool(requirement.mod.id))" title="Remove {{requirement.mod.name}}">Remove Requirer</span>
                </li>
            </ul>
            <div ng-show="show.missing_tools && !required.missing_tools.length" class="content-message">
                No missing tools to display.
            </div>

            <ul ng-if="!show.missing_tools">
                <li ng-repeat="requirement in required.tools" ng-hide="requirement._destroy">
                    <a href="#/mod/{{requirement.required_mod.id}}">{{requirement.required_mod.name}}</a>
                    is required by
                    <a href="#/mod/{{requirement.mod.id}}">{{requirement.mod.name}}</a>
                </li>
            </ul>
            <div ng-show="!show.missing_tools && isEmpty(required.tools)">
                No requirements to display.
            </div>
        </div>
    </div>

    <div class="content-message" ng-hide="mod_list.tools.length">
        There are no tools in this mod list.
    </div>

    <div class="action-button-container" ng-if="editing">
        <input class="btn action-btn" type="submit" value="Save" ng-click="saveChanges()"/>
        <input class="btn action-btn" type="button" value="Reset" ng-click="discardChanges()"/>
    </div>
</loader>