<loader data="mod_list.tools" spinner-class="big-spinner">
    <div class="tab-bar-items">
        <div class="tab-bar-item primary-item">
            <span><strong>999</strong> Unresolved Issues</span>
            <span><strong>999</strong> Ignored Issues</span>
            <span><strong>999</strong> Missing Requirements</span>
        </div>

        <div class="tab-bar-item" ng-if="editing">
            <strong>Add a tool:</strong>
            <search-input search-type="tools" result-id="add.tool.id" search-text="add.tool.name" on-change="addMod(mod_list.tools, 'tool')"></search-input>
        </div>
    </div>

    <div class="content-block" ng-show="mod_list.tools.length">
        <div class="content-title">Tools
            <span class="right-item action-box" ng-if="editing" ng-click="addToolGroup()">
                <i class="fa fa-plus"></i> New Group
            </span>
        </div>
        <div class="content-container">
            <grid-items type="tools" model="model.tools" editing="editing" remove-callback="removeItem"></grid-items>
        </div>
    </div>

    <div class="content-block">
        <div class="content-title">Required Tools
            <span class="right-item toggle-item" ng-click="show.missing_tools = !show.missing_tools">
                {{show.missing_tools ? 'Show All' : 'Show Missing Tools'}}
            </span>
        </div>
        <div class="content-container">
            <ul ng-show="show.missing_tools">
                <li ng-repeat="requirement in missing_tools">
                    <a href="#/mod/{{requirement.required_mod.id}}">{{requirement.required_mod.name}}</a>
                    is required by
                    <a href="#/mod/{{requirement.mod.id}}">{{requirement.mod.name}}</a>
                    <span class="action-box green-box" ng-click="addRequirement(requirement)">Add Requirement</span>
                    <span class="action-box red-box" ng-click="removeRequirer(requirement)">Remove Requirer</span>
                </li>
                <li ng-hide="missing_tools.length">
                    No missing tools to display.
                </li>
            </ul>
            <ul ng-hide="show.missing_tools">
                <li ng-repeat="requirement in required_tools">
                    <a href="#/mod/{{requirement.required_mod.id}}">{{requirement.required_mod.name}}</a>
                    is required by
                    <a href="#/mod/{{requirement.mod.id}}">{{requirement.mod.name}}</a>
                </li>
                <li ng-hide="required_tools.length">
                    No requirements to display.
                </li>
            </ul>
        </div>
    </div>

    <div class="content-message" ng-hide="mod_list.tools.length">
        There are no tools in this mod list.
    </div>

    <div class="action-button-container" ng-if="editing">
        <input class="btn action-btn" type="submit" value="Save" ng-click="saveChanges()"/>
        <input class="btn action-btn" type="button" value="Reset" ng-click="discardChanges()"/>
    </div>
</loader>