<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<h1>Skyrim Mod Picker</h1>
Welcome!  :D
<ul>
	<li><a href = "/mod_list_compatibility_notes">mod_list_compatibility_notes</a></li>
	<li><a href = "/mod_list_installation_notes">mod_list_installation_notes</a></li>
	<li><a href = "/agreement_marks">agreement_marks</a></li>
	<li><a href = "/incorrect_notes">incorrect_notes</a></li>
	<li><a href = "/helpful_marks">helpful_marks</a></li>
	<li><a href = "/user_comments">user_comments</a></li>
	<li><a href = "/mod_list_comments">mod_list_comments</a></li>
	<li><a href = "/mod_comments">mod_comments</a></li>
	<li><a href = "/compatibility_notes">compatibility_notes</a></li>
	<li><a href = "/installation_notes">installation_notes</a></li>
	<li><a href = "/reviews">reviews</a></li>
	<li><a href = "/comments">comments</a></li>
	<li><a href = "/user_mod_author_maps">user_mod_author_maps</a></li>
	<li><a href = "/user_mod_list_star_maps">user_mod_list_star_maps</a></li>
	<li><a href = "/user_mod_star_maps">user_mod_star_maps</a></li>
	<li><a href = "/reputation_maps">reputation_maps</a></li>
	<li><a href = "/users">users</a></li>
	<li><a href = "/user_reputations">user_reputations</a></li>
	<li><a href = "/user_settings">user_settings</a></li>
	<li><a href = "/user_bios">user_bios</a></li>
	<li><a href = "/mod_list_mods">mod_list_mods</a></li>
	<li><a href = "/mod_list_custom_plugins">mod_list_custom_plugins</a></li>
	<li><a href = "/mod_list_plugins">mod_list_plugins</a></li>
	<li><a href = "/mod_lists">mod_lists</a></li>
	<li><a href = "/plugin_record_groups">plugin_record_groups</a></li>
	<li><a href = "/plugin_override_maps">plugin_override_maps</a></li>
	<li><a href = "/masters">masters</a></li>
	<li><a href = "/plugins">plugins</a></li>
	<li><a href = "/mod_version_file_maps">mod_version_file_maps</a></li>
	<li><a href = "/mod_asset_files">mod_asset_files</a></li>
	<li><a href = "/mod_versions">mod_versions</a></li>
	<li><a href = "/mods">mods</a></li>
	<li><a href = "/lover_infos">lover_infos</a></li>
	<li><a href = "/workshop_infos">workshop_infos</a></li>
	<li><a href = "/nexus_infos">nexus_infos</a></li>
</ul>
