<!-- Header Section Start -->
<header id="header_part">
    <div class="header_part" id="head">
        <div class="overlay">
            <div class="start_part">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="row">
                                <!-- Logo Start -->
                                <div class="site_logo">
                                    <a href="#" title=""><%= image_tag("logo.png", :alt => "Mod Picker") %></a>
                                </div>
                                <!-- Logo End-->
                                <!-- Site Title start-->
                                <div class="site_title">
                                    <h1>Coming soon.</h1>
                                    <p>A powerful tool that will help you build a modded game that meets your needs.<br/>
                                        We will support Skyrim mods from day 1, with support for other games planned.<br/>
                                        Are you excited?</p>
                                </div>
                                <!-- Site Title end-->
                                <!-- Countdown start -->
                                <div class="countdown wow bounceInUp">
                                    <div class="defaultCountdown"></div>
                                </div>
                                <!-- Countdown end-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Menu Start -->
            <div class="menu_area" id="stick_menu">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <nav class="navbar navbar-default" role="navigation">
                                <div class="container-fluid">
                                    <div class="collapse navbar-collapse mainnavmenu" id="bs-example-navbar-collapse-1">
                                        <div id="menu-center">
                                            <ul class="nav navbar-nav navbar-right mainnav">
                                                <li><a href="#header_part" >Start</a></li>
                                                <li><a href="#about_section">About</a></li>
                                                <li><a href="#email_subscribe_section">Subscribe</a></li>
                                                <li><a href="#contact_section">Contact</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Menu End-->
        </div>
    </div>
</header>
<!-- Header Section End -->
<!-- About Section Start -->
<section id="about_section">
    <div class="welcome_section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <!-- About text start -->
                        <div class="section-title">
                            <h2>About Mod Picker</h2>
                            <p>Helping you choose the right mods for your playstyle.</p>
                        </div>
                        <!-- About text end -->
                    </div>
                    <!-- About service part start-->
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                            <div class="welcome_part wow fadeInLeft">
                                <div class="welcome_icon">
                                    <i class="fa fa-file-image-o fa-4x"></i>
                                </div>
                                <h2>CROWD SOURCED DATA</h2>
                                <p>Mod Picker will operate on crowd sourced data.  As a user you'll be able to submit reviews, compatibiltiy notes, and installation notes.</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                            <div class="welcome_part wow fadeInUp">
                                <div class="welcome_icon">
                                    <i class="fa fa-life-ring fa-4x"></i>
                                </div>
                                <h2>EASY MOD LISTS</h2>
                                <p>Thanks to crowd-sourced data, creating a mod list will be easy.  Choose your mods and our system will tell you about possible compatibility issues.</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                            <div class="welcome_part wow fadeInDown">
                                <div class="welcome_icon">
                                    <i class="fa fa-trophy fa-4x"></i>
                                </div>
                                <h2>REPUTATION SYSTEM</h2>
                                <p>User submissions will be evaluated by a clever reputation system.  Your word will count for more if you have a strong reputation in the community.</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                            <div class="welcome_part wow fadeInRight">
                                <div class="welcome_icon">
                                    <i class="fa fa-briefcase fa-4x"></i>
                                </div>
                                <h2>RESTFUL API</h2>
                                <p>The website will feature a full RESTful API, so you can use our data in your projects.  All data will be served as JSON.</p>
                            </div>
                        </div>
                    </div>
                    <!-- About service part end-->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->
<!-- Subscriber Section Start -->
<section id="email_subscribe_section">
    <div class="email_subscribe_section" >
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <!-- Email Subscriber text start-->
                    <div class="section-title">
                        <h2>Subscribe</h2>
                        <p>Excited to see this happen?  Subscribe to our email newsletter to keep up to date with our progress!</p>
                    </div>
                    <!-- Email Subscriber text end-->
                    <div class="email_subscribe_form_part wow zoomIn">
                        <!-- Email Subscribe Form start -->
                        <form method="post" id="subscriber_form">
                            <input type="email" id="subscriberemail" name="subscriber_email" class="form-control email_input_box" placeholder="example@gmail.com" required/>
                            <button type="submit" class="btn btn-primary email_submit_box"><i class="fa fa-envelope-o"></i> Subscribe</button>
                        </form>
                        <!-- Email Subscribe Form End -->
                        <div id="show_subscriber_msg"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Subscriber Section End -->
<!-- Contact Section Start -->
<section id="contact_section">
    <div class="contact_section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <div class="section-title">
                            <h2>Contact us.</h2>
                            <p>Have a question or suggestion?  Shoot us a message!  We'd love to hear your thoughts.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="address_part">
                                <div class="email">
                                    <i class="fa fa-envelope-o"></i> modpicker@gmail.com
                                </div>
                                <div class="social_icons">
                                    <ul>
                                        <li><a href="https://www.facebook.com/modpicker/" data-toggle="tooltip" data-placement="top" title="Facebook" data-rel="tooltip" class="icon_fb" ><i class="fa fa-facebook-square"></i></a></li>
                                        <li><a href="https://twitter.com/Mod_Picker" data-toggle="tooltip" data-placement="top" title="Twitter" data-rel="tooltip" class="icon_twitter"><i class="fa fa-twitter-square"></i></a></li>
                                        <li><a href="https://www.youtube.com/channel/UCWqJeb-T5-k-AnWZTF_0ZAw" data-toggle="tooltip" data-placement="top" title="Youtube" data-rel="tooltip" class="icon_youtube"><i class="fa fa-circle fa-youtube-square"></i></a></li>
                                        <li><a href="https://steamcommunity.com/groups/mod-picker" data-toggle="tooltip" data-placement="top" title="Steam" data-rel="tooltip" class="icon_steam"><i class="fa fa-circle fa-steam-square "></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="contact_form">
                                <div id="show_contact_msg"></div>
                                <!-- Contact Form Start -->
                                <form method="post" id="contact_form">
                                    <input type="text" id="contact_name" name="name" class="form-control contact_input_box wow fadeInUp" placeholder="Name" required/>
                                    <input type="email" id="contact_email" name="email" class="form-control contact_input_box wow fadeInUp" placeholder="E-mail" required/>
                                    <textarea id="contact_text" name="message" rows="5" cols="30" class="form-control contact_input_box wow fadeInUp" placeholder="Message" required></textarea>
                                    <button type="submit" class="btn btn-primary contact_button wow fadeInUp"> <i class="fa fa-send-o"></i>  Send message</button>
                                </form>
                                <!-- Contact Form End -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->