<div class='note-container'>
	<div class='note-title'>
		<span ng-if="modId">
            Install
            <span ng-if="note.mods[0].id == modId">
                Before
                <a ng-href='#/mod/{{note.mods[1].id}}'>{{note.mods[1].name}}</a>
            </span>
            <span ng-if="note.mods[1].id == modId">
                After
                <a ng-href='#/mod/{{note.mods[0].id}}'>{{note.mods[0].name}}</a>
            </span>
        </span>
        <span class="right-item">
            <span class="standing">Good Standing</span>
        </span>
	</div>
    <author-column user="note.user" ng-if='showAuthorColumn' class="author-column"></author-column>
	<div class='content-column'>
        <div class='text-container' marked="note.text_body"></div>
        <div class='actions-container'>
            <a class='action-link'>Make A Suggestion</a>
            <a class='action-link'>More <span class='fa fa-angle-right'></span></a>
			<span class='helpfulness'>
				<a class='fa fa-thumbs-o-up'></a>
                <a class='fa fa-thumbs-o-down'></a>
            </span>
        </div>
    </div>
</div>