<div class='note-container'>
    <div class="note-title">
        {{review.user.username}}'s Review ({{review.overall_rating | number:0}}/100)
    </div>
    <author-column user="review.user" ng-if='showAuthorColumn' class="author-column"></author-column>
    <div class='content-column'>
        <div class="ratings-container">
            <div class="rating-item" ng-repeat="rating in review.review_ratings">
                <span class="section-name">{{rating.section.name}}:</span>
                <span class="rating-value">{{rating.rating}}</span>
            </div>
        </div>
        <div class='text-container' marked="review.text_body"></div>
        <div class='actions-container'>
            <span class='action-box'>Actions <i class='fa fa-caret-down'></i></span>
            <span class='helpfulness'>
                <div class="action-box">Helpful</div>
                <div class="action-box">Not Helpful</div>
            </span>
        </div>
    </div>
</div>