<!DOCTYPE html>
<html lang="en" ng-app="modPicker">
<head>
  <meta charset="UTF-8">
  <title>Mod Picker: REST API</title>
  <%= stylesheet_link_tag 'scaffolds' %>
</head>
<body>

<%= yield %>

</body>
</html>