<!DOCTYPE html>
<html lang="en" ng-app="modPicker" class="box-html">
<head>
  <meta charset="UTF-8">
  <title>Mod Picker</title>
  <% if current_user.nil? %>
    <% current_theme = 'Whiterun' %>
  <% else %>
    <% current_theme = current_user.settings.theme %>
  <% end %>
  <% if current_theme == 'Blackreach' %>
      <%= stylesheet_link_tag 'blackreach' %>
  <% elsif current_theme == 'Darkwater' %>
      <%= stylesheet_link_tag 'darkwater' %>
  <% else %>
      <%= stylesheet_link_tag 'whiterun' %>
  <% end %>
</head>
<body>

<div class="box-container">
  <div class="box">
    <%= yield %>
  </div>
</div>

</body>
</html>