<!DOCTYPE html>
<html lang="en" ng-app="modPicker">
<head>
  <meta charset="UTF-8">
  <title>Mod Picker</title>
  <%= stylesheet_link_tag "box" %>
</head>
<body>

<div class="box-container">
  <div class="box">
    <%= yield %>
  </div>
</div>

</body>
</html>