<!DOCTYPE html>
<html lang="en" ng-app="modPicker" class="box-html">
<head>
  <meta charset="UTF-8">
  <title>Mod Picker</title>
  <% if current_user.nil? %>
    <% current_theme = 'Whiterun' %>
  <% else %>
    <% current_theme = current_user.settings.theme %>
  <% end %>
  <%= stylesheet_link_tag "main/#{current_theme}" %>
</head>
<body>

<div class="box-container">
  <div class="box">
    <%= yield %>
  </div>
</div>

</body>
</html>