<!DOCTYPE html>
<html lang="en" ng-app="landing">
<head>
    <meta charset="UTF-8">
    <title>Mod Picker</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta name="description" content="Find compatible mods. Build and share a mod list. Mods from Nexus Mods and the Steam Workshop. Mod Picker makes personalizing your gaming experience easier than ever before.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:site" content="@mod_picker">
    <meta property="twitter:description" content="Find compatible mods. Build and share a mod list. Mods from Nexus Mods and the Steam Workshop. Mod Picker makes personalizing your gaming experience easier than ever before.">
    <meta property="twitter:image:src" content="https://puu.sh/scaUr.png">
    <meta property="og:url" content="https://modpicker.com">
    <meta property="og:title" content="Mod Picker - Make awesome mod lists faster and easier">
    <meta property="og:image" content="https://puu.sh/scaUr.png">
    <meta property="og:description" content="Find compatible mods. Build and share a mod list. Mods from Nexus Mods and the Steam Workshop. Mod Picker makes personalizing your gaming experience easier than ever before.">

    <%= stylesheet_link_tag 'landing/High Hrothgar' %>
</head>
<body ng-controller="landingController" ng-cloak>
<%= yield %>

<%= javascript_include_tag 'landing' %>
</body>
</html>