<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mod Picker: Legal Center</title>
    <%= stylesheet_link_tag 'legal' %>
</head>

<body>
    <header>
        <a href="/" class="logo small-logo">
            <i class="icom-mod_picker"></i>
            <h1>Mod Picker</h1>
        </a>
        <a href="/legal/tos">
            Terms of Service
        </a>
        <a href="/legal/privacy">
            Privacy Policy
        </a>
        <a href="/legal/copyright">
            Copyright Policy
        </a>
        <a href="/legal/wizard">
            Mod Licensing Wizard
        </a>
    </header>

    <div class="content">
        <%= yield %>
    </div>
</body>
</html>
