<div class="actions-container">
    <a class="action-item" ng-if="canReply" tabindex="{{index}}" ng-click="reply(comment)">reply</a>
    <a class="action-item" ng-if="canReport" tabindex="{{index}}" ng-click="toggleReportModal(true)">report</a>
    <a class="action-item" ng-if="canEdit" tabindex="{{index}}" ng-click="edit(comment)">edit</a>
    <a class="action-item" ng-if="canHide && !comment.hidden" tabindex="{{index}}" ng-click="hide(true)">hide</a>
    <a class="action-item" ng-if="canHide && comment.hidden" tabindex="{{index}}" ng-click="hide(false)">unhide</a>
    <!-- Hidden box -->
    <span class="action-box yellow-box no-action" ng-if="comment.hidden">Hidden</span>
</div>

<report-modal ng-if="showReportModal"></report-modal>