/* DARKWATER THEME */

$banner_image: image_path("darkwater.jpg");

$text_color: #151d1f;
$inverse_text_color: #aeb5b6;

$primary_background: #afb5b3;
$secondary_background: #a1a8a7;
$background_highlight: #b5beb7;

$shadow_color: #000;
$border_color: #6e8c8e;
$soft_border_color: #b7c6c7;
$hard_border_color: #151d1f;

$h3_color: #2e2c1d;
$h4_color: #313d31;

$action_color: #1f342d;
$bright_action_color: #2c3834;
$dark_action_color: #172224;

$bar_color: #020700;
$bar_highlight_color: #1f201a;
$bar_text_color: #8a8e8f;
$bar_highlight_text_color: #a6ceda;

$link_color: #205098;
$link_hover_color: #4f5e61;