<div class="page-container">
    <div class="left-column">    
    </div>
    <div class="right-column">
    	Compatibility Notes - modpage view:
    	<div class='modpage-view'>
    	    <div class='author-block'>
       			<div class='author-image'></div>
       			<br>
       			<span class='author-name'>TheGreatThreeTen2016</span>
       		</div>
       		<div class='right-container'>
       			<div class='cnote-block'>
       				<div class='note-title-block'>
       					<ul>
       						<li>
       							Incompatible
       						</li>
       						<li>
								Good Standing
							</li>
						</ul>
       				</div>
       				<div class='mod-title-block'>
       					<div class='letter-box'>A</div>	
       				</div>
       				<div class='mod-title-block'>
       					<div class='letter-box'>B</div>
       				</div>
       				<div class='note-details-block'>
       					Lots of bullshit right here. Quisque lacinia sem vel ipsum malesuada tristique at non nulla. Sed et magna odio. Nunc aliquam malesuada orci sagittis facilisis. Aliquam eu dapibus arcu. Proin mollis odio sit amet sapien euismod egestas. Nulla elementum, risus et dapibus vestibulum, lectus nibh porta sapien, sit amet posuere ex erat eu magna. Vestibulum sagittis volutpat vulputate. Integer suscipit elementum tortor, quis porta mauris facilisis id. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum in convallis justo. Quisque consequat vestibulum lorem, sit amet aliquam dui blandit ac. Fusce auctor eleifend magna, eu gravida nisi ullamcorper accumsan
       				</div>
       				<div class='detail-options-block'>
       					<a class='detail-links'>Make A Suggestion</a>
       				</div>
       				<div class='detail-options-block'>
       					<a class='detail-links'>More <span class='fa fa-angle-right'></span></a>
       				</div>
       				<div class='detail-helpful-block'>
       					<a class='fa fa-thumbs-o-up'></a>
						<span></span>
						<a class='fa fa-thumbs-o-down'></a>
					</div>
       			</div>
       		</div>
    	</div>

    	Installation Notes
    	<div class='modpage-view'>
    	    <div class='author-block'>
       			<div class='author-image'></div>
       			<br>
       			<span class='author-name'>TheGreatThreeTen2016</span>
       		</div>
       		<div class='right-container'>
       			<div class='inote-block'>
       				<div class='note-title-block'>
       					<ul>
       						<li>
       							Incompatible
       						</li>
       						<li>
								Good Standing
							</li>
						</ul>
       				</div>
       				<div class='note-details-block'>
       					Lots of bullshit right here. Quisque lacinia sem vel ipsum malesuada tristique at non nulla. Sed et magna odio. Nunc aliquam malesuada orci sagittis facilisis. Aliquam eu dapibus arcu. Proin mollis odio sit amet sapien euismod egestas. Nulla elementum, risus et dapibus vestibulum, lectus nibh porta sapien, sit amet posuere ex erat eu magna. Vestibulum sagittis volutpat vulputate. Integer suscipit elementum tortor, quis porta mauris facilisis id. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum in convallis justo. Quisque consequat vestibulum lorem, sit amet aliquam dui blandit ac. Fusce auctor eleifend magna, eu gravida nisi ullamcorper accumsan
       				</div>
       				<div class='detail-options-block'>
       					<a class='detail-links'>Make A Suggestion</a>
       				</div>
       				<div class='detail-options-block'>
       					<a class='detail-links'>More <span class='fa fa-angle-right'></span></a>
       				</div>
       				<div class='detail-helpful-block'>
       					<a class='fa fa-thumbs-o-up'></a>
						<span></span>
						<a class='fa fa-thumbs-o-down'></a>
					</div>
       			</div>
       		</div>
    	</div>

	</div>
</div>