<div class="action-items">
    <span class="fa fa-cog" ng-hide="item.mod && item.mod.mod_options.length < 2" ng-click="viewDetails(item)" title="View Details"></span>
    <span class="fa fa-times" ng-click="removeItem(item)" title="Remove" ng-if="editing"></span>
</div>
<div class="item-index">
    {{item.index}}
</div>
<div class="image-container">
    <div class="helper"></div>
    <img ng-src="{{item.mod.image || '/mods/Default.png'}}"/>
</div>
<ul class="mod-rows">
    <li class="mod-name">
        <a ng-show="item.mod" href="#/mod/{{item.mod.id}}">{{item.mod.name}}</a>
        <span ng-show="!item.mod">{{item.name}}</span>
        <span ng-if="item.mod.aliases">({{item.mod.aliases.split(',')[0]}})</span>
    </li>
    <li ng-show="item.mod">by {{item.mod.authors}}</li>
    <li ng-show="item.mod">Released {{item.mod.released | date}}</li>
    <li ng-if="item.mod.updated">Updated {{item.mod.updated | date}}</li>
</ul>