<div class="modal-container">
    <div class="modal huge-modal">
        <div class="close-modal">
            <span class="fa fa-times" ng-click="toggleManagePluginsModal()"></span>
        </div>

        <h2>Manage Plugins</h2>

        <label class="manage-item" ng-repeat="plugin in plugins_store" ng-hide="plugin._destroy">
            <input type="checkbox" ng-click="togglePlugin(plugin)" ng-model="plugin.active"/> {{plugin.filename}}
        </label>

        <div class="content-message" ng-if="!plugins_store.length">
            No available plugins to manage.  Try adding some mods to your mod list.
        </div>
    </div>
</div>
