<div class="modal-container">
    <div class="modal huge-modal">
        <div class="close-modal">
            <span class="fa fa-times" ng-click="toggleManagePluginsModal()"></span>
        </div>

        <h2>Manage Plugins</h2>
        <table-results data="plugins_store" message="No plugins found."></table-results>

        <div class="content-message" ng-if="!plugins_store.length">
            No available plugins to manage.  Try adding some mods to your mod list.
        </div>
    </div>
</div>
