<div class="modal-container" ng-click="unfocusModDetailsModal($event)">
    <messages event="modalMessage"></messages>

    <!-- Custom Mod Details -->
    <div class="modal huge-modal" ng-if="!detailsItem.mod">
        <form>
            <div class="close-modal">
                <span class="fa fa-times" ng-click="toggleDetailsModal()"></span>
            </div>

            <h2 ng-show="editing">{{ detailsItem.is_utility ? 'Edit Custom Tool' : 'Edit Custom Mod' }}</h2>
            <h2 ng-hide="editing">{{ detailsItem.is_utility ? 'Custom Tool Details' : 'Custom Mod Details' }}</h2>

            <h3 class="section-title">Name</h3>
            <section>
                <input type="text" ng-model="detailsItem.name" ng-click="focusText($event)" spellcheck="false" ng-disabled="!editing">
            </section>

            <h3 class="section-title">Description</h3>
            <section>
                <textarea class="medium-text-area" ng-model="detailsItem.description" ng-disabled="!editing"></textarea>
            </section>

            <div class="action-button-container">
                <input type="submit" class="btn action-btn" value="Close" ng-click="toggleDetailsModal()">
            </div>
        </form>
    </div>

    <!-- Mod Options -->
    <div class="modal extra-wide-modal" ng-if="detailsItem.mod">
        <div class="close-modal">
            <span class="fa fa-times" ng-click="toggleDetailsModal()"></span>
        </div>

        <h2 ng-show="editing">{{ detailsItem.is_utility ? 'Edit Tool Options' : 'Edit Mod Options' }}</h2>
        <h2 ng-hide="editing">{{ detailsItem.is_utility ? 'View Tool Options' : 'View Mod Options' }}</h2>

        <div class="box-shadow">
            <table ng-show="detailsItem.mod.mod_options.length" class="browse-table">
                <thead>
                    <tr>
                        <th ng-repeat="column in columns" ng-click="sortColumn(column, sort, sortedColumn)" class="{{column.class}}" title="{{column.title}}">
                            {{::column.label}}
                            <div class="sorting-options" ng-if="sort && !column.unsortable">
                                <div class="sort-up" ng-class="{ 'active' : column.up }">
                                    <i class="fa fa-caret-up"></i>
                                </div>
                                <div class="sort-down" ng-class="{ 'active' : column.down }">
                                    <i class="fa fa-caret-down"></i>
                                </div>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in detailsItem.mod.mod_options | orderBy:sort.column:(sort.direction === 'DESC')">
                        <td>
                            <label class="manage-item">
                                <input type="checkbox" ng-click="toggleOption(item)" ng-model="item.active" ng-disabled="!editing"/>
                            </label>
                        </td>
                        <td class="primary-column" title="{{item.name}}">
                            <a ng-href="#" target="_blank">
                                {{item.display_name}}
                            </a>
                        </td>
                        <td>
                            {{item.default ? 'Yes' : 'No'}}
                        </td>
                        <td>
                            {{item.size | bytes}}
                        </td>
                        <td>
                            {{item.asset_files_count}}
                        </td>
                        <td>
                            <span ng-repeat="plugin in item.plugins">
                                {{plugin.filename}}{{$last ? '' : ', '}}
                                <br bindonce bo-if="!$last" />
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>