<div class="modal-container" ng-click="unfocusPluginDetailsModal($event)">
    <messages event="modalMessage"></messages>

    <!-- Custom Plugin Details -->
    <div class="modal huge-modal" ng-if="!detailsItem.plugin">
        <form>
            <div class="close-modal">
                <span class="fa fa-times" ng-click="toggleDetailsModal()"></span>
            </div>

            <h2>{{ editing ? 'Edit Custom Plugin' : 'Custom Plugin Details' }}</h2>

            <h3 class="section-title" ng-if="detailsItem.compatibility_note">
                <a ng-href="#/mod/{{detailsItem.compatibility_note.first_mod.id}}/compatibility/{{detailsItem.compatibility_note.id}}">Custom Patch</a> for
                <a ng-href="#/mod/{{detailsItem.compatibility_note.first_mod.id}}">{{detailsItem.compatibility_note.first_mod.name}}</a> and
                <a ng-href="#/mod/{{detailsItem.compatibility_note.second_mod.id}}">{{detailsItem.compatibility_note.second_mod.name}}</a>
            </h3>
            <h3 class="section-title">Filename</h3>
            <section>
                <input type="text" ng-model="detailsItem.filename" ng-click="focusText($event)" spellcheck="false" ng-if="editing">
                <span class="item-name" ng-if="!editing">{{::detailsItem.filename}}</span>
            </section>

            <div ng-show="editing || detailsItem.description">
                <h3 class="section-title" >Description</h3>
                <section>
                    <textarea class="medium-text-area" ng-model="detailsItem.description" ng-if="editing"></textarea>
                    <div marked="detailsItem.description" class="text-container" ng-if="!editing"></div>
                </section>
            </div>

            <div class="action-button-container">
                <input type="submit" class="btn action-btn" value="Close" ng-click="toggleDetailsModal()">
            </div>
        </form>
    </div>

    <!-- Plugin Details -->
    <div class="modal huge-modal" ng-if="detailsItem.plugin">
        <form>
            <div class="close-modal">
                <span class="fa fa-times" ng-click="toggleDetailsModal()"></span>
            </div>

            <h2>{{ editing ? 'Edit Plugin Details' : 'Plugin Details' }} - {{::detailsItem.plugin.filename}}</h2>

            <h3 class="section-title">Description</h3>
            <section>
                <textarea class="medium-text-area" ng-model="detailsItem.description" ng-if="editing"></textarea>
                <div marked="detailsItem.description" class="text-container" ng-if="!editing"></div>
            </section>

            <div class="action-button-container">
                <input type="submit" class="btn action-btn" value="Close" ng-click="toggleDetailsModal()">
            </div>
        </form>
    </div>
</div>
