<!-- display group -->
<td colspan="{{activeColumnsCount}}" class="group-cell">
    <div class="action-items" ng-show="editing">
        <span class="fa fa-times" ng-click="removeGroup(model, item, $index)"></span>
    </div>
    <div class="group-name" ng-if="item.name">
        <input type="text" ng-model="item.name" ng-click="focusText($event)" pu-elastic-input ng-disabled="!editing"/>
    </div>
    <div class="group-color" ng-show="editing">
        <strong>Color:</strong>
        <select ng-model="item.color">
            <option ng-repeat="option in colorOptions" value="{{option}}">{{option | humanize:1}}</option>
        </select>
    </div>

    <!-- display children of groups -->
    <table class="browse-table" ng-class="{ 'no-border' : isEmpty(item.children) }">
        <tbody dnd-list="item.children" dnd-allowed-types="['item']">
        <tr ng-repeat="item in item.children as children" ng-hide="item._destroy" dnd-draggable="item" dnd-moved="itemMoved(children, $index)" dnd-effect-allowed="move" dnd-disable-if="!editing" dnd-type="'item'" ng-class="{ 'merged' : item.merged }" table-item>
        </tr>
        <!-- display message if there are no children -->
        <tr class="content-message" ng-show="isEmpty(item.children)">
            <td>There are no {{label}} in this group.</td>
        </tr>
        <!-- drag and drop placeholder -->
        <tr class="dndPlaceholder">
            <td colspan="{{activeColumnsCount}}"></td>
        </tr>
        </tbody>
    </table>
</td>