<table class="browse-table" ng-hide="modelEmpty">
    <thead>
        <tr>
            <th ng-repeat="column in columns" ng-show="column.visibility" class="no-action {{column.fullClass}}">
                {{column.label}}
            </th>
            <th class="actions-header">
                <a ng-click="toggleModal(true)">
                    <i class="fa fa-columns" title="Edit Columns"></i>
                </a>
            </th>
        </tr>
    </thead>
    <tbody dnd-list="model" ng-class="{ 'dragging-group' : draggingGroup }">
        <tr ng-repeat="item in model" class="{{item.class}}" ng-hide="item._destroy" dnd-draggable="item" dnd-moved="itemMoved(model, $index)" dnd-effect-allowed="move" dnd-disable-if="!editing" dnd-type="{{item.dragType}}" dnd-dragstart="dragStart(item)" dnd-dragend="dragEnd()" ng-class="{ 'merged' : item.merged }" ng-include="item.templateUrl">
        </tr>
        <!-- drag and drop placeholder -->
        <tr class="dndPlaceholder">
            <td colspan="{{activeColumnsCount}}"></td>
        </tr>
    </tbody>
</table>

<div class="content-message" ng-show="modelEmpty">
    There are no {{type}} in this list.
</div>

<edit-columns-modal></edit-columns-modal>