<td ng-repeat="column in columns" ng-if="column.visibility" bindonce bo-class="column.fullClass">
    <span bindonce bo-if="!!column.dynamic">
        <a bindonce bo-if="!!column.link" class="strong" bo-href="item.columnData[$index].link" ng-bind="item.columnData[$index].data"></a>
        <span bindonce bo-if="!column.link" ng-bind="item.columnData[$index].data"></span>
        <span bindonce bo-if="!!column.note" class="note" ng-bind="item.columnData[$index].note"></span>
    </span>
    <span bindonce bo-if="!column.dynamic">
        <a bindonce bo-if="!!column.link" class="strong" bo-href="item.columnData[$index].link" bo-text="item.columnData[$index].data"></a>
        <span bindonce bo-if="!column.link" bo-text="item.columnData[$index].data"></span>
        <span bindonce bo-if="!!column.note" class="note" bo-text="item.columnData[$index].note"></span>
    </span>
</td>
<td class="actions-cell">
    <actions></actions>
</td>