<!-- display group -->
<td colspan="{{activeColumnsCount}}" class="group-cell">
    <div class="action-items" ng-show="editing">
        <span class="fa fa-times" ng-click="removeGroup(model, item, $index)"></span>
    </div>
    <div class="group-name" ng-if="item.name">
        <input class="fuzzy-input" type="text" ng-model="item.name" ng-click="focusText($event)" ng-disabled="!editing" pu-elastic-input/>
    </div>
    <div class="group-color" ng-show="editing">
        <strong>Color:</strong>
        <select ng-model="item.color">
            <option ng-repeat="option in colorOptions" value="{{option}}">{{option | humanize:1}}</option>
        </select>
    </div>

    <!-- display children of groups -->
    <table class="browse-table" ng-class="{ 'no-border' : item.childrenEmpty }">
        <tbody dnd-list="item.children" dnd-allowed-types="['item']">
            <tr ng-repeat="item in item.children as children" ng-hide="item._destroy" dnd-draggable="item" dnd-moved="itemMoved(children, $index)" dnd-effect-allowed="move" dnd-disable-if="!editing" dnd-type="'item'" ng-class="{ 'merged' : item.merged }">
                <td bindonce ng-repeat="column in columns" ng-if="column.visibility" bo-class="column.fullClass">
                    <span bindonce ng-if="::!!column.dynamic">
                        <a bindonce ng-if="::!!column.link" class="strong" bo-href="item.columnData[$index].link" ng-bind="item.columnData[$index].data"></a>
                        <span bindonce ng-if="::!column.link" ng-bind="item.columnData[$index].data"></span>
                        <span bindonce ng-if="::!!column.note" class="note" ng-bind="item.columnData[$index].note"></span>
                    </span>
                    <span bindonce ng-if="::!column.dynamic">
                        <a bindonce ng-if="::!!column.link" class="strong" bo-href="item.columnData[$index].link" bo-text="item.columnData[$index].data"></a>
                        <span bindonce ng-if="::!column.link" bo-text="item.columnData[$index].data"></span>
                        <span bindonce ng-if="::!!column.note" class="note" bo-text="item.columnData[$index].note"></span>
                    </span>
                </td>
                <td class="actions-cell">
                    <actions></actions>
                </td>
            </tr>
            <!-- display message if there are no children -->
            <tr class="content-message" ng-show="item.childrenEmpty">
                <td>There are no {{label}} in this group.</td>
            </tr>
            <!-- drag and drop placeholder -->
            <tr class="dndPlaceholder">
                <td colspan="{{activeColumnsCount}}"></td>
            </tr>
        </tbody>
    </table>
</td>