<h3 class="section-title">Recent Compatibility Notes</h3>
<section ng-repeat="note in compatibilityNotes"> <!-- this user's compatibility notes need to be retrieved -->
	<cNote note="note"></cNote>
</section>

<h3 class="section-title">Recent Load Order Notes</h3>
<section ng-repeat="note in loadOrderNotes"> <!-- this user's load order notes notes need to be retrieved -->
	<LONote note="note"></LONote>
</section>

<h3 class="section-title">Recent Install Order Notes</h3>
<section ng-repeat="note in installOrderNotes"> <!-- this user's install order notes need to be retrieved -->
	<iNote note="note"></iNote>
</section>

<h3 class="section-title">Recent Reviews</h3>
<section ng-repeat="review in reviews"> <!-- this user's reviews need to be retrieved -->
	<review review="review"></review>
</section>
