<% content_for :head do %>
    <title>Mod Picker: Help Center - <%= @page_title %></title>
<% end %>

<div class="page-container help-list-page">
    <h1 class="page-title"><%= @page_title %></h1>

    <% if @help_pages.length > 0 || @help_videos.length > 0 %>
        <%= render "list" %>
    <% else %>
        <div class="content-message">
            There are no help pages for this game.
        </div>
    <% end %>
</div>