<messages></messages>

<div class="header-tabs">
    <div class="page-container">
        <h1>Edit {{mod.name}}
            <span class="action-box right-item" ng-click="hideTooltips = !hideTooltips">
                <i class="fa fa-eye{{ hideTooltips ? '' : '-slash'}}"></i>
                {{ hideTooltips ? 'Show' : 'Hide'}} Help Tooltips
            </span>
        </h1>
        <div class="settings-tabs">
            <tabs tabs="tabs"></tabs>
        </div>
    </div>
</div>

<div class="page-container">
    <div class="single-column">
        <form spellcheck="false">
            <tab-views></tab-views>
        </form>

        <div class="action-button-container">
            <input class="btn action-btn" type="submit" ng-disabled='submitting || !modValid()' ng-click="saveChanges()" value="Save Changes"/>
        </div>
    </div>
</div>

<submission-modal></submission-modal>
