<span ng-if="!siteUsername">
    <span class="input-label">{{siteLabel}}</span>
    <input type="button" class="btn" value="link" ng-click="toggleModal()">
</span>
<div ng-if="siteUsername">
    <h4>{{siteLabel}}</h4>
    {{siteLabel}} Account: {{siteUsername}}
    Date Joined: {{siteDateJoined | date}}
    Posts Count: {{sitePostsCount | number}}
</div>
<div class="modal-container" ng-show="showModal">
    <div class="modal big-modal">
        <form>
            <h3 class="section-title">Link {{siteLabel}} Account</h3>
            <messages success-bool="verified" errors="errors" success-message="Account verified!"></messages>

            <section>
                <p>Linking your {{siteLabel}} account will give you reputation for
                    your {{siteLabel}} community participation and mods.  Linking
                    your account will also give you authorship over any mods you
                    have submitted to {{siteLabel}} which are listed on Mod Picker.</p>
            </section>

            <section>
                <h4>Directions to link your account</h4>
                <!-- todo: add screenshots -->
                <ol>
                    <li>Login to <a ng-href="{{site.loginUrl}}">{{siteLabel}}</a>.</li>
                    <li>Navigate to your public forum profile page.</li>
                    <li>Post a status update with the verification key provided below.</li>
                    <li>Copy the web address of your profile page into the Profile URL
                        input below.</li>
                    <li>Click the Verify button.</li>
                </ol>
            </section>

            <section>
                <label>
                    <span class="input-label">Your Verification Key</span>
                    <input type="text" class="verification-key-input" ng-model="siteVerificationToken" ng-click="focusText($event)" spellcheck="false" readonly>
                </label>
            </section>

            <section>
                <label>
                    <div>Profile URL</div>
                    <input type="text" class="long-input" ng-model="userUrl" ng-change="validateUrl()" ng-disabled="verified">
                </label>

                <input type="button" class="btn verify-button" value="Verify" ng-click="verifyUser()" ng-disabled="!urlValid || waiting || verified">
            </section>

            <div class="action-button-container">
                <input type="submit" class="btn action-btn" value="Close" ng-click="toggleModal()">
            </div>
        </form>
    </div>
</div>
