<div class="scaffold">
  <p id="notice"><%= notice %></p>

    <p>
    <strong>ll_id:</strong>
    <%= @lover_info.ll_id %>
  </p>

    <%= link_to 'Edit', edit_lover_info_path(@lover_info) %> |
  <%= link_to 'Back', lover_infos_path %>
</div>