<div class="scaffold">
  <h1>Editing mod_list_compatibility_note</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @mod_list_compatibility_note %> |
  <%= link_to 'Back', mod_list_compatibility_notes_path %>
</div>