<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width,height=device-height,target-densitydpi=device-dpi,user-scalable=no">
    <title>Mod Picker - Password Changed</title>
    <style>
        * {
            font-family: Optima,Segoe,Segoe UI,Candara,Calibri,sans-serif;
        }

        body {
            background-color: #f0f0f0;
        }

        .container {
            max-width: 600px;
            margin: auto;
            margin-top: 60px;
            margin-bottom: 60px;
            background-color: #ffffff;
            border: 2px solid #e0e0e0;
            padding: 30px;
        }

        p {
            font-size: 17px;
        }

        a {
            color: #4599d7;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
        }

        a:hover {
            color: #2e679d;
        }

        .time-helper {
            cursor: pointer;
            color: inherit;
            text-decoration-line: underline;
            text-decoration-style: dashed;
            text-decoration-color: #888;
        }

        .greeting {
            font-weight: 100;
            font-size: 24px;
            margin-bottom: 6px;
            margin-top: 0;
        }

        .button-container {
            text-align: center;
        }

        .button {
            text-decoration: none;
            padding: 14px;
            display: inline-block;
            margin: 22px;
            margin-top: 12px;
            font-size: 23px;
            background: #4599d7;
            background: -webkit-gradient(linear, left top, left bottom, from(#2e679d), to(#4599d7));
            background: -webkit-linear-gradient(top, #2e679d, #4599d7);
            background: -moz-linear-gradient(top, #2e679d, #4599d7);
            background: -ms-linear-gradient(top, #2e679d, #4599d7);
            background: -o-linear-gradient(top, #2e679d, #4599d7);
            opacity: 0.8;
            -webkit-box-shadow: rgba(0,0,0,1) 0px 1px 3px;
            -moz-box-shadow: rgba(0,0,0,1) 0px 1px 3px;
            box-shadow: rgba(0,0,0,1) 0px 1px 3px;
            text-shadow: rgba(0,0,0,.4) 1px 1px 0;
            color: white;
            font-family: Georgia, serif;
            vertical-align: middle;
            -webkit-transition: all 0.4s ease-in-out;
            -moz-transition: all 0.4s ease-in-out;
            -o-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
        }

        .button:hover {
            color: white;
            opacity: 1.0;
        }
    </style>
</head>
<body>
    <div class="container">
        <p>Hello <%= @resource.username %>,</p>

        <p>Your password has been successfully changed.  If you did not change your password please contact us immediately at <a href="mailto:modpicker@gmail.com">modpicker@gmail.com</a>.</p>

        <br>
        <p>Sincerely,<br>
            The Mod Picker Team<br>
            <a href="https://www.modpicker.com">www.modpicker.com</a>
        </p>
    </div>
</body>
</html>
