<footer>
  <div class="page-container">
    <div class="left-column wide-column">
      <span class="logo"><h1>Mod Picker</h1></span>
      &copy;2016 Mod Picker, LLC.  All rights reserved.
    </div>
    <div class="right-column">
      <section>
        <span class="section-title">
          Browse Content
        </span>
        <ul>
          <li><a class="inverse-link" ui-sref="base.mods">Mods</a></li>
          <li><a class="inverse-link" ui-sref="base.mod-lists">Mod Lists</a></li>
          <li><a class="inverse-link" ui-sref="base.users">Users</a></li>
          <li><a class="inverse-link" ui-sref="base.comments">Comments</a></li>
        </ul>
      </section>
      <section>
        <span class="section-title">
          Browse Contributions
        </span>
        <ul>
          <li><a class="inverse-link" ui-sref="base.reviews">Reviews</a></li>
          <li><a class="inverse-link" ui-sref="base.compatibility-notes">Compatibility Notes</a></li>
          <li><a class="inverse-link" ui-sref="base.load-order-notes">Load Order Notes</a></li>
          <li><a class="inverse-link" ui-sref="base.install-order-notes">Install Order Notes</a></li>
          <li><a class="inverse-link" ui-sref="base.corrections">Corrections</a></li>
        </ul>
      </section>
      <section>
        <span class="section-title">
          Mod Picker
        </span>
        <ul>
          <li><a class="inverse-link" ui-sref="base.home">About Us</a></li>
          <li><a class="inverse-link" ui-sref="base.home">Terms of Service</a></li>
          <li><a class="inverse-link" ui-sref="base.home">Privacy Policy</a></li>
          <li><a class="inverse-link" ui-sref="base.home">Help Center</a></li>
          <li><a class="inverse-link" ui-sref="base.home">Contact</a></li>
        </ul>
      </section>
      <section>
        <span class="section-title">
          Social Media
        </span>
        <ul>
          <li><a class="inverse-link" href="https://twitter.com/Mod_Picker">Twitter</a></li>
          <li><a class="inverse-link" href="https://www.youtube.com/channel/UCWqJeb-T5-k-AnWZTF_0ZAw">YouTube</a></li>
          <li><a class="inverse-link" href="https://www.facebook.com/modpicker">Facebook</a></li>
        </ul>
      </section>
    </div>
  </div>
</footer>
