<header>
  <div class="page-container">
    <div class="header">
      <a class="logo" href="/"><h1>Mod Picker</h1></a>
      <div class="nav-controls">
        <!-- User signed in navigation -->
        <ul class="user-nav" ng-if="currentUser">
          <li>
            Welcome <a class="inverse-link" ng-href="#/user/{{currentUser.id}}">{{currentUser.username}}</a>
          </li>
          <li>
            <a class="inverse-link" href="#/settings/mod_lists">Saved Mod Lists</a>
          </li>
          <li>
            <a class="inverse-link" ui-sref="base.settings">Settings</a>
          </li>
          <li>
            <a class="inverse-link" href="/users/sign_out">Log Out</a>
          </li>
          <li>
            <game-select games="games" selected-game="currentGame"></game-select>
          </li>
        </ul>
        <!-- User signed out navigation -->
        <ul class="user-nav" ng-if="!currentUser">
          <li>
            <a class="inverse-link" href="/users/sign_in">Log In</a>
          </li>
          <li>
            <a class="inverse-link" href="/users/sign_up">Register</a>
          </li>
          <li>
            <game-select games="games" selected-game="currentGame"></game-select>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
