<two-columns>
    <div class="page-container">
        <div class="column-wrapper">
            <div class="left-column">
                <h2>Filters</h2>
                <h3>Mod List</h3>
                <div class="sidebar-box">
                    <ul class="filter-list">
                        <li>
                            <input id="compatibility_enabled" type="checkbox">
                            <label for="compatibility_enabled">Enable compatibility filter</label>
                        </li>
                        <li class="half-box">
                            <h4>Mods</h4>
                            <a href="#">123</a> <!-- PLACEHOLDER VALUE -->
                        </li>
                        <li class="half-box">
                            <h4>Plugins</h4>
                            <a href="#">98</a> <!-- PLACEHOLDER VALUE -->
                        </li>
                    </ul>
                </div>
                <div id="search-filter" class="filter-section">
                    <h3>Search</h3>
                    <!-- TODO: Use directives here -->

                    <h4>Submitted by</h4>
                    <input id="submitted_text" type="text" title="Submitted by">

                    <h4>Mod</h4>
                    <input id="mod_text" type="text" title="Mod">
                </div>
                <div id="date-filters" class="filter-section">
                    <h3>Date Filters</h3>
                    <h4>Date Submitted</h4>
                    <slider data="data.dateSubmitted" type="UserGeneratedListDateSlider"></slider>

                    <h4>Date Edited</h4>
                    <slider data="data.dateEdited" type="UserGeneratedListDateSlider"></slider>
                </div>
                <div id="type-filters" class="filter-section">
                    <h3>Type</h3>
                    <div class="sidebar-box">
                        <ul class="filter-list">
                            <li>
                                <input id="type_install_order" type="checkbox">
                                <label for="type_install_order">Install Order</label>
                            </li>
                            <li>
                                <input id="type_load_order" type="checkbox">
                                <label for="type_load_order">Load Order</label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="standing-filters" class="filter-section">
                    <h3>Standing</h3>
                    <div class="sidebar-box">
                        <ul class="filter-list">
                            <li>
                                <input id="standing_good" type="checkbox">
                                <label for="standing_good">Good</label>
                            </li>
                            <li>
                                <input id="standing_unknown" type="checkbox">
                                <label for="standing_unknown">Unknown</label>
                            </li>
                            <li>
                                <input id="standing_bad" type="checkbox">
                                <label for="standing_bad">Bad</label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="helpfulness-filter" class="filter-section">
                    <h3>Helpfulness</h3>
                    <slider data="data.helpfulness" type="StepSlider" attr="500"></slider>
                </div>
            </div>
            <div class="right-column">
                <h2>Installation Notes</h2>
                <loader data="inotes">
                    <inote-results data="inotes"></inote-results>
                </loader>
            </div>
        </div>
    </div>
</two-columns>
