<two-columns>
	<div class="page-container">
		<div class="left-column wide-column">
			<div class="recent-box">
				<h3 class="section-title">Recent Modlists</h3>
					<section ng-repeat="modlist in landingData.recent.mod_lists">
						<a ng-href="#/modlist/{{modlist.id}}">
							<div class="recent-thing">
								<div>
									<img ng-src="{{modlist.user.avatar}}">
								</div>
								<div>
									<span class="recent-title">{{modlist.name}}</span>
									<span> by {{modlist.user.username}}</span>
									<span> {{modlist.mods_count | number}} mods, {{modlist.plugins_count | number}} plugins</span>
									<span> Completed on {{modlist.completed | date}}</span> <!--TODO: needs data for last update date -->
								</div>
							</div>
						</a>
					</section>
					<a href="#/modlists" class="explanation">Browse All</a> <!--TODO: link to search sorting by recent using params -->
			</div>

			<div class="recent-box">
				<h3 class="section-title">Recent Mods</h3>
					<section ng-repeat="mod in landingData.recent.mods">
						<a ng-href="#/mod/{{mod.id}}">
							<div class="recent-thing">
								<div>
									<img ng-src="{{mod.image}}">
								</div>
								<div>
									<span class="recent-title">{{mod.name}}</span>
									<span> by {{mod.user.username}}</span>
									<span> {{mod.average_rating | number: 0}} /100 ({{mod.reviews_count | number}} Reviews)</span>
									<span> In {{modlist.modlists_count}} mod lists</span><!-- TODO: needs data for how many modlists the mod is in -->
								</div>
							</div>
						</a>
					</section>
					<a href="#/mods" class="explanation">Browse All</a> <!--TODO: link to search sorting by recent using params -->
			</div>
		</div>
		<div class="right-column">
			<div class="articles">
				<h3 class="section-title">Site News</h3>
				<div class="news-box" ng-repeat="article in landingData.articles">
					<h3 class="section-title">{{article.title}}</h3>
					by {{article.submitted_by}} {{article.created_at | date}}
					<section marked="article.text_body" ng-class="article.expanded ? 'news' : 'news show-less'">
					</section>
					<a ng-if="article.text_body.length > 700" ng-click="article.expanded = !article.expanded">Show {{article.expanded ? 'Less' : 'More'}}</a>
				</div>
				<div class="load-older-posts">
					<a href="#/news/">See All News Posts</a>
				</div>
			</div>
			<div class="recent-notes-tabs">
				<h3 class="section-title">Recent Contributions</h3>
		        <tabs current-tab="currentTab" tabs="tabs"></tabs>
		        <div class="recent-notes-tab">
					<ng-include src="currentTab.url"></ng-include>
		        </div>
	        </div>
		</div>
	</div>
</two-columns>
