<loader condition="loading"></loader>
< ng-show="mod">
    <h1>{{mod.name}}</h1>
    <hr/>
    <!-- TODO: Commalogic -->
    <p>by {{mod.nexus_info.authors}} </p>
    <p>Versions</p>
    <p><span ng-repeat="version in mod.versions">{{version.version}}</span> </p>

    <p>{{mod.shortDescription}}</p>

    <table>
        <tr>
            <td>Endorsements</td>
            <td>Unique Downloads</td>
            <td>Endorse Rate</td>
            <td>Release Date</td>
            <td>Last Update</td>
            <td>Total Downloads</td>
        </tr>
        <tr>
            <td>{{mod.nexus_info.endorsements}}</td>
            <td>{{mod.nexus_info.unique_downloads}}</td>
            <td>{{mod.nexus_info.endorsements}}</td>
            <td>{{mod.nexus_info.date_released}}</td>
            <td>{{mod.nexus_info.date_updated}}</td>
            <td>{{mod.nexus_info.total_downloads}}</td>
        </tr>
    </table>
    <hr/>
    <expandable expanded="false" title="'I\'m the title'">
        <span>I'm expandable content.</span>
    </expandable>
    <hr/>
    <expandable expanded="false" title="'I\'m a much bigger title'">
        <h1>I'm another content</h1>
        <p>I'm a bit bigger.</p>
    </expandable>
    <hr/>
</div>