<div class="page-container">
	<div title="modlist-header">
		<div title="modlist-title=container">
			<h1>Mod List Title</h1>
		</div>
		<div title="status-bar-container">
			[Status Bar]
		</div>
	</div>
    <div class="page-container">
    <div title="tabs-wrapper" class="tabs">
    	<a>Details</a>
    	<a>Tools</a>
    	<a>Mods</a>
    	<a>Plugin</a>
    	<a>Config</a>
    	<a>Comments</a>
    </div>
    </div>
    <div class="single-column" title="body">

    	<div title="Object1-container">
    		ModList Options(sometimes) | Overview | INI Files | Comments
    	</div>
		<p></p>
    	<div title="Object2-container">
    		Overview(details) | Tools(list) | Mods(List/Details) | Plugins | ENB Files
    	</div>
		<p></p>
    	<div title="Object3-container">
    		Description | Missing Requirements 
    	</div>
		<p></p>
    	<div title="Object4-container">
    		Compatibility Issues
    	</div>
		<p></p>
    	<div title="Object5-container">
    		Install Order Issues | Load Order Issues
    	</div>
    	<p></p>
    	<div title="Object6-container">
    		Asset Conflicts | Record Conflicts
    	</div>
		<p></p>
    </div>
    <div title="SaveOverlay-wrapper">
    	Edit / Save / Cancel Overlay
    </div>
</div>