<div class="column-wrapper">
    <div class="left-column">
        <h2>Filters</h2>
        <h3>Mod List</h3>
        <div class="sidebar-box">
            <ul class="filter-list">
                <li>
                    <label><input id="compatibility_enabled" type="checkbox">
                        Enable compatibility filter</label>
                </li>
                <li class="half-box">
                    <h4>Mods</h4>
                    <a href="#">123</a> <!-- PLACEHOLDER VALUE -->
                </li>
                <li class="half-box">
                    <h4>Plugins</h4>
                    <a href="#">98</a> <!-- PLACEHOLDER VALUE -->
                </li>
            </ul>
        </div>
        <div id="site-filters" class="filter-section">
            <h3>Sources</h3>
            <ul class="filter-list">
                <li>
                    <label><input id="nexus_mods" type="checkbox" checked="checked">
                        Nexus Mods</label>
                </li>
                <li>
                    <label><input id="steam_workshop" type="checkbox">
                        Steam Workshop</label>
                </li>
                <li>
                    <label><input id="lovers_lab" type="checkbox">
                        Lovers Lab</label>
                </li>
            </ul>
        </div>
        <div id="category-filters" class="filter-section" ng-controller="categoryPickerTreeController">
            <h3>Categories <span class="filter-controls">
                <span class="fa fa-eraser" ng-click="clearSelection()" title="Clear Selection"></span>
                <span class="fa fa-adjust" ng-click="inverseSelection()" title="Inverse Selection"></span>
            </span></h3>

            <div class="sidebar-box">
                <div ng-controller="categoryPickerTreeController" class="category-picker-tree">
                    <div ng-repeat="primaryCategory in categories">
                        <expandable expanded="categoryFilter[primaryCategory.id].expanded" disable-style="true" disable-full-title-toggle="true" ng-show="primaryCategory.childs.length">
                            <expanded-title>
                                <label class="supercategory">
                                    <input type="checkbox" ng-model="categoryFilter[primaryCategory.id].value" ng-indeterminate="categoryFilter[primaryCategory.id].indeterminate" ng-change="updateSelection(primaryCategory.id)"/>
                                    <span>{{primaryCategory.name}}</span>
                                </label>
                            </expanded-title>
                            <content>
                                <div class="sub-category" ng-repeat="secondaryCategory in primaryCategory.childs">
                                    <label>
                                        <input type="checkbox" ng-model="categoryFilter[primaryCategory.id].childs[secondaryCategory.id].value" ng-change="updateSelection(primaryCategory.id, secondaryCategory.id)"/>
                                        <span>{{secondaryCategory.name}}</span>
                                    </label>
                                </div>
                            </content>
                        </expandable>

                        <!-- TODO: kill duplication-->
                        <!-- not the best approach, not sure if there's a better way to do it -->
                        <div ng-hide="primaryCategory.childs.length">
                            <div class="expandable-title-container">
                                <span class="no-icon"></span>
                                <label class="supercategory">
                                    <input type="checkbox" ng-model="categoryFilter[primaryCategory.id].value" ng-indeterminate="categoryFilter[primaryCategory.id].indeterminate" ng-change="updateSelection(primaryCategory.id)"/>
                                    <span>{{primaryCategory.name}}</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="date-filters" class="filter-section">
            <h3>Date Filters</h3>
            <h4>Date Updated <span class="filter-controls">
                <span class="fa fa-calendar" ng-click="" title="Custom Date"></span>
            </span></h4>
            <slider data="data.updated" type="ModListDateSlider"></slider>

            <h4>Date Released <span class="filter-controls">
                <span class="fa fa-calendar" ng-click="" title="Custom Date"></span>
            </span></h4>
            <slider data="data.released" type="ModListDateSlider"></slider>
        </div>
        <div id="mod-picker-filters" class="filter-section">
            <h3>Mod Picker Filters</h3>
            <div id="mod-picker-stat-filters" class="filter-section">
                <h4>Reputation <span class="filter-controls">
                    <span class="fa fa-wrench" ng-click="" title="Custom Value"></span>
                </span></h4>
                <slider data="data.reputation" type="CeilSlider" attr="450"></slider>

                <h4>Average Rating</h4>
                <slider data="data.rating" type="CeilSlider" attr="100"></slider>

                <h4>Reviews Count</h4>
                <slider data="data.reviews" type="CeilSlider" attr="200"></slider>
            </div>
            <div id="mod-picker-ext-filters" class="filter-section">
                <h4>Number of Stars <span class="filter-controls">
                    <span class="fa fa-wrench" ng-click="" title="Custom Value"></span>
                </span></h4>
                <slider data="data.stars" type="StepSlider" attr="1000"></slider>

                <h4>Compatibility Notes Count</h4>
                <slider data="data.cNotes" type="CeilSlider" attr="100"></slider>

                <h4>Installation Notes Count</h4>
                <slider data="data.iNotes" type="CeilSlider" attr="100"></slider>
            </div>
        </div>
        <div id="nexus-mods-filters" class="filter-sections">
            <h3>Nexus Mods Filters</h3>
            <div id="nexus-mods-stat-filters" class="filter-section">
                <h4>Endorsements <span class="filter-controls">
                    <span class="fa fa-wrench" ng-click="" title="Custom Value"></span>
                </span></h4>
                <slider data="data.endorsements" type="StepSlider" attr="500000"></slider>

                <h4>Unique Downloads <span class="filter-controls">
                    <span class="fa fa-wrench" ng-click="" title="Custom Value"></span>
                </span></h4>
                <slider data="data.uniqueDownloads" type="StepSlider" attr="10000000"></slider>

                <h4>Total Downloads <span class="filter-controls">
                    <span class="fa fa-wrench" ng-click="" title="Custom Value"></span>
                </span></h4>
                <slider data="data.totalDownloads" type="StepSlider" attr="50000000"></slider>
            </div>
            <div id="nexus-mods-ext-filters" class="filter-section">
                <h4>Views <span class="filter-controls">
                    <span class="fa fa-wrench" ng-click="" title="Custom Value"></span>
                </span></h4>
                <slider data="data.views" type="StepSlider" attr="50000000"></slider>

                <h4>Posts Count <span class="filter-controls">
                    <span class="fa fa-wrench" ng-click="" title="Custom Value"></span>
                </span></h4>
                <slider data="data.posts" type="StepSlider" attr="500000"></slider>

                <h4>Videos Count</h4>
                <slider data="data.videos" type="CeilSlider" attr="50"></slider>

                <h4>Images Count <span class="filter-controls">
                    <span class="fa fa-wrench" ng-click="" title="Custom Value"></span>
                </span></h4>
                <slider data="data.images" type="StepSlider" attr="1000"></slider>

                <h4>Files Count</h4>
                <slider data="data.files" type="CeilSlider" attr="200"></slider>

                <h4>Articles Count</h4>
                <slider data="data.articles" type="CeilSlider" attr="50"></slider>
            </div>
        </div>
    </div>
    <div class="right-column">
        <h2>Mods</h2>
        <loader data="mods">
            <mod-results data="mods"></mod-results>
        </loader>
    </div>
</div>