<div class="column-wrapper">
    <div class="left-column">
        <h2>Filters</h2>
        <h3>Mod List</h3>
        <div class="sidebar-box">
            <ul class="filter-list">
                <li>
                    <input id="compatibility_enabled" type="checkbox">
                    <label for="compatibility_enabled">Enable compatibility filter</label>
                </li>
                <li class="half-box">
                    <h4>Mods</h4>
                    <a href="#">123</a> <!-- PLACEHOLDER VALUE -->
                </li>
                <li class="half-box">
                    <h4>Plugins</h4>
                    <a href="#">98</a> <!-- PLACEHOLDER VALUE -->
                </li>
            </ul>
        </div>
        <div id="site-filters" class="filter-section">
            <h3>Sources</h3>
            <ul class="filter-list">
                <li>
                    <input id="nexus_mods" type="checkbox" checked="checked">
                    <label for="nexus_mods">Nexus Mods</label>
                </li>
                <li>
                    <input id="steam_workshop" type="checkbox">
                    <label for="steam_workshop">Steam Workshop</label>
                </li>
                <li>
                    <input id="lovers_lab" type="checkbox">
                    <label for="lovers_lab">Lovers Lab</label>
                </li>
            </ul>
        </div>
        <div id="category-filters" class="filter-section">
            <h3>Categories</h3>
            <category-tree data="categories"></category-tree>
        </div>
        <div id="date-filters" class="filter-section">
            <h3>Date Filters</h3>
            <h4>Date Updated</h4>
            <rzslider rz-slider-model="slUpdated.minValue"
                      rz-slider-high="slUpdated.maxValue"
                      rz-slider-options="dateSlider.options"></rzslider>

            <h4>Date Released</h4>
            <rzslider rz-slider-model="slReleased.minValue"
                      rz-slider-high="slReleased.maxValue"
                      rz-slider-options="dateSlider.options"></rzslider>
        </div>
        <div id="nexus-mods-filters" class="filter-sections">
            <h3>Nexus Mods Filters</h3>
            <div id="nexus-mods-stat-filters" class="filter-section">
                <h4>Endorsements</h4>
                <rzslider rz-slider-model="slEndorsements.minValue"
                          rz-slider-high="slEndorsements.maxValue"
                          rz-slider-options="slEndorsements.options"></rzslider>

                <h4>Unique Downloads</h4>
                <rzslider rz-slider-model="slUniqueDownloads.minValue"
                          rz-slider-high="slUniqueDownloads.maxValue"
                          rz-slider-options="slUniqueDownloads.options"></rzslider>

                <h4>Total Downloads</h4>
                <rzslider rz-slider-model="slTotalDownloads.minValue"
                          rz-slider-high="slTotalDownloads.maxValue"
                          rz-slider-options="slTotalDownloads.options"></rzslider>

                <h4>Views</h4>
                <rzslider rz-slider-model="slViews.minValue"
                          rz-slider-high="slViews.maxValue"
                          rz-slider-options="slViews.options"></rzslider>
            </div>
            <div ng-show="nm_visible" id="nexus-mods-ext-filters" class="filter-section">
                <h4>Posts Count</h4>
                <rzslider rz-slider-model="slPosts.minValue"
                          rz-slider-high="slPosts.maxValue"
                          rz-slider-options="slPosts.options"></rzslider>

                <h4>Videos Count</h4>
                <rzslider rz-slider-model="slVideos.minValue"
                          rz-slider-high="slVideos.maxValue"
                          rz-slider-options="slVideos.options"></rzslider>

                <h4>Images Count</h4>
                <rzslider rz-slider-model="slImages.minValue"
                          rz-slider-high="slImages.maxValue"
                          rz-slider-options="slImages.options"></rzslider>

                <h4>Files Count</h4>
                <rzslider rz-slider-model="slFiles.minValue"
                          rz-slider-high="slFiles.maxValue"
                          rz-slider-options="slFiles.options"></rzslider>

                <h4>Articles Count</h4>
                <rzslider rz-slider-model="slArticles.minValue"
                          rz-slider-high="slArticles.maxValue"
                          rz-slider-options="slArticles.options"></rzslider>
            </div>
            <a class="expand" ng-click="nm_toggle()">{{ nm_visible ? 'Show less' : 'Show more...' }}</a>
        </div>
        <div id="mod-picker-filters" class="filter-section">
            <h3>Mod Picker Filters</h3>
            <div id="mod-picker-stat-filters" class="filter-section">
                <h4>Reputation</h4>
                <rzslider rz-slider-model="slReputation.minValue"
                          rz-slider-high="slReputation.maxValue"
                          rz-slider-options="slReputation.options"></rzslider>

                <h4>Average Rating</h4>
                <rzslider rz-slider-model="slRating.minValue"
                          rz-slider-high="slRating.maxValue"
                          rz-slider-options="slRating.options"></rzslider>

                <h4>Reviews Count</h4>
                <rzslider rz-slider-model="slReviews.minValue"
                          rz-slider-high="slReviews.maxValue"
                          rz-slider-options="slReviews.options"></rzslider>

                <h4>Number of Stars</h4>
                <rzslider rz-slider-model="slStars.minValue"
                          rz-slider-high="slStars.maxValue"
                          rz-slider-options="slStars.options"></rzslider>
            </div>
            <div ng-show="mp_visible" id="mod-picker-ext-filters" class="filter-section">
                <h4>Compatibility Notes Count</h4>
                <rzslider rz-slider-model="slCnotes.minValue"
                          rz-slider-high="slCnotes.maxValue"
                          rz-slider-options="slCnotes.options"></rzslider>

                <h4>Installation Notes Count</h4>
                <rzslider rz-slider-model="slInotes.minValue"
                          rz-slider-high="slInotes.maxValue"
                          rz-slider-options="slInotes.options"></rzslider>
            </div>
            <a class="expand" ng-click="mp_toggle()">{{ mp_visible ? 'Show less' : 'Show more...' }}</a>
        </div>
    </div>
    <div class="right-column">
        <h2>Mods</h2>
        <mod-results data="mods"></mod-results>
    </div>
</div>
<loader condition="loading"></loader>