<two-columns>
    <div class="page-container">
        <div class="column-wrapper">
            <div class="left-column">
                <h2>Filters</h2>

                <div id="mod-list-filters" class="filter-section">
                    <h3>Mod List</h3>
                    <div class="sidebar-box">
                        <ul class="checkbox-list">
                            <li>
                                <label><input id="compatibility_enabled" type="checkbox">
                                    Enable compatibility filter</label>
                            </li>
                            <li class="half-box">
                                <h4>Mods</h4>
                                <a href="#">123</a> <!-- PLACEHOLDER VALUE -->
                            </li>
                            <li class="half-box">
                                <h4>Plugins</h4>
                                <a href="#">98</a> <!-- PLACEHOLDER VALUE -->
                            </li>
                        </ul>
                    </div>
                </div>

                <div id="site-filters" class="filter-section">
                    <h3>Sources</h3>
                    <div class="sidebar-box">
                        <ul class="checkbox-list">
                            <li>
                                <label><input id="nexus_mods" type="checkbox" checked="checked">
                                    Nexus Mods</label>
                            </li>
                            <li>
                                <label><input id="steam_workshop" type="checkbox">
                                    Steam Workshop</label>
                            </li>
                            <li>
                                <label><input id="lovers_lab" type="checkbox">
                                    Lovers Lab</label>
                            </li>
                        </ul>
                    </div>
                </div>

                <category-tree id="category-filters" class="filter-section" selection="filters.categories" toggle-all="true"></category-tree>

                <div id="tag-filters" class="filter-section">
                    <h3>Tags</h3>
                    <tag-selector tags="tags" active-tags="[]" new-tags="filters.tags" show-mods-count="true" show-add="true" max-tags="10"></tag-selector>
                </div>

                <div id="date-filters" class="filter-section">
                    <h3>Date Filters</h3>
                    <h4>Date Updated <span class="filter-controls">
                        <span class="fa fa-calendar" ng-click="" title="Custom Date"></span>
                    </span></h4>
                    <slider data="filters.updated" type="ModListDateSlider"></slider>

                    <h4>Date Released <span class="filter-controls">
                        <span class="fa fa-calendar" ng-click="" title="Custom Date"></span>
                    </span></h4>
                    <slider data="filters.released" type="ModListDateSlider"></slider>
                </div>

                <div id="mod-picker-filters" class="filter-section">
                    <h3>Mod Picker Filters</h3>
                    <div id="mod-picker-stat-filters" class="filter-section">
                        <h4>Reputation <span class="filter-controls">
                            <span class="fa fa-wrench" ng-click="" title="Custom Value"></span>
                        </span></h4>
                        <slider data="filters.reputation" type="CeilSlider" attr="450"></slider>

                        <h4>Average Rating</h4>
                        <slider data="filters.rating" type="CeilSlider" attr="100"></slider>

                        <h4>Reviews Count</h4>
                        <slider data="filters.reviews" type="CeilSlider" attr="200"></slider>
                    </div>
                    <div id="mod-picker-ext-filters" class="filter-section" ng-if="mp_visible">
                        <h4>Number of Stars <span class="filter-controls">
                            <span class="fa fa-wrench" ng-click="" title="Custom Value"></span>
                        </span></h4>
                        <slider data="filters.stars" type="StepSlider" attr="1000"></slider>

                        <h4>Compatibility Notes Count</h4>
                        <slider data="filters.cNotes" type="CeilSlider" attr="100"></slider>

                        <h4>Installation Notes Count</h4>
                        <slider data="filters.iNotes" type="CeilSlider" attr="100"></slider>
                    </div>
                    <a class="expand" ng-click="mp_toggle()">{{ mp_visible ? 'Show less' : 'Show more...' }}</a>
                </div>

                <div id="nexus-mods-filters" class="filter-sections">
                    <h3>Nexus Mods Filters</h3>
                    <div id="nexus-mods-stat-filters" class="filter-section">
                        <h4>Endorsements <span class="filter-controls">
                            <span class="fa fa-wrench" ng-click="" title="Custom Value"></span>
                        </span></h4>
                        <slider data="filters.endorsements" type="StepSlider" attr="500000"></slider>

                        <h4>Unique Downloads <span class="filter-controls">
                            <span class="fa fa-wrench" ng-click="" title="Custom Value"></span>
                        </span></h4>
                        <slider data="filters.uniqueDownloads" type="StepSlider" attr="10000000"></slider>

                        <h4>Total Downloads <span class="filter-controls">
                            <span class="fa fa-wrench" ng-click="" title="Custom Value"></span>
                        </span></h4>
                        <slider data="filters.totalDownloads" type="StepSlider" attr="50000000"></slider>
                    </div>
                    <div id="nexus-mods-ext-filters" class="filter-section" ng-if="nm_visible">
                        <h4>Views <span class="filter-controls">
                            <span class="fa fa-wrench" ng-click="" title="Custom Value"></span>
                        </span></h4>
                        <slider data="filters.views" type="StepSlider" attr="50000000"></slider>

                        <h4>Posts Count <span class="filter-controls">
                            <span class="fa fa-wrench" ng-click="" title="Custom Value"></span>
                        </span></h4>
                        <slider data="filters.posts" type="StepSlider" attr="500000"></slider>

                        <h4>Videos Count</h4>
                        <slider data="filters.videos" type="CeilSlider" attr="50"></slider>

                        <h4>Images Count <span class="filter-controls">
                            <span class="fa fa-wrench" ng-click="" title="Custom Value"></span>
                        </span></h4>
                        <slider data="filters.images" type="StepSlider" attr="1000"></slider>

                        <h4>Files Count</h4>
                        <slider data="filters.files" type="CeilSlider" attr="200"></slider>

                        <h4>Articles Count</h4>
                        <slider data="filters.articles" type="CeilSlider" attr="50"></slider>
                    </div>
                    <a class="expand" ng-click="nm_toggle()">{{ nm_visible ? 'Show less' : 'Show more...' }}</a>
                </div>
            </div>
            <div class="right-column">
                <h2>Mods</h2>
                <loader data="mods">
                    <mod-results data="mods"></mod-results>
                </loader>
            </div>
        </div>
    </div>
</two-columns>
