<div class="column-wrapper">
    <div class="left-column">
        <h2>Filters</h2>
        <div id="search-filter" class="filter-section">
            <h3>Search</h3>
            <!-- TODO: Use directives here -->

            <h4>Submitted by</h4>
            <input id="submitted_text" type="text" title="Submitted by">

            <h4>Mod</h4>
            <input id="mod_text" type="text" title="Mod">
        </div>
        <div id="date-filters" class="filter-section">
            <h3>Date Filters</h3>
            <h4>Date Submitted</h4>
            <rzslider rz-slider-model="slSubmitted.minValue"
                      rz-slider-high="slSubmitted.maxValue"
                      rz-slider-options="dateSlider.options"></rzslider>

            <h4>Date Edited</h4>
            <rzslider rz-slider-model="slEdited.minValue"
                      rz-slider-high="slEdited.maxValue"
                      rz-slider-options="dateSlider.options"></rzslider>
        </div>
        <div id="rating-filter" class="filter-section">
            <h3>Rating</h3>
            <rzslider rz-slider-model="slRating.minValue"
                      rz-slider-high="slRating.maxValue"
                      rz-slider-options="slRating.options"></rzslider>
        </div>
        <div id="standing-filters" class="filter-section">
            <h3>Standing</h3>
            <div class="sidebar-box">
                <ul class="filter-list">
                    <li>
                        <input id="standing_good" type="checkbox">
                        <label for="standing_good">Good</label>
                    </li>
                    <li>
                        <input id="standing_unknown" type="checkbox">
                        <label for="standing_unknown">Unknown</label>
                    </li>
                    <li>
                        <input id="standing_bad" type="checkbox">
                        <label for="standing_bad">Bad</label>
                    </li>
                </ul>
            </div>
        </div>
        <div id="helpfulness-filter" class="filter-section">
            <h3>Helpfulness</h3>
            <rzslider rz-slider-model="slHelpfulness.minValue"
                      rz-slider-high="slHelpfulness.maxValue"
                      rz-slider-options="slHelpfulness.options"></rzslider>
        </div>
    </div>
    <div class="right-column">
        <h2>Reviews</h2>
        <review-results data="reviews"></review-results>
    </div>
</div>
<loader condition="loading"></loader>