<two-columns>
    <div class="column-wrapper">
        <div class="left-column">
            <h2>Filters</h2>
            <div id="search-filter" class="filter-section">
                <h3>Search</h3>
                <!-- TODO: Use directives here -->

                <h4>Submitted by</h4>
                <input id="submitted_text" type="text" title="Submitted by">

                <h4>Mod</h4>
                <input id="mod_text" type="text" title="Mod">
            </div>
            <div id="date-filters" class="filter-section">
                <h3>Date Filters</h3>
                <h4>Date Submitted</h4>
                <slider data="data.submitted" type="UserGeneratedListDateSlider"></slider>

                <h4>Date Edited</h4>
                <slider data="data.edited" type="UserGeneratedListDateSlider"></slider>
            </div>
            <div id="rating-filter" class="filter-section">
                <h3>Rating</h3>
                <slider data="data.rating" type="BaseRangeSlider" attr="100"></slider>
            </div>
            <div id="standing-filters" class="filter-section">
                <h3>Standing</h3>
                <div class="sidebar-box">
                    <ul class="filter-list">
                        <li>
                            <input id="standing_good" type="checkbox">
                            <label for="standing_good">Good</label>
                        </li>
                        <li>
                            <input id="standing_unknown" type="checkbox">
                            <label for="standing_unknown">Unknown</label>
                        </li>
                        <li>
                            <input id="standing_bad" type="checkbox">
                            <label for="standing_bad">Bad</label>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="helpfulness-filter" class="filter-section">
                <h3>Helpfulness</h3>
                <slider data="data.helpfulness" type="StepSlider" attr="500"></slider>
            </div>
        </div>
        <div class="right-column">
            <h2>Reviews</h2>
            <loader data="reviews">
                <review-results data="reviews"></review-results>
            </loader>
        </div>
    </div>
</two-columns>
