<div class="column-wrapper">
    <div class="single-column">
        <h2>Submit Mod</h2>

        <form id="submitModForm" name="submitModForm" spellcheck="false">

            <h3 class="section-title">Sources
                <span class="help-tooltip" title="Locations where an author has officially uploaded a Mod. &#13;You can only enter one valid location for each supported site.">?</span>
            </h3>
            <section>
                <div class="sources-container" ng-repeat="source in sources">
                    <label>
                        <select ng-model="source.label" ng-change="validateSource(source)" ng-disabled="source.scraped">
                            <option ng-repeat="site in sites">{{site.label}}</option>
                        </select>
                        <input type="text" class="long-input" ng-model="source.url" ng-change="validateSource(source)" ng-disabled="source.scraped">
                        <input type="button" class="btn scrape-button" value="Scrape" ng-click="scrapeSource(source)" ng-disabled="!source.valid || source.scraped">
                        <span class="remove-source" ng-click="removeSource(source)" ng-if="$index > 0 && !source.scraped" title="Remove source">
                            <i class="fa fa-times"></i>
                        </span>
                    </label>
                </div>
                <!-- TODO: Fix this not hiding immediately -->
                <input type="button" class="btn" value="Add Source" ng-click="addSource()" ng-show="sources.length < sites.length">

                <div class="scraped-data-container" ng-if="nexus || lab || workshop">
                    <div class="scraped-data" ng-if="nexus">
                        <h4>Nexus Mods Data</h4>
                        <loader data="nexus.id">
                            <table class="infotable">
                                <colgroup>
                                    <col span="1" style="width: 160px;">
                                    <col span="1">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <td>Mod ID</td>
                                    <td>{{nexus.id}}</td>
                                </tr>
                                <tr>
                                    <td>Mod Name</td>
                                    <td>{{nexus.mod_name}}</td>
                                </tr>
                                <tr>
                                    <td>Uploaded By</td>
                                    <td>{{nexus.uploaded_by}}</td>
                                </tr>
                                <tr>
                                    <td>Authors</td>
                                    <td>{{nexus.authors}}</td>
                                </tr>
                                <tr>
                                    <td>Latest Version</td>
                                    <td>{{nexus.current_version}}</td>
                                </tr>
                                <tr>
                                    <td>Date Submitted</td>
                                    <td>{{nexus.date_added | date }}</td>
                                </tr>
                                <tr>
                                    <td>Date Updated</td>
                                    <td>{{nexus.date_updated | date }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </loader>
                    </div>

                    <div class="scraped-data" ng-if="workshop">
                        <h4>Steam Workshop Data</h4>
                        <loader data="workshop.id">
                            <table class="infotable">
                                <colgroup>
                                    <col span="1" style="width: 160px;">
                                    <col span="1">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <td>Mod ID</td>
                                    <td>{{workshop.id}}</td>
                                </tr>
                                <tr>
                                    <td>Mod Name</td>
                                    <td>{{workshop.mod_name}}</td>
                                </tr>
                                <tr>
                                    <td>Uploaded By</td>
                                    <td>{{workshop.uploaded_by}}</td>
                                </tr>
                                <tr>
                                    <td>Date Submitted</td>
                                    <td>{{workshop.date_submitted | date }}</td>
                                </tr>
                                <tr>
                                    <td>Date Updated</td>
                                    <td>{{workshop.date_updated | date }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </loader>
                    </div>

                    <div class="scraped-data" ng-if="lab">
                        <h4>Lover's Lab Data</h4>
                        <loader data="lab.id">
                            <table class="infotable">
                                <colgroup>
                                    <col span="1" style="width: 160px;">
                                    <col span="1">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <td>Mod ID</td>
                                    <td>{{lab.id}}</td>
                                </tr>
                                <tr>
                                    <td>Mod Name</td>
                                    <td>{{lab.mod_name}}</td>
                                </tr>
                                <tr>
                                    <td>Uploaded By</td>
                                    <td>{{lab.uploaded_by}}</td>
                                </tr>
                                <tr>
                                    <td>Date Submitted</td>
                                    <td>{{lab.date_submitted | date }}</td>
                                </tr>
                                <tr>
                                    <td>Date Updated</td>
                                    <td>{{lab.date_updated | date }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </loader>
                    </div>
                </div>
            </section>

            <section>
                <category-tree selection="mod.categories" toggle-all="false"></category-tree>
                <div id="category-messages">
                    <div ng-repeat="message in categoryMessages" class="category-message"
                         ng-class="message.klass">{{message.text}}</div>
                </div>
                <input type="button" id="check-categories-btn" class="btn" ng-click="checkCategories()" value="Check Categories">
            </section>

            <h3 class="section-title">Tags</h3>
            <section>
                <tag-selector active-tags="[]" new-tags="mod.tags" show-mods-count="true" show-add="true" max-tags="10" can-create="true"></tag-selector>
            </section>

            <h3 class="section-title">Other Options</h3>
            <section>
                <label class="checkbox-option">
                    <input type="checkbox" ng-model="mod.isUtility">
                    External Utility
                </label>
                <span class="help-tooltip" title="A mod is classified as an external utility if it installs files &#13;outside of the user's data directory.  This includes &#13;mod managers, patchers, and script extenders.">?</span><br/>

                <label class="checkbox-option">
                    <input type="checkbox" ng-model="mod.hasAdultContent">
                    Has Adult Content
                </label>
                <span class="help-tooltip" title="In this context, adult content is classified as nudity or &#13;depictions of sexual acts.">?</span>
            </section>

            <h3 class="section-title">
                Mod Analysis
                <!-- temporary github link, should link to a help page -->
                <a href="http://github.com/matortheeternal/mod-asset-mapper">
                    <span class="help-tooltip" title="Submitting a mod requires uploading an analysis file which &#13; includes an asset file tree and one or more plugin dumps. &#13;You can generate a mod analysis file using the Mod Analysis utility.  &#13;Click here for more information and download links.">?</span>
                </a>
            </h3>
            <section>
                <div class="analysis-results" ng-show="analysis">
                    <h4 class="subtitle" ng-show="analysis.nestedAssets">Asset File Tree</h4>
                    <div class="subsection analysis-container" ng-show="analysis.nestedAssets">
                        <asset-tree data="analysis.nestedAssets"></asset-tree>
                    </div>

                    <h4 class="subtitle" ng-show="analysis.plugins.length > 0">Plugin Analysis</h4>
                    <div class="subsection analysis-container" ng-show="analysis.plugins.length > 0">
                        <div ng-repeat="plugin in analysis.plugins">
                            <plugin-analysis data="plugin"></plugin-analysis>
                        </div>
                    </div>
                </div>

                <label>
                    <input id="analysis-input" type="file" file-change="changeAnalysisFile" accept=".json">
                    <input type="button" class="btn" ng-click="browseAnalysisFile()" value="Browse">
                </label>
            </section>

            <input class="btn" type="submit" ng-disabled='modInvalid()' ng-click="submit()" value="Submit"/>
        </form>
    </div>
</div>
