<div class="column-wrapper">
    <div class="single-column">
        <h2>Submit Mod</h2>

        <form id="submitModForm" name="submitModForm">

            <h3 class="section-title">Sources</h3>
            <section>
                <div class="input-label">Nexus Mods</div>
                <input type="text" class="path-input" ng-model="nexusUrl" required>
                <input type="button" class="btn" ng-disabled='urlInvalid()' ng-click="scrape()" value="Scrape">

                <div ng-show="scraping">
                    <h3 class="section-title">Nexus Mods Info</h3>
                    <loader data="nexus">
                        <table class="infotable">
                            <colgroup>
                                <col span="1" style="width: 160px;">
                                <col span="1">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <td>Nexus ID</td>
                                    <td>{{nexus.id}}</td>
                                </tr>
                                <tr>
                                    <td>Mod Name</td>
                                    <td>{{nexus.mod_name}}</td>
                                </tr>
                                <tr>
                                    <td>Uploaded By</td>
                                    <td>{{nexus.uploaded_by}}</td>
                                </tr>
                                <tr>
                                    <td>Author</td>
                                    <td>{{nexus.authors}}</td>
                                </tr>
                                <tr>
                                    <td>Endorsements</td>
                                    <td>{{nexus.endorsements.toLocaleString()}}</td>
                                </tr>
                                <tr>
                                    <td>Unique Downloads</td>
                                    <td>{{nexus.unique_downloads.toLocaleString()}}</td>
                                </tr>
                                <tr>
                                    <td>Latest Version</td>
                                    <td>{{nexus.current_version}}</td>
                                </tr>
                                <tr>
                                    <td>Date Released</td>
                                    <td>{{nexus.date_added | date }}</td>
                                </tr>
                                <tr>
                                    <td>Date Updated</td>
                                    <td>{{nexus.date_updated | date }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </loader>
                </div>
            </section>

            <section>
                <category-tree selection="mod.categories" toggle-all="false"></category-tree>
                <div id="category-messages">
                    <span ng-repeat="message in categoryMessages" class="category-message" ng-class="{{message.class}}">
                        {{message.text}}
                    </span>
                </div>
                <input type="button" id="check-categories-btn" class="btn" ng-click="checkCategories()" value="Check Categories">
            </section>

            <h3 class="section-title">Tags</h3>
            <section>
                <tag-selector tags="tags" active-tags="[]" new-tags="mod.tags" show-mods-count="true" show-add="true" max-tags="10"></tag-selector>
            </section>

            <h3 class="section-title">Other Options</h3>
            <section>
                <label class="checkbox-option">
                    <input type="checkbox" ng-model="mod.isUtility">
                    External Utility
                </label>
                <span class="help-tooltip" title="A mod is classified as an external utility if it installs files &#13;outside of the user's data directory.  This includes &#13;mod managers, patchers, and script extenders.">?</span><br/>

                <label class="checkbox-option">
                    <input type="checkbox" ng-model="mod.hasAdultContent">
                    Has Adult Content
                </label>
                <span class="help-tooltip" title="In this context, adult content is classified as nudity or &#13;depictions of sexual acts.">?</span>
            </section>

            <h3 class="section-title">Asset File Map</h3>
            <section>
                <div ng-show="assetMap">
                    <h4 class="section-title">File Tree</h4>
                    <asset-file-tree data="assetTree"></asset-file-tree>
                </div>

                <label>
                    <input id="archive-input" type="file" file-change="changeAssetTree" accept=".json">
                    <input type="button" class="btn" ng-click="browseAssetTree()" value="Browse">
                </label>
            </section>

            <h3 class="section-title">Plugins</h3>
            <section>
                <div class="plugins-upload">
                    <label>
                        <input id="plugins-input" type="file" multiple file-change="changePlugins" accept=".esp, .esm"/>
                        <div class="upload-container" ng-if="!plugins">
                            <div class="upload-prompt">
                                <span class="fa-stack fa-4x">
                                  <i class="fa fa-upload fa-stack-2x"></i>
                                </span>
                                <h4>Select plugins to upload</h4>
                                <span>Or drag and drop</span>
                            </div>
                        </div>
                    </label>
                    <div class="upload-queue" ng-if="plugins">
                        <table>
                            <colgroup>
                                <col style="width:70%">
                                <col style="width:25%">
                                <col style="width:5%">
                            </colgroup>
                            <tr>
                                <th>Filename</th>
                                <th>File size</th>
                                <th></th>
                            </tr>
                            <tr ng-repeat="plugin in plugins" class="plugin-item">
                                <td>
                                    {{plugin.name}}
                                </td>
                                <td>
                                    {{plugin.size | bytes:2}}
                                </td>
                                <td>
                                    <i class="fa fa-times cancel-item" title="Remove Plugin" ng-click="removePlugin(plugin.name)"></i>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="upload-actions" ng-if="plugins">
                        <input class="btn" type="button" value="Clear plugins" ng-click="clearPlugins()"/>
                        <input class="btn" type="button" value="Add plugins" ng-click="addPlugins()"/>
                    </div>
                </div>

                <span class="notice">
                    Plugin analysis will be performed by our servers sometime in the next 24 hours.
                </span>
            </section>

            <input class="btn" type="submit" ng-disabled='modInvalid()' ng-click="submit()" value="Submit"/>
        </form>
    </div>
</div>
