<div class="column-wrapper">
    <div class="left-column">
        <h2>Filters</h2>
        <div id="search-filters" class="filter-section">
            <h3>Search</h3>
            <!-- TODO: Use directives here -->

            <h4>Username</h4>
            <input id="username_text" type="text" title="Username">
        </div>
        <div id="date-filters" class="filter-section">
            <h3>Date Filters</h3>
            <h4>Date Joined</h4>
            <rzslider rz-slider-model="slJoined.minValue"
                      rz-slider-high="slJoined.maxValue"
                      rz-slider-options="dateSlider.options"></rzslider>

            <h4>Date Last Seen</h4>
            <rzslider rz-slider-model="slLastSeen.minValue"
                      rz-slider-high="slLastSeen.maxValue"
                      rz-slider-options="dateSlider.options"></rzslider>
        </div>
        <div id="user-level-filters" class="filter-section">
            <h3>User Level</h3>
            <div class="sidebar-box">
                <ul class="filter-list">
                    <li>
                        <input id="level_banned" type="checkbox">
                        <label for="level_banned">Banned</label>
                    </li>
                    <li>
                        <input id="level_user" type="checkbox">
                        <label for="level_user">User</label>
                    </li>
                    <li>
                        <input id="level_author" type="checkbox">
                        <label for="level_author">Author</label>
                    </li>
                    <li>
                        <input id="level_vip" type="checkbox">
                        <label for="level_vip">VIP</label>
                    </li>
                    <li>
                        <input id="level_moderator" type="checkbox">
                        <label for="level_moderator">Moderator</label>
                    </li>
                    <li>
                        <input id="level_admin" type="checkbox">
                        <label for="level_admin">Admin</label>
                    </li>
                </ul>
            </div>
        </div>
        <div id="stat-filters" class="filter-section">
            <h3>Stats</h3>
            <h4>Reputation</h4>
            <rzslider rz-slider-model="slReputation.minValue"
                      rz-slider-high="slReputation.maxValue"
                      rz-slider-options="slReputation.options"></rzslider>

            <h4>Authored Mods</h4>
            <rzslider rz-slider-model="slMods.minValue"
                      rz-slider-high="slMods.maxValue"
                      rz-slider-options="slMods.options"></rzslider>

            <h4>Compatibility Notes</h4>
            <rzslider rz-slider-model="slCompatibilityNotes.minValue"
                      rz-slider-high="slCompatibilityNotes.maxValue"
                      rz-slider-options="slCompatibilityNotes.options"></rzslider>

            <h4>Installation Notes</h4>
            <rzslider rz-slider-model="slInstallationNotes.minValue"
                      rz-slider-high="slInstallationNotes.maxValue"
                      rz-slider-options="slInstallationNotes.options"></rzslider>

            <h4>Incorrect Notes</h4>
            <rzslider rz-slider-model="slIncorrectNotes.minValue"
                      rz-slider-high="slIncorrectNotes.maxValue"
                      rz-slider-options="slIncorrectNotes.options"></rzslider>

            <h4>Comments</h4>
            <rzslider rz-slider-model="slComments.minValue"
                      rz-slider-high="slComments.maxValue"
                      rz-slider-options="slComments.options"></rzslider>

            <h4>Public Mod Lists</h4>
            <rzslider rz-slider-model="slModLists.minValue"
                      rz-slider-high="slModLists.maxValue"
                      rz-slider-options="slModLists.options"></rzslider>
        </div>
    </div>
    <div class="right-column">
        <h2>Users</h2>
        <user-results data="users"></user-results>
    </div>
</div>
<loader condition="loading"></loader>