
<div class="header-tabs">
    <div class="page-container">
        <h1>User Settings</h1>
        <div class="tabs">
            <!-- insert links later-->
            <a ng-click="currentTab = 'Profile'">Profile</a>
            <a ng-click="currentTab = 'Account'">Account</a>
            <a ng-click="currentTab = 'Reputation'">Reputation</a>
            <a ng-click="currentTab = 'Mod Lists'">Mod Lists</a>
            <a ng-click="currentTab = 'Authored Mods'">Authored Mods</a>
        </div>
    </div>
</div>

<div class="column-wrapper">
    <div class="single-column">
        <div ng-show="canShowTab('Profile')">
            <div class="padded-field">
                <span class="field-title">Avatar</span>
                <div class="field-value">
                    <img class="avatar" src="/avatars/{{userSettings.id}}.png">
                    <input type="button" id="avatar-browse" class="btn" value="Browse" />
                </div>
            </div>

            <div class="padded-field">
                <span class="field-title">Title</span>
                <div class="field-value">
                    <input type="text" value="{{userSettings.title}}" />
                    <span class="quote">I used to be an adventurer like you, until I took an arrow to the knee.
                        <span class="quote-explanation">(You need more reputation to change your title)</span>
                    </span>

                </div>
            </div>

            <div class="padded-field">
                <input id ="kb-allow-comments" type="checkbox" ng-checked="userSettings.allow_comments"><label for="kb-allow-comments">Allow comments to be posted on your profile</label>
            </div>

            <div class="padded-field">
                <span class="field-title">About Me</span>
                <br/>
                <textarea class="big-text-area"></textarea>
            </div>

            <input class="btn" type="submit" value="Save Changes" ng-click="saveChanges()"/>


        </div>
        <div ng-show="canShowTab('Account')">
        </div>
        <div ng-show="canShowTab('Reputation')">
        </div>
        <div ng-show="canShowTab('Mod Lists')">
        </div>
        <div ng-show="canShowTab('Authored Mods')">

        </div>
    </div>
</div>