<two-columns>
    <loader data="mod">
        <div class="mod-header-color">
            <div class="page-container mod-header">
                <section>
                    <div class="mod-info">
                    </div>
                </section>

                <section>
                    <div class="mod-header-box">
                    </div>
                </section>
            </div>
        </div>

        <messages   success-bool="showSuccess"
            errors="errors"
            success-message="{{submitMessage}}"></messages>

        <div class="page-container">
            <loader data="mod">
                <div class="left-column left-mod-column wide-column">

                </div>
                <div class="right-column">
                    <div class="right-mod-column">
                    <tabs current-tab="currentTab" tabs="tabs"></tabs>
                        <div ng-include="currentTab.url" class="mod-tab"></div>
                    </div>
                </div>
            </loader>
        </div>
    </loader>
</two-columns>
