<div class="column-wrapper">
    <div class="left-column">
        <h2>Filters</h2>
        <div id="username-filter" class="filter-section">
            <h3>Username</h3>
            <!-- TODO: Use a directive here -->
            <input id="username_text" type="text" title="Username">
        </div>
        <div id="bio-filters" class="filter-section">
            <h3>Bio Filters</h3>
            <!-- TODO: Use directives here -->
            <h4>Nexus Mods Username</h4>
            <input id="nexus_username_text" type="text" title="Nexus Mods Username">
            <h4>Steam Workshop Username</h4>
            <input id="steam_workshop_text" type="text" title="Steam Workshop Username">
            <h4>Lovers Lab Username</h4>
            <input id="lovers_username_text" type="text" title="Lovers Lab Username">
        </div>
        <div id="date-filters" class="filter-section">
            <h3>Date Filters</h3>
            <h4>Date Joined</h4>
            ~range-slider

            <h4>Date Last Seen</h4>
            ~range-slider
        </div>
        <div id="user-level-filters" class="filter-section">
            <h3>User Level</h3>
            <div class="sidebar-box">
                <ul class="filter-list">
                    <li>
                        <input id="level_banned" type="checkbox">
                        <label for="level_banned">Banned</label>
                    </li>
                    <li>
                        <input id="level_user" type="checkbox">
                        <label for="level_user">User</label>
                    </li>
                    <li>
                        <input id="level_author" type="checkbox">
                        <label for="level_author">Author</label>
                    </li>
                    <li>
                        <input id="level_vip" type="checkbox">
                        <label for="level_vip">VIP</label>
                    </li>
                    <li>
                        <input id="level_moderator" type="checkbox">
                        <label for="level_moderator">Moderator</label>
                    </li>
                    <li>
                        <input id="level_admin" type="checkbox">
                        <label for="level_admin">Admin</label>
                    </li>
                </ul>
            </div>
        </div>
        <div id="stat-filters" class="filter-section">
            <h3>Stats</h3>
            <h4>Reputation</h4>
            ~range-slider

            <h4>Authored Mods</h4>
            ~range-slider

            <h4>Compatibility Notes</h4>
            ~range-slider

            <h4>Installation Notes</h4>
            ~range-slider

            <h4>Incorrect Notes</h4>
            ~range-slider

            <h4>Comments</h4>
            ~range-slider

            <h4>Public Mod Lists</h4>
            ~range-slider
        </div>
    </div>
    <div class="right-column">
        <h2>Users</h2>
        <user-results data="users"></user-results>
    </div>
</div>
<loader condition="loading"></loader>