<two-columns>
    <div class="page-container">
        <div class="column-wrapper">
            <div class="left-column">
                <h2>Filters</h2>
                <div id="search-filters" class="filter-section">
                    <h3>Search</h3>
                    <!-- TODO: Use directives here -->
                    <h4>Username</h4>
                    <input id="username_text" type="text" title="Username">
                </div>
                <div id="date-filters" class="filter-section">
                    <h3>Date Filters</h3>
                    <h4>Date Joined</h4>
                    <slider data="data.joined" type="UserGeneratedListDateSlider"></slider>
                    <h4>Date Last Seen</h4>
                    <slider data="data.lastSeen" type="UserGeneratedListDateSlider"></slider>
                </div>
                <div id="user-level-filters" class="filter-section">
                    <h3>User Level</h3>
                    <div class="sidebar-box">
                        <ul class="filter-list">
                            <li>
                                <input id="level_banned" type="checkbox">
                                <label for="level_banned">Banned</label>
                            </li>
                            <li>
                                <input id="level_user" type="checkbox">
                                <label for="level_user">User</label>
                            </li>
                            <li>
                                <input id="level_author" type="checkbox">
                                <label for="level_author">Author</label>
                            </li>
                            <li>
                                <input id="level_vip" type="checkbox">
                                <label for="level_vip">VIP</label>
                            </li>
                            <li>
                                <input id="level_moderator" type="checkbox">
                                <label for="level_moderator">Moderator</label>
                            </li>
                            <li>
                                <input id="level_admin" type="checkbox">
                                <label for="level_admin">Admin</label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="stat-filters" class="filter-section">
                    <h3>Stats</h3>
                    <h4>Reputation</h4>
                    <slider data="data.reputation" type="StepSlider" attr="5000"></slider>

                    <h4>Authored Mods</h4>
                    <slider data="data.mods" type="CeilSlider" attr="100"></slider>

                    <h4>Compatibility Notes</h4>
                    <slider data="data.compatibilityNotes" type="StepSlider" attr="500"></slider>

                    <h4>Installation Notes</h4>
                    <slider data="data.installationNotes" type="StepSlider" attr="500"></slider>

                    <h4>Incorrect Notes</h4>
                    <slider data="data.incorrectNotes" type="StepSlider" attr="500"></slider>

                    <h4>Comments</h4>

                    <slider data="data.comments" type="StepSlider" attr="500"></slider>

                    <h4>Public Mod Lists</h4>
                    <slider data="data.modLists" type="CeilSlider" attr="100"></slider>
                </div>
            </div>
            <div class="right-column">
                <h2>Users</h2>
                <loader data="users">
                    <user-results data="users"></user-results>
                </loader>
            </div>
        </div>
    </div>
</two-columns>
