<div class="actions-container">
    <span class="action-box" ng-if="correctable" tabindex="{{index}}">View Corrections</span>
    <span class="action-box" ng-focus="showDropdown = true" ng-blur="blurDropdown()" tabindex="{{index}}">
        Actions <i class="fa fa-caret-down"></i>
    </span>
    <span class="actions-dropdown-container">
        <div class="dropdown" ng-show="showDropdown">
            <div class="dropdown-item">View History</div>
            <div class="dropdown-item" ng-click="showLinkModal = true">Get Link</div>
            <div class="dropdown-item" ng-if="canReport">Report</div>
            <div class="dropdown-separator" ng-if="canEdit || canApprove || canHide"></div>
            <div class="dropdown-item" ng-if="canEdit">Edit</div>
            <div class="dropdown-item" ng-if="canApprove && !target.approved" ng-click="approve(true)">Approve</div>
            <div class="dropdown-item" ng-if="canApprove && target.approved" ng-click="approve(false)">Unapprove</div>
            <div class="dropdown-item" ng-if="canHide && !target.hidden" ng-click="hide(true)">Hide</div>
            <div class="dropdown-item" ng-if="canHide && target.hidden" ng-click="hide(false)">Unhide</div>
        </div>
    </span>
    <span class="helpfulness">
        <div class="action-box" ng-class="{ 'marked-helpful' : target.helpful }" ng-click="helpfulMark(true)" tabindex="{{index}}">Helpful</div>
        <div class="action-box" ng-class="{ 'marked-not-helpful' : target.helpful !== undefined && !target.helpful }" ng-click="helpfulMark(false)" tabindex="{{index}}">Not Helpful</div>
    </span>
</div>

<div class="modal-container" ng-show="showLinkModal">
    <div class="modal skinny-modal">
        <form>
            <div class="close-modal">
                <span class="fa fa-times" ng-click="showLinkModal = false"></span>
            </div>

            <h3 class="section-title">
                Share {{target.user.username}}'s
                <span class="capitalize">{{route.split('_').join(' ').slice(0, -1)}}</span>
            </h3>
            <input type="text" class="max-input" ng-model="shareLink" title="Link" spellcheck="false">
        </form>
    </div>
</div>