<div class="scaffold">
  <h1>Editing mod_list_custom_plugin</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @mod_list_custom_plugin %> |
  <%= link_to 'Back', mod_list_custom_plugins_path %>
</div>