/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */
 
/* box-sizing */
* {
 box-sizing: border-box;
}

/* some basic css for scaffolds */
body {
  margin: auto;
  font-family: 'Roboto', sans-serif;
  padding-top: 60px;
  padding-bottom: 60px;
}

.scaffold {
  width: 1600px;
  margin: auto;
}

table {
	border-collapse: collapse;
	width: 95%;
	font-family: Arial;
}

thead {
	background-color: #bbb;
	color: #fff;
	text-align: left;
}

td, th {
	border-left: 1px solid #CBCBCB;
	border-width: 0px 0px 0px 1px;
	font-size: 10px;
	margin: 0px;
	overflow: visible;
	padding: 0.5em 1em;
}

tbody tr:nth-child(odd) { 
	background-color: #eee; 
}

tbody tr:nth-child(even) { 
	background-color: #fff; 
}

.field input[type="text"]{
  width: 200px;
}

.field input[type="email"]{
  width: 200px;
}

.field input[type="password"]{
  width: 200px;
}

/* clear br */
.clear {
  clear: both; 
}

.hidden {
    display: none;
}

/*flash*/

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
}

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
}

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
}

/* url styling */
a {
  color: #205098;
  text-decoration: none;
}

a.strong {
  font-weight: 600;
}

a:hover {
  color: #508BDA;
}

/* css for horizontal menus */
/* used for login and registration items */
ul.hmenu {
  list-style: none; 
  margin: 0 0 2em;
  padding: 0;
}

ul.hmenu li {
  display: inline;  
}

/* css for columns */
/* used on user profile page */
.column-wrapper {
  width: 1220px;
  margin: auto;
}

.left-column {
  width: 393px;
  padding-left: 10px;
  padding-right: 10px;
  display: table-cell;
  vertical-align: top;
}

.right-column {
  padding-left: 10px;
  width: 817px;
  display: table-cell;
  vertical-align: top;
}

.left-column h2 {
  padding: 0px;
  margin: 0px;
  font-size: 28px;
  font-weight: 300;
}

.left-column h3 {
  margin-top: 24px;
  margin-bottom: 8px;
  font-weight: 500;
}

/* css for expandable sections */
/* used on user profile page */
.expandable-table {
  margin: auto;
  width: 100%;
  border: 1px solid #000;
}

.expandable-table td {
  border-left: 0; /* temporary css because of global table css */
}

.section-header {
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  background-color: #555;
  font-size: 20px;
  color: #FFF;
  cursor: pointer;
  padding: 8px;
}

.section-header:hover {
  background-color: #686868;
}

.section-hidden {
  display: none;
}

.section-visible {
  display: block;
  padding: 10px;
}

.section-contents {
  background-color: #FFF;
  margin-bottom: 10px;
  padding: 0;
}

/* css for user profile page */
.user-title {
  font-size: 12px;
  color: #555;
}

.avatar-wrapper {
  background-color: #FFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  max-width: 200px !important;
  max-height: 200px !important;
  border: 1px solid #DDD;
  padding: 3px;
  text-align: center;
  display: inline-block;
}

.group-banned {
  color: #999;
}

.group-user {
  color: #080;
  font-weight: 600;
}

.group-author {
  color: #F70;
  font-weight: 600;
}

.group-vip {
  color: #508;
  font-weight: 600;
}

.group-moderator {
  color: #008;
  font-weight: 600;
}

.group-admin {
  color: #800;
  font-weight: 600;
}

/* css for attributes tables */
/* used on user profile page */
.attributes-table {
  border: 1px solid black;
  margin: auto;
}

.attributes-table td, th {
  border: 0px;
  font-size: 12px;
}

/* css for vcards */
/* used on user profile page */
.vcard-stats {
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
}

.vcard-stat {
  float: left;
  width: 25%;
  font-size: 11px;
  text-transform: capitalize;
}

.vcard-stat-count {
  display: block;
  font-size: 28px;
  font-weight: bold;
  line-height: 1;
}

.text-muted {
  color: #767676;
}