/* css for expandable sections */
/* used on user profile page */
.expandable-table {
  margin: auto;
  width: 100%;
  border: 1px solid #000;
}

.expandable-table td {
  border-left: 0; /* temporary css because of global table css */
}

.section-header {
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  background-color: #555;
  font-size: 20px;
  color: #FFF;
  cursor: pointer;
  padding: 8px;
}

.section-header:hover {
  background-color: #686868;
}

.section-hidden {
  display: none;
}

.section-visible {
  display: block;
  padding: 10px;
}

.section-contents {
  background-color: #FFF;
  margin-bottom: 10px;
  padding: 0;
}

/* css for user profile page */
.user-title {
  font-size: 12px;
  color: #555;
}

.avatar-wrapper {
  background-color: #FFF;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  max-width: 200px !important;
  max-height: 200px !important;
  border: 1px solid #DDD;
  padding: 3px;
  text-align: center;
  display: inline-block;
}

.group-banned {
  color: $medium_text_color;
}

.group-user {
  color: #080;
  font-weight: 600;
}

.group-author {
  color: #F70;
  font-weight: 600;
}

.group-vip {
  color: #508;
  font-weight: 600;
}

.group-moderator {
  color: #008;
  font-weight: 600;
}

.group-admin {
  color: #800;
  font-weight: 600;
}

/* css for attributes tables */
/* used on user profile page */
.attributes-table {
  border: 1px solid black;
  margin: auto;
}

.attributes-table td th {
  border: 0;
  font-size: 12px;
}

/* css for vcards */
/* used on user profile page */
.vcard-stats {
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
}

.vcard-stat {
  float: left;
  width: 25%;
  font-size: 11px;
  text-transform: capitalize;
}

.vcard-stat-count {
  display: block;
  font-size: 28px;
  font-weight: bold;
  line-height: 1;
}