<messages></messages>

<div class="single-column">
    <form id="createArticleForm" name="createArticleForm" spellcheck="false">
        <h2>Create Article</h2>

        <h3 class="section-title">Title</h3>
        <section>
            <input type="text" ng-model="article.title"/>
        </section>

        <h3 class="section-title">Image
            <span class="help-tooltip" title="The image that will be shown along with the article.">
                <i class="fa fa-question-circle"></i>
            </span>
        </h3>
        <section>
            <image-upload image="image" can-change="true" label="article image"  default-src="defaultSrc" default-size="big" image-class="mod-image" sizes="image.sizes" show-explanation="false"></image-upload>
        </section>

        <h3 class="section-title">Text
        <span class="help-tooltip" title="The markdown content of the article.">
            <i class="fa fa-question-circle"></i>
        </span>
    </h3>
        <section>
            <text-area class="note-text-area" data="article.text_body" ng-refresh="updateMDE"></text-area>
        </section>

        <div class="action-button-container">
            <input class="btn action-btn" type="submit" ng-disabled='submitting || !articleValid()' ng-click="submit()" value="Submit Article" />
        </div>
    </form>
</div>

<submission-modal></submission-modal>