<messages></messages>

<div class="single-column">
    <form id="createArticleForm"
        name="createArticleForm"
        spellcheck="false">
        <h2>
            Create Article
        </h2>

        <h3 class="section-title">Title</h3>
        <section>
            <input type="text" ng-model="article.title"/>
        </section>

        <h3 class="section-title">Image
        <span class="help-tooltip" title="The image that will be shown along with the article.">?</span>
    </h3>
        <section>
            <image-upload image="image"
                can-change="true"
                label="article image"
                image-class="mod-image"
                max-width="300"
                max-height="300"></image-upload>
        </section>

        <h3 class="section-title">Text
        <span class="help-tooltip" title="The markdown content of the article.">?</span>
    </h3>
        <section>
            <text-area class="note-text-area"
                data="article.text_body"
                ng-refresh="updateMDE"></text-area>
        </section>

        <div class="action-button-container">
            <input class="btn action-btn"
                type="submit"
                ng-disabled='submitting || !articleValid()'
                ng-click="submit()"
                value="Submit Article" />
        </div>
    </form>
</div>

<div class="fullscreen-modal-container" ng-show="submitting">
    <div class="modal">
        <loader data="success || errors" spinner-class="big-spinner">
        </loader>
        <h2>{{submittingStatus}}</h2>
        <div ng-show="success">
            <a href="#/article/{{article.id}}">Click here</a> to return to the article Page
        </div>
        <div ng-show="errors">
            <div ng-repeat="error in errors">
                {{error.message}}
            </div>
            <div>
                <a ng-click="closeModal()">Click here</a> to return the submit form
            </div>
        </div>
    </div>
</div>
