<messages></messages>

<div class="single-column">
    <form id="editArticleForm" name="editArticleForm" spellcheck="false">
        <h2>
            Edit Article: <a ng-href="#/article/{{article.id}}">"{{originalArticle.title}}"</a>
        </h2>

        <h3 class="section-title">Title</h3>
        <section>
            <input type="text" ng-model="article.title" />
        </section>

        <h3 class="section-title">
            Image <span class="help-tooltip" title="The image that will be shown along with the article.">?</span>
        </h3>
        <section>
            <image-upload image="image" can-change="true" default-src="article.image" label="article image" image-class="mod-image" max-width="300" max-height="300"></image-upload>
        </section>

        <h3 class="section-title">Author
        <span class="help-tooltip" title="Appears under the title.">?</span>
    </h3>
        <section>
            <search-input search-type="users" result-id="article.submitted_by" search-text="article.submitter.username"></search-input>
        </section>

        <h3 class="section-title">
            Text <span class="help-tooltip" title="The markdown content of the article.">?</span>
        </h3>
        <section>
            <text-area class="note-text-area" data="article.text_body" ng-refresh="updateMDE"></text-area>
        </section>

        <h3 class="section-title">
            Delete Article <span class="help-tooltip" title="Check this and click save to permanently delete this article from the server.">?</span>
        </h3>
        <section>
            <label>
                <input type="checkbox" ng-model="delete" /> Permanently remove this article?
            </label>
        </section>

        <div class="action-button-container">
            <input class="btn action-btn" type="submit" ng-disabled='submitting || !articleValid()' ng-click="updateArticle()" value="Save Changes" />
        </div>
    </form>
</div>

<div class="fullscreen-modal-container" ng-show="submitting">
    <div class="modal">
        <loader data="success || errors" spinner-class="big-spinner">
        </loader>
        <h2>{{submittingStatus}}</h2>
        <div ng-show="success">
            <div ng-hide="delete">
                <a ng-href="#/article/{{article.id}}">Click here</a> to return to the article Page
            </div>
            <div ng-show="delete">
                <a href="#/articles">Click here</a> to view all articles
            </div>
        </div>
        <div ng-show="errors">
            <div ng-repeat="error in errors">
                {{error.message}}
            </div>
            <div>
                <a ng-click="closeModal()">Click here</a> to return the update form
            </div>
        </div>
    </div>
</div>
