<a class="inverse-link no-select" ng-click="toggleGames()" tabindex="0">
    <span class="game-icon icon-{{selectedGame.abbr_name}}">
        <span class="game-label">{{selectedGame.display_name}}</span>
    </span>
</a>
<div class="dropdown" ng-show="showGames" ng-click="stopPropagation($event)">
    <a ng-repeat="game in games" ng-href="/{{game.nexus_name}}">
        <span class="game-icon icon-{{game.abbr_name}}">
            <span class="game-label">{{game.display_name}}</span>
        </span>
    </a>
</div>