<div class="primary-nav">
    <a class="nav-item" ng-click="toggleDropdown($event, 'ManageLists')" tabindex="0"
       ng-blur="blurDropdown('ManageLists')">
        <span class="nav-icon">
            <i class="fa fa-list-ol"></i>
        </span>
        <span class="nav-text">
            <b>Manage your</b>
            Mod Lists
        </span>
        <span class="dropdown-icon">
            <i class="fa fa-chevron-down"></i>
        </span>
    </a>
    <div class="nav-dropdown" id="manage-lists-dropdown" ng-show="showManageListsDropdown">
        <a class="nav-category" ng-href="#/mod-list/{{activeModList.id}}" ng-if="activeModList">
            <i class="fa fa-pencil-square-o"></i>
            Edit Active Mod List
        </a>
        <a class="nav-category" ng-click="newModList()">
            <i class="fa fa-plus-square"></i>
            Start A New Mod List
        </a>
        <a class="nav-category" href="#/settings/mod-lists">
            <i class="fa fa-briefcase"></i>
            View Your Mod Lists
        </a>
    </div>
    <a class="nav-item" ng-click="toggleDropdown($event, 'Contributions')" tabindex="0"
       ng-blur="blurDropdown('Contributions')">
        <span class="nav-icon">
            <i class="fa fa-comments"></i>
        </span>
        <span class="nav-text">
            <b>View recent</b>
            Contributions
        </span>
        <span class="dropdown-icon">
            <i class="fa fa-chevron-down"></i>
        </span>
    </a>
    <div class="nav-dropdown" id="contributions-dropdown" ng-show="showContributionsDropdown">
        <a href="#/reviews">Reviews</a>
        <a href="#/compatibility-notes">Compatibility Notes</a>
        <a href="#/install-order-notes">Install Order Notes</a>
        <a href="#/load-order-notes">Load Order Notes</a>
        <a href="#/corrections">Corrections</a>
    </div>
    <a class="nav-item" ng-click="toggleDropdown($event, 'ModLists')" tabindex="0" ng-blur="blurDropdown('ModLists')">
        <span class="nav-icon">
            <i class="fa fa-list-ul"></i>
        </span>
        <span class="nav-text">
            <b>Browse</b>
            Mod Lists
        </span>
        <span class="dropdown-icon">
            <i class="fa fa-chevron-down"></i>
        </span>
    </a>
    <div class="nav-dropdown" id="mod-lists-dropdown" ng-show="showModListsDropdown">
        <a class="nav-category" href="#/mod-lists">
            <i class="fa fa-files-o"></i>
            All Public Mod Lists
        </a>
        <a class="nav-category" href="#/mod-lists?ste=0&sun=0&clc=0" >
            <i class="fa fa-list-alt"></i>
            Completed Mod Lists
        </a>
        <a class="nav-category" href="#/mod-lists?ste=0&sun=0&cln=0" >
            <i class="fa fa-th-large"></i>
            Completed Collections
        </a>
    </div>
    <a class="nav-item" ng-click="toggleDropdown($event, 'Mods')" tabindex="0" ng-blur="blurDropdown('Mods')">
        <span class="nav-icon">
            <i class="fa fa-globe"></i>
        </span>
        <span class="nav-text">
            <b>Browse</b>
            Skyrim Mods
        </span>
        <span class="dropdown-icon">
            <i class="fa fa-chevron-down"></i>
        </span>
    </a>
    <div class="nav-dropdown" id="mods-dropdown" ng-show="showModsDropdown">
        <!-- TODO: We should change the category tree selection logic so when the supercategory is specified on its own it checks the subcategories too -->
        <a class="nav-category" href="#/mods">
            <i class="fa fa-cubes"></i>
            All Mods
        </a>
        <a class="nav-category" href="#/mods?c=1,10,11,12,13,14">
            <i class="fa fa-image"></i>
            Audiovisual
        </a>
        <a class="nav-category" href="#/mods?c=2,15,16,17">
            <i class="fa fa-eye"></i>
            Character Appearance
        </a>
        <a class="nav-category" href="#/mods?c=3,18,19">
            <i class="fa fa-bug"></i>
            Fixes
        </a>
        <a class="nav-category" href="#/mods?c=4,20,21,22,23,24,25,26,27,28,29,30">
            <i class="fa fa-gamepad"></i>
            Gameplay
        </a>
        <a class="nav-category" href="#/mods?c=5,31,32,33,34">
            <i class="fa fa-flask"></i>
            Items
        </a>
        <a class="nav-category" href="#/mods?c=6,35,36,37,38,39">
            <i class="fa fa-building-o"></i>
            Locations
        </a>
        <a class="nav-category" href="#/mods?c=7,40,41,42">
            <i class="fa fa-group"></i>
            New Characters
        </a>
        <a class="nav-category" href="#/mods?c=8,43,44,45">
            <i class="fa fa-book"></i>
            Resources
        </a>
        <a class="nav-category" href="#/mods?c=9,46,47,48">
            <i class="fa fa-gears"></i>
            Utilities
        </a>
    </div>
    <a class="nav-item" href="#/mods/submit" ng-if="permissions.canSubmitMods">
        <span class="nav-icon">
            <i class="fa fa-plus-square"></i>
        </span>
        <span class="nav-text">
            <b>Submit</b>
            A {{currentGame.display_name}} Mod
        </span>
    </a>
</div>