<mod-categories></mod-categories>

<h3 class="section-title">Tags
    <span class="help-tooltip" ng-hide="hideTooltips" title="Keywords that describe the mod to help users find it easier.">
        <i class="fa fa-question-circle"></i>
    </span>
</h3>
<section>
    <tag-selector active-tags="[]" new-tags="mod.tags" type="mod" show-count="true" show-add="true" max-tags="30" can-create="true"></tag-selector>
</section>

<div class="action-button-container">
    <input class="btn action-btn" type="submit" ng-disabled='submitting || !valid' ng-click="submit()" value="Submit"/>
</div>