{"swagger":"2.0","info":{"title":"Mod Picker Public API","version":"1.0.0","description":"This is the API specification for Mod Picker's public API.  For general information about the API refer to [the API help page](https://modpicker/help/api).  You will need an API Token to use the Mod Picker API, which you can create from the API Access tab of your [user settings page](https://modpicker.com/help/user_settings#api-access) on Mod Picker.  If you need help feel free to contact us on the [Mod Picker Discord Server](http://discord.gg/GCKrwTU).\n\n## Date formats\n\n### Data\nAll dates in data rendered by the server are provided as strings in the [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.\n\n### Filters\nAll dates provided to the server for filtering purposes should be provided in `mm/dd/YYYY` or relative date format.  The relative date format supports strings in the following formats:\n\n- Now\n- `x` minute(s) ago\n- `x` hour(s) ago\n- `x` day(s) ago\n- `x` month(s) ago\n\n## Images\n\n### Users\n\nUser images can be retrieved from  `https://modpicker.com/users/id-size.ext`, where id is the mod's integer id, and ext is the image extension provided by the `image_ext` field.  User image sizes are listed below:\n\n- small (48px)\n- medium (96px)\n- big (250px)\n\n### Mods\n\nMod images can be retrieved from  `https://modpicker.com/mods/id-size.ext`, where id is the mod's integer id, and ext is the image extension provided by the `image_ext` field.  User image sizes are listed below:\n\n- small (100px)\n- medium (210px)\n- big (300px)\n"},"host":"modpicker.com","schemes":["https"],"basePath":"/api/v1","produces":["application/json"],"paths":{"/mods/index":{"post":{"summary":"Mods Index","description":"Search for mods on Mod Picker with extensive filtering options.","parameters":[{"name":"api_key","in":"query","required":true,"type":"string","description":"Your API key."},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/ModsIndexRequest"}}],"tags":["Mods"],"responses":{"200":{"description":"Mod results","schema":{"type":"object","properties":{"mods":{"type":"array","items":{"$ref":"#/definitions/IndexMod"}},"max_entries":{"type":"integer","description":"The number of results returned by the search."},"entries_per_page":{"type":"integer","description":"The number of results displayed per page."}}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}}},"/mods/search":{"post":{"summary":"Search for mods.","description":"Search for mods which match an input string.  Slim version of `/mods/index`.  Returns a maximum of 10 results.","parameters":[{"name":"api_key","in":"query","required":true,"type":"string","description":"Your API key."},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/ModsSearchRequest"}}],"tags":["Mods"],"responses":{"200":{"description":"Mod results","schema":{"type":"object","properties":{"mods":{"type":"array","items":{"$ref":"#/definitions/BaseMod"}}}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}}},"/mods/{id}":{"get":{"summary":"Show mod","description":"Get all public information on a mod.","parameters":[{"name":"id","in":"path","type":"integer","description":"The id of the mod to fetch.","required":true},{"name":"api_key","in":"query","required":true,"type":"string","description":"Your API key."}],"tags":["Mods"],"responses":{"200":{"description":"A mod object","schema":{"type":"object","properties":{"mod":{"$ref":"#/definitions/ShowMod"}}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}}},"/mods/{id}/reviews":{"post":{"summary":"Get mod reviews","description":"Get all public reviews on a mod.","parameters":[{"name":"id","in":"path","type":"integer","description":"The id of the mod to get reviews for.","required":true},{"name":"api_key","in":"query","required":true,"type":"string","description":"Your API key."},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/ModReviewsRequest"}}],"tags":["Reviews"],"responses":{"200":{"description":"An array of reviews","schema":{"type":"object","properties":{"reviews":{"type":"array","items":{"$ref":"#/definitions/BaseReview"}},"max_entries":{"type":"integer","description":"The number of results returned by the search."},"entries_per_page":{"type":"integer","description":"The number of results displayed per page."}}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}}},"/mods/{id}/compatibility_notes":{"post":{"summary":"Get mod compatibility notes","description":"Get all public compatibility notes associated with a mod.","parameters":[{"name":"id","in":"path","type":"integer","description":"The id of the mod to get compatibility notes for.","required":true},{"name":"api_key","in":"query","required":true,"type":"string","description":"Your API key."},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/ModCompatibilityNotesRequest"}}],"tags":["Compatibility Notes"],"responses":{"200":{"description":"An array of compatibility notes","schema":{"type":"object","properties":{"compatibility_notes":{"type":"array","items":{"$ref":"#/definitions/BaseCompatibilityNote"}},"max_entries":{"type":"integer","description":"The number of results returned by the search."},"entries_per_page":{"type":"integer","description":"The number of results displayed per page."}}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}}},"/mods/{id}/install_order_notes":{"post":{"summary":"Get mod install order notes","description":"Get all public install order notes associated with a mod.","parameters":[{"name":"id","in":"path","type":"integer","description":"The id of the mod to get install order notes for.","required":true},{"name":"api_key","in":"query","required":true,"type":"string","description":"Your API key."},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/ModInstallOrderNotesRequest"}}],"tags":["Install Order Notes"],"responses":{"200":{"description":"An array of install order notes","schema":{"type":"object","properties":{"install_order_notes":{"type":"array","items":{"$ref":"#/definitions/BaseInstallOrderNote"}},"max_entries":{"type":"integer","description":"The number of results returned by the search."},"entries_per_page":{"type":"integer","description":"The number of results displayed per page."}}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}}},"/mods/{id}/load_order_notes":{"post":{"summary":"Get mod load order notes","description":"Get all public load order notes associated with a mod.","parameters":[{"name":"id","in":"path","type":"integer","description":"The id of the mod to get load order notes for.","required":true},{"name":"api_key","in":"query","required":true,"type":"string","description":"Your API key."},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/ModLoadOrderNotesRequest"}}],"tags":["Load Order Notes"],"responses":{"200":{"description":"An array of load order notes","schema":{"type":"object","properties":{"load_order_notes":{"type":"array","items":{"$ref":"#/definitions/BaseLoadOrderNote"}},"max_entries":{"type":"integer","description":"The number of results returned by the search."},"entries_per_page":{"type":"integer","description":"The number of results displayed per page."}}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}}},"/mods/{id}/corrections":{"post":{"summary":"Get mod appeals","description":"Get all public appeals associated with a mod.","parameters":[{"name":"id","in":"path","type":"integer","description":"The id of the mod to get appeals for.","required":true},{"name":"api_key","in":"query","required":true,"type":"string","description":"Your API key."}],"tags":["Corrections"],"responses":{"200":{"description":"An array of appeals","schema":{"type":"object","properties":{"corrections":{"type":"array","items":{"$ref":"#/definitions/BaseCorrection"}}}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}}},"/mods/{id}/analysis":{"post":{"summary":"Get mod analysis","description":"Get all mod option and plugin data associated with a mod.","parameters":[{"name":"id","in":"path","type":"integer","description":"The id of the mod to get an analysis for.","required":true},{"name":"api_key","in":"query","required":true,"type":"string","description":"Your API key."}],"tags":["Mod Options","Plugins"],"responses":{"200":{"description":"Mod analysis","schema":{"$ref":"#/definitions/ModAnalysis"}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}}},"/mod_options/search":{"post":{"summary":"Search for mod options.","description":"Search for mod options which match an input string.  Returns a maximum of 10 results.","parameters":[{"name":"api_key","in":"query","required":true,"type":"string","description":"Your API key."},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/ModOptionsSearchRequest"}}],"tags":["Mod Options"],"responses":{"200":{"description":"Mod option results","schema":{"type":"object","properties":{"mod_options":{"type":"array","items":{"$ref":"#/definitions/BaseModOption"}}}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}}},"/plugins/index":{"post":{"summary":"Plugins Index","description":"Search for plugins on Mod Picker with extensive filtering options.","parameters":[{"name":"api_key","in":"query","required":true,"type":"string","description":"Your API key."},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/PluginsIndexRequest"}}],"tags":["Plugins"],"responses":{"200":{"description":"Plugin results","schema":{"type":"object","properties":{"plugins":{"type":"array","items":{"$ref":"#/definitions/IndexPlugin"}},"max_entries":{"type":"integer","description":"The number of results returned by the search."},"entries_per_page":{"type":"integer","description":"The number of results displayed per page."}}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}}},"/plugins/search":{"post":{"summary":"Search for plugins.","description":"Search for plugins which match an input string.  Slim version of `/plugins/index`.  Returns a maximum of 10 results.","parameters":[{"name":"api_key","in":"query","required":true,"type":"string","description":"Your API key."},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/PluginsSearchRequest"}}],"tags":["Plugins"],"responses":{"200":{"description":"Plugin results","schema":{"type":"object","properties":{"plugins":{"type":"array","items":{"$ref":"#/definitions/BasePlugin"}}}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}}},"/plugins/{id}":{"get":{"summary":"Show plugin","description":"Get all public information on a plugin.","parameters":[{"name":"id","in":"path","type":"integer","description":"The id of the plugin to fetch.","required":true},{"name":"api_key","in":"query","required":true,"type":"string","description":"Your API key."}],"tags":["Plugins"],"responses":{"200":{"description":"A plugin object","schema":{"type":"object","properties":{"plugin":{"$ref":"#/definitions/ShowPlugin"}}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}}},"/users/index":{"post":{"summary":"Users Index","description":"Search for users on Mod Picker with extensive filtering options.","parameters":[{"name":"api_key","in":"query","required":true,"type":"string","description":"Your API key."},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/UsersIndexRequest"}}],"tags":["Users"],"responses":{"200":{"description":"User results","schema":{"type":"object","properties":{"users":{"type":"array","items":{"$ref":"#/definitions/IndexUser"}},"max_entries":{"type":"integer","description":"The number of results returned by the search."},"entries_per_page":{"type":"integer","description":"The number of results displayed per page."}}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}}},"/users/search":{"post":{"summary":"Search for users.","description":"Search for users which match an input string.  Slim version of `/users/index`.  Returns a maximum of 10 results.","parameters":[{"name":"api_key","in":"query","required":true,"type":"string","description":"Your API key."},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/UsersSearchRequest"}}],"tags":["Users"],"responses":{"200":{"description":"User results","schema":{"type":"object","properties":{"users":{"type":"array","items":{"$ref":"#/definitions/BaseUser"}}}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}}},"/users/{id}":{"get":{"summary":"Show user","description":"Get all public information on a user.","parameters":[{"name":"id","in":"path","type":"integer","description":"The id of the user to get.","required":true},{"name":"api_key","in":"query","required":true,"type":"string","description":"Your API key."}],"tags":["Users"],"responses":{"200":{"description":"A user object","schema":{"type":"object","properties":{"user":{"$ref":"#/definitions/ShowUser"}}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}}},"/users/{id}/comments":{"post":{"summary":"User profile comments","description":"Get all public comments submitted on a user's profile.","parameters":[{"name":"id","in":"path","type":"integer","description":"The id of the user to get profile comments for.","required":true},{"name":"api_key","in":"query","required":true,"type":"string","description":"Your API key."},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/CommentsRequest"}}],"tags":["Comments"],"responses":{"200":{"description":"Comment results","schema":{"type":"object","properties":{"comments":{"$ref":"#/definitions/BaseComment"},"max_entries":{"type":"integer","description":"The number of results returned by the search."},"entries_per_page":{"type":"integer","description":"The number of results displayed per page."}}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}}},"/users/{id}/mods":{"post":{"summary":"User's favorite and authored mods","parameters":[{"name":"id","in":"path","type":"integer","description":"The id of the user to get mods for.","required":true},{"name":"api_key","in":"query","required":true,"type":"string","description":"Your API key."}],"tags":["Mods"],"responses":{"200":{"description":"Comment results","schema":{"type":"object","properties":{"favorites":{"type":"array","items":{"$ref":"#/definitions/IndexMod"}},"authored":{"type":"array","items":{"$ref":"#/definitions/IndexMod"}}}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}}},"/reviews/index":{"post":{"summary":"Reviews Index","description":"Search for reviews on Mod Picker with extensive filtering options.","parameters":[{"name":"api_key","in":"query","required":true,"type":"string","description":"Your API key."},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/ReviewsIndexRequest"}}],"tags":["Reviews"],"responses":{"200":{"description":"Review results","schema":{"type":"object","properties":{"reviews":{"type":"array","items":{"$ref":"#/definitions/BaseReview"}},"max_entries":{"type":"integer","description":"The number of results returned by the search."},"entries_per_page":{"type":"integer","description":"The number of results displayed per page."}}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}}},"/reviews/{id}":{"get":{"summary":"Show review","parameters":[{"name":"id","in":"path","required":true,"type":"integer","description":"The id of the review to get."},{"name":"api_key","in":"query","required":true,"type":"string","description":"Your API key."}],"tags":["Reviews"],"responses":{"200":{"description":"Review","schema":{"type":"object","properties":{"review":{"$ref":"#/definitions/BaseReview"}}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}}},"/compatibility_notes/index":{"post":{"summary":"Compatibility notes index","description":"Search for compatibility notes on Mod Picker with extensive filtering options.","parameters":[{"name":"api_key","in":"query","required":true,"type":"string","description":"Your API key."},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/CompatibilityNotesIndexRequest"}}],"tags":["Compatibility Notes"],"responses":{"200":{"description":"Compatibility note results","schema":{"type":"object","properties":{"compatibility_notes":{"type":"array","items":{"$ref":"#/definitions/BaseCompatibilityNote"}},"max_entries":{"type":"integer","description":"The number of results returned by the search."},"entries_per_page":{"type":"integer","description":"The number of results displayed per page."}}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}}},"/compatibility_notes/{id}":{"get":{"summary":"Show compatibility note","parameters":[{"name":"id","in":"path","required":true,"type":"integer","description":"The id of the compatibility order note to get."},{"name":"api_key","in":"query","required":true,"type":"string","description":"Your API key."}],"tags":["Compatibility Notes"],"responses":{"200":{"description":"Compatibility order note","schema":{"type":"object","properties":{"compatibility_note":{"$ref":"#/definitions/BaseCompatibilityNote"}}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}}},"/compatibility_notes/{id}/corrections":{"get":{"summary":"Get compatibility note corrections","parameters":[{"name":"id","in":"path","required":true,"type":"integer","description":"The id of the compatibility note to get corrections for."},{"name":"api_key","in":"query","required":true,"type":"string","description":"Your API key."}],"tags":["Corrections"],"responses":{"200":{"description":"Corrections","schema":{"type":"object","properties":{"corrections":{"type":"array","items":{"$ref":"#/definitions/BaseCorrection"}}}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}}},"/install_order_notes/index":{"post":{"summary":"Install order notes index","description":"Search for install order notes on Mod Picker with extensive filtering options.","parameters":[{"name":"api_key","in":"query","required":true,"type":"string","description":"Your API key."},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/InstallOrderNotesIndexRequest"}}],"tags":["Install Order Notes"],"responses":{"200":{"description":"Install order note results","schema":{"type":"object","properties":{"install_order_notes":{"type":"array","items":{"$ref":"#/definitions/BaseInstallOrderNote"}},"max_entries":{"type":"integer","description":"The number of results returned by the search."},"entries_per_page":{"type":"integer","description":"The number of results displayed per page."}}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}}},"/install_order_notes/{id}":{"get":{"summary":"Show install order note","parameters":[{"name":"id","in":"path","required":true,"type":"integer","description":"The id of the install order note to get."},{"name":"api_key","in":"query","required":true,"type":"string","description":"Your API key."}],"tags":["Install Order Notes"],"responses":{"200":{"description":"Install order note","schema":{"type":"object","properties":{"install_order_note":{"$ref":"#/definitions/BaseInstallOrderNote"}}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}}},"/install_order_notes/{id}/corrections":{"get":{"summary":"Get install order note corrections","parameters":[{"name":"id","in":"path","required":true,"type":"integer","description":"The id of the install order note to get corrections for."},{"name":"api_key","in":"query","required":true,"type":"string","description":"Your API key."}],"tags":["Corrections"],"responses":{"200":{"description":"Corrections","schema":{"type":"object","properties":{"corrections":{"type":"array","items":{"$ref":"#/definitions/BaseCorrection"}}}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}}},"/load_order_notes/index":{"post":{"summary":"Load order notes index","description":"Search for load order notes on Mod Picker with extensive filtering options.","parameters":[{"name":"api_key","in":"query","required":true,"type":"string","description":"Your API key."},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/LoadOrderNotesIndexRequest"}}],"tags":["Load Order Notes"],"responses":{"200":{"description":"Load order note results","schema":{"type":"object","properties":{"load_order_notes":{"type":"array","items":{"$ref":"#/definitions/BaseLoadOrderNote"}},"max_entries":{"type":"integer","description":"The number of results returned by the search."},"entries_per_page":{"type":"integer","description":"The number of results displayed per page."}}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}}},"/load_order_notes/{id}":{"get":{"summary":"Show load order note","parameters":[{"name":"id","in":"path","required":true,"type":"integer","description":"The id of the load order note to get."},{"name":"api_key","in":"query","required":true,"type":"string","description":"Your API key."}],"tags":["Load Order Notes"],"responses":{"200":{"description":"Load order note","schema":{"type":"object","properties":{"load_order_note":{"$ref":"#/definitions/BaseLoadOrderNote"}}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}}},"/load_order_notes/{id}/corrections":{"get":{"summary":"Get load order note corrections","parameters":[{"name":"id","in":"path","required":true,"type":"integer","description":"The id of the load order note to get corrections for."},{"name":"api_key","in":"query","required":true,"type":"string","description":"Your API key."}],"tags":["Corrections"],"responses":{"200":{"description":"Corrections","schema":{"type":"object","properties":{"corrections":{"type":"array","items":{"$ref":"#/definitions/BaseCorrection"}}}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}}},"/comments/index":{"post":{"summary":"Comments index","description":"Search for comments on Mod Picker with extensive filtering options.","parameters":[{"name":"api_key","in":"query","required":true,"type":"string","description":"Your API key."},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/CommentsIndexRequest"}}],"tags":["Comments"],"responses":{"200":{"description":"Comment results","schema":{"type":"object","properties":{"comments":{"type":"array","items":{"$ref":"#/definitions/ChildComment"}},"max_entries":{"type":"integer","description":"The number of results returned by the search."},"entries_per_page":{"type":"integer","description":"The number of results displayed per page."}}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}}},"/comments/{id}":{"get":{"summary":"Show comment","parameters":[{"name":"id","in":"path","required":true,"type":"integer","description":"The id of the comment to get."},{"name":"api_key","in":"query","required":true,"type":"string","description":"Your API key."}],"tags":["Comments"],"responses":{"200":{"description":"Comment","schema":{"type":"object","properties":{"comment":{"$ref":"#/definitions/ChildComment"}}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}}},"/all_tags":{"get":{"summary":"Get all tags","description":"Get all tags in use on Mod Picker for a particular game.","parameters":[{"name":"game","in":"query","type":"integer","description":"The id of the game to get tags for.","required":true},{"name":"api_key","in":"query","required":true,"type":"string","description":"Your API key."}],"tags":["Tags"],"responses":{"200":{"description":"Tag results","schema":{"type":"array","items":{"$ref":"#/definitions/Tag"}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}}},"/tags/index":{"post":{"summary":"Tags index","description":"Search Mod Picker tags.","parameters":[{"name":"api_key","in":"query","required":true,"type":"string","description":"Your API key."},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/TagsIndexRequest"}}],"tags":["Tags"],"responses":{"200":{"description":"Tag results","schema":{"type":"object","properties":{"tags":{"type":"array","items":{"$ref":"#/definitions/Tag"}},"max_entries":{"type":"integer","description":"The number of results returned by the search."},"entries_per_page":{"type":"integer","description":"The number of results displayed per page."}}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}}},"/categories":{"get":{"summary":"Categories index","description":"Get the mod categories used on Mod Picker.","parameters":[{"name":"api_key","in":"query","required":true,"type":"string","description":"Your API key."}],"tags":["Static data"],"responses":{"200":{"description":"All categories","schema":{"type":"array","items":{"$ref":"#/definitions/Category"}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}}},"/category_priorities":{"get":{"summary":"Category priorities index","description":"Get the mod category priorities used on Mod Picker.","parameters":[{"name":"api_key","in":"query","required":true,"type":"string","description":"Your API key."}],"tags":["Static data"],"responses":{"200":{"description":"All category priorities","schema":{"type":"array","items":{"$ref":"#/definitions/CategoryPriority"}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}}},"/games":{"get":{"summary":"Games index","description":"Get information on games supported on Mod Picker.","parameters":[{"name":"api_key","in":"query","required":true,"type":"string","description":"Your API key."}],"tags":["Static data"],"responses":{"200":{"description":"All games","schema":{"type":"array","items":{"$ref":"#/definitions/Game"}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}}},"/quotes":{"get":{"summary":"Quotes index","description":"Get quotes from different games.","parameters":[{"name":"api_key","in":"query","required":true,"type":"string","description":"Your API key."}],"tags":["Static data"],"responses":{"200":{"description":"All quotes","schema":{"type":"array","items":{"$ref":"#/definitions/Quote"}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}}},"/record_groups":{"get":{"summary":"Record groups index","description":"Get plugin record groups from different games.","parameters":[{"name":"api_key","in":"query","required":true,"type":"string","description":"Your API key."}],"tags":["Static data"],"responses":{"200":{"description":"All record groups","schema":{"type":"array","items":{"$ref":"#/definitions/RecordGroup"}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}}},"/review_sections":{"get":{"summary":"Review sections index","description":"Get Mod Picker mod review sections.","parameters":[{"name":"api_key","in":"query","required":true,"type":"string","description":"Your API key."}],"tags":["Static data"],"responses":{"200":{"description":"All review sections","schema":{"type":"array","items":{"$ref":"#/definitions/ReviewSection"}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}}},"/user_titles":{"get":{"summary":"User titles index","description":"Get user titles from different games.","parameters":[{"name":"api_key","in":"query","required":true,"type":"string","description":"Your API key."}],"tags":["Static data"],"responses":{"200":{"description":"All user titles","schema":{"type":"array","items":{"$ref":"#/definitions/UserTitle"}}},"default":{"description":"Unexpected error","schema":{"$ref":"#/definitions/Error"}}}}}},"definitions":{"Error":{"type":"object","properties":{"error":{"type":"string"}}},"Category":{"type":"object","properties":{"id":{"type":"integer"},"parent_id":{"type":"integer"},"name":{"type":"string"},"description":{"type":"string"},"priority":{"type":"integer"}}},"CategoryPriority":{"type":"object","properties":{"dominant_id":{"type":"integer"},"recessive_id":{"type":"integer"},"description":{"type":"string"}}},"Game":{"type":"object","properties":{"id":{"type":"integer"},"parent_game_id":{"type":"integer"},"display_name":{"type":"string"},"long_name":{"type":"string"},"abbr_name":{"type":"string"},"nexus_name":{"type":"string"},"exe_name":{"type":"string"},"esm_name":{"type":"string"},"steam_app_ids":{"type":"string"},"mods_count":{"type":"integer"},"plugins_count":{"type":"integer"},"asset_files_count":{"type":"integer"},"nexus_infos_count":{"type":"integer"},"lover_infos_count":{"type":"integer"},"workshop_infos_count":{"type":"integer"},"mod_lists_count":{"type":"integer"},"config_files_count":{"type":"integer"},"reviews_count":{"type":"integer"},"compatibility_notes_count":{"type":"integer"},"install_order_notes_count":{"type":"integer"},"load_order_notes_count":{"type":"integer"},"corrections_count":{"type":"integer"},"help_pages_count":{"type":"integer"}}},"Quote":{"type":"object","properties":{"id":{"type":"integer"},"game_id":{"type":"integer"},"text":{"type":"string"},"label":{"type":"string"}}},"RecordGroup":{"type":"object","properties":{"signature":{"type":"string"},"name":{"type":"string"},"child_group":{"type":"boolean"}}},"ReviewSection":{"type":"object","properties":{"id":{"type":"integer"},"category_id":{"type":"integer"},"name":{"type":"string"},"prompt":{"type":"string"},"default":{"type":"boolean"}}},"UserTitle":{"type":"object","properties":{"id":{"type":"integer"},"game_id":{"type":"integer"},"title":{"type":"string"},"rep_required":{"type":"integer"}}},"ModAuthor":{"type":"object","properties":{"id":{"type":"integer"},"role":{"type":"string"},"user":{"type":"object","properties":{"username":{"type":"string"}}},"user_id":{"type":"integer"}}},"Tag":{"type":"object","properties":{"id":{"type":"integer"},"mods_count":{"type":"integer"},"subitted_by":{"type":"integer"},"submitter":{"$ref":"#/definitions/BaseUser"}}},"BaseModOption":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"display_name":{"type":"string"},"default":{"type":"boolean"}}},"ExtModOption":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"display_name":{"type":"string"},"size":{"type":"integer"},"md5_hash":{"type":"string"},"default":{"type":"boolean"},"is_installer_option":{"type":"boolean"},"asset_files_counts":{"type":"integer"},"plugins_count":{"type":"integer"},"asset_file_paths":{"type":"array","items":{"type":"string"}}}},"Reputation":{"type":"object","properties":{"overall":{"type":"number","format":"float"}}},"ReviewRating":{"type":"object","properties":{"review_section_id":{"type":"integer"},"rating":{"type":"integer"}}},"BaseReview":{"type":"object","properties":{"id":{"type":"integer"},"game_id":{"type":"integer"},"submitted_by":{"type":"integer"},"edited_by":{"type":"integer"},"mod_id":{"type":"integer"},"text_body":{"type":"string"},"edit_summary":{"type":"string"},"moderator_message":{"type":"string"},"overall_rating":{"type":"number","format":"float"},"reputation":{"type":"number","format":"float"},"helpful_count":{"type":"integer"},"not_helpful_count":{"type":"integer"},"ratings_count":{"type":"integer"},"approved":{"type":"boolean"},"hidden":{"type":"boolean"},"has_adult_content":{"type":"boolean"},"submitted":{"type":"string"},"edited":{"type":"string"},"review_ratings":{"type":"array","items":{"$ref":"#/definitions/ReviewRating"}},"editor":{"$ref":"#/definitions/BaseUser"},"submitter":{"$ref":"#/definitions/ExtUser"}}},"BaseCorrection":{"type":"object","properties":{"id":{"type":"integer"},"game_id":{"type":"integer"},"submitted_by":{"type":"integer"},"edited_by":{"type":"integer"},"correctable_id":{"type":"integer"},"correctable_type":{"type":"string"},"title":{"type":"string"},"text_body":{"type":"string"},"status":{"type":"string","enum":["open","passed","failed","closed"]},"mod_status":{"type":"string","enum":["good","outdated","unstable"]},"agree_count":{"type":"integer"},"disagree_count":{"type":"integer"},"comments_count":{"type":"integer"},"hidden":{"type":"boolean"},"has_adult_content":{"type":"boolean"},"submitted":{"type":"string"},"edited":{"type":"string"},"submitter":{"$ref":"#/definitions/ExtUser"},"correctable":{"type":"object","description":"BaseMod, BaseCompatibilityNote, BaseInstallOrderNote, or BaseLoadOrderNote depending on `correctable_type`"}}},"BaseCompatibilityNote":{"type":"object","properties":{"id":{"type":"integer"},"game_id":{"type":"integer"},"submitted_by":{"type":"integer"},"edited_by":{"type":"integer"},"corrector_id":{"type":"integer"},"status":{"type":"string","enum":["incompatible","partially_incompatible","compatibility_mod","compatibility_option","make_custom_patch"]},"first_mod_id":{"type":"integer"},"second_mod_id":{"type":"integer"},"compatibility_mod_id":{"type":"integer"},"compatibility_mod_option_id":{"type":"integer"},"compatibility_plugin_id":{"type":"integer"},"text_body":{"type":"string"},"edit_summary":{"type":"string"},"moderator_message":{"type":"string"},"overall_rating":{"type":"number","format":"float"},"reputation":{"type":"number","format":"float"},"standing":{"type":"string","enum":["good","unknown","bad"]},"helpful_count":{"type":"integer"},"not_helpful_count":{"type":"integer"},"ratings_count":{"type":"integer"},"corrections_count":{"type":"integer"},"history_entries_count":{"type":"integer"},"approved":{"type":"boolean"},"hidden":{"type":"boolean"},"has_adult_content":{"type":"boolean"},"submitted":{"type":"string"},"edited":{"type":"string"},"first_mod":{"$ref":"#/definitions/BaseMod"},"second_mod":{"$ref":"#/definitions/BaseMod"},"editor":{"$ref":"#/definitions/BaseUser"},"editors":{"type":"array","items":{"$ref":"#/definitions/BaseUser"}},"submitter":{"$ref":"#/definitions/ExtUser"}}},"BaseInstallOrderNote":{"type":"object","properties":{"id":{"type":"integer"},"game_id":{"type":"integer"},"submitted_by":{"type":"integer"},"edited_by":{"type":"integer"},"corrector_id":{"type":"integer"},"first_mod_id":{"type":"integer"},"second_mod_id":{"type":"integer"},"text_body":{"type":"string"},"edit_summary":{"type":"string"},"moderator_message":{"type":"string"},"overall_rating":{"type":"number","format":"float"},"reputation":{"type":"number","format":"float"},"standing":{"type":"string","enum":["good","unknown","bad"]},"helpful_count":{"type":"integer"},"not_helpful_count":{"type":"integer"},"ratings_count":{"type":"integer"},"corrections_count":{"type":"integer"},"history_entries_count":{"type":"integer"},"approved":{"type":"boolean"},"hidden":{"type":"boolean"},"has_adult_content":{"type":"boolean"},"submitted":{"type":"string"},"edited":{"type":"string"},"first_mod":{"$ref":"#/definitions/BaseMod"},"second_mod":{"$ref":"#/definitions/BaseMod"},"editor":{"$ref":"#/definitions/BaseUser"},"editors":{"type":"array","items":{"$ref":"#/definitions/BaseUser"}},"submitter":{"$ref":"#/definitions/ExtUser"}}},"BaseLoadOrderNote":{"type":"object","properties":{"id":{"type":"integer"},"game_id":{"type":"integer"},"submitted_by":{"type":"integer"},"edited_by":{"type":"integer"},"corrector_id":{"type":"integer"},"first_plugin_id":{"type":"integer"},"second_plugin_id":{"type":"integer"},"text_body":{"type":"string"},"edit_summary":{"type":"string"},"moderator_message":{"type":"string"},"overall_rating":{"type":"number","format":"float"},"reputation":{"type":"number","format":"float"},"standing":{"type":"string","enum":["good","unknown","bad"]},"helpful_count":{"type":"integer"},"not_helpful_count":{"type":"integer"},"ratings_count":{"type":"integer"},"corrections_count":{"type":"integer"},"history_entries_count":{"type":"integer"},"approved":{"type":"boolean"},"hidden":{"type":"boolean"},"has_adult_content":{"type":"boolean"},"submitted":{"type":"string"},"edited":{"type":"string"},"first_mod":{"$ref":"#/definitions/BaseMod"},"second_mod":{"$ref":"#/definitions/BaseMod"},"first_plugin":{"$ref":"#/definitions/BasePlugin"},"second_plugin":{"$ref":"#/definitions/BasePlugin"},"editor":{"$ref":"#/definitions/BaseUser"},"editors":{"type":"array","items":{"$ref":"#/definitions/BaseUser"}},"submitter":{"$ref":"#/definitions/ExtUser"}}},"BaseComment":{"type":"object","properties":{"id":{"type":"integer"},"parent_id":{"type":"integer"},"submitted_by":{"type":"integer"},"commentable_id":{"type":"integer"},"commentable_type":{"type":"string"},"text_body":{"type":"string"},"children_count":{"type":"integer"},"hidden":{"type":"boolean"},"has_adult_content":{"type":"boolean"},"submitted":{"type":"string"},"edited":{"type":"string"},"submitter":{"$ref":"#/definitions/ExtUser"},"children":{"type":"array","items":{"$ref":"#/definitions/ChildComment"}}}},"ChildComment":{"type":"object","properties":{"id":{"type":"integer"},"parent_id":{"type":"integer"},"submitted_by":{"type":"integer"},"commentable_id":{"type":"integer"},"commentable_type":{"type":"string"},"text_body":{"type":"string"},"children_count":{"type":"integer"},"hidden":{"type":"boolean"},"has_adult_content":{"type":"boolean"},"submitted":{"type":"string"},"edited":{"type":"string"},"submitter":{"$ref":"#/definitions/ExtUser"}}},"NexusInfo":{"type":"object","properties":{"id":{"type":"integer"},"game_id":{"type":"integer"},"has_stats":{"type":"boolean"},"last_scraped":{"type":"string"},"mod_name":{"type":"string"},"uploaded_by":{"type":"string"},"authors":{"type":"string"},"released":{"type":"string"},"updated":{"type":"string"},"current_version":{"type":"string"},"nexus_category":{"type":"integer"},"views":{"type":"integer"},"downloads":{"type":"integer"},"endorsements":{"type":"integer"},"unique_downloads":{"type":"integer"},"posts_count":{"type":"integer"},"discussions_count":{"type":"integer"},"articles_count":{"type":"integer"},"bugs_count":{"type":"integer"},"files_count":{"type":"integer"},"images_count":{"type":"integer"},"videos_count":{"type":"integer"},"has_adult_content":{"type":"boolean"},"endorsement_rate":{"type":"number","format":"float"},"dl_rate":{"type":"number","format":"float"},"udl_to_endorsements":{"type":"number","format":"float"},"udl_to_posts":{"type":"number","format":"float"},"tdl_to_udl":{"type":"number","format":"float"},"views_to_tdl":{"type":"number","format":"float"}}},"LoverInfo":{"type":"object","properties":{"id":{"type":"integer"},"game_id":{"type":"integer"},"last_scraped":{"type":"string"},"mod_name":{"type":"string"},"uploaded_by":{"type":"string"},"released":{"type":"string"},"updated":{"type":"string"},"current_version":{"type":"string"},"views":{"type":"integer"},"downloads":{"type":"integer"},"followers_count":{"type":"integer"},"file_size":{"type":"integer"},"has_adult_content":{"type":"boolean"}}},"WorkshopInfo":{"type":"object","properties":{"id":{"type":"integer"},"game_id":{"type":"integer"},"has_stats":{"type":"boolean"},"last_scraped":{"type":"string"},"mod_name":{"type":"string"},"uploaded_by":{"type":"string"},"released":{"type":"string"},"updated":{"type":"string"},"views":{"type":"integer"},"subscribers":{"type":"integer"},"favorites":{"type":"integer"},"file_size":{"type":"integer"},"posts_count":{"type":"integer"},"discussions_count":{"type":"integer"},"images_count":{"type":"integer"},"videos_count":{"type":"integer"}}},"BaseUser":{"type":"object","properties":{"id":{"type":"integer"},"role":{"type":"string"},"username":{"type":"string"}}},"ExtUser":{"type":"object","properties":{"id":{"type":"integer"},"username":{"type":"string"},"role":{"type":"string"},"title":{"type":"string"},"reviews_count":{"type":"integer"},"compatibility_notes_count":{"type":"integer"},"install_order_notes_count":{"type":"integer"},"load_order_notes_count":{"type":"integer"},"corrections_count":{"type":"integer"},"joined":{"type":"string","description":"Date string for when the user joined Mod Picker."},"last_sign_in_at":{"type":"string","description":"Date string for when the user last signed in to Mod Picker."},"image_type":{"type":"string","description":"Extension for the user's avatar image."},"reputation":{"$ref":"#/definitions/Reputation"}}},"ShowUser":{"type":"object","properties":{"id":{"type":"integer"},"username":{"type":"string"},"email":{"type":"string","description":"Only present if the user has chosen to make their email public."},"role":{"type":"string"},"title":{"type":"string"},"about_me":{"type":"string","description":"Markdown text displayed on the user's profile page."},"comments_count":{"type":"integer","description":"The number of comments on the user's profile.  For the number of comments the user has submitted see `submitted_comments_count`."},"authored_mods_count":{"type":"integer"},"submitted_mods_count":{"type":"integer"},"reviews_count":{"type":"integer"},"compatibility_notes_count":{"type":"integer"},"install_order_notes_count":{"type":"integer"},"load_order_notes_count":{"type":"integer"},"corrections_count":{"type":"integer"},"submitted_comments_count":{"type":"integer"},"mod_lists_count":{"type":"integer"},"mod_collections_count":{"type":"integer"},"tags_count":{"type":"integer"},"mod_tags_count":{"type":"integer"},"mod_list_tags_count":{"type":"integer"},"helpful_marks_count":{"type":"integer"},"agreement_marks_count":{"type":"integer"},"starred_mods_count":{"type":"integer"},"starred_mod_lists_count":{"type":"integer"},"joined":{"type":"string","description":"Date string for when the user joined Mod Picker."},"last_sign_in_at":{"type":"string","description":"Date string for when the user last signed in to Mod Picker."},"image_type":{"type":"string","description":"Extension for the user's avatar image."},"reputation":{"$ref":"#/definitions/Reputation"}}},"IndexUser":{"type":"object","properties":{"id":{"type":"integer"},"username":{"type":"string"},"email":{"type":"string","description":"Only present if the user has chosen to make their email public."},"role":{"type":"string"},"title":{"type":"string"},"comments_count":{"type":"integer","description":"The number of comments on the user's profile.  For the number of comments the user has submitted see `submitted_comments_count`."},"authored_mods_count":{"type":"integer"},"submitted_mods_count":{"type":"integer"},"reviews_count":{"type":"integer"},"compatibility_notes_count":{"type":"integer"},"install_order_notes_count":{"type":"integer"},"load_order_notes_count":{"type":"integer"},"corrections_count":{"type":"integer"},"submitted_comments_count":{"type":"integer"},"mod_lists_count":{"type":"integer"},"mod_collections_count":{"type":"integer"},"tags_count":{"type":"integer"},"mod_tags_count":{"type":"integer"},"mod_list_tags_count":{"type":"integer"},"helpful_marks_count":{"type":"integer"},"agreement_marks_count":{"type":"integer"},"starred_mods_count":{"type":"integer"},"starred_mod_lists_count":{"type":"integer"},"joined":{"type":"string","description":"Date string for when the user joined Mod Picker."},"last_sign_in_at":{"type":"string","description":"Date string for when the user last signed in to Mod Picker."},"image_type":{"type":"string","description":"Extension for the user's avatar image."},"reputation":{"$ref":"#/definitions/Reputation"}}},"BasePlugin":{"type":"object","properties":{"id":{"type":"integer"},"filename":{"type":"string"}}},"ShowPlugin":{"type":"object","properties":{"id":{"type":"integer"},"game_id":{"type":"integer"},"mod_option_id":{"type":"integer"},"filename":{"type":"string"},"crc_hash":{"type":"string"},"file_size":{"type":"integer"},"author":{"type":"string"},"description":{"type":"string"},"record_count":{"type":"integer"},"override_count":{"type":"integer"},"errors_count":{"type":"integer"},"mod_lists_count":{"type":"integer"},"load_order_notes_count":{"type":"integer"},"has_adult_content":{"type":"boolean"},"is_esm":{"type":"boolean"},"formatted_overrides":{"type":"object","properties":{"signature":{"description":"Record signature key.  E.g. \"WRLD\", \"CELL\", \"ARMO\".","type":"array","items":{"type":"integer","description":"Decimal load order FormID of the overriden record based on the plugin's master dependencies."}}}},"masters":{"type":"array","items":{"type":"object","properties":{"master_plugin_id":{"type":"integer"},"index":{"type":"integer"},"master_plugin":{"type":"object","properties":{"id":{"type":"integer"},"filename":{"type":"string"}}}}}},"dummy_masters":{"type":"array","items":{"type":"string"}},"plugin_errors":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"signature":{"type":"string"},"form_id":{"type":"integer"},"group":{"type":"integer"},"path":{"type":"string"},"name":{"type":"string"},"data":{"type":"string"}}}},"plugin_record_groups":{"type":"array","items":{"type":"object","properties":{"sig":{"type":"string"},"record_count":{"type":"integer"},"override_count":{"type":"integer"}}}}}},"IndexPlugin":{"type":"object","properties":{"id":{"type":"integer"},"game_id":{"type":"integer"},"mod_option_id":{"type":"integer"},"filename":{"type":"string"},"crc_hash":{"type":"string"},"file_size":{"type":"integer"},"author":{"type":"string"},"description":{"type":"string"},"record_count":{"type":"integer"},"override_count":{"type":"integer"},"errors_count":{"type":"integer"},"mod_lists_count":{"type":"integer"},"load_order_notes_count":{"type":"integer"},"has_adult_content":{"type":"boolean"},"is_esm":{"type":"boolean"},"mod":{"$ref":"#/definitions/BaseMod"}}},"ModAnalysis":{"type":"object","properties":{"mod_options":{"type":"array","items":{"$ref":"#/definitions/ExtModOption"}},"plugins":{"type":"array","items":{"$ref":"#/definitions/ShowPlugin"}}}},"BaseMod":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"}}},"IndexMod":{"type":"object","properties":{"id":{"type":"integer","description":"Unique identifier for the mod."},"is_official":{"type":"boolean","description":"True for games and official DLC."},"is_utility":{"type":"boolean","description":"True for mods which are installed outside of the game's data directory."},"name":{"type":"string","description":"The mod's name."},"aliases":{"type":"string","description":"Acroynms or alternative names for the mod."},"authors":{"type":"string","description":"The author of the mod."},"status":{"type":"string","description":"The status of the mod.  Can be \\\"good\\\", \\\"outdated\\\", or \\\"unstable\\\"."},"primary_category_id":{"type":"integer","description":"The id of the primary category the mod belongs to.  Null for games."},"secondary_category_id":{"type":"integer","description":"The id of the secondary category the mod belongs to.  May be null if the mod has not been assigned a secondary category."},"average_rating":{"type":"number","format":"float","description":"The average review rating of the mod.  0 if the mod has no approved reviews."},"reputation":{"type":"number","format":"float","description":"A metric computed from the mod's average_rating and reviews_count."},"plugins_count":{"type":"integer","description":"The number of plugins associated with the mod."},"asset_files_count":{"type":"integer","description":"The number of asset files associated with the mod."},"required_mods_count":{"type":"integer","description":"The number of mods that are required by the mod."},"required_by_count":{"type":"integer","description":"The number of mods that require the mod."},"tags_count":{"type":"integer","description":"The number of tags assigned to the mod."},"stars_count":{"type":"integer","description":"The number of times the mod has been starred (favorited) on Mod Picker."},"mod_lists_count":{"type":"integer","description":"The number of Mod Picker mod lists the mod has been used in."},"reviews_count":{"type":"integer","description":"The number of reviews on the mod."},"compatibility_notes_count":{"type":"integer","description":"The number of compatibility notes on the mod."},"install_order_notes_count":{"type":"integer","description":"The number of install order notes on the mod."},"load_order_notes_count":{"type":"integer","description":"The number of load order notes on the mod."},"corrections_count":{"type":"integer","description":"The number of corrections (appeals) on the mod."},"disallow_contributors":{"type":"boolean","description":"True if the mod author has disallowed contributors from editing the mod page."},"has_adult_content":{"type":"boolean","description":"True if the mod has been flagged as having adult content."},"hidden":{"type":"boolean","description":"True if the mod has been hidden from public viewing."},"approved":{"type":"boolean","description":"True if the mod has been approved for public viewing."},"released":{"type":"string","description":"[ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date string for when the mod was released."},"updated":{"type":"string","description":"[ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date string for when the mod was last updated."},"submitted":{"type":"string","description":"[ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date string for when the mod was submitted to Mod Picker."},"image_type":{"type":"string","description":"Extension for the image associated with the mod."},"nexus_infos":{"$ref":"#/definitions/NexusInfo"},"lover_infos":{"$ref":"#/definitions/LoverInfo"},"workshop_infos":{"$ref":"#/definitions/WorkshopInfo"}}},"ShowMod":{"type":"object","properties":{"id":{"type":"integer","description":"Unique identifier for the mod."},"is_official":{"type":"boolean","description":"True for games and official DLC."},"is_utility":{"type":"boolean","description":"True for mods which are installed outside of the game's data directory."},"name":{"type":"string","description":"The mod's name."},"aliases":{"type":"string","description":"Acroynms or alternative names for the mod."},"authors":{"type":"string","description":"The author of the mod."},"status":{"type":"string","description":"The status of the mod.  Can be \\\"good\\\", \\\"outdated\\\", or \\\"unstable\\\"."},"primary_category_id":{"type":"integer","description":"The id of the primary category the mod belongs to.  Null for games."},"secondary_category_id":{"type":"integer","description":"The id of the secondary category the mod belongs to.  May be null if the mod has not been assigned a secondary category."},"average_rating":{"type":"number","format":"float","description":"The average review rating of the mod.  0 if the mod has no approved reviews."},"reputation":{"type":"number","format":"float","description":"A metric computed from the mod's average_rating and reviews_count."},"plugins_count":{"type":"integer","description":"The number of plugins associated with the mod."},"asset_files_count":{"type":"integer","description":"The number of asset files associated with the mod."},"required_mods_count":{"type":"integer","description":"The number of mods that are required by the mod."},"required_by_count":{"type":"integer","description":"The number of mods that require the mod."},"tags_count":{"type":"integer","description":"The number of tags assigned to the mod."},"stars_count":{"type":"integer","description":"The number of times the mod has been starred (favorited) on Mod Picker."},"mod_lists_count":{"type":"integer","description":"The number of Mod Picker mod lists the mod has been used in."},"reviews_count":{"type":"integer","description":"The number of reviews on the mod."},"compatibility_notes_count":{"type":"integer","description":"The number of compatibility notes on the mod."},"install_order_notes_count":{"type":"integer","description":"The number of install order notes on the mod."},"load_order_notes_count":{"type":"integer","description":"The number of load order notes on the mod."},"corrections_count":{"type":"integer","description":"The number of corrections (appeals) on the mod."},"disallow_contributors":{"type":"boolean","description":"True if the mod author has disallowed contributors from editing the mod page."},"has_adult_content":{"type":"boolean","description":"True if the mod has been flagged as having adult content."},"hidden":{"type":"boolean","description":"True if the mod has been hidden from public viewing."},"approved":{"type":"boolean","description":"True if the mod has been approved for public viewing."},"released":{"type":"string","description":"[ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date string for when the mod was released."},"updated":{"type":"string","description":"[ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date string for when the mod was last updated."},"submitted":{"type":"string","description":"[ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date string for when the mod was submitted to Mod Picker."},"image_type":{"type":"string","description":"Extension for the image associated with the mod."},"nexus_infos":{"$ref":"#/definitions/NexusInfo"},"lover_infos":{"$ref":"#/definitions/LoverInfo"},"workshop_infos":{"$ref":"#/definitions/WorkshopInfo"},"tags":{"type":"array","items":{"$ref":"#/definitions/Tag"}},"submitter":{"$ref":"#/definitions/BaseUser"},"mod_authors":{"type":"array","items":{"$ref":"#/definitions/ModAuthor"}}}},"TagsIndexRequest":{"type":"object","required":["sort","filters"],"properties":{"page":{"type":"integer","minimum":1},"sort":{"type":"object","required":["column","direction"],"properties":{"column":{"type":"string","enum":["text","mods_count","mod_lists_count"],"description":"Column to sort by."},"direction":{"type":"string","enum":["ASC","DESC"],"description":"Direction to sort in (ASC for ascending, DESC for descending)."}}},"filters":{"type":"object","required":["game"],"properties":{"game":{"type":"integer","description":"The id of the game you want to find tags for."},"search":{"type":"string","description":"Returns tags containing the input string."},"submitter":{"type":"string","description":"Returns tags submitted by the user specified by the input string.  Exact match."},"mods":{"type":"object","properties":{"min":{"type":"integer"},"max":{"type":"integer"}}},"mod_lists":{"type":"object","properties":{"min":{"type":"integer"},"max":{"type":"integer"}}}}}}},"ModOptionsSearchRequest":{"type":"object","required":["filters"],"properties":{"filters":{"type":"object","properties":{"search":{"type":"string"},"mods":{"type":"array","items":{"type":"integer"}}}}}},"UsersSearchRequest":{"type":"object","required":["filters"],"properties":{"filters":{"type":"object","required":["search"],"properties":{"search":{"type":"string"}}}}},"UsersIndexRequest":{"type":"object","required":["sort","filters"],"properties":{"page":{"type":"integer","minimum":1},"sort":{"type":"object","required":["column","direction"],"properties":{"column":{"type":"string","enum":["username","role","title","joined","last_sign_in_at","reputation","submitted_comments_count","comments_count","authored_mods_count","mod_lists_count","mod_collections_count","submitted_mods_count","reviews_count","compatibility_notes_count","install_order_notes_count","load_order_notes_count","corrections_count","tags_count","mod_tags_count","mod_list_tags_count","helpful_marks_count","agreement_marks_count","starred_mods_count","starred_mod_lists_count"],"description":"Column to sort by."},"direction":{"type":"string","enum":["ASC","DESC"],"description":"Direction to sort in (ASC for ascending, DESC for descending)."}}},"filters":{"type":"object","properties":{"search":{"type":"string","description":"Returns users with usernames containing the input string."},"linked":{"type":"string","description":"Returns users with linked account usernames containing the input string."},"roles":{"type":"object","properties":{"admin":{"type":"boolean"},"moderator":{"type":"boolean"},"author":{"type":"boolean"},"user":{"type":"boolean"},"restricted":{"type":"boolean"},"banned":{"type":"boolean"}}},"joined":{"type":"object","properties":{"min":{"type":"string"},"max":{"type":"string"}}},"last_seen":{"type":"object","properties":{"min":{"type":"string"},"max":{"type":"string"}}},"reputation":{"type":"object","properties":{"min":{"type":"integer"},"max":{"type":"integer"}}},"authored_mods":{"type":"object","properties":{"min":{"type":"integer"},"max":{"type":"integer"}}},"mod_lists":{"type":"object","properties":{"min":{"type":"integer"},"max":{"type":"integer"}}},"comments":{"type":"object","properties":{"min":{"type":"integer"},"max":{"type":"integer"}}},"reviews":{"type":"object","properties":{"min":{"type":"integer"},"max":{"type":"integer"}}},"compatibility_notes":{"type":"object","properties":{"min":{"type":"integer"},"max":{"type":"integer"}}},"install_order_notes":{"type":"object","properties":{"min":{"type":"integer"},"max":{"type":"integer"}}},"load_order_notes":{"type":"object","properties":{"min":{"type":"integer"},"max":{"type":"integer"}}},"corrections":{"type":"object","properties":{"min":{"type":"integer"},"max":{"type":"integer"}}},"submitted_comments":{"type":"object","properties":{"min":{"type":"integer"},"max":{"type":"integer"}}}}}}},"CommentsRequest":{"type":"object","required":["sort"],"properties":{"page":{"type":"integer","minimum":1},"sort":{"type":"object","required":["column","direction"],"properties":{"column":{"type":"string","enum":["?"],"description":"Column to sort by."},"direction":{"type":"string","enum":["ASC","DESC"],"description":"Direction to sort in (ASC for ascending, DESC for descending)."}}}}},"ReviewsIndexRequest":{"type":"object","required":["sort","filters"],"properties":{"page":{"type":"integer","minimum":1},"sort":{"type":"object","required":["column","direction"],"properties":{"column":{"type":"string","enum":["helpfulness","submitter.reputation","overall_rating","submitted","edited"],"description":"Column to sort by."},"direction":{"type":"string","enum":["ASC","DESC"],"description":"Direction to sort in (ASC for ascending, DESC for descending)."}}},"filters":{"type":"object","properties":{"search":{"type":"string","description":"Returns reviews with text bodies containing the input string."},"submitter":{"type":"string","description":"Returns reviews submitted by the user specified.  Exact match."},"editor":{"type":"string","description":"Returns reviews edited by the user specified.  Exact match."},"submitted":{"type":"object","properties":{"min":{"type":"string"},"max":{"type":"string"}}},"edited":{"type":"object","properties":{"min":{"type":"string"},"max":{"type":"string"}}},"helpfulness":{"type":"object","properties":{"min":{"type":"integer"},"max":{"type":"integer"}}},"reputation":{"type":"object","properties":{"min":{"type":"integer"},"max":{"type":"integer"}}},"helpful_count":{"type":"object","properties":{"min":{"type":"integer"},"max":{"type":"integer"}}},"not_helpful_count":{"type":"object","properties":{"min":{"type":"integer"},"max":{"type":"integer"}}},"overall_rating":{"type":"object","properties":{"min":{"type":"integer"},"max":{"type":"integer"}}},"ratings_count":{"type":"object","properties":{"min":{"type":"integer"},"max":{"type":"integer"}}}}}}},"CompatibilityNotesIndexRequest":{"type":"object","required":["sort","filters"],"properties":{"page":{"type":"integer","minimum":1},"sort":{"type":"object","required":["column","direction"],"properties":{"column":{"type":"string","enum":["helpfulness","status","submitter.reputation","submitted","edited","corrections_count"],"description":"Column to sort by."},"direction":{"type":"string","enum":["ASC","DESC"],"description":"Direction to sort in (ASC for ascending, DESC for descending)."}}},"filters":{"type":"object","properties":{"search":{"type":"string","description":"Returns reviews with text bodies containing the input string."},"submitter":{"type":"string","description":"Returns reviews submitted by the user specified.  Exact match."},"status":{"type":"object","properties":{"incompatible":{"type":"boolean"},"partially_compatible":{"type":"boolean"},"compatibility_mod":{"type":"boolean"},"compatibility_option":{"type":"boolean"},"make_custom_patch":{"type":"boolean"}}},"standing":{"type":"object","properties":{"good":{"type":"boolean"},"unknown":{"type":"boolean"},"bad":{"type":"boolean"}}},"submitted":{"type":"object","properties":{"min":{"type":"string"},"max":{"type":"string"}}},"edited":{"type":"object","properties":{"min":{"type":"string"},"max":{"type":"string"}}},"helpfulness":{"type":"object","properties":{"min":{"type":"integer"},"max":{"type":"integer"}}},"reputation":{"type":"object","properties":{"min":{"type":"integer"},"max":{"type":"integer"}}},"helpful_count":{"type":"object","properties":{"min":{"type":"integer"},"max":{"type":"integer"}}},"not_helpful_count":{"type":"object","properties":{"min":{"type":"integer"},"max":{"type":"integer"}}},"corrections_count":{"type":"object","properties":{"min":{"type":"integer"},"max":{"type":"integer"}}},"history_entries_count":{"type":"object","properties":{"min":{"type":"integer"},"max":{"type":"integer"}}}}}}},"InstallOrderNotesIndexRequest":{"type":"object","required":["sort","filters"],"properties":{"page":{"type":"integer","minimum":1},"sort":{"type":"object","required":["column","direction"],"properties":{"column":{"type":"string","enum":["helpfulness","submitter.reputation","submitted","edited","corrections_count"],"description":"Column to sort by."},"direction":{"type":"string","enum":["ASC","DESC"],"description":"Direction to sort in (ASC for ascending, DESC for descending)."}}},"filters":{"type":"object","properties":{"search":{"type":"string","description":"Returns reviews with text bodies containing the input string."},"submitter":{"type":"string","description":"Returns reviews submitted by the user specified.  Exact match."},"standing":{"type":"object","properties":{"good":{"type":"boolean"},"unknown":{"type":"boolean"},"bad":{"type":"boolean"}}},"submitted":{"type":"object","properties":{"min":{"type":"string"},"max":{"type":"string"}}},"edited":{"type":"object","properties":{"min":{"type":"string"},"max":{"type":"string"}}},"helpfulness":{"type":"object","properties":{"min":{"type":"integer"},"max":{"type":"integer"}}},"reputation":{"type":"object","properties":{"min":{"type":"integer"},"max":{"type":"integer"}}},"helpful_count":{"type":"object","properties":{"min":{"type":"integer"},"max":{"type":"integer"}}},"not_helpful_count":{"type":"object","properties":{"min":{"type":"integer"},"max":{"type":"integer"}}},"corrections_count":{"type":"object","properties":{"min":{"type":"integer"},"max":{"type":"integer"}}},"history_entries_count":{"type":"object","properties":{"min":{"type":"integer"},"max":{"type":"integer"}}}}}}},"LoadOrderNotesIndexRequest":{"type":"object","required":["sort","filters"],"properties":{"page":{"type":"integer","minimum":1},"sort":{"type":"object","required":["column","direction"],"properties":{"column":{"type":"string","enum":["helpfulness","submitter.reputation","submitted","edited","corrections_count"],"description":"Column to sort by."},"direction":{"type":"string","enum":["ASC","DESC"],"description":"Direction to sort in (ASC for ascending, DESC for descending)."}}},"filters":{"type":"object","properties":{"search":{"type":"string","description":"Returns reviews with text bodies containing the input string."},"submitter":{"type":"string","description":"Returns reviews submitted by the user specified.  Exact match."},"standing":{"type":"object","properties":{"good":{"type":"boolean"},"unknown":{"type":"boolean"},"bad":{"type":"boolean"}}},"submitted":{"type":"object","properties":{"min":{"type":"string"},"max":{"type":"string"}}},"edited":{"type":"object","properties":{"min":{"type":"string"},"max":{"type":"string"}}},"helpfulness":{"type":"object","properties":{"min":{"type":"integer"},"max":{"type":"integer"}}},"reputation":{"type":"object","properties":{"min":{"type":"integer"},"max":{"type":"integer"}}},"helpful_count":{"type":"object","properties":{"min":{"type":"integer"},"max":{"type":"integer"}}},"not_helpful_count":{"type":"object","properties":{"min":{"type":"integer"},"max":{"type":"integer"}}},"corrections_count":{"type":"object","properties":{"min":{"type":"integer"},"max":{"type":"integer"}}},"history_entries_count":{"type":"object","properties":{"min":{"type":"integer"},"max":{"type":"integer"}}}}}}},"CommentsIndexRequest":{"type":"object","required":["sort","filters"],"properties":{"page":{"type":"integer","minimum":1},"sort":{"type":"object","required":["column","direction"],"properties":{"column":{"type":"string","enum":["submitted","edited"],"description":"Column to sort by."},"direction":{"type":"string","enum":["ASC","DESC"],"description":"Direction to sort in (ASC for ascending, DESC for descending)."}}},"filters":{"type":"object","properties":{"search":{"type":"string","description":"Returns comments with text bodies containing the input string."},"submitter":{"type":"string","description":"Returns comments submitted by the specified user.  Exact match."},"commentable":{"type":"object","properties":{"Article":{"type":"boolean"},"Correction":{"type":"boolean"},"HelpPage":{"type":"boolean"},"ModList":{"type":"boolean"},"User":{"type":"boolean"}}},"submitted":{"type":"object","properties":{"min":{"type":"string"},"max":{"type":"string"}}},"edited":{"type":"object","properties":{"min":{"type":"string"},"max":{"type":"string"}}},"replies_count":{"type":"object","properties":{"min":{"type":"integer"},"max":{"type":"integer"}}}}}}},"PluginsSearchRequest":{"type":"object","required":["filters"],"properties":{"filters":{"type":"object","required":["game"],"properties":{"search":{"type":"string"},"game":{"type":"integer"},"mods":{"type":"array","items":{"type":"integer"}}}}}},"PluginsIndexRequest":{"type":"object","required":["sort","filters"],"properties":{"page":{"type":"integer","minimum":1},"sort":{"type":"object","required":["column","direction"],"properties":{"column":{"type":"string","enum":["filename","crc_hash","author","mods.name","file_size","records_count","overrides_count","errors_count","mod_lists_count","load_order_notes_count"],"description":"Column to sort by."},"direction":{"type":"string","enum":["ASC","DESC"],"description":"Direction to sort in (ASC for ascending, DESC for descending)."}}},"filters":{"type":"object","required":["game"],"properties":{"game":{"type":"integer","description":"The id of the game you want to find plugins for."},"search":{"type":"string","description":"Returns plugins with filenames containing the input string."},"author":{"type":"string","description":"Returns plugins with author fields containing the input string."},"description":{"type":"string","description":"Returns plugins with description fields containing the input string."},"categories":{"type":"array","items":{"type":"integer","minimum":1,"description":"Category id to search for mods in."}},"adult":{"type":"object","properties":{"0":{"type":"boolean"},"1":{"type":"boolean"}}},"file_size":{"type":"object","properties":{"min":{"type":"string"},"max":{"type":"string"}}},"records":{"type":"object","properties":{"min":{"type":"integer"},"max":{"type":"integer"}}},"override_records":{"type":"object","properties":{"min":{"type":"integer"},"max":{"type":"integer"}}},"errors":{"type":"object","properties":{"min":{"type":"integer"},"max":{"type":"integer"}}},"mod_lists":{"type":"object","properties":{"min":{"type":"integer"},"max":{"type":"integer"}}},"load_order_notes":{"type":"object","properties":{"min":{"type":"integer"},"max":{"type":"integer"}}}}}}},"ModsSearchRequest":{"type":"object","required":["filters"],"properties":{"filters":{"type":"object","required":["search","game"],"properties":{"search":{"type":"string"},"game":{"type":"integer"},"utility":{"type":"boolean"},"include_games":{"type":"boolean"}}}}},"ModsIndexRequest":{"type":"object","required":["sort","filters"],"properties":{"page":{"type":"integer","minimum":1},"sort":{"type":"object","required":["column","direction"],"properties":{"column":{"type":"string","enum":["id","name","authors","primary_category_id","secondary_category_id","submitted","released","updated","stars_count","reputation","average_rating","plugins_count","mod_lists_count","required_mods_count","required_by_count","tags_count","compatibility_notes_count","install_order_notes_count","load_order_notes_count"],"description":"Column to sort by."},"direction":{"type":"string","enum":["ASC","DESC"],"description":"Direction to sort in (ASC for ascending, DESC for descending)."}}},"filters":{"type":"object","required":["game","sources"],"properties":{"game":{"type":"integer","description":"The id of the game you want to find mods for."},"sources":{"type":"object","properties":{"nexus":{"type":"boolean"},"lab":{"type":"boolean"},"workshop":{"type":"boolean"},"other":{"type":"boolean"}}},"adult":{"type":"object","properties":{"0":{"type":"boolean"},"1":{"type":"boolean"}}},"search":{"type":"string","description":"Returns mods with names or aliases containing the input string."},"author":{"type":"string","description":"Returns mods uploaded by or authored by the input author.  Exact match."},"categories":{"type":"array","items":{"type":"integer","minimum":1,"description":"Category id to search for mods in."}},"tags":{"type":"array","items":{"type":"string","description":"Tag to search for."}},"updated":{"type":"object","properties":{"min":{"type":"string"},"max":{"type":"string"}}},"released":{"type":"object","properties":{"min":{"type":"string"},"max":{"type":"string"}}},"submitted":{"type":"object","properties":{"min":{"type":"string"},"max":{"type":"string"}}},"reputation":{"type":"object","properties":{"min":{"type":"integer"},"max":{"type":"integer"}}},"rating":{"type":"object","properties":{"min":{"type":"integer"},"max":{"type":"integer"}}},"reviews":{"type":"object","properties":{"min":{"type":"integer"},"max":{"type":"integer"}}},"stars":{"type":"object","properties":{"min":{"type":"integer"},"max":{"type":"integer"}}},"mod_lists":{"type":"object","properties":{"min":{"type":"integer"},"max":{"type":"integer"}}},"compatibility_notes":{"type":"object","properties":{"min":{"type":"integer"},"max":{"type":"integer"}}},"install_order_notes":{"type":"object","properties":{"min":{"type":"integer"},"max":{"type":"integer"}}},"load_order_notes":{"type":"object","properties":{"min":{"type":"integer"},"max":{"type":"integer"}}},"asset_files":{"type":"object","properties":{"min":{"type":"integer"},"max":{"type":"integer"}}},"plugins":{"type":"object","properties":{"min":{"type":"integer"},"max":{"type":"integer"}}},"required_mods":{"type":"object","properties":{"min":{"type":"integer"},"max":{"type":"integer"}}},"required_by":{"type":"object","properties":{"min":{"type":"integer"},"max":{"type":"integer"}}},"tags_count":{"type":"object","properties":{"min":{"type":"integer"},"max":{"type":"integer"}}}}}}},"ModReviewsRequest":{"type":"object","required":["sort"],"properties":{"page":{"type":"integer","minimum":1},"sort":{"type":"object","required":["column","direction"],"properties":{"column":{"type":"string","enum":["helpfulness","submitter.reputation","overall_rating","submitted","edited"],"description":"Column to sort by."},"direction":{"type":"string","enum":["ASC","DESC"],"description":"Direction to sort in (ASC for ascending, DESC for descending)."}}}}},"ModCompatibilityNotesRequest":{"type":"object","required":["sort"],"properties":{"page":{"type":"integer","minimum":1},"sort":{"type":"object","required":["column","direction"],"properties":{"column":{"type":"string","enum":["helpfulness","submitter.reputation","submitted","edited","corrections_count"],"description":"Column to sort by."},"direction":{"type":"string","enum":["ASC","DESC"],"description":"Direction to sort in (ASC for ascending, DESC for descending)."}}}}},"ModInstallOrderNotesRequest":{"type":"object","required":["sort"],"properties":{"page":{"type":"integer","minimum":1},"sort":{"type":"object","required":["column","direction"],"properties":{"column":{"type":"string","enum":["helpfulness","submitter.reputation","submitted","edited","corrections_count"],"description":"Column to sort by."},"direction":{"type":"string","enum":["ASC","DESC"],"description":"Direction to sort in (ASC for ascending, DESC for descending)."}}}}},"ModLoadOrderNotesRequest":{"type":"object","required":["sort"],"properties":{"page":{"type":"integer","minimum":1},"sort":{"type":"object","required":["column","direction"],"properties":{"column":{"type":"string","enum":["helpfulness","submitter.reputation","submitted","edited","corrections_count"],"description":"Column to sort by."},"direction":{"type":"string","enum":["ASC","DESC"],"description":"Direction to sort in (ASC for ascending, DESC for descending)."}}}}}}}