<div class="help-contexts" ng-if="showHelper">
    <div class="help-context" ng-repeat="context in helpContexts">
        <!--<span class="hide-context" ng-click="removeContext($index)">
            <i class="fa fa-times"></i>
        </span>-->
        <span ng-bind-html="context"></span>
    </div>
</div>
<div class="helper-container" ng-if="showHelper">
    <span class="hide-helper" ng-click="toggleHelper()" title="Hide the helper.">
        <i class="fa fa-times"></i>
    </span>
    <div class="helper"></div>
</div>
<span class="show-helper" ng-click="toggleHelper()" ng-if="!showHelper && !hideHelper" title="Get help!">
    <i class="fa fa-question-circle"></i>
</span>