<div class="stat-item">
    <dt class="stat-title">Filename</dt>
    <dd class="stat-data">{{plugin.filename}}
        <span ng-if="plugin.is_esm" class="flag esm-flag">ESM</span>
    </dd>
</div>

<div class="stat-item">
    <dt class="stat-title">Masters</dt>
    <dd class="stat-data" ng-if="plugin.master_plugins">
        <span ng-if="plugin.master_plugins.length == 0">-</span>
        <span class="stat-data-item" ng-repeat="master in plugin.master_plugins">
            {{master.filename}}<span ng-show="!$last">, </span>
        </span>
    </dd>
    <dd class="stat-data" ng-if="plugin.masters">
        <span ng-if="plugin.masters.length == 0">-</span>
        <span class="stat-data-item" ng-repeat="master in plugin.masters">
            {{master.master_plugin.filename}}<span ng-show="!$last">, </span>
        </span>
    </dd>
</div>

<div class="stat-item">
    <dt class="stat-title">Author</dt>
    <dd class="stat-data">{{plugin.author}}</dd>
</div>

<div class="stat-item">
    <dt class="stat-title">Description</dt>
    <dd class="stat-data plugin-description">{{plugin.description}}</dd>
</div>

<div class="stat-item">
    <dt class="stat-title">CRC Hash</dt>
    <dd class="stat-data">{{plugin.crc_hash}}</dd>
</div>

<div class="stat-item">
    <dt class="stat-title">File Size</dt>
    <dd class="stat-data">{{plugin.file_size | bytes}}</dd>
</div>

<div class="stat-item">
    <dt class="stat-title">Record Count</dt>
    <dd class="stat-data">{{plugin.record_count}}</dd>
</div>

<div class="stat-item">
    <dt class="stat-title">Override Count</dt>
    <dd class="stat-data">{{plugin.override_count}}</dd>
</div>

<div class="stat-item" ng-if="showRecordGroups">
    <dt class="stat-title">Record Groups</dt>
    <dd class="stat-data">
        <span class="stat-data-item" ng-repeat="group in plugin.plugin_record_groups_attributes">
            {{group.sig}}: {{group.record_count}} records, {{group.override_count}} overrides
            <br ng-if="!$last"/>
        </span>
    </dd>
</div>
