<div class="tags-container">
    <span ng-repeat="tag in activeTags" class="tag-box" title="Submitted by {{tag.submitter.username}}">
        <a ng-href="#/{{type}}s?t={{tag.text}}">
            <span class="tag-text">
                {{tag.text}}
            </span>
            <span ng-if="showModsCount" class="tag-count" ng-class="{ 'last-child' : !(showRemove || showModListsCount) }" title="The number of mods with this tag">
                {{tag.mods_count | number}}
            </span>
            <span ng-if="showModListsCount" class="tag-count" ng-class="{ 'last-child' : !showRemove }"
                  title="The number of mod lists with this tag">
                {{tag.mod_lists_count | number}}
            </span>
        </a>
        <span ng-if="showRemove" class="remove-tag" ng-click="removeActiveTag($index)" title="Click to remove this tag">
            <i class="fa fa-times"></i>
        </span>
    </span>
    <span ng-repeat="tag in rawNewTags" class="edit-tag-box">
        <span class="tag-text">
            <tag-input tags="tags" tag="tag" can-create="canCreate" apply-tag="applyTag" remove-tag="removeTag" add-tag="focusAddTag" last="$last" index="$index"></tag-input>
        </span>
        <span ng-if="showModsCount" class="tag-count" title="The number of mods with this tag">
            {{tag.mods_count | number}}
        </span>
        <span ng-if="showModListsCount" class="tag-count"
              title="The number of mod lists with this tag">
            {{tag.mod_lists_count | number}}
        </span>
        <span class="remove-tag" ng-click="removeTag($index)">
            <i class="fa fa-times"></i>
        </span>
    </span>
    <span class="add-tag-box" ng-show="showAdd && (activeTags.length + rawNewTags.length < maxTags)" ng-click="addTag()" tabindex="0" ng-keydown="$event.keyCode == 13 && addTag()">
        <span class="add-tag">
            <i class="fa fa-plus"></i> Add a tag
        </span>
    </span>
</div>

<div class="tag-actions-container" ng-if="saveCallback && (removedTags.length > 0 || rawNewTags.length > 0)">
    <input class="btn small-action-btn" type="submit" value="Save Tags" ng-click="saveTags()">
    <input class="btn small-action-btn" type="submit" value="Reset Tags" ng-click="resetTags()">
</div>
