<div class="column first-column">
    <ul>
        <li class="user-name">
            <a class="inverse-link user-role-{{user.role}}" ng-href="user/{{user.id}}">{{user.username}}</a>
        </li>
        <li class="user-avatar">
            <img class="avatar avatar-medium" ng-src="{{user.avatars.medium}}"/>
        </li>
        <li ng-if="permissions.canModerate">
            <span ng-click="addRep()">
                <i class="fa fa-plus"></i> Rep
            </span>
            <span ng-click="subtractRep()">
                <i class="fa fa-minus"></i> Rep
            </span>
        </li>
        <li ng-if="permissions.canModerate">
            <span ng-click="toggleRestrictUser()">
                <i class="fa {{ userRestricted() ? 'fa-unlock' : 'fa-lock' }}"></i>
                {{ userRestricted() ? 'Unrestrict' : 'Restrict' }}
            </span>
        </li>
        <li ng-if="permissions.canModerate">
            <span ng-click="toggleBanUser()">
                <i class="fa {{ userBanned() ? 'fa-life-ring' : 'fa-gavel' }}"></i>
                {{ userBanned() ? 'Unban' : 'Ban' }}
            </span>
        </li>
    </ul>
</div>
<div class="column second-column">
    <ul>
        <li>
            <b>Title:</b> {{user.title}}
        </li>
        <li>
            <b>Role:</b> {{user.role.capitalize()}}
        </li>
        <li>
            <b>Reputation:</b> {{user.reputation.overall | number:0}}
        </li>
        <li>
            <b>Joined:</b> {{user.joined | date}}
        </li>
        <!-- TODO: Add last_seen to users -->
        <li>
            <b>Seen:</b> {{user.last_sign_in_at | date}}
        </li>
    </ul>
</div>
<div class="column third-column">
    <ul>
        <li>
            <a class="inverse-link" ng-href="reviews?scol=submitted&q=submitter:{{user.username}}">
                <b>{{user.reviews_count | number}}</b> Reviews
            </a>
        </li>
        <li>
            <a class="inverse-link" ng-href="compatibility-notes?scol=submitted&q=submitter:{{user.username}}">
                <b>{{user.compatibility_notes_count | number}}</b> Compatibility Notes
            </a>
        </li>
        <li>
            <a class="inverse-link" ng-href="install-order-notes?scol=submitted&q=submitter:{{user.username}}">
                <b>{{user.install_order_notes_count| number}}</b> Install Order Notes
            </a>
        </li>
        <li>
            <a class="inverse-link" ng-href="load-order-notes?scol=submitted&q=submitter:{{user.username}}">
                <b>{{user.load_order_notes_count | number}}</b> Load Order Notes
            </a>
        </li>
        <li>
            <a class="inverse-link" ng-href="corrections?scol=submitted&q=submitter:{{user.username}}">
                <b>{{user.corrections_count | number}}</b> Corrections
            </a>
        </li>
        <li>
            <a class="inverse-link" ng-href="comments?scol=submitted&q=submitter:{{user.username}}">
                <b>{{user.comments_count | number}}</b> Comments
            </a>
        </li>
    </ul>
</div>