/* FALKREATH THEME */

$banner_image: image_path("falkreath.jpg");
$banner_artist: "michalkus";
$banner_credit_link: "https://www.artstation.com/artwork/EB48";

$helper_image: image_path("barbas.png");
$helper_head_offset: 115px;
$helper_height: 180px;

$text_color: #303030;
$inverse_text_color: #eee;
$soft_text_color: #aaa;
$medium_text_color: #777;

$primary_background: #f8faf0;
$secondary_background: #f0f1ea;
$background_highlight: #f2f2e9;
$input_background: #fff;

$shadow_color: #000;
$border_color: #cacaca;
$soft_border_color: #dadada;
$hard_border_color: #84888a;

$h1_color: #afccfa; // 556680
$h2_color: #000;
$h3_color: #505b66;
$h4_color: #575964;

$action_color: #637ea8;
$action_text_color: #fff;
$bright_action_color: #7e9ccc;

$bar_color: #404747;
$bar_dark_color: #343737;
$bar_highlight_color: #5b6363;
$bar_text_color: #eee;
$bar_highlight_text_color: #a9a9c9;

$link_color: #182e8f;
$link_hover_color_primary: #3678BF;
$link_hover_color_secondary: #508bda;

$slider_bg_color: #cacaca;
$slider_range_color: #508bda;
$slider_circle_color_after: #205098;

$success_primary: #B4D5B4;
$success_secondary: #4AC859;
$error_primary: #F5D0D5;
$error_secondary: #C74A5B;
$warning_primary: #F5F0D0;
$warning_secondary: #C7B64A;

$admin_color: #900000;
$moderator_color: #8000b0;
$news_writer_color: #0080b0;
$mod_author_color: #008000;

$red_color: #FBEFEF;
$orange_color: #FFF0E2;
$yellow_color: #FBFBE8;
$green_color: #E5FAE0;
$blue_color: #E2E5FB;
$purple_color: #F8EAFF;
$white_color: #FFF;
$gray_color: #E5E5E5;
$brown_color: #F0E4D2;
$black_color: #DDD;

@import 'main';
