/* WHITERUN THEME */

$banner_image: image_path("whiterun.jpg");
$banner_artist: "michalkus";
$banner_credit_link: "http://www.layerpaint.com/index_gallery_detailed2.php?id=5737";

$helper_image: image_path("farengar.png");
$helper_head_offset: 84px;
$helper_height: 180px;

$text_color: #000;
$inverse_text_color: #eee;
$soft_text_color: #aaa;
$medium_text_color: #777;

$primary_background: #fafaeb;
$secondary_background: #eeeedd;
$background_highlight: #fcfce7;
$input_background: #fff;

$shadow_color: #000;
$border_color: #cacaca;
$soft_border_color: #dadada;
$hard_border_color: #84888a;

$h1_color: #e6d6b8;
$h2_color: #000;
$h3_color: #665b50;
$h4_color: #575964;

$action_color: #c29d57;
$action_text_color: #eee;
$bright_action_color: #ebcf94;

$bar_color: #342f2a;
$bar_dark_color: #484037;
$bar_highlight_color: #48433f;
$bar_text_color: #eee;
$bar_highlight_text_color: #c9a9a9;

$link_color: #182e8f;
$link_hover_color_primary: #3678BF;
$link_hover_color_secondary: #508bda;

$slider_bg_color: #cacaca;
$slider_range_color: #508bda;
$slider_circle_color_after: #205098;

$success_primary: #B4D5B4;
$success_secondary: #4AC859;
$error_primary: #F5D0D5;
$error_secondary: #C74A5B;
$warning_primary: #F5F0D0;
$warning_secondary: #C7B64A;

$admin_color: #900000;
$moderator_color: #8000b0;
$mod_author_color: #008000;

$red_color: #FBEFEF;
$orange_color: #FFF0E2;
$yellow_color: #FBFBE8;
$green_color: #E5FAE0;
$blue_color: #E2E5FB;
$purple_color: #F8EAFF;
$white_color: #FFF;
$gray_color: #E5E5E5;
$brown_color: #F0E4D2;
$black_color: #DDD;

@import 'main';
