/* WORKSHOP THEME */

$banner_image: image_path("workshop.jpg");

$text_color: #404040;
$inverse_text_color: #ffffff;
$soft_text_color: #bbb;

$primary_background: #ffffff;
$secondary_background: #f5f5f5;
$background_highlight: #ffffff;
$input_background: #fff;

$shadow_color: #000;
$border_color: #e6e6e6;
$soft_border_color: #f0f0f0;
$hard_border_color: #b6b6b6;

$h1_color: #fff;
$h2_color: #000;
$h3_color: #3a4751;
$h4_color: #707070;

$action_color: #53b6bf;
$action_text_color: #ffffff;
$bright_action_color: #a6ceda;
$dark_action_color: #479aa2;

$bar_color: #3a4751;
$bar_highlight_color: #4d5e6b;
$bar_text_color: #ffffff;
$bar_highlight_text_color: #53b6bf;

$link_color: #53b6bf;
$link_hover_color_primary: #53b6bf;
$link_hover_color_secondary: #3a4751;

$slider_bg_color: #aeb5b6;
$slider_range_color: #53b6bf;
$slider_circle_color_after: #3a4751;

$success_primary: #B4D5B4;
$success_secondary: #4AC859;
$error_primary: #F5D0D5;
$error_secondary: #C74A5B;
$warning_primary: #F5F0D0;
$warning_secondary: #C7B64A;

$admin_color: #900000;
$moderator_color: #8000b0;
$mod_author_color: #008000;

$red_color: #FBEFEF;
$orange_color: #FFF0E2;
$yellow_color: #FBFBE8;
$green_color: #E5FAE0;
$blue_color: #E2E5FB;
$purple_color: #F8EAFF;
$white_color: #FFF;
$gray_color: #E5E5E5;
$brown_color: #F0E4D2;
$black_color: #DDD;

@import 'main';