/* HIGH HROTHGAR THEME */

$banner_image: image_path("high-hrothgar-1920.jpg");
$banner_artist: "willroberts04";
$banner_credit_link: "http://willroberts04.deviantart.com/art/Skyrim-447279521";

$text_color: #404040;
$inverse_text_color: #ffffff;
$soft_text_color: #bbb;
$medium_text_color: #888;

$primary_background: #ffffff;
$secondary_background: #f0f0f0;
$background_highlight: #fafafa;
$input_background: #fff;

$shadow_color: #000;
$border_color: #e6e6e6;
$soft_border_color: #f0f0f0;
$hard_border_color: #b6b6b6;

$h1_color: #fff;
$h2_color: #000;
$h3_color: #3a4751;
$h4_color: #606060;

$action_color: #53b6bf;
$action_text_color: #ffffff;
$bright_action_color: #a6ceda;

$bar_color: #3a4751;
$bar_dark_color: #2C353C;
$bar_highlight_color: #4d5e6b;
$bar_text_color: #ffffff;
$bar_highlight_text_color: #53b6bf;

$link_color: #53b6bf;
$link_hover_color_primary: #53b6bf;
$link_hover_color_secondary: #3a4751;

$background_grand: #daeaf2;
$background_high: #bdd4e4;
$background_medium_high: #99b8ce;
$background_medium: #5b7487;
$background_medium_low: #4d5e6b;
$background_low: #3a4751;
$background_base: #2C353C;
$background_under: #1c2226;

$success_primary: #B4D5B4;
$success_secondary: #4AC859;
$error_primary: #F5D0D5;
$error_secondary: #C74A5B;
$warning_primary: #F5F0D0;
$warning_secondary: #C7B64A;

$max-width-container: 1220px;
$max-content-width: 850px;

@import 'landing';