<div class="news-box" ng-class="{ 'no-border' : showFull }">
    <div class="image-container" ng-if="article.image">
        <a ng-href="#/article/{{article.id}}">
            <img ng-src="{{article.image}}" />
        </a>
    </div>
    <div class="content-container">
        <a ng-href="#/article/{{article.id}}" ng-if="!showFull">
            <h3>{{article.title}}</h3>
        </a>
        <h3 ng-if="showFull">{{article.title}}</h3>
        <span class="article-details">
            by <a ng-href="#/user/{{article.submitter.id}}">{{article.submitter.username}}</a>
            on {{article.submitted | date}}
        </span>
        <div marked="article.text_body"></div>
        <a ng-href="#/article/{{article.id}}" ng-if="!showFull">
            Read More
        </a>
    </div>
</div>
