<div>
    <span ng-if="data.childs">
        <span ng-show="expanded" ng-click="expanded = !expanded" class="expanded-icon">
            <i class="fa fa-chevron-down"></i>
        </span>
        <span ng-hide="expanded" ng-click="expanded = !expanded" class="collapsed-icon">
            <i class="fa fa-chevron-right"></i>
        </span>
    </span>
    {{data.title}}
</div>
<div ng-hide="expanded" ng-if="data.childs">
    <assert-tree ng-repeat="child in data.childs" data="child"></assert-tree>
</div>