<div ng-repeat="primaryCategory in categories">
    <expandable expanded="expanded[primaryCategory.id]" disable-style="true" disable-full-title-toggle="true">
        <expanded-title>
            <label>
                <input type="checkbox" ng-model="categoryFilter[primaryCategory.id].value" ng-indeterminate="categoryFilter[primaryCategory.id].indeterminate" ng-change="updateSelection(primaryCategory.id)"/>
                <span>{{primaryCategory.name}}</span>
            </label>
        </expanded-title>
        <expanded-icon>|</expanded-icon>
        <!--<collapsed-icon> </collapsed-icon>-->
        <content>
            <div ng-repeat="secondaryCategory in primaryCategory.childs">
                <label class="sublabel">
                    <span>|___</span>
                    <input type="checkbox" ng-model="categoryFilter[primaryCategory.id].childs[secondaryCategory.id].value" ng-change="updateSelection(primaryCategory.id, secondaryCategory.id)"/>
                    <span>{{secondaryCategory.name}}</span>
                </label>
            </div>
        </content>
    </expandable>
</div>