
<h3 id="title-with-buttons">Categories
    <span class="filter-controls">
        <span class="fa fa-eraser" ng-click="clearSelection()" title="Clear Selection"></span>
        <span class="fa fa-adjust" ng-click="inverseSelection()" title="Inverse Selection"></span>
    </span>
</h3>
<div class="sidebar-box">
    <div class="category-tree">
        <div ng-repeat="primaryCategory in categories">
            <expandable expanded="categoryFilter[primaryCategory.id].expanded" disable-style="true" disable-full-title-toggle="true" ng-if="primaryCategory.childs.length">
                <expanded-title>
                    <label class="supercategory">
                        <input type="checkbox" ng-model="categoryFilter[primaryCategory.id].value" ng-indeterminate="categoryFilter[primaryCategory.id].indeterminate" ng-change="updateSelection(primaryCategory.id)"/>
                        <span>{{primaryCategory.name}}</span>
                    </label>
                </expanded-title>
                <content>
                    <div class="sub-category" ng-repeat="secondaryCategory in primaryCategory.childs">
                        <label>
                            <input type="checkbox" ng-model="categoryFilter[primaryCategory.id].childs[secondaryCategory.id].value" ng-change="updateSelection(primaryCategory.id, secondaryCategory.id)"/>
                            <span>{{secondaryCategory.name}}</span>
                        </label>
                    </div>
                </content>
            </expandable>

            <!-- TODO: kill duplication-->
            <!-- Improved slightly using ng-if, now the HTML served to the user isn't quite as polluted -->
            <div ng-if="!primaryCategory.childs.length">
                <div class="expandable-title-container">
                    <span class="no-icon"></span>
                    <label class="supercategory">
                        <input type="checkbox" ng-model="categoryFilter[primaryCategory.id].value" ng-indeterminate="categoryFilter[primaryCategory.id].indeterminate" ng-change="updateSelection(primaryCategory.id)"/>
                        <span>{{primaryCategory.name}}</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
