<div class="tree-controls">
    <button class="btn" ng-click="inverse()">Invert</button>
    <button class="btn" ng-click="reset()">Reset</button>
</div>
<div ng-repeat="primaryCategory in categories">
    <expandable expanded="categoryFilter[primaryCategory.id].expanded" disable-style="true" disable-full-title-toggle="true">
        <expanded-title>
            <label class="supercategory">
                <input type="checkbox" ng-model="categoryFilter[primaryCategory.id].value" ng-indeterminate="categoryFilter[primaryCategory.id].indeterminate" ng-change="updateSelection(primaryCategory.id)"/>
                <span>{{primaryCategory.name}}</span>
            </label>
        </expanded-title>
        <content>
            <div class="sub-category" ng-repeat="secondaryCategory in primaryCategory.childs">
                <label>
                    <input type="checkbox" ng-model="categoryFilter[primaryCategory.id].childs[secondaryCategory.id].value" ng-change="updateSelection(primaryCategory.id, secondaryCategory.id)"/>
                    <span>{{secondaryCategory.name}}</span>
                </label>
            </div>
        </content>
    </expandable>
</div>