<div class="modal-container" ng-show="showModal">
    <div class="modal big-modal">
        <form>
            <h3 class="section-title">Edit Columns</h3>
            <div class="columns-list">
                <section ng-repeat="group in columnGroups">
                    <h3>{{group}}</h3>
                    <ul class="checkbox-list">
                        <li ng-repeat="column in groupColumns(availableColumnData, columns, group) as groupedColumns">
                            <label>
                                <input type="checkbox" ng-model="column.visibility">
                                {{column.label}}
                            </label>
                        </li>
                        <li ng-hide="groupedColumns.length">
                            No columns available.
                        </li>
                    </ul>
                </section>
            </div>

            <div class="action-button-container">
                <input type="submit" class="btn" value="Close" ng-click="toggleModal(false)">
            </div>
        </form>
    </div>
</div>