<div class="modal-container">
    <messages event="modalMessage"></messages>

    <!-- Mod Details -->
    <div class="modal huge-modal" ng-if="detailsItem.mod">
        <div class="close-modal">
            <span class="fa fa-times" ng-click="toggleDetailsModal()"></span>
        </div>

        <h2>{{detailsItem.mod.name}} Details</h2>

        <!-- TODO: This should use the same components as the mod analysis tab -->

        <div class="content-message content-error" ng-if="errors.detailsModal">
            There was an error retrieving details for this mod.<br>
            <!--TODO: Render JSON errors here, if available?-->
            Error {{errors.detailsModal.status}}: {{errors.detailsModal.statusText}}
        </div>
    </div>

    <!-- Custom Mod Details -->
    <div class="modal huge-modal" ng-if="!detailsItem.mod">
        <form>
            <div class="close-modal">
                <span class="fa fa-times" ng-click="toggleDetailsModal()"></span>
            </div>

            <h2 ng-show="editing">{{ detailsItem.is_utility ? 'Edit Custom Tool' : 'Edit Custom Mod' }}</h2>
            <h2 ng-hide="editing">{{ detailsItem.is_utility ? 'Custom Tool Details' : 'Custom Mod Details' }}</h2>

            <h3 class="section-title">Name</h3>
            <section>
                <input type="text" ng-model="detailsItem.name" ng-click="focusText($event)" spellcheck="false" ng-disabled="!editing">
            </section>

            <h3 class="section-title">Description</h3>
            <section>
                <textarea class="medium-text-area" ng-model="detailsItem.description" ng-disabled="!editing"></textarea>
            </section>

            <div class="action-button-container">
                <input type="submit" class="btn action-btn" value="Close" ng-click="toggleDetailsModal()">
            </div>
        </form>
    </div>
</div>
