<table border="1" class="listing-table" ng-if="modLists.length">
    <thead>
        <tr>
            <th class="name-column">Name</th>
            <th>Mods</th>
            <th>Status</th>
            <th>Stars</th>
            <th>Comments</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="modList in modLists" ng-class-odd="'odd-row'" ng-class-even="'even-row'">
            <td class="name-column">
                <a ui-sref="base.mod-list({modListId: modList.id})">{{modList.name}}</a>
            </td>
            <td>{{modList.mods_count}}</td>
            <td class="capitalize nowrap">{{modList.status.replace('_', ' ')}}</td>
            <td>{{modList.stars_count}}</td>
            <td>{{modList.comments_count}}</td>
            <td>
                <div class="table-buttons">
                    <input class="action-box" type="button" ng-click="clone(modList)" value="Clone" />
                    <input class="action-box red-box" type="button" ng-click="delete(modList)" value="Delete" />
                </div>
            </td>
        </tr>
    </tbody>
</table>
<span class="explanation" ng-if="!modLists.length">There's nothing here</span>
