<loader data="data">
    <table>
        <thead>
            <tr>
                <th ng-repeat="column in columns" ng-class="{ 'hidden': !column.visibility }">{{column.label}}</th>
                <th class="actions-header">
                    <a ng-click="showModal = true">
                        <i class="fa fa-columns" title="Edit Columns"></i>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="mod in data">
                <td><a class="strong" ng-href="#/mod/{{mod.id}}">{{mod.name}}</a></td>
                <td ng-repeat="column in columns" ng-class="{ 'hidden': !column.visibility }" ng-if="$index > 0">
                    {{ mod.nexus_info[column.data] | picker:column.filter }}
                </td>
                <td class="actions-cell">
                    <input class="btn-sm" type="button" ng-click="addMod(mod)" value="Add" title="Add this mod to your mod list"/>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="modal-container" ng-show="showModal">
        <div class="modal">
            <ul class="filter-list">
                <li ng-repeat="column in columns">
                    <label>
                        <input type="checkbox" ng-model="column.visibility">
                        {{column.label}}
                    </label>
                </li>
            </ul>

            <input type="button" class="btn" value="Close" ng-click="showModal = false">
        </div>
    </div>
</loader>