<h3 class="section-title">{{title}}</h3>
<section>
    <table border="1" class="listing-table" ng-if="mods.length">
        <thead>
            <tr>
                <th class="name-column">Name</th>
                <th>Stars</th>
                <th>Reputation</th>
                <th>Reviews</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="mod in mods">
                <td class="name-column">{{mod.name}}</td>
                <td>{{mod.mod_stars_count}}</td>
                <td>{{mod.reputation}}</td>
                <td>{{mod.reviews_count}}</td>
                <td>
                    <div class="table-buttons">
                        <input type="button" ng-click="modHide(authored_mod)" value="Hide from Public">
                        <a href="/angular#/editMod/{{authored_mod.name}}">
                            <input type="button" value="Edit"/>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <span class="explanation" ng-if="!mods.length">There's nothing here...</span>
</section>
