<div class="modal-container">
    <messages event="modalMessage"></messages>

    <!-- Plugin Details -->
    <div class="modal huge-modal" ng-if="detailsItem.plugin">
        <div class="close-modal">
            <span class="fa fa-times" ng-click="toggleDetailsModal()"></span>
        </div>

        <h2>{{detailsItem.plugin.filename}} Details</h2>

        <loader data="pluginAnalysis" spinner-class="big-spinner">
            <div class="content-block" ng-if="pluginAnalysis">
                <div class="content-title">
                    Plugin Metadata
                </div>

                <div class="content-container">
                    <plugin-metadata plugin="pluginAnalysis"></plugin-metadata>
                </div>
            </div>

            <div class="content-block" ng-if="pluginAnalysis && pluginAnalysis.plugin_record_groups.length > 0">
                <div class="content-title">
                    Plugin Composition
                </div>

                <div class="content-container analysis-container">
                    <table class="analysis-table">
                        <thead>
                        <tr>
                            <th>Group</th>
                            <th>Record Count</th>
                            <th>Override Count</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="group in pluginAnalysis.plugin_record_groups">
                            <td>{{group.sig}} - {{group.name}}</td>
                            <td>{{group.record_count}}</td>
                            <td>{{group.override_count}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="content-block" ng-if="pluginAnalysis && pluginAnalysis.plugin_errors.length > 0">
                <div class="content-title">
                    Plugin Errors
                </div>

                <div class="content-container analysis-container">
                    <div ng-repeat="errorType in pluginAnalysis.plugin_errors" ng-if="errorType.errors.length > 0">
                        <h3 class="section-title">
                            {{errorType.name}} ({{errorType.acronym}}s)
                            <!-- TODO: Link to the correct help article here -->
                            <a ng-href="/help/Plugin_Errors#{{errorType.acronym}}">
                                <span class="help-tooltip" title="{{errorType.caption}}">?</span>
                            </a>
                        </h3>
                        <ul class="errors-list">
                            <li ng-repeat="error in errorType.errors">
                                <plugin-error error="error" group="{{error.group}}"></plugin-error>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="content-block" ng-if="pluginAnalysis && pluginAnalysis.has_overrides">
                <div class="content-title">
                    Plugin Override Records
                </div>

                <div class="content-container analysis-container">
                    <div ng-repeat="master in pluginAnalysis.masters" ng-if="master.overrides.length > 0">
                        <h3 class="section-title">{{master.master_plugin.filename}}</h3>
                        <ul class="overrides-list">
                            <li ng-repeat="override in master.overrides">
                                [{{override.sig}}:{{override.fid | hex:8}}]
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </loader>

        <div class="content-message content-error" ng-if="errors.pluginDetails">
            There was an error retrieving details for this plugin.<br>
            <!--TODO: Render JSON errors here, if available?-->
            Error {{errors.pluginDetails.status}}: {{errors.pluginDetails.statusText}}
        </div>
    </div>

    <!-- Custom Plugin Details -->
    <div class="modal huge-modal" ng-if="!detailsItem.plugin">
        <form>
            <div class="close-modal">
                <span class="fa fa-times" ng-click="toggleDetailsModal()"></span>
            </div>

            <h2>{{ editing ? 'Edit Custom Plugin' : 'Custom Plugin Details' }}</h2>

            <h3 class="section-title" ng-if="detailsItem.compatibility_note">
                <a ng-href="#/mod/{{detailsItem.compatibility_note.mods[0].id}}/compatibility/{{detailsItem.compatibility_note.id}}">Custom Patch</a> for
                <a ng-href="#/mod/{{detailsItem.compatibility_note.mods[0].id}}">{{detailsItem.compatibility_note.mods[0].name}}</a> and
                <a ng-href="#/mod/{{detailsItem.compatibility_note.mods[1].id}}">{{detailsItem.compatibility_note.mods[1].name}}</a>
            </h3>

            <h3 class="section-title">Filename</h3>
            <section>
                <input type="text" ng-model="detailsItem.filename" ng-click="focusText($event)" spellcheck="false" ng-disabled="!editing">
            </section>

            <h3 class="section-title">Description</h3>
            <section>
                <textarea class="medium-text-area" ng-model="detailsItem.description" ng-disabled="!editing"></textarea>
            </section>

            <div class="action-button-container">
                <input type="submit" class="btn action-btn" value="Close" ng-click="toggleDetailsModal()">
            </div>
        </form>
    </div>
</div>
