<table class="browse-table" ng-hide="isEmpty(model)">
    <thead>
        <tr>
            <th ng-repeat="column in columns" class="no-action" ng-class="{ 'hidden': !column.visibility }">
                {{column.label}}
            </th>
            <th class="actions-header">
                <a ng-click="showModal = true">
                    <i class="fa fa-columns" title="Edit Columns"></i>
                </a>
            </th>
        </tr>
    </thead>
    <tbody dnd-list="model" ng-class="{ 'dragging-group' : draggingGroup }">
        <tr ng-repeat="item in model" class="{{item.children ? 'group bg-'+item.color : ''}}" ng-if="!item._destroy" dnd-draggable="item" dnd-moved="itemMoved(model, $index)" dnd-effect-allowed="move" dnd-disable-if="!editing" dnd-type="{{item.children ? '\'group\'' : '\'item\''}}" dnd-dragstart="dragStart(item)" dnd-dragend="dragEnd()">
            <!-- display group -->
            <td colspan="{{getNumCols(columns)}}" ng-if="item.children" class="group-cell">
                <div class="remove-item" ng-if="editing">
                    <span class="fa fa-times" ng-click="removeGroup(model, item, $index)"></span>
                </div>
                <div class="group-name">
                    <input type="text" ng-model="item.name" ng-click="focusText($event)" pu-elastic-input ng-disabled="!editing"/>
                </div>
                <div class="group-color" ng-if="editing">
                    <strong>Color:</strong>
                    <select ng-model="item.color">
                        <option ng-repeat="option in colorOptions" value="{{option}}">{{option | humanize:1}}</option>
                    </select>
                </div>

                <!-- display children of groups -->
                <table class="browse-table" ng-class="{ 'no-border' : isEmpty(item.children) }">
                    <tbody dnd-list="item.children" dnd-allowed-types="['item']">
                        <tr ng-repeat="item in item.children as children" ng-if="!item._destroy" dnd-draggable="item" dnd-moved="itemMoved(children, $index)" dnd-effect-allowed="move" dnd-disable-if="!editing" dnd-type="'item'">
                            <!-- display item -->
                            <td ng-repeat="column in columns" ng-class="{ 'hidden': !column.visibility, 'text-cell' : !column.filter }">
                                <a ng-if="column.link" class="strong" ng-href="{{column.link(item)}}">
                                    {{ columnValue(item, column.data) | picker:column.filter }}
                                </a>
                                <span ng-if="!column.link">
                                    {{ columnValue(item, column.data) | picker:column.filter }}
                                </span>
                            </td>
                            <td class="actions-cell">
                                <input ng-repeat="action in actions" class="btn-sm" type="button" ng-click="execute(action, item)" value="{{action.caption}}" title="{{action.title}}" ng-disabled="!editing"/>
                            </td>
                        </tr>
                        <!-- display message if there are no children -->
                        <tr class="content-message" ng-show="isEmpty(item.children)">
                            <td>There are no {{label}} in this group.</td>
                        </tr>
                        <!-- drag and drop placeholder -->
                        <tr class="dndPlaceholder">
                            <td colspan="{{getNumCols(columns)}}"></td>
                        </tr>
                    </tbody>
                </table>
            </td>

            <!-- display item -->
            <td ng-if="!item.children" ng-repeat="column in columns" ng-class="{ 'hidden': !column.visibility, 'text-cell' : !column.filter }">
                <a ng-if="column.link" class="strong" ng-href="{{column.link(item)}}">
                    {{ columnValue(item, column.data) | picker:column.filter }}
                </a>
                <span ng-if="!column.link">
                    {{ columnValue(item, column.data) | picker:column.filter }}
                </span>
            </td>
            <td ng-if="!item.children" class="actions-cell">
                <input ng-repeat="action in actions" class="btn-sm" type="button" ng-click="execute(action, item)" value="{{action.caption}}" title="{{action.title}}" ng-disabled="!editing"/>
            </td>
        </tr>
        <!-- drag and drop placeholder -->
        <tr class="dndPlaceholder">
            <td colspan="{{getNumCols(columns)}}"></td>
        </tr>
    </tbody>
</table>

<div class="content-message" ng-show="isEmpty(model)">
    There are no {{type}} in this list.
</div>

<edit-columns-modal></edit-columns-modal>