<input type="text" ng-model="tag.text" ng-keydown="keyDown($event)" ng-keyup="keyUp($event)" ng-click="focusText($event)" ng-blur="blurTag($event)" auto-select="last" pu-elastic-input/>
<div class="dropdown" ng-show="showDropdown">
    <span ng-show="searching">Searching...</span>
    <span ng-show="!searching && (!results || results.length == 0)">No results found</span>
    <div class="dropdown-item" ng-repeat="result in results" ng-click="selectResult(result)" ng-mouseover="hoverRow()" ng-class="{ 'dropdown-selected-item': $index == currentIndex}">
        <div>{{result.text}}</div>
    </div>
</div>
