<div class="action-container inline-flex" ng-repeat="action in actions" ng-hide="resolve(action.hidden, item)">
    <span title="{{action.title}}" tabindex="0" class="action-box {{action.class}}" ng-class="{ 'disabled' : resolve(action.disabled, item), 'icon-box' : !!action.icon }" ng-click="actionClick(action, item)" ng-blur="actionBlur(action, item)">
        <i ng-show="action.icon" class="fa {{action.icon}}"></i>{{action.caption}}</span>
    <div class="dropdown" ng-if="action.items" ng-show="item[action.key]">
        <div class="dropdown-item" ng-repeat="actionItem in action.items" ng-click="resolve(actionItem.execute, item)" ng-hide="resolve(actionItem.disabled, item)">
            {{resolve(actionItem.text, item)}}
        </div>
    </div>
</div>
