<div class="grid-item box-shadow" ng-repeat="item in data">
    <a ng-href="#/mod/{{item.id}}" class="item-title">{{item.name}}</a>
    <a class="image-container" ng-href="#/mod/{{item.id}}">
        <img ng-src="{{item.images.medium}}"/>
    </a>
    <div class="details">
        <span class="detail" ng-repeat="detail in details" ng-if="detail.visibility && item.detailData[$index].data" title="{{detail.label}}">
            <i class="fa {{::detail.icon}}"></i> {{::item.detailData[$index].data}}
        </span>
        <actions></actions>
    </div>
</div>

<div class="content-message" ng-hide="data.length">
    {{message}}
</div>

<configure-details-modal></configure-details-modal>