<div class="modal-container" ng-if="showModOptionsModal" ng-click="unfocusModOptionsModal($event)">
    <div class="modal extra-wide-modal">
        <form>
            <div class="close-modal">
                <span class="fa fa-times" ng-click="toggleModOptionsModal()"></span>
            </div>

            <h2 class="section-title">Select {{activeMod.name}} Mod Options</h2>
            <loader data="nestedModOptions" spinner-class="big-spinner" ng-if="!modOptionsError">
                <mod-option-tree mod-options="nestedModOptions"></mod-option-tree>
            </loader>

            <error-display content-class="content-message content-error" errors="modOptionsError" label="mod options"></error-display>

            <div class="action-button-container">
                <input type="submit" class="btn" value="Add" ng-click="modOptionsModalAdd()">
                <input type="submit" class="btn" value="Cancel" ng-click="toggleModOptionsModal(false)">
            </div>
        </form>
    </div>
</div>