<div class="box-shadow">
    <table ng-show="data.length" class="browse-table">
        <thead>
            <tr>
                <th ng-repeat="column in columns" ng-class="{ 'hidden': !column.visibility, 'no-action' : !sort || column.unsortable }" ng-click="sortColumn(column)">
                    {{column.label}}
                    <div class="sorting-options" ng-if="sort && !column.unsortable">
                        <div class="sort-up" ng-class="{ 'active' : column.up }">
                            <i class="fa fa-caret-up"></i>
                        </div>
                        <div class="sort-down" ng-class="{ 'active' : column.down }">
                            <i class="fa fa-caret-down"></i>
                        </div>
                    </div>
                </th>
                <th class="actions-header">
                    <a ng-click="toggleModal(true)">
                        <i class="fa fa-columns" title="Edit Columns"></i>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in data" ng-class="{ 'row-hidden' : item.hidden }">
                <td ng-repeat="column in columns" ng-class="{ 'hidden': !column.visibility, 'text-cell' : !column.filter, 'main-cell' : $index == 0 }">
                    <a ng-if="column.link" ng-href="{{column.link(item)}}">
                        <img ng-if="column.image" ng-src="{{column.image(item)}}" class="{{column.imageClass}}"/>
                        <span>
                            {{ columnValue(item, column.data) | picker:column.filter }}
                        </span>
                    </a>
                    <span ng-hide="column.link || !column.data">
                        {{ columnValue(item, column.data) | picker:column.filter }}
                    </span>
                </td>
                <td class="actions-cell">
                    <actions></actions>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="content-message" ng-hide="data.length">
        {{message}}
    </div>

    <edit-columns-modal></edit-columns-modal>
</div>