<div class="box-shadow">
    <table ng-show="data.length" class="browse-table">
        <thead>
        <tr>
            <th ng-repeat="column in columns" bindonce ng-show="column.visibility"
                bo-class="{ 'no-action' : !sort || column.unsortable }" ng-click="sortColumn(column)">
                {{column.label}}
                <div bindonce class="sorting-options" bo-if="sort && !column.unsortable">
                    <div class="sort-up" ng-class="{ 'active' : column.up }">
                        <i class="fa fa-caret-up"></i>
                    </div>
                    <div class="sort-down" ng-class="{ 'active' : column.down }">
                        <i class="fa fa-caret-down"></i>
                    </div>
                </div>
            </th>
            <th class="actions-header">
                <a ng-click="toggleModal(true)">
                    <i class="fa fa-columns" title="Edit Columns"></i>
                </a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in data" ng-class="{ 'row-hidden' : item.hidden }">
            <td ng-repeat="column in columns" bindonce ng-if="column.visibility" bo-class="column.fullClass">
                <a bindonce bo-if="!!column.link" bo-href="item.columnData[$index].link">
                    <img bindonce bo-if="!!column.image" bo-src="item.columnData[$index].image" bo-class="column.imageClass"/>
                    <span bindonce bo-text="item.columnData[$index].data"></span>
                </a>
                <span bindonce bo-if="!column.link && column.data" bo-text="item.columnData[$index].data"></span>
            </td>
            <td class="actions-cell">
                <actions></actions>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="content-message" ng-hide="data.length">
        {{message}}
    </div>

    <edit-columns-modal></edit-columns-modal>
</div>