<div class="box-shadow">
    <table ng-show="data.length" class="browse-table">
        <thead>
        <tr>
            <th ng-repeat="column in columns" ng-show="column.visibility"
                once-class="{ 'no-action' : !sort || column.unsortable }" ng-click="sortColumn(column)">
                {{column.label}}
                <div class="sorting-options" once-if="sort && !column.unsortable">
                    <div class="sort-up" ng-class="{ 'active' : column.up }">
                        <i class="fa fa-caret-up"></i>
                    </div>
                    <div class="sort-down" ng-class="{ 'active' : column.down }">
                        <i class="fa fa-caret-down"></i>
                    </div>
                </div>
            </th>
            <th class="actions-header">
                <a ng-click="toggleModal(true)">
                    <i class="fa fa-columns" title="Edit Columns"></i>
                </a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in data" ng-class="{ 'row-hidden' : item.hidden }">
            <td ng-repeat="column in columns" ng-show="column.visibility" once-class="column.fullClass">
                <a once-if="!!column.link" once-href="item.columnData[$index].link">
                    <img once-if="!!column.image" once-src="item.columnData[$index].image"
                         once-class="column.imageClass"/>
                    <span once-text="item.columnData[$index].data"></span>
                </a>
                <span once-if="!column.link && column.data" once-text="item.columnData[$index].data"></span>
            </td>
            <td class="actions-cell">
                <actions></actions>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="content-message" ng-hide="data.length">
        {{message}}
    </div>

    <edit-columns-modal></edit-columns-modal>
</div>