<div class="scaffold">
  <h1>Editing user_mod_list_star_map</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @user_mod_list_star_map %> |
  <%= link_to 'Back', user_mod_list_star_maps_path %>
</div>