
/* css for filters */
.sidebar-box {
  background-color: $background_highlight;
  border: 1px solid $border_color;
  max-width: 240px;
  padding: 8px;
  margin: 0;
}

.filter-list {
  padding: 0;
  margin: 0;
  font-size: 12px;
}

.filter-list li {
  list-style: outside none none;
  padding: 0;
  margin-bottom: 2px;
}

.half-box {
  width: 45%;
  display: inline-block;
}

.filter-controls {
  font-size: 14px;
  margin-left: 4px;
  color: $link_color;

  span {
    cursor: pointer;
  }

  span:hover {
    color: $link_hover_color_secondary;
  }
}

/* custom sliders */
.rz-bubble {
  font-size: 12px !important;
}

.rz-pointer {
  height: 20px !important;
  width: 20px !important;
  top: -6px !important;
  background-color: $slider_range_color !important;
  outline: 0;
}

.rz-pointer::after {
  top: 6px !important;
  left: 6px !important;
}

.rz-active::after {
  background-color: $slider_circle_color_after !important;
}

.rz-bar {
  background-color: $slider_bg_color !important;
}

.rz-bar.rz-selection {
  background-color: $slider_range_color !important;
}

/* css for search results */
.right-column {
  table {
    border-collapse: collapse;
    width: 100%;
    font-family: 'Arial', sans-serif;
    font-size: 12px;

    th {
      margin: 0;
      padding: 5px 10px;
      text-align: left;
      vertical-align: bottom;
      border-right: 1px solid $border_color;
    }

    .actions-header {
      text-align: center;
      border: 0;
      padding: 5px 0;
    }

    td {
      border-width: 0 0 0 1px;
      margin: 0;
      overflow: visible;
      padding-left: 10px;

      a {
        display: block;
        height: 100%;
      }
    }

    .actions-cell {
      text-align: center;
      padding: 0;
    }

    i {
      font-size: 16px;
    }

    input {
      font-size: 12px;
      padding: 4px;
      margin: 4px;
    }

    thead tr {
      background-color: $primary_background;
      border-bottom: 1px solid $border_color;
    }

    tbody tr:nth-child(odd) {
      background-color: $secondary_background;
    }

    tbody tr:nth-child(even) {
      background-color: $primary_background;
    }
  }
}

select.stealthy.ng-pristine {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.userGeneratedList .entry {
  border: solid 2px $secondary_background;
  padding: 10px;
  background-color: $primary_background;
}
