.box-html {
  background: $bar_color;

  body {
    background: $bar_color;
  }

  .box-container {
    text-align: center;
  }

  .box {
    background-color: $secondary_background;
    margin: 80px auto;
    display: inline-block;
    width: 400px;
    box-shadow: 0 5px 15px 8px rgba($shadow_color, 0.40);
    border: 3px solid $action_color;
  }

  .box-heading {
    background-color: $primary_background;
    font-size: 26px;
    padding: 32px 32px 32px;
    border-bottom: 1px solid $soft_border_color;
    position: relative;
  }

  .box-content {
    padding: 10px 20px 50px;
  }

  .padded-field {
    padding-top: 10px;
    margin: auto;
    width: 85%;
    text-align: left;
  }

  .note-text {
    max-width: 350px;
    font-size: 12.5px;
    margin-bottom: 10px;
  }

  .right-span {
    float: right;
  }

  .text-center {
    text-align: center;
  }

  .big-margin {
    margin-top: 15px;
  }

  input[type=text], input[type=password], input[type=email] {
    width: 100%;
    margin-top: 5px;
    font-size: 14px;
    padding: 6px;
  }

  input[type=submit] {
    display: inline;
    padding: 8px;
    padding-right: 14px;
    padding-left: 14px;
    color: $inverse_text_color;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    border: 0;
    border-radius: 0;
    background-color: $action_color;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: $bright_action_color;
  }

  .alert, .notice {
    padding: 5px 0 5px 0;
    margin: 0;
    font-size: 16px;
    color: $inverse_text_color;
  }

  .notice {
    background-color: $success_secondary;
  }

  .alert {
    background-color: $error_secondary;
  }
}