.new-help-page {
  max-width: $max-content-width;
  margin: 0 auto;
}

.help-page-form {
  select,
  input,
  textarea {
    display: block;
  }

  #help_page_name {
    width: 50%;
  }

  #help_page_text_body {
    font-size: 1em;
    width: 100%;
  }
}