//left column's recent mods and modlists
.recent-box {
	border: 1px solid $border_color;
	margin: 10px;
  box-shadow: 0px 0px 20px -10px $shadow_color;

	.section-title {
		font-size: 26px;
		margin-left: 10px;
		font-weight: 500;
	}

	.recent-thing {
		border: 1px solid transparent;
		display: flex;
		color: $text_color;
		align-items: center;
		font-size: 12px;
		padding: 10px;

		div {
			display: inline-flex;
			flex-direction: column;
			max-width: 50%;
			margin: 4px;
		}

		img {
			max-width: 100%;
			max-height: 150px;
			height: auto;
			width: auto;
		}

	  .recent-title {
			font-size: 16px;
			font-weight: 500;
			color: inherit;
	  }

	  &:hover {
	  	background-color: $background_highlight;
	  	border-top: 1px solid $border_color;
	  	border-bottom: 1px solid $border_color;
	  	cursor: pointer;
      box-shadow: 0px 0px 60px -30px $shadow_color;
	  }
	}

	.explanation {
		margin-left: 15px;
	}
}

//articles
.articles {
  margin: 10px;
  border: 1px solid $border_color;
  background-color: $secondary_background;
  box-shadow: 0px 0px 20px -10px $shadow_color;

	.section-title {
		font-size: 26px;
		font-weight: 500;
    margin-left: 10px;
	}

	.news-box {
    padding-left: 10px;
    font-size: 14px;
    margin: 20px 20px 0 20px;
    border-bottom: 1px solid $border_color;

  	.section-title {
  		font-size: 20px;
      display: inline;
  	}

    .news {
      margin-left: 10px;
      display: inline-block;
    }

    .show-less {
      max-height: 150px;
      overflow-y: hidden;
    }
	}


  .load-older-posts {
    text-align: center;
    padding: 10px;
  }
}

.recent-notes-tabs {
  margin: 10px;

  .section-title {
    font-size: 26px;
    margin-left: 10px;
    font-weight: 500;
  }

  .selected-tab {
    background-color: $secondary_background;
    border-bottom: 1px solid $secondary_background;
    margin-bottom: -1px;
  }

  .recent-notes-tab {
    border: 1px solid $border_color;
    padding: 20px;
    background-color: $secondary_background;
    box-shadow: 0px 0px 20px -10px $shadow_color;
  }
}
