.recent-box {
	border: 1px solid $border_color;
	margin: 10px;

	.section-title {
		font-size: 26px;
		margin-left: 20px;
	}

	.recent-thing {
		border: 1px solid transparent;
		display: flex;
		color: $text_color;
		align-items: center;
		font-size: 12px;
		padding: 10px;

		div {
			display: inline-flex;
			flex-direction: column;
			max-width: 50%;
			margin: 4px;
		}

		img {
			max-width: 100%;
			height: auto;
		}

	  .recent-title {
			font-size: 14px;
			font-weight: 500;
			color: inherit;
	  }

	  &:hover {
	  	background-color: $background_highlight;
	  	border-top: 1px solid $border_color;
	  	border-bottom: 1px solid $border_color;
	  	cursor: pointer;
	  }
	}

	.explanation {
		margin-left: 15px;
	}
}
