// some basic layout changes for custom reportable directives
.reportable-content-column {
  padding: 10px;
}

.reportable-content-block {
  margin-left: 10px;
}

// minor styling for generic counts inside of a base reports header
.reportable-count {
  padding: 0 0.5rem;
}