///header stuff
.quality-item {
  font-size: 10px;
  font-weight: 700;
  padding-top: 2px;
  height: 50px;
  cursor: default;

  &:hover {
    background-color: $action_color;
  }

  .quality-number {
    display: block;
    font-size: 24px;
  }
}

//left column
.left-mod-column {
  padding-right: 20px;
  font-size: 14px;
  height: calc(100vh - 542px);

  .section-title {
    font-size: 16px;
    font-weight: 500;
    color: $h4_color;
  }

  section {
    margin-top: 20px;
    margin-left: 10px;
    border-bottom: 2px solid $soft_border_color;
  }
}

.version-dropdown {
  width: 100%;
  font-size: 16px;
}

.mod-image {
  display: block;
  margin: auto;
  margin-bottom: 20px;
  border: 2px solid $border_color;
  max-width: 300px;
  max-height: 300px;
  background-color: $background_highlight;
}

.sources {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.requirements-list {
  margin-left: 0;
  font-size: 14px;

  li a {
    font-weight: 500;
  }

  .show-more {
    list-style-type: none;
    font-size: 14px;
    margin-top: 4px;
  }
}

.source-box {
  font-size: 16px;
  display: inline-flex !important;

  .source-label {
    padding: 5px 2px;
  }
}

.source-image {
  height: 1.5em;
  width: auto;
  margin: 3px;
}

//stat blocks
.stat-title {
  width: 120px;
  font-weight: 500;
  font-size: 14px;
  vertical-align: top;
  white-space: nowrap;
  display: inline-block;
  color: $h4_color;
}

.stat-data {
  width: 100px;
  font-weight: 100;
  color: $h4_color;
  font-size: 14px;
  white-space: nowrap;
  display: inline-block;
}

.stat-block {
  margin-top: 6px;

  .stat-block-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;

    &:hover {
      cursor: pointer;

      .stat-expander {
        background-color: $bright_action_color;
      }
    }
  }

  section {
    margin-top: 8px;
    padding-bottom: 8px;
  }
}

.remove-caret {
  .expanded-icon {
    display: none;
  }

  .collapsed-icon {
    display: none;
  }
}

.stat-expander {
  background-color: $action_color;
  color: $action_text_color;
  font-size: 16px;
  padding: 6px;
  line-height: inherit;
  text-align: center;
  width: 28px;
}

//right column
.checkbox {
  display: inline-flex;
  align-items: center;

  input[type="checkbox"] {
    margin-left: 1em;
  }
}

.description-links {
  text-align: center;
  font-size: 18px;

  > a {
    margin: 14px;
    padding: 6px;
    border: 1px solid $text_color;

    &:hover {
      border: 1px solid $link_hover_color_primary;
    }
  }
}

//add note box
.add-note-box {
  border: 1px solid $bar_dark_color;
  border-top: none;
  color: $h4_color;

  .ratings-container {
    cursor: default;
    @include user-select(none);
  }

  .content-options {
    .compatibility-dropdown {
      width: 260px;
      margin-right: 10px;
    }

    .order-dropdown {
      margin: 0 8px;
      min-width: 85px;
    }

    strong {
      width: 248px;
      text-align: center;
      display: inline-block;
    }
  }
}

//user review box
.user-review {
  border: 2px solid $border_color;
  margin-top: 10px;

  .content-title {
      cursor: pointer;
    .fa {
      float: right;
      font-size: 22px;
    }
  }

  .contribution-container .content-title {
    display: none;
  }
}

// contribution that has been specified in the url
.current-contribution {
  border: 1px solid $bar_dark_color;
  border-top: none;
}

//making the text-area scroll
.note-text-area {
  .CodeMirror {
    // this needs to be 20px higher than the scroll section height due to padding
    max-height: 420px;
    min-height: 420px;
  }

  .CodeMirror-scroll {
    max-height: 400px;
    min-height: 400px;
  }

  .CodeMirror-fullscreen {
    max-height: none;
    .CodeMirror-scroll {
      max-height: none;
    }
  }
}

.mod-page-btn {
  margin: 5px;
}

//add reviews
.ratings {
  display: flex;

  div {
    margin-right: 20px;
  }

  input {
    width: 50px;
    display: inline;
  }
}

.compatibility-container {
  position: relative;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  background-color: $bar_highlight_color;
  color: $bar_text_color;
  
  span {
    display: block;
    margin: 10px 0 4px;

    &:first-child {
      margin-top: 4px;
    }
  }

  a {
    color: $bright_action_color;
    &:hover {
      color: $bar_text_color;
    }
  }
}

.ratings-container {
  position: relative;
  text-align: center;
  font-size: 24px;
  padding: 0 50px;; // This makes certain the ratings don't go over the section-tools
  background-color: $bar_highlight_color;
  color: $bright_action_color;

  .rating-item {
    display: inline-block;
    font-weight: 500;
    padding: 0 8px;

    .fa-caret-down {
      display: none;
    }

    div {
      display: inline-block;
      position: relative;
    }

    select {
      border: none;
      background: transparent;
      font-size: 24px;
      min-width: 100px;
      max-width: 600px;
      padding: 12px 0;
      margin-right: -4px;
      color: inherit;

      option {
        background-color: $bar_highlight_color;
      }

      &:hover {
        cursor: pointer;

        & + .fa-caret-down {
          opacity: 1;
        }
      }

      &:focus {
        outline: none;
      }
    }

    .fa-caret-down {
      opacity: 0;
      pointer-events: none;
      display: inherit;
      position: absolute;
      left: calc(50% - 10px);
      bottom: -4px;
      @include transition(opacity 0.3s ease-in-out);
    }

    input {
      min-width: 1em;
      max-width: 2em;
      padding: 0 4px;
      font: inherit;
      font-size: 30px;
      text-align: center;
      color: $bar_text_color;
      border: none;
      margin: 0;
      background-color: inherit;
      @include transition(box-shadow 0.2s ease-in-out);

      &:hover {
        box-shadow: 0 0 3px 0 $border_color;
      }

      &:focus {
        box-shadow: 0 0 3px 0 $border_color;
        outline: none;
      }
    }
  }

  .section-tools {
    position: absolute;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;

    i {
      padding: 2px;
      cursor: pointer;
      @include transition(color 0.2s ease-in-out);
    }
    i.disabled {
      color: $hard_border_color !important;
      cursor: default;
    }

    .fa-plus {
      color: $success_primary;
      &:hover {
        color: $success_secondary;
      }
    }

    .fa-minus {
      color: $error_primary;
      &:hover {
        color: $error_secondary;
      }
    }

    .fa-refresh {
      color: $bright_action_color;
      &:hover {
        color: $action_color;
      }
    }
  }

  .right-tools {
    right: 0;
    top: 0;
  }

  .left-tools {
    left: 0;
    top: 8px;
  }
}

.report-reason-list {
  text-align: left;

  label {
    display: block;
  }
}

// analysis tab
.mod-options-selection {
  width: 100%;
  border: 1px solid $border_color;
  background-color: $primary_background;
  padding: 12px 16px;
  margin-bottom: 20px;

  strong {
    color: $h4_color;
    display: block;
    margin-bottom: 8px;
  }
}

.content-block {
  .analysis-container {
    max-height: 500px;
    overflow-y: auto;
    margin: 0;
    padding: 20px;

    .section-title {
      margin-top: 0;
    }
  }
}

.big-analysis-table {
  width: 100%;
}

.analysis-table {
  border-collapse: collapse;
  font-size: 14px;
  min-width: 600px;
  border: 1px solid $border_color;

  tbody {
    font-family: Consolas, monospace, sans-serif;
  }

  th {
    margin: 0;
    padding: 5px 10px;
    text-align: left;
    white-space: nowrap;
    vertical-align: bottom;
    border-right: 1px solid $border_color;
  }

  td {
    border-width: 0 0 0 1px;
    margin: 0;
    overflow: visible;
    padding-left: 10px;
    white-space: normal;
  }

  thead tr {
    background-color: $primary_background;
    border-bottom: 1px solid $border_color;
    border-top: 1px solid $border_color;
  }

  tbody tr:nth-child(odd) {
    background-color: $secondary_background;
    border-bottom: 1px solid $border_color;
  }

  tbody tr:nth-child(even) {
    background-color: $primary_background;
    border-bottom: 1px solid $border_color;
  }
}

.overrides-list {
  list-style: none;
  font-family: Consolas, monospace, sans-serif;
  margin: 0 0 20px;
  @include column-count(3);

  .show-more, .show-less {
    font-size: 16px;
    margin-top: 4px;
    cursor: pointer;
    color: $link_hover_color_primary;
    @include transition(color 0.2s ease);

    &:hover {
      color: $text_color;
    }
  }
}

.errors-list {
  font-family: Consolas, monospace, sans-serif;
  font-size: 14px;

  li {
    margin-bottom: 4px;
  }
}

.modal {
  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid $border_color;

    th {
      margin: 0;
      padding: 5px 10px;
      text-align: left;
      white-space: nowrap;
      vertical-align: bottom;
      border-right: 1px solid $border_color;
    }

    td {
      border-width: 0 0 0 1px;
      margin: 0;
      overflow: visible;
      padding-left: 10px;
      white-space: normal;

      .strong {
        font-weight: 500;
      }
    }

    td.main-cell {
      min-width: 150px;
      max-width: 200px;
      white-space: normal;
    }

    thead tr {
      background-color: $primary_background;
      border-bottom: 1px solid $border_color;
      border-top: 1px solid $border_color;
    }

    tbody tr:nth-child(odd) {
      background-color: $secondary_background;
      border-bottom: 1px solid $border_color;
    }

    tbody tr:nth-child(even) {
      background-color: $primary_background;
      border-bottom: 1px solid $border_color;
    }
  }
}

// history modal
.modal {
  .history-container {
    table {
      tbody tr {
        background-color: $primary_background;
        cursor: pointer;

        &:hover {
          background-color: $secondary_background;
        }

        &.selected {
          background-color: $secondary_background;
        }
      }
    }
  }
}
