.action-box {
  color: $action_text_color;
  text-align: center;
  background-color: $action_color;
  padding: 4px 8px;
  display: inline-block;
  font-size: 12px;
  border-radius: 4%;
  margin: 2px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: $bar_highlight_color;
  }
}

.mod-header-box {
  background-color: $bar_color;
  border: 1px solid $bar_dark_color;
  padding: 10px;
  font-size: 12px;
  font-weight: 500;
  .status-good {
    background-color: $success_secondary;
    &:hover {
      background-color: $success_primary;
    }
  }
  .status-dangerous {
    background-color: $error_secondary;
    &:hover {
      background-color: $error_primary;
    }
  }
  .status-outdated {
    background-color: $warning_secondary;
    &:hover {
      background-color: $warning_primary;
    }
  }
}

///header stuff
.mod-header {
  color: $bar_text_color;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-content: center;

  section {
    display: flex;
    align-self: center;
  }
}

.mod-header-color {
  background-color: $bar_dark_color;
}

.quality-value {
  font-size: 10px;
  font-weight: 700;
  padding-top: 2px;
  height: 50px;
  cursor: default;
  &:hover {
    background-color: $action_color;
  }
}

.reputation-number {
  display: block;
  font-size: 24px;
}

.mod-info {
  font-size: 14px;
  margin-left: 10px;
  max-width: 700px;

  a {
  	cursor: pointer;
    font-weight: 600;
    color: $bar_highlight_text_color;
  }

  a:hover {
    color: $bar_text_color;
  }
}

.divider {
  margin-right: 8px;
  margin-left: 8px;
  color: $bar_highlight_color;
}

.mod-name {
  font-size: 24px;
  font-weight: 100;
}

.mod-authors-container {
  margin-left: 6px;
  .mod-authors {
    font-weight: 600;
    color: $bright_action_color;
  }
}

//left column
.left-mod-column {
  padding-right: 20px;
  font-size: 14px;

  .section-title {
    font-size: 16px;
    font-weight: 500;
    color: $h4_color;
  }

  section {
    margin-top: 20px;
    margin-left: 10px;
    border-bottom: 2px solid $soft_border_color;
  }
}

.version-dropdown {
  width: 100%;
  font-size: 16px;
}

.mod-image {
  display: block;
  margin: auto;
  margin-bottom: 20px;
  border: 2px solid $border_color;
}

.sources {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.requirements-list {
  margin-left: 0;
  color: $h4_color;
}

.source-box {
  font-size: 16px;
  display: inline-flex;
  .source-label {
    padding: 5px 2px;
  }
}

.source-image {
  height: 1.5em;
  width: auto;
  margin: 3px;
}

//stat blocks
.stat-title {
  width: 120px;
  font-weight: 500;
  font-size: 14px;
  vertical-align: top;
  white-space: nowrap;
  display: inline-block;
  color: $h4_color;
}

.stat-data {
  width: 100px;
  font-weight: 100;
  color: $h4_color;
  font-size: 14px;
  white-space: nowrap;
  display: inline-block;
}

.stat-block-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}

.stat-block-title:hover {
  cursor: pointer;

  .stat-expander {
    background-color: $bright_action_color;
  }
}

.remove-caret {
  .expanded-icon {
    display: none;
  }

  .collapsed-icon {
    display: none;
  }
}

.stat-expander {
  background-color: $action_color;
  color: $action_text_color;
  font-size: 16px;
  padding: 6px;
  line-height: inherit;
  text-align: center;
  width: 28px;
}

//right column
.tabs-column {
  .selected-tab {
  	background-color: $secondary_background;
  	border-bottom: 1px solid $secondary_background;
    margin-bottom: -1px;
  }
}

.mod-tab {
  padding: 20px;
  border: 1px solid $border_color;
  background-color: $secondary_background;
}

.mod-tab-action {
  text-align: center;
  vertical-align: middle;
  align-items: center;
  min-height: 40px;
  padding: 5px 16px 5px 16px;
  border: 1px solid $border_color;
  background-color: $primary_background;
  display: flex;
  color: $h4_color;
  font-size: 14px;
}

.centered-mod-tab-action {
  text-align: center;
  vertical-align: middle;
  min-height: 40px;
  padding: 5px 16px 5px 16px;
  border: 1px solid $border_color;
  background-color: $primary_background;
  color: $h4_color;
  font-size: 14px;
}

.mod-tab-actions {
  display: flex;
}

.checkbox {
  display: inline-flex;
  align-items: center;

  input[type="checkbox"] {
    margin-left: 1em;
  }
}

.sort-by-dropdown {
  flex-grow: 1;

  select {
    margin-left: 10px;
    margin-right: 10px;
    min-width: 190px;
    display: inline-block;
  }
}

.post {
  margin-top: 20px;
  margin-bottom: 20px;
}

.add-note-title {
  font-size: 16px;
  font-weight: 500;
  color: $bar_text_color;
  background-color: $bar_color;
  margin-top: 20px;
  border: 1px solid $bar_dark_color;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  i {
    cursor: pointer;
    margin-right: .5em;
  }
}

//add note box
.add-note-box {
  border: 1px solid $bar_dark_color;
  border-top: none;
  background-color: $primary_background;
  color: $h4_color;

  .add-note-actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    width: 745px;

    .compatibility-dropdown {
      min-width: 236px;
    }

    .order-dropdown {
      min-width: 85px;
    }

    > div {
      display: flex;
      align-items: center;
      text-align: center;
    }
  }

  .note-content-container {
    margin: 20px;
  }
}

.version-boxes-section {
  display: flex;
  justify-content: space-between;
  border: 1px solid $border_color;
  overflow-y: auto;
  max-height: 100px;

  > * {
    max-width: 45%;
  }
}
//making the text-area scroll
.note-text-area {
  .CodeMirror, .CodeMirror-scroll {
    max-height: 400px;
    min-height: 400px;
  }
}

.submit-note {
  display: flex;
  justify-content: flex-end;
}

.mod-page-btn {
  margin: 5px;
}

//add reviews
.ratings {
  display: flex;

  div {
    margin-right: 20px;
  }

  input {
    width: 50px;
    display: inline;
  }
}

.ratings-container {
  display: flex;
  position: relative;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  font-size: 24px;
  padding-right: 60px; // This makes certain the ratings don't go over the section-tools
  background-color: $bar_highlight_color;
  color: $bright_action_color;

  .rating-item {
    font-weight: 500;
    padding: 0 8px;

    .fa-caret-down {
      display: none;
    }

    div {
      display: inline-block;
      position: relative;
    }

    select {
      border: none;
      background: transparent;
      font-size: 24px;
      min-width: 100px;
      max-width: 600px;
      padding-left: 0;
      padding-right: 0;
      color: inherit;

      option {
        background-color: $bar_highlight_color;
      }

      &:hover {
        cursor: pointer;

        & + .fa-caret-down {
          opacity: 1;
        }
      }

      &:focus {
        outline: none;
      }
    }

    .fa-caret-down {
      opacity: 0;
      pointer-events: none;
      display: inherit;
      position: absolute;
      left: calc(50% - 10px);
      bottom: -4px;
      -webkit-transition: opacity 0.3s ease-in-out;
      -moz-transition: opacity 0.3s ease-in-out;
      -o-transition: opacity 0.3s ease-in-out;
      transition: opacity 0.3s ease-in-out;
    }

    input {
      min-width: 1em;
      max-width: 2em;
      padding: 0 4px;
      font: inherit;
      font-size: 30px;
      text-align: center;
      color: $bar_text_color;
      border: none;
      margin: 0;
      background-color: inherit;
      -webkit-transition: box-shadow 0.2s ease-in-out;
      -moz-transition: box-shadow 0.2s ease-in-out;
      -o-transition: box-shadow 0.2s ease-in-out;
      transition: box-shadow 0.2s ease-in-out;

      &:hover {
        box-shadow: 0 0 3px 0 $border_color;
      }

      &:focus {
        box-shadow: 0 0 3px 0 $border_color;
        outline: none;
      }
    }
  }

  .section-tools {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;

    i {
      padding: 2px;
      cursor: pointer;
      -webkit-transition: color 0.2s ease-in-out;
      -moz-transition: color 0.2s ease-in-out;
      -o-transition: color 0.2s ease-in-out;
      transition: color 0.2s ease-in-out;
    }
    i.disabled {
      color: $hard_border_color !important;
      cursor: default;
    }

    .fa-plus {
      color: $success_primary;
      &:hover {
        color: $success_secondary;
      }
    }

    .fa-minus {
      color: $error_primary;
      &:hover {
        color: $error_secondary;
      }
    }
  }
}
