.action-box {
  color: $action_text_color;
  text-align: center;
  background-color: $action_color;
  padding: 4px 8px;
  display: inline-block;
  font-size: 12px;
  border-radius: 4%;
  margin: 2px;
  cursor: pointer;
  @include user-select(none);
  @include transition(all 0.2s ease-in-out);

  &:focus, &:hover {
    background-color: $bar_highlight_color;
  }
}

.static-box {
  display: inline-block;
  float: right;
  color: $action_text_color;
  text-align: center;
  background-color: $action_color;
  padding: 4px 8px;
  font-size: 18px;
  border-radius: 4%;
  margin-bottom: 4px;
  cursor: default;
  pointer-events: none;
  @include user-select(none);
}

.red-box {
  background-color: $error_secondary;

  &:focus {
    background-color: $error_secondary;
  }

  &:hover {
    background-color: $action_color;
  }
}

.green-box {
  background-color: $success_secondary;

  &:focus {
    background-color: $success_secondary;
  }

  &:hover {
    background-color: $action_color;
  }
}

.yellow-box {
  background-color: $warning_secondary;

  &:focus {
    background-color: $warning_secondary;
  }

  &:hover {
    background-color: $action_color;
  }
}

///header stuff
.quality-item {
  font-size: 10px;
  font-weight: 700;
  padding-top: 2px;
  height: 50px;
  cursor: default;

  &:hover {
    background-color: $action_color;
  }

  .quality-number {
    display: block;
    font-size: 24px;
  }
}

//left column
.left-mod-column {
  padding-right: 20px;
  font-size: 14px;
  height: calc(100vh - 542px);

  .section-title {
    font-size: 16px;
    font-weight: 500;
    color: $h4_color;
  }

  section {
    margin-top: 20px;
    margin-left: 10px;
    border-bottom: 2px solid $soft_border_color;
  }
}

.version-dropdown {
  width: 100%;
  font-size: 16px;
}

.mod-image {
  display: block;
  margin: auto;
  margin-bottom: 20px;
  border: 2px solid $border_color;
  max-width: 300px;
  max-height: 300px;
  background-color: $background_highlight;
}

.sources {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.requirements-list {
  margin-left: 0;
  color: $h4_color;
  li {
    a {
      font-weight: 500;
    }
  }
}

.source-box {
  font-size: 16px;
  display: inline-flex;
  .source-label {
    padding: 5px 2px;
  }
}

.source-image {
  height: 1.5em;
  width: auto;
  margin: 3px;
}

//stat blocks
.stat-title {
  width: 120px;
  font-weight: 500;
  font-size: 14px;
  vertical-align: top;
  white-space: nowrap;
  display: inline-block;
  color: $h4_color;
}

.stat-data {
  width: 100px;
  font-weight: 100;
  color: $h4_color;
  font-size: 14px;
  white-space: nowrap;
  display: inline-block;
}

.stat-block {
  margin-top: 6px;

  .stat-block-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;

    &:hover {
      cursor: pointer;

      .stat-expander {
        background-color: $bright_action_color;
      }
    }
  }

  section {
    margin-top: 8px;
    padding-bottom: 8px;
  }
}

.remove-caret {
  .expanded-icon {
    display: none;
  }

  .collapsed-icon {
    display: none;
  }
}

.stat-expander {
  background-color: $action_color;
  color: $action_text_color;
  font-size: 16px;
  padding: 6px;
  line-height: inherit;
  text-align: center;
  width: 28px;
}

//right column
.checkbox {
  display: inline-flex;
  align-items: center;

  input[type="checkbox"] {
    margin-left: 1em;
  }
}

.content-message {
  margin: 40px 0 0;
  text-align: center;
  font-size: 20px;
}

.content-error {
  margin: 40px 0 20px;
}

.content-block {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: $primary_background;
  border: 1px solid $border_color;

  .content-title {
    font-size: 16px;
    font-weight: 500;
    color: $bar_text_color;
    background-color: $bar_color;
    padding: 10px;

    .right-item {
      margin-top: 3px;
      font-size: 12px;
    }

    .standing {
      font-size: 14px;
      font-weight: 100;
      font-style: italic;
      vertical-align: top;
    }

    .action-box {
      margin-top: -1px;
    }

    .toggle-item {
      cursor: pointer;
      @include user-select(none);
    }

    a {
      color: $bright_action_color;
      &:hover {
        color: $bar_text_color;
      }
    }

    input[type="text"] {
      min-width: 2em;
      max-width: 100%;
      padding: 0;
      margin: 0;
      font: inherit;
      color: inherit;
      border: none;
      background-color: inherit;
      @include transition(box-shadow 0.2s ease-in-out);

      &:hover {
        box-shadow: 0 0 3px 0 $border_color;
      }

      &:focus {
        box-shadow: 0 0 3px 0 $border_color;
        outline: none;
      }
    }
  }

  .content-options {
    margin: 20px;

    strong {
      width: 110px;
      cursor: default;
      text-align: center;
      display: inline-block;
    }
  }

  .content-container {
    margin: 20px;

    section {
      display: block;
      margin-top: 15px;
      margin-left: 30px;
      margin-bottom: 30px;
    }

    .message-input {
      width: 100%;
      margin-bottom: 10px;

      div {
        font-size: 13px;
      }

      input[type="text"] {
        width: 700px;
        padding: 3px;
      }
    }
  }
}

//add note box
.add-note-box {
  border: 1px solid $bar_dark_color;
  border-top: none;
  color: $h4_color;

  .ratings-container {
    cursor: default;
    @include user-select(none);
  }

  .content-options {
    .compatibility-dropdown {
      width: 260px;
    }

    .order-dropdown {
      min-width: 85px;
    }

    strong {
      width: 248px;
      text-align: center;
      display: inline-block;
    }
  }
}

//user review box
.user-review {
  border: 1px solid $bar_dark_color;
  border-top: none;
}

//making the text-area scroll
.note-text-area {
  .CodeMirror {
    // this needs to be 20px higher than the scroll section height due to padding
    max-height: 420px;
    min-height: 420px;
  }

  .CodeMirror-scroll {
    max-height: 400px;
    min-height: 400px;
  }
}

.mod-page-btn {
  margin: 5px;
}

//add reviews
.ratings {
  display: flex;

  div {
    margin-right: 20px;
  }

  input {
    width: 50px;
    display: inline;
  }
}

.ratings-container {
  position: relative;
  text-align: center;
  font-size: 24px;
  padding-right: 60px; // This makes certain the ratings don't go over the section-tools
  background-color: $bar_highlight_color;
  color: $bright_action_color;

  .rating-item {
    display: inline-block;
    font-weight: 500;
    padding: 0 8px;

    .fa-caret-down {
      display: none;
    }

    div {
      display: inline-block;
      position: relative;
    }

    select {
      border: none;
      background: transparent;
      font-size: 24px;
      min-width: 100px;
      max-width: 600px;
      padding: 12px 0;
      margin-right: -4px;
      color: inherit;

      option {
        background-color: $bar_highlight_color;
      }

      &:hover {
        cursor: pointer;

        & + .fa-caret-down {
          opacity: 1;
        }
      }

      &:focus {
        outline: none;
      }
    }

    .fa-caret-down {
      opacity: 0;
      pointer-events: none;
      display: inherit;
      position: absolute;
      left: calc(50% - 10px);
      bottom: -4px;
      @include transition(opacity 0.3s ease-in-out);
    }

    input {
      min-width: 1em;
      max-width: 2em;
      padding: 0 4px;
      font: inherit;
      font-size: 30px;
      text-align: center;
      color: $bar_text_color;
      border: none;
      margin: 0;
      background-color: inherit;
      @include transition(box-shadow 0.2s ease-in-out);

      &:hover {
        box-shadow: 0 0 3px 0 $border_color;
      }

      &:focus {
        box-shadow: 0 0 3px 0 $border_color;
        outline: none;
      }
    }
  }

  .section-tools {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;

    i {
      padding: 2px;
      cursor: pointer;
      @include transition(color 0.2s ease-in-out);
    }
    i.disabled {
      color: $hard_border_color !important;
      cursor: default;
    }

    .fa-plus {
      color: $success_primary;
      &:hover {
        color: $success_secondary;
      }
    }

    .fa-minus {
      color: $error_primary;
      &:hover {
        color: $error_secondary;
      }
    }
  }
}

.report-reason-list {
  label {
    display: block;
  }
}

// analysis tab
.content-block {
  .analysis-container {
    max-height: 500px;
    overflow-y: auto;
    margin: 0;
    padding: 20px;

    .section-title {
      margin-top: 0;
    }
  }
}

.analysis-table {
  border-collapse: collapse;
  font-size: 14px;
  min-width: 600px;
  border: 1px solid $border_color;

  tbody {
    font-family: Consolas, monospace, sans-serif;
  }

  th {
    margin: 0;
    padding: 5px 10px;
    text-align: left;
    white-space: nowrap;
    vertical-align: bottom;
    border-right: 1px solid $border_color;
  }

  td {
    border-width: 0 0 0 1px;
    margin: 0;
    overflow: visible;
    padding-left: 10px;
    white-space: normal;
  }

  thead tr {
    background-color: $primary_background;
    border-bottom: 1px solid $border_color;
    border-top: 1px solid $border_color;
  }

  tbody tr:nth-child(odd) {
    background-color: $secondary_background;
    border-bottom: 1px solid $border_color;
  }

  tbody tr:nth-child(even) {
    background-color: $primary_background;
    border-bottom: 1px solid $border_color;
  }
}

.overrides-list {
  list-style: none;
  font-family: Consolas, monospace, sans-serif;
  margin: 0 0 20px;
  @include column-count(3);
}

.errors-list {
  font-family: Consolas, monospace, sans-serif;
  font-size: 14px;

  li {
    margin-bottom: 4px;
  }
}

.modal {
  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid $border_color;

    th {
      margin: 0;
      padding: 5px 10px;
      text-align: left;
      white-space: nowrap;
      vertical-align: bottom;
      border-right: 1px solid $border_color;
    }

    td {
      border-width: 0 0 0 1px;
      margin: 0;
      overflow: visible;
      padding-left: 10px;
      white-space: normal;

      .strong {
        font-weight: 500;
      }
    }

    td.main-cell {
      min-width: 150px;
      max-width: 200px;
      white-space: normal;
    }

    thead tr {
      background-color: $primary_background;
      border-bottom: 1px solid $border_color;
      border-top: 1px solid $border_color;
    }

    tbody tr:nth-child(odd) {
      background-color: $secondary_background;
      border-bottom: 1px solid $border_color;
    }

    tbody tr:nth-child(even) {
      background-color: $primary_background;
      border-bottom: 1px solid $border_color;
    }
  }
}

// history modal
.modal {
  .history-container {
    table {
      tbody tr {
        background-color: $primary_background;
        cursor: pointer;

        &:hover {
          background-color: $secondary_background;
        }

        &.selected {
          background-color: $secondary_background;
        }
      }
    }
  }
}