///header stuff
.mod-header {
  background-color: $secondary_background;
  border-bottom: 1px solid $soft_border_color;
}

.stars-count {
  display: inline-block;
  font-size: 14px;
  text-align: center;
}

.stars-number {
  display: block;
  font-size: 30px;
}

.mod-info {
  display: inline-block;
  font-size: 14px;
  margin-left: 10px;
}

.mod-name {
  display: inline-block;
  font-size: 30px;
}

.mod-authors {
  font-size: 18px;
}

//left column
.left-mod-column {
  width: 250px;
  padding-right: 48px;
  display: table-cell;
  vertical-align: top;
  background-color: $secondary_background;
  border-right: 1px solid $soft_border_color;
}

.mod-cat-tag {
  background-color: $background_highlight;
  border: 1px solid $text_color;
  text-align: center;
  padding: 2px 5px 2px 5px;
  display: inline-block;
}

.stat-title {
  font-weight: 500;
  white-space: nowrap;
}

.version-dropdown {
  width: 100%;
  font-size: 16px;
}

.stat-data {
  padding-left: 10px;
}

.source-image {
  height: auto;
  width: 20%;
}

//right column
.right-mod-column {
  background-color: $primary_background;
  display: table-cell;
  width: 970px;
  vertical-align: top;
}

.column-margin {
  margin-left: 48px;
  margin-top: 20px;
}
