/* css for submit mod page */
.infotable {
  min-width: 400px;
}

.notice {
  margin: 12px 0 12px 0;
  display: block;
  font-size: 13px;
}

form {
  #categories-section-title {
    margin-left: -30px;
    margin-bottom: 10px;
  }

  #check-categories-btn {
    display: block;
    margin-top: 6px;
  }

  section {
    category-tree {
      display: inline-block;
      width: 240px;
    }
  }

  #category-messages {
    display: inline-block;
    vertical-align: top;
    margin-top: 50px;
    margin-left: 30px;
    width: 500px;
    text-align: center;

    .category-message {
      padding: 4px;
      width: 100%;
      white-space: pre-line;
    }
    .priority-message {
      background-color: $warning_message_color;
    }
    .cat-error-message {
      background-color: $error_message_color;
    }
    .cat-success-message {
      background-color: $success_message_color;
    }
  }

  #analysis-input {
    display: none;
  }

  .file-tree-container {
    max-height: 300px;
    max-width: 600px;
    overflow-y: auto;
    margin-bottom: 10px;
    ul {
      list-style: none;
      padding-left: 10px;
    }
  }

  .sources-container {
    margin-bottom: 6px;
    .remove-source {
      cursor: pointer;
    }
  }
}