.left-user-column {
  padding-right: 20px;
  font-size: 14px;

  .big-username {
    font-size: 20px;
    font-weight: 500;
  }

  .user-title {
    font-style: italic;
  }

  .user-role {
    font-weight: 500;
  }

  .section-title {
    font-size: 16px;
    font-weight: 500;
    color: $h4_color;
  }

  section {
    padding-bottom: 10px;
    padding-left: 10px;
    border-bottom: 2px solid $soft_border_color;
  }

  .reputation {
    font-size: 18px;
    display: flex;
    align-items: center;

    .action-box {
        margin-left: 20px;
        font-weight: 500;
    }
  }
}

.right-user-column {
  .tab {
	  padding: 20px;
	  border: 1px solid $border_color;
	  background-color: $secondary_background;
  }
}

.list-table-container {
  .content-block {
    border: 1px solid $border_color;

    .content-title {
      background-color: $bar_dark_color;
      text-align: center;
      font-size: 20px;
      font-weight: 500;
      padding: 8px;
    }

    .explanation {
      text-align: center;
    }
  }
}
