.user-title {
  font-style: italic;
  margin-bottom: 4px;
}

.user-role-admin {
  color: #800000;
}

.user-role-moderator {
  color: #800080;
}

.user-role-mod-author {
  color: #000080;
}

.user-role-user {
  color: #008000;
}

.left-user-column {
  padding-right: 20px;
  font-size: 14px;

  .big-username {
    font-size: 20px;
    font-weight: 500;
  }

  .section-title {
    font-size: 16px;
    font-weight: 500;
    color: $h4_color;
  }

  section {
    padding-bottom: 10px;
    padding-left: 10px;
    border-bottom: 2px solid $soft_border_color;
  }

  .reputation {
	font-size: 18px;
  }
}

.right-user-column {
  .section-title {
    display: block;
    vertical-align: top;
    font-size: 22px;
    font-weight: 500;
    color: $text_color;
  }

  section {
    display: block;
    margin-top: 15px;
    margin-left: 30px;
    margin-bottom: 30px;
  }

  .tab {
	  padding: 20px;
	  border: 1px solid $border_color;
	  background-color: $secondary_background;
  }
}
