.header-tabs {
  background-color: $secondary_background;
  border-bottom: 1px solid $border_color;

  h1 {
    font-weight: 500;
    color: $text_color;
    font-size: 36px;
    padding-top: 18px;//half of font size
    padding-bottom: 18px;
  }

  a.selected-tab {
    background-color: $primary_background;

    &:hover {
      background-color: $primary_background;
    }
  }
}

.settings-tabs {
  margin-left: 46px;

  .selected-tab {
    background-color: $primary_background;
    border-bottom: 1px solid $primary_background;
    margin-bottom: -1px;
  }
}

#avatar-browse {
  width: auto;
  height: auto;
  padding: 10px;
  margin-left: 10px;
  display: inline-block;
}

.quote {
  width: 300px;
  font-size: 14px;
  display: inline-block;
  font-style: italic;
  margin-left: 8px;
}

.explanation {
  font-size: 12px;
  margin-bottom: 4px;
  margin-top: 10px;
  display: block;
}

.show-more {
  font-size: 11px;
  cursor: pointer;
}

.avatar-pending {
  border: 2px solid #9c9;
}

.username {
  color: $h4_color;
  font-style: italic;
}

input[type="text"].verification-key-input {
  width: 215px;
}
