.big-username {
  font-size: 20px;
}

.user-title {
  font-style: italic;
  margin-bottom: 4px;
}

.user-role-admin {
  color: #800000;
}

.user-role-moderator {
  color: #800080;
}

.user-role-mod-author {
  color: #000080;
}

.user-role-user {
  color: #008000;
}