<div class="content-title">
    <span class="capitalize">
        <span ng-bind-html="reportableUrl"></span>
    </span>
    <span class="action-box right-item {{ report.resolved ? 'green-box' : 'red-box' }}" ng-click="toggleResolved()" title="Click here to mark this report as {{ report.resolved ? 'un' : ''}}resolved.">
        {{ report.resolved ? 'R' : 'Unr' }}esolved
    </span>
</div>

<div class="content-container">
    <div class="content-block">
        <div class="contribution-container box-shadow">
            <div class="content-title">
                <span>
                    <a ng-href="#/{{report.reportable_type.underscore()}}/{{report.reportable.id}}" target="_blank">{{report.reportable.name}}</a>
                </span>
            </div>

            <div class="user-column">
                <ul>
                    <li class="user-avatar">
                        <img class="avatar avatar-medium" ng-src="{{report.reportable.images.small}}" />
                    </li>
                    <li class="user-name">
                        by {{report.reportable.authors}}
                    </li>
                    <li class="user-title" ng-if="report.reportable.aliases">
                        AKA {{report.reportable.aliases}}
                    </li>
                </ul>
            </div>

            <div class="content-column reportable-content-column">
                <!-- General -->
                <h3 class="section-title">General</h3>
                <div class="stat-block">
                    <section class="reportable-content-block">
                        <div class="stat-item">
                            <dt class="stat-title">Submitted By</dt>
                            <dd class="stat-data">
                                <a class="inverse-link" ng-href="#/user/{{report.reportable.submitted_by}}" target="_blank" tabindex="{{index}}">
                                    {{report.reportable.submitter.username}}
                                </a>
                            </dd>
                        </div>

                        <div class="stat-item" ng-if="report.reportable.mod_authors.length">
                            <dt class="stat-title">Mod Authors</dt>
                            <dd class="stat-data">
                                <span ng-repeat="author in report.reportable.mod_authors">
                                    <a ng-href="#/user/{{author.user_id}}">{{author.user.username}}</a> -
                                    <span class="capitalize">{{author.role}}</span>
                                </span>
                            </dd>
                        </div>

                        <div clas="stat-item">
                            <dt class="stat-title">Date Released</dt>
                            <dd class="stat-data">{{report.reportable.released | date}}</dd>
                        </div>

                        <div class="stat-item">
                            <dt class="stat-title" ng-if="report.reportable.updated">Date Updated</dt>
                            <dd class="stat-data" ng-if="report.reportable.updated">{{report.reportable.updated | date}}</dd>
                        </div>
                    </section>
                </div>

                <div ng-if="report.reportable.primary_category_id">
                    <!--Categories-->
                    <h3 class="section-title">Categories</h3>
                    <section class="reportable-content-block">
                        <a ng-href="#/mods?c={{report.reportable.primary_category_id}}">
                            <div class="action-box">{{report.reportable.primary_category.name}}</div>
                        </a>
                        <a ng-href="#/mods?c={{report.reportable.secondary_category_id}}" ng-show="report.reportable.secondary_category_id">
                            <div class="action-box">{{report.reportable.secondary_category.name}}</div>
                        </a>
                    </section>

                </div>
            </div>
        </div>
    </div>
</div>