<div class="content-title">
    <span class="capitalize">
        <a ng-href="#/{{report.reportable_type.underscore()}}/{{report.reportable_id}}" target="_blank">{{report.reportable_type}}</a>
    </span>
</div>

<div class="content-container">
    <div class="content-block">
        <div class="contribution-container box-shadow">
            <div class="content-title">
                <span>
              <a ng-href="#/{{report.reportable_type.underscore()}}/{{report.reportable.id}}" target="_blank">{{report.reportable.username}}</a>
          </span>
            </div>
            <user-column user="report.reportable" class="user-column"></user-column>
            <div class="content-column reportable-content-column">

                <h3 class="section-title">Activity</h3>
                <section class="reportable-content-block">
                    <div class="stat-item">Joined: {{report.reportable.joined | date}}</div>
                    <div ng-if="report.reportable.last_sign_in_at" class="stat-item">Last Seen: {{report.reportable.last_sign_in_at | date}}</div>
                </section>

                <h3 ng-if="report.reportable.about_me" class="section-title">About Me</h3>
                <section>
                    <div class="reportable-content-block" marked="report.reportable.about_me"></div>
                </section>
            </div>
        </div>
    </div>
</div>