<p id="notice"><%= notice %></p>

<p>
  <strong>Ws:</strong>
  <%= @workshop_info.ws_id %>
</p>

<%= link_to 'Edit', edit_workshop_info_path(@workshop_info) %> |
<%= link_to 'Back', workshop_infos_path %>
