<div class="content-block">
    <div class="content-title">
        Authored Mods
    </div>
    <div class="content-container table-container">
        <loader ng-if="!errors.authoredMods" data="authoredMods" spinner-class="big-spinner">
            <table-results data="authoredMods" message="No authored mods found."></table-results>
            <page-results pages="authoredModsPages" data="authoredMods"
                          callback="refreshAuthoredMods" offset="70"></page-results>
        </loader>
    </div>
</div>

<div class="content-block">
    <div class="content-title">
        Favorite Mods
    </div>
    <div class="content-container table-container">
        <loader ng-if="!errors.favoriteMods" data="favoriteMods" spinner-class="big-spinner">
            <table-results data="favoriteMods" message="No favorite mods found."></table-results>
            <page-results pages="favoriteModsPages" data="favoriteMods"
                          callback="refreshAuthoredMods" offset="70"></page-results>
        </loader>
    </div>
</div>

<div class="content-block">
    <div class="content-title">
        Submitted Mods
    </div>
    <div class="content-container table-container">
        <loader ng-if="!errors.submittedMods" data="submittedMods" spinner-class="big-spinner">
            <table-results data="submittedMods" message="No submitted mods found."></table-results>
            <page-results pages="submittedModsPages" data="submittedMods"
                          callback="refreshSubmittedMods" offset="70"></page-results>
        </loader>
    </div>
</div>