<div class="content-block" ng-if="user.about_me">
    <div class="content-title">About Me</div>
    <div class="content-container">
        <div marked="user.about_me" class="text-container"></div>
    </div>
</div>

<div class="content-block" ng-if="!user['comments_disabled?']">
    <div class="content-title">Comments
        <span class="right-item action-box" ng-click="startNewComment()">
            <i class="fa fa-plus"></i> New Comment
        </span>
    </div>
    <loader data="user.profile_comments" spinner-class="big-spinner" content-class="content-container" ng-if="!errors.comments">
        <comments comments="user.profile_comments" model-name="'User'" target="user"></comments>

        <page-results pages="pages.profile_comments" data="user.profile_comments" callback="retrieveProfileComments"></page-results>
    </loader>
    <error-display content-class="content-container" errors="errors.comments" label="profile comments"></error-display>
</div>