<two-columns>
    <loader data="user" spinner-class="big-spinner">
        <div class="page-container">
            <div class="left-column left-user-column medium-column">
                <img class="avatar avatar-full" ng-src="{{user.avatar == null ? '/avatars/' + user.title + '.png' : user.avatar}}"/>

                <h3 class="big-username">{{user.username}}</h3>
                <section>
                    <div class="user-title">{{user.title}}</div>
                    <div class="user-role {{roleClass}}">{{user.role}}</div>
                </section>

                <h3 class="section-title">Reputation</h3>
                <section>
                    <div class="stat-item reputation">
                        {{user.reputation.overall | number}}
                        <div class="action-box" ng-click="giveRep()" ng-if="permissions.canEndorse">
                            <i class="fa {{user.repped ? 'fa-heart' : 'fa-heart-o'}}" aria-hidden="true"></i>
                            {{user.repped ? 'Take Back Reputation' : 'Give Reputation' }}
                        </div>

                        <div class="action-box no-interaction" ng-if="!permissions.canEndorse">
                            You can't endorse any more people
                        </div>
                    </div>
                </section>

                <h3 class="section-title">Contributions</h3>
                <section>
                    <a ng-href="#/reviews?scol=submitted&s={{user.username}}">
                        <div class="stat-item">{{user.reviews_count | number}} Reviews</div>
                    </a>
                    <a ng-href="#/compatibility-notes?scol=submitted&s={{user.username}}">
                        <div class="stat-item">{{user.compatibility_notes_count | number}} Compatibility Notes</div>
                    </a>
                    <a ng-href="#/install-order-notes?scol=submitted&s={{user.username}}">
                        <div class="stat-item">{{user.install_order_notes_count| number}} Install Order Notes</div>
                    </a>
                    <a ng-href="#/load-order-notes?scol=submitted&s={{user.username}}">
                        <div class="stat-item">{{user.load_order_notes_count | number}} Load Order Notes</div>
                    </a>
                    <a ng-href="#/corrections?scol=submitted&s={{user.username}}">
                        <div class="stat-item">{{user.corrections_count | number}} Corrections</div>
                    </a>
                    <a ng-href="#/comments?scol=submitted&s={{user.username}}">
                        <div class="stat-item">{{user.comments_count | number}} Comments</div>
                    </a>
                </section>

                <h3 class="section-title">Activity</h3>
                <section>
                    <div class="stat-item">Joined: {{user.joined | date}}</div>
                    <div class="stat-item">Last Seen: {{user.last_sign_in_at | date}}</div>
                </section>

                <h3 class="section-title" ng-if="user['email_public?']">Contact</h3>
                <section ng-if="user['email_public?']">
                    <div class="stat-item">Email: <a href="mailto:{{user.email}}">{{user.email}}</a></div>
                    <div ng-if="user.bio.nexus_username">
                        <a ng-href="http://www.nexusmods.com/games/users/{{user.bio.nexus_user_id}}">
                            <div class="action-box source-box">
                                <img src="/images/nexus_logo.png" class="source-image"/>
                                Nexus
                            </div>
                        </a>
                    </div>
                    <div ng-if="user.bio.steam_username">
                        <a ng-href="http://steamcommunity.com/id/{{user.bio.steam_username}}">
                            <div class="action-box source-box">
                                <img src="/images/workshop_logo.png" class="source-image" />
                                Steam
                            </div>
                        </a>
                    </div>
                    <div ng-if="user.bio.lover_username">
                        <a ng-href="http://www.loverslab.com/user/148698-milzschnitte/{{user.bio.lover_user_path}}">
                            <div class="action-box source-box">
                                <img src="/images/lab_logo.png" class="source-image" />
                                Lover's Lab
                            </div>
                        </a>
                    </div>
                </section>
            </div>
            <div class="right-column tabs-column right-user-column">
                <tabs tabs="tabs"></tabs>
                <state-loader spinner-class="big-spinner">
                    <div ui-view class="tab"></div>
                </state-loader>
            </div>
        </div>
    </loader>
</two-columns>
