.page-container {
  max-width: $max-content-width;
  margin: 0 auto;

  h1 {
    color: $text_color;
    margin-top: 30px;
  }
}

// TODO: Move to buttons
// delete btn
.delete-btn {
  color: $inverse_text_color;
  background-color: $error_secondary;

  &:hover {
    background-color: darken($error_secondary, 10%);
  }
}