<% content_for :head do %>
    <title>Mod Picker: Help Center - Edit <%= @help_video.title %></title>
<% end %>

<div class="page-container">
    <h1>Edit Help Page
        <span class="right-item">
            <%= link_to "Delete Page", "/videos/#{@help_video.id}/destroy", class: "action-box red-box" %>
        </span>
    </h1>

    <%= render "form" %>
</div>