<h3 class="section-title">Linked Accounts</h3>
<section ng-if="user.bio">
    <div class="subsection">
        <link-generic-account bio="user.bio" site-label="'Nexus Mods'" site-username="user.bio.nexus_username" site-posts-count="user.bio.nexus_posts_count" site-date-joined="user.bio.nexus_date_joined" site-verification-token="user.bio.nexus_verification_token"></link-generic-account>
    </div>
    <div class="subsection">
        <link-generic-account bio="user.bio" site-label="'Lover\'s Lab'" site-username="user.bio.lover_username" site-posts-count="user.bio.lover_posts_count" site-date-joined="user.bio.lover_date_joined" site-verification-token="user.bio.lover_verification_token"></link-generic-account>
    </div>
    <div class="subsection">
        <link-generic-account bio="user.bio" site-label="'Steam Workshop'" site-username="user.bio.workshop_username" site-submissions-count="user.bio.workshop_submissions_count" site-followers-count="user.bio.workshop_followers_count" site-verification-token="user.bio.workshop_verification_token"></link-generic-account>
    </div>
</section>

<h3 class="section-title">Email</h3>
<section>
    <div class="subsection">
        <input type="email" name="email" ng-model="user.email" />
    </div>
    <label class="subsection">
        <input type="checkbox" ng-model="userSettings.email_public">
        Allow other users to see my email address
    </label>
</section>

<h3 class="section-title">Password</h3>
<section>
    <label class="subsection">
        <span class="input-label">New Password</span>
        <span class="input-block">
            <span class="explanation">Passwords must be at least 8 characters long</span>
            <input type="password" ng-model="user.newPassword">
        </span>
    </label>
    <label class="subsection">
        <span class="input-label">Confirm New Password</span>
        <input type="password" ng-model="user.newPassword_confirmation">
    </label>
    <label class="subsection">
        <span class="input-label">Current Password</span>
        <input type="password" ng-model="user.password">
    </label>
</section>

<h3 class="section-title">Content shown</h3>
<section>
    <label class="subsection">
        <input type="checkbox" ng-model="userSettings.allow_adult_content">
        Allow adult content
    </label>
    <label class="subsection">
        <input type="checkbox" ng-model="userSettings.allow_nexus_mods">
        Allow mods from Nexus Mods
    </label>
    <label class="subsection">
        <input type="checkbox" ng-model="userSettings.allow_steam_workshop">
        Allow mods from the Steam Workshop
    </label>
    <label class="subsection">
        <input type="checkbox" ng-model="userSettings.allow_lovers_lab">
        Allow mods from Lover's Lab
    </label>
</section>

<!-- should be auto set from browser
<h3 class="section-title">Date and Time</h3>
<section>
    <section>
        Time Zone
        <select ng-model="userSettings.timezone">
            <option>(GMT -12:00) Eniwetok, Kwajalein</option>
            <option>(GMT -11:00) Midway Island, Samoa</option>
            <option>(GMT -10:00) Hawaii</option>
            <option>(GMT -9:00) Alaska</option>
            <option>(GMT -8:00) Pacific Time (US &amp; Canada)</option>
            <option>(GMT -7:00) Mountain Time (US &amp; Canada)</option>
            <option>(GMT -6:00) Central Time (US &amp; Canada), Mexico City</option>
            <option>(GMT -5:00) Eastern Time (US &amp; Canada), Bogota, Lima</option>
            <option>(GMT -4:30) Caracas</option>
            <option>(GMT -4:00) Atlantic Time (Canada), La Paz, Santiago</option>
            <option>(GMT -3:30) Newfoundland</option>
            <option>(GMT -3:00) Brazil, Buenos Aires, Georgetown</option>
            <option>(GMT -2:00) Mid-Atlantic</option>
            <option>(GMT -1:00 hour) Azores, Cape Verde Islands</option>
            <option>(GMT) Western Europe Time, London, Lisbon, Casablanca, Greenwich</option>
            <option>(GMT +1:00 hour) Brussels, Copenhagen, Madrid, Paris</option>
            <option>(GMT +2:00) Kaliningrad, South Africa, Cairo</option>
            <option>(GMT +3:00) Baghdad, Riyadh, Moscow, St. Petersburg</option>
            <option>(GMT +3:30) Tehran</option>
            <option>(GMT +4:00) Abu Dhabi, Muscat, Yerevan, Baku, Tbilisi</option>
            <option>(GMT +4:30) Kabul</option>
            <option>(GMT +5:00) Ekaterinburg, Islamabad, Karachi, Tashkent</option>
            <option>(GMT +5:30) Mumbai, Kolkata, Chennai, New Delhi</option>
            <option>(GMT +5:45) Kathmandu</option>
            <option>(GMT +6:00) Almaty, Dhaka, Colombo</option>
            <option>(GMT +6:30) Yangon, Cocos Islands</option>
            <option>(GMT +7:00) Bangkok, Hanoi, Jakarta</option>
            <option>(GMT +8:00) Beijing, Perth, Singapore, Hong Kong</option>
            <option>(GMT +9:00) Tokyo, Seoul, Osaka, Sapporo, Yakutsk</option>
            <option>(GMT +9:30) Adelaide, Darwin</option>
            <option>(GMT +10:00) Eastern Australia, Guam, Vladivostok</option>
            <option>(GMT +11:00) Magadan, Solomon Islands, New Caledonia</option>
            <option>(GMT +12:00) Auckland, Wellington, Fiji, Kamchatka</option>
        </select>
    </section>
    <section>
        Date Format
        <select ng-model="userSettings.udate_format">
            <option value="%m/%d/%Y">mm/dd/yyyy</option>
            <option value="%d/%m/%Y">dd/mm/yyyy</option>
            <option value="%F">yyyy/mm/dd</option>
        </select>
    </section>
    <section>
        Time Format
        <select ng-model="userSettings.utime_format">
            <option value="%I:%M%p">12 hour time</option>
            <option value="%H:%M">24 hour time</option>
        </select>
    </section>
    <a class="show-more">show advanced options</a>
</section>
-->

<h3 class="section-title">Themes</h3>
<section>
    <section>
        Skyrim
        <select ng-model="userSettings.theme">
            <option>High Hrothgar</option>
            <option>Whiterun</option>
            <option>Blackreach</option>
            <option>Darkwater</option>
        </select>
    </section>
</section>

<div class="action-button-container">
    <input class="btn action-btn" type="submit" value="Save Changes" ng-click="submit()"/>
</div>
