<h3 class="section-title">Linked Accounts</h3>
<section ng-if="user.bio">
    <div class="subsection">
        <link-generic-account bio="user.bio" site-label="Nexus Mods" site-key="nexus"></link-generic-account>
    </div>
    <div class="subsection">
        <link-generic-account bio="user.bio" site-label="Lover's Lab" site-key="lover"></link-generic-account>
    </div>
    <div class="subsection">
        <link-generic-account bio="user.bio" site-label="Steam Workshop" site-key="workshop"></link-generic-account>
    </div>
</section>

<h3 class="section-title">Email</h3>
<section>
    <div class="subsection">
        <input type="email" name="email" ng-model="user.email" ng-change="togglePasswordNotice()"/>
        <span class="quote" ng-if="showPasswordNotice">
            Please enter your current password below to change your email.
        </span>
    </div>
    <label class="subsection">
        <input type="checkbox" ng-model="settings.email_public">
        Allow other users to see my email address
    </label>
</section>

<h3 class="section-title">Password</h3>
<section>
    <label class="subsection">
        <span class="input-label">New Password</span>
        <span class="input-block">
            <span class="explanation">Passwords must be at least 8 characters long</span>
            <input type="password" ng-model="user.password">
        </span>
    </label>
    <label class="subsection">
        <span class="input-label">Confirm New Password</span>
        <input type="password" ng-model="user.password_confirmation">
    </label>
    <label class="subsection">
        <span class="input-label">Current Password</span>
        <input type="password" ng-model="user.current_password">
    </label>
</section>

<h3 class="section-title">Other</h3>
<section>
    <label class="subsection">
        <input type="checkbox" ng-model="settings.allow_adult_content">
        Allow adult content
    </label>
    <label class="subsection">
        <input type="checkbox" ng-model="settings.enable_spellcheck">
        Enable spell check
    </label>
    <label class="subsection">
        <input type="checkbox" ng-model="settings.disable_helper">
        Disable helper by default
    </label>
    <!--<label class="subsection">
        <input type="checkbox" ng-model="settings.allow_nexus_mods">
        Allow mods from Nexus Mods
    </label>
    <label class="subsection">
        <input type="checkbox" ng-model="settings.allow_steam_workshop">
        Allow mods from the Steam Workshop
    </label>
    <label class="subsection">
        <input type="checkbox" ng-model="settings.allow_lovers_lab">
        Allow mods from Lover's Lab
    </label>-->
</section>

<h3 class="section-title">Themes</h3>
<section>
    <label class="subsection">
        Skyrim
        <select ng-model="settings.skyrim_theme">
            <option>High Hrothgar</option>
            <option>Whiterun</option>
            <option>Blackreach</option>
            <option>Darkwater</option>
            <option>Falkreath</option>
        </select>
    </label>
    <label class="subsection">
        Skyrim SE
        <select ng-model="settings.skyrimse_theme">
            <option>High Hrothgar</option>
            <option>Whiterun</option>
            <option>Blackreach</option>
            <option>Darkwater</option>
            <option>Falkreath</option>
        </select>
    </label>
</section>

<div class="action-button-container">
    <input class="btn action-btn" type="submit" value="Save Changes" ng-click="saveChanges()"/>
</div>
