<div class="content-block">
    <div class="content-title">
        Mod Lists
        <span class="right-item">
            <span class="action-box green-box" ng-click="newModList(false)">
                <i class="fa fa-plus"></i> New Mod List
            </span>
        </span>
    </div>
    <div class="content-container table-container">
        <table-results label="mod lists" data="mod_lists"></table-results>
    </div>
</div>

<div class="content-block">
    <div class="content-title">
        Mod Collections
        <span class="right-item">
            <span class="action-box green-box" ng-click="newModList(true)">
                <i class="fa fa-plus"></i> New Mod Collection
            </span>
        </span>
    </div>
    <div class="content-container table-container">
        <table-results label="mod collections" data="collections"></table-results>
    </div>
</div>