<div class="content-block">
    <div class="content-title">Mod Lists</div>
    <div class="content-container">
        <table-results label="mod lists" data="user.mod_lists" columns="columns" actions="actions" column-groups="columnGroups" available-column-data="availableColumnData" sort="sort"></table-results>
    </div>
</div>

<div class="list-table-container">
    <div class="content-block">
        <div class="content-title">Mod Lists</div>
        <mod-list-table mod-lists="user.mod_lists" title="Mod Lists"></mod-list-table>
    </div>
</div>

<div class="list-table-container">
    <div class="content-block">
        <div class="content-title">Collections</div>
        <mod-list-table modlists="user.collections" title="Collections"></mod-list-table>
    </div>
</div>
