<h3 class="section-title">Mod Lists</h3>
<section>
    <table border="1" class="listing-table" ng-if="lists">
        <thead>
            <tr>
                <th class="name-column">Name</th>
                <th>Mods</th>
                <th>Status</th>
                <th>Reputation</th>
                <th>Stars</th>
                <th>Comments</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="list in lists">
                <td class="name-column">{{list.name}}</td>
                <td>{{list.mods_count}}</td>
                <td>{{list.status}}</td>
                <td>{{list.reputation}}</td>
                <td>{{list.stars}}</td>
                <td>{{list.comments_count}}</td>
                <td>
                    <div class="table-buttons">
                        <input type="button" class="btn-table" ng-click="modListClone(mod_list)" value="Clone"</a>
                        <input type="button" class="btn-table" ng-click="modListEdit(mod_list)" value="Edit"</a>
                        <input type="button" class="btn-table" ng-click="modListDelete(mod_list)" value="Delete"</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <span class="explanation" ng-if"!lists">There's nothing here...</span>
</section>

<h3 class="section-title">Mod Collections</h3>
<section>
    <table border="1" class="listing-table" ng-if="collections">
        <thead>
            <tr>
                <th class="name-column">Name</th>
                <th>Mods</th>
                <th>Status</th>
                <th>Reputation</th>
                <th>Stars</th>
                <th>Comments</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="collection in collections">
                <td class="name-column">{{collection.name}}</td>
                <td>{{collection.mods_count}}</td>
                <td>{{collection.status}}</td>
                <td>{{collection.reputation}}</td>
                <td>{{collection.stars}}</td>
                <td>{{collection.comments_count}}</td>
                <td>
                    <div class="table-buttons">
                        <input type="button" class="btn-table" ng-click="modListClone(mod_list)" value="Clone"</a>
                        <input type="button" class="btn-table" ng-click="modListEdit(mod_list)" value="Edit"</a>
                        <input type="button" class="btn-table" ng-click="modListDelete(mod_list)" value="Delete"</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <span class="explanation" ng-if"!collections">There's nothing here...</span>
</section>

