<h3 class="section-title">Avatar</h3>
<section>
    <img class="avatar" ng-src="{{avatar.src}}">
    <label>
        <input type="file" id="avatar-input" class="btn" value="Browse" accept="*.jpg,*.png" file-change="changeAvatar" />
        <input type="button" id="avatar-browse" class="btn" value="Browse" ng-click="browseAvatar()"/>
    </label>
</section>

<span ng-if="user.reputation.overall >= 1280">
    <h3 class="section-title">Title</h3>
    <section>
        <input type="text" ng-model="user.title"/>
        <span class="quote">I used to be an adventurer like you, until I took an arrow to the knee.</span>
    </section>
</span>

<span ng-if="user.reputation.overall < 1280">
    <h3 class="section-title">Title</h3>
    <section>
        <span class="explanation">(You need more reputation to change your title)</span>
        <input type="text" placeholder="{{user.title}}" disabled/>
        <span class="quote">I used to be an adventurer like you, and then I took an arrow to the knee.</span>
    </section>
</span>

<h3 class="section-title">Social</h3>
<section>
    <label>
        <input type="checkbox" ng-model="userSettings.allow_comments">
        Allow comments to be posted on your profile
    </label>
    <h3 class="section-title">About me</h3>
    <textarea class="big-text-area" ng-model="user.about_me">{{user.about_me}}</textarea>
</section>

<input class="btn" type="submit" value="Save Changes" ng-click="submit()"/>
