<h3 class="section-title">Avatar</h3>
<section>
    <image-upload image="avatar" can-change="permissions.canChangeAvatar" default-src="user.avatar" label="avatar" image-class="avatar avatar-medium" max-width="250" max-height="250"></image-upload>
    <span class="explanation" ng-if="!permissions.canChangeAvatar">
        You need more reputation to change your avatar.
    </span>
</section>

<h3 class="section-title">Title</h3>
<section>
    <span class="explanation" ng-if="!permissions.canChangeTitle">
        You need more reputation to change your title
    </span>
    <input type="text" ng-model="user.title" ng-disabled="!permissions.canChangeTitle"/>
    <span class="quote">{{titleQuote.text}}</span>
</section>

<h3 class="section-title">Social</h3>
<section>
    <label>
        <input type="checkbox" ng-model="settings.allow_comments">
        Allow comments to be posted on your profile
    </label>
    <h3 class="subtitle">About me</h3>
    <text-area data="user.about_me" ng-refresh="refresh"></text-area>
</section>

<div class="action-button-container">
    <input class="btn action-btn" type="submit" value="Save Changes" ng-click="saveChanges()"/>
</div>
