<messages success-bool="showSuccess" errors="errors" success-message="User Settings Saved!">
</messages>

<div class="header-tabs">
    <div class="page-container">
        <h1>User Settings</h1>
        <div class="settings-tabs">
            <tabs tabs="tabs"></tabs>
        </div>
    </div>
</div>

<div class="page-container">
    <div class="single-column">
        <form>
            <state-loader spinner-class="big-spinner">
                <tab-views></tab-views>
            </state-loader>
        </form>
    </div>
</div>
