<header>
    <div class="page-container">
        <div class="header">
            <a class="logo" href="/{{currentGame.nexus_name}}#/home">
                <i class="icom-mod_picker"></i>
                <h1>Mod Picker</h1>
            </a>
            <div class="nav-controls">
                <!-- User signed in navigation -->
                <ul class="user-nav" ng-if="currentUser">
                    <li>
                        Welcome <a class="inverse-link" ng-href="#/user/{{currentUser.id}}">{{currentUser.username}}</a>
                    </li>
                    <li>
                        <a class="inverse-link">
                            <form id="contribution-select-form">
                                <select class="contribution-selector" ng-model="newLocation" ng-change="navigateTo(newLocation); newLocation = ''">
                                    <option selected disabled hidden style='display: none' value=''></option>
                                    <option value="/settings/mods">Mods</option>
                                    <option value="/settings/mod-lists">Mod Lists</option>
                                    <option value="/comments?s={{currentUser.username}}">Comments</option>
                                    <option value="/reviews?s={{currentUser.username}}">Reviews</option>
                                    <option value="/compatibility-notes?s={{currentUser.username}}">Compatibility Notes</option>
                                    <option value="/install-order-notes?s={{currentUser.username}}">Install Order Notes</option>
                                    <option value="/load-order-notes?s={{currentUser.username}}">Load Order Notes</option>
                                    <option value="/corrections?s={{currentUser.username}}">Corrections</option>
                                </select>
                                <span class="contributions-label">My Contributions</span>
                            </form>
                        </a>
                    </li>
                    <li>
                        <a class="inverse-link" href="#/settings">Settings</a>
                    </li>
                    <li>
                        <a class="inverse-link" href="/users/sign_out">Log Out</a>
                    </li>
                    <li>
                        <game-select games="games" selected-game="currentGame"></game-select>
                    </li>
                </ul>
                <!-- User signed out navigation -->
                <ul class="user-nav" ng-if="!currentUser">
                    <li>
                        <a class="inverse-link" href="/users/sign_in">Log In</a>
                    </li>
                    <li>
                        <a class="inverse-link" href="/users/sign_up">Register</a>
                    </li>
                    <li>
                        <game-select games="games" selected-game="currentGame"></game-select>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<nav>
    <div class="page-container">
        <div class="nav-wrapper clearfix">
            <div class="primary-nav">
                <a class="nav-modlist" ng-if="activeModList" ng-href="#/mod-list/{{activeModList.id}}">
                    <span class="nav-icon">
                        <i class="fa fa-pencil-square-o"></i>
                    </span>
                    <span class="nav-text">
                        <b>Edit your</b>
                        Mod List
                    </span>
                </a>
                <a class="nav-modlist" ng-if="!activeModList" ng-click="newModList()">
                    <span class="nav-icon">
                        <i class="fa fa-pencil-square-o"></i>
                    </span>
                    <span class="nav-text">
                        <b>Start a new</b>
                        Mod List
                    </span>
                </a>
                <a class="nav-contributions">
                    <span class="nav-icon">
                        <i class="fa fa-comments"></i>
                    </span>
                    <span class="nav-text">
                        <b>View recent</b>
                        Contributions
                    </span>
                </a>
                <a class="nav-browse-modlists" href="#/mod-lists">
                    <span class="nav-icon">
                        <i class="fa fa-list-ul"></i>
                    </span>
                    <span class="nav-text">
                        <b>See all</b>
                        Public Mod Lists
                    </span>
                </a>
                <a class="nav-item" ng-click="toggleDropdown($event, 'Mods')" tabindex="0" ng-blur="blurDropdown('Mods')">
                    <span class="nav-icon">
                        <i class="fa fa-globe"></i>
                    </span>
                    <span class="nav-text">
                        <b>Browse</b>
                        Skyrim Mods
                    </span>
                    <span class="dropdown-icon">
                        <i class="fa fa-chevron-down"></i>
                    </span>
                </a>
                <div class="nav-dropdown" id="mods-dropdown" ng-show="showModsDropdown">
                    <!-- TODO: We should change the category tree selection logic so when the supercategory is specified on its own it checks the subcategories too -->
                    <a class="nav-category" href="#/mods">
                        <i class="fa fa-cubes"></i>
                        All Mods
                    </a>
                    <a class="nav-category" href="#/mods?c=9,44,45,46,47,48">
                        <i class="fa fa-image"></i>
                        Audiovisual
                    </a>
                    <a class="nav-category" href="#/mods?c=5,32,34,33">
                        <i class="fa fa-eye"></i>
                        Character Appearance
                    </a>
                    <a class="nav-category" href="#/mods?c=8,43,42">
                        <i class="fa fa-bug"></i>
                        Fixes
                    </a>
                    <a class="nav-category" href="#/mods?c=4,21,23,22,24,25,26,27,28,29,30,31">
                        <i class="fa fa-gamepad"></i>
                        Gameplay
                    </a>
                    <a class="nav-category" href="#/mods?c=7,39,40,41,38">
                        <i class="fa fa-flask"></i>
                        Items
                    </a>
                    <a class="nav-category" href="#/mods?c=3,19,17,18,20,16">
                        <i class="fa fa-building-o"></i>
                        Locations
                    </a>
                    <a class="nav-category" href="#/mods?c=6,35,37,36">
                        <i class="fa fa-group"></i>
                        New Characters
                    </a>
                    <a class="nav-category" href="#/mods?c=2,13,14,15">
                        <i class="fa fa-book"></i>
                        Resources
                    </a>
                    <a class="nav-category" href="#/mods?c=1,10,11,12">
                        <i class="fa fa-gears"></i>
                        Utilities
                    </a>
                </div>
                <a class="nav-item" href="#/mods/submit" ng-if="permissions.canSubmitMods">
                    <span class="nav-icon">
                        <i class="fa fa-plus-square"></i>
                    </span>
                    <span class="nav-text">
                        <b>Submit</b>
                        A {{currentGame.display_name}} Mod
                    </span>
                </a>
            </div>
            <div class="secondary-nav">
                <div class="search" ng-controller="searchController">
                    <form>
                        <input class="search-field" type="text" autocomplete="off" ng-model="search" placeholder="Search mods...">
                        <div class="search-container">
                            <input id="search-btn" class="btn" type="submit" value="Search" ng-click="processSearch()" ng-hide="loading"/>
                            <loader data="!loading" spinner-class="small-spinner"></loader>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>

<ui-view></ui-view>

<footer>
    <div class="page-container">
        <div class="left-column wide-column">
            <span class="logo small-logo">
                <i class="icom-mod_picker"></i>
                <h1>Mod Picker</h1>
            </span>
            &copy;2016 Mod Picker, LLC.  All rights reserved.
        </div>
        <div class="right-column">
            <section>
                <span class="section-title">Browse Content</span>
                <ul>
                    <li><a class="inverse-link" href="#/mods">Mods</a></li>
                    <li><a class="inverse-link" href="#/plugins">Plugins</a></li>
                    <li><a class="inverse-link" href="#/mod-lists">Mod Lists</a></li>
                    <li><a class="inverse-link" href="#/users">Users</a></li>
                    <li><a class="inverse-link" href="#/comments">Comments</a></li>
                </ul>
            </section>
            <section>
                <span class="section-title">Browse Contributions</span>
                <ul>
                    <li><a class="inverse-link" href="#/reviews">Reviews</a></li>
                    <li><a class="inverse-link" href="#/compatibility-notes">Compatibility Notes</a></li>
                    <li><a class="inverse-link" href="#/load-order-notes">Load Order Notes</a></li>
                    <li><a class="inverse-link" href="#/install-order-notes">Install Order Notes</a></li>
                    <li><a class="inverse-link" href="#/corrections">Corrections</a></li>
                </ul>
            </section>
            <section>
                <span class="section-title">Mod Picker</span>
                <ul>
                    <li><a class="inverse-link" href="/help/modpicker/About">About Us</a></li>
                    <li><a class="inverse-link" href="/legal/tos">Terms of Service</a></li>
                    <li><a class="inverse-link" href="/legal/privacy">Privacy Policy</a></li>
                    <li><a class="inverse-link" href="/help">Help Center</a></li>
                    <li><a class="inverse-link" href="/help/modpicker/Contact">Contact</a></li>
                </ul>
            </section>
            <section>
                <span class="section-title">Social Media</span>
                <ul>
                    <li><a class="inverse-link" href="https://twitter.com/Mod_Picker">Twitter</a></li>
                    <li><a class="inverse-link" href="https://www.youtube.com/channel/UCWqJeb-T5-k-AnWZTF_0ZAw">YouTube</a></li>
                    <li><a class="inverse-link" href="https://www.facebook.com/modpicker">Facebook</a></li>
                </ul>
            </section>
        </div>
    </div>
</footer>