<header>
    <div class="page-container">
        <div class="header">
            <a class="logo" href="home">
                <i class="icom-mod_picker"></i>
                <h1>Mod Picker</h1>
            </a>
            <div class="nav-controls">
                <user-nav></user-nav>
            </div>
        </div>
    </div>
    <div id="artist-credit">
        Credit: <a class="medium inverse-link" ng-href="{{creditLink}}" target="_blank"></a>
    </div>
</header>

<nav>
    <div class="nav-wrapper">
        <div class="page-container">
                <primary-nav></primary-nav>
                <secondary-nav></secondary-nav>
        </div>
    </div>
</nav>

<ui-view></ui-view>

<helper></helper>

<footer>
    <div class="page-container">
        <div class="left-column wide-column">
            <span class="logo small-logo">
                <i class="icom-mod_picker"></i>
                <h1>Mod Picker</h1>
            </span>
            &copy;2017 Mod Picker, LLC.  All rights reserved.
        </div>
        <div class="right-column">
            <section>
                <span class="section-title">Browse Content</span>
                <ul>
                    <li><a class="inverse-link" href="mods">Mods</a></li>
                    <li><a class="inverse-link" href="plugins">Plugins</a></li>
                    <li><a class="inverse-link" href="mod-lists">Mod Lists</a></li>
                    <li><a class="inverse-link" href="users">Users</a></li>
                    <li><a class="inverse-link" href="comments">Comments</a></li>
                    <li><a class="inverse-link" href="tags">Tags</a></li>
                </ul>
            </section>
            <section>
                <span class="section-title">Browse Contributions</span>
                <ul>
                    <li><a class="inverse-link" href="reviews">Reviews</a></li>
                    <li><a class="inverse-link" href="compatibility-notes">Compatibility Notes</a></li>
                    <li><a class="inverse-link" href="install-order-notes">Install Order Notes</a></li>
                    <li><a class="inverse-link" href="load-order-notes">Load Order Notes</a></li>
                    <li><a class="inverse-link" href="related-mod-notes">Related Mod Notes</a></li>
                    <li><a class="inverse-link" href="corrections">Corrections</a></li>
                </ul>
            </section>
            <section>
                <span class="section-title">Mod Picker</span>
                <ul>
                    <li><a class="inverse-link" href="/help">Help Center</a></li>
                    <li><a class="inverse-link" href="/help/about_us">About Us</a></li>
                    <li><a class="inverse-link" href="/help/contact">Contact</a></li>
                    <li><a class="inverse-link" href="/legal/tos">Terms of Service</a></li>
                    <li><a class="inverse-link" href="/legal/privacy">Privacy Policy</a></li>
                    <li><a class="inverse-link" href="donate">Donate</a></li>
                </ul>
            </section>
            <section>
                <span class="section-title">Other Links</span>
                <ul>
                    <li><a class="inverse-link" href="https://discord.gg/GCKrwTU">Discord</a></li>
                    <li><a class="inverse-link" href="https://www.facebook.com/modpicker">Facebook</a></li>
                    <li><a class="inverse-link" href="https://twitter.com/Mod_Picker">Twitter</a></li>
                    <li><a class="inverse-link" href="https://www.youtube.com/c/modpicker">YouTube</a></li>
                    <li><a class="inverse-link" href="https://steamcommunity.com/groups/mod-picker">Steam Group</a></li>
                    <li><a class="inverse-link" href="https://github.com/matortheeternal/mod-picker-issues">Report a bug</a></li>
                </ul>
            </section>
        </div>
    </div>
</footer>