<div class="page-container">
    <div class="donate-page">
        <h2>Donate</h2>

        <p>If you enjoy using Mod Picker please consider making a donation to help us pay for server costs and other expenses.  We have the intention to remain completely ad-free, but can only do so if we recieve enough donations to meet our costs.  Anything you can give is appreciated.</p>

        <p>Mod Picker would like to encourage you to also make donations to mod authors.  This community and website would not be possible without the efforts of many mod authors over the years.  You can donate to mod authors through <a href="https://nexusmods.com">Nexus Mods</a> or <a href="https://patreon.com">Patreon</a>.  If you don't know if a mod author accepts donations you can message them here or on another site stating your appreciation and interest in supporting their work.</p>

        <p>We accept donations through PayPal.  You do not need a PayPal account to make a donation.</p>

        <div class="center">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="HCGZDLCF5B83W">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
        </div>
    </div>
</div>