<div class="page-container">
    <div class="error-page {{quote.class}}">
        <div class="big-quote">"{{quote.text}}"</div>
        <div class="explanation" ng-if="statusType !== 'error'">
            {{response.data.error || defaultExplanations[statusType]}}
        </div>
        <div class="explanation" ng-if="statusType === 'error'">
            An unexpected error has occured.  You can <a ng-if="stateUrl" href="{{stateUrl}}">try again</a><span ng-if="!stateUrl">try again</span> or <a href="/help/contact">contact us</a> if the problem persists.
        </div>

        <h3>Error Details</h3>
        <p ng-if="response">Error {{response.status}}: {{response.statusText}}.</p>
        <p ng-if="stateName && stateUrl">{{stateName}}: {{stateUrl}}</p>
        <p ng-if="message">{{message}}</p>
    </div>
</div>