<messages></messages>

<div class="column-wrapper">
    <div class="single-column">
        <h2>Edit Mod</h2>

        <loader data="mod" spinner-class="big-spinner">
            <form id="editModForm" name="editModForm" spellcheck="false">

                <h3 class="section-title">Image
                    <span class="help-tooltip" title="The image that will be shown on the mod page.">?</span>
                </h3>
                <section>
                    <image-upload image="image" can-change="true" default-src="mod.image" label="mod image" image-class="mod-image" max-width="300" max-height="300"></image-upload>
                </section>

                <h3 class="section-title">Sources
                    <span class="help-tooltip" title="Locations where an author has officially uploaded a Mod. &#13;You can only enter one valid location for each supported site.">?</span>
                </h3>
                <section>
                    <div class="dynamic-item" ng-repeat="source in sources">
                        <select ng-model="source.label" ng-change="validateSource(source)" ng-disabled="source.scraped">
                            <option ng-repeat="site in sites" ng-if="!site.hidden">{{site.label}}</option>
                        </select>
                        <input type="text" class="long-input" ng-model="source.url" placeholder="Enter Source URL here" ng-change="validateSource(source)" ng-disabled="source.scraped">
                        <input type="button" class="btn scrape-button" value="Scrape" ng-click="scrapeSource(source)" ng-disabled="!source.valid || source.scraped">
                        <span class="remove-item" ng-click="removeSource(source)" ng-if="($index > 0 || permissions.canUseCustomSources) && !source.scraped" title="Remove source">
                            <i class="fa fa-times"></i>
                        </span>
                    </div>
                    <div class="dynamic-item" ng-repeat="source in customSources" ng-hide="source._destroy">
                        <input type="text" class="source-label" ng-model="source.label" ng-change="validateCustomSource(source)">
                        <input type="text" class="long-input" ng-model="source.url" placeholder="Enter Source URL here" ng-change="validateCustomSource(source)">
                        <span class="remove-item" ng-click="removeCustomSource(source)" title="Remove custom source">
                            <i class="fa fa-times"></i>
                        </span>
                    </div>
                    <!-- TODO: Fix this not hiding immediately -->
                    <input type="button" class="btn" value="Add Source" ng-click="addSource()" ng-show="sources.length < sites.length">
                    <input type="button" class="btn" value="Add Custom Source" ng-click="addCustomSource()" ng-show="permissions.canUseCustomSources">

                    <div class="scraped-data-container" ng-if="nexus || lab || workshop">
                        <div class="scraped-data" ng-if="nexus">
                            <h4>Nexus Mods Data</h4>
                            <loader data="nexus.id" spinner-class="medium-spinner">
                                <table class="infotable">
                                    <colgroup>
                                        <col span="1" style="width: 160px;">
                                        <col span="1">
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <td>Mod ID</td>
                                        <td>{{nexus.id}}</td>
                                    </tr>
                                    <tr>
                                        <td>Mod Name</td>
                                        <td>{{nexus.mod_name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Uploaded By</td>
                                        <td>{{nexus.uploaded_by}}</td>
                                    </tr>
                                    <tr>
                                        <td>Authors</td>
                                        <td>{{nexus.authors}}</td>
                                    </tr>
                                    <tr>
                                        <td>Latest Version</td>
                                        <td>{{nexus.current_version}}</td>
                                    </tr>
                                    <tr>
                                        <td>Date Released</td>
                                        <td>{{nexus.released | date }}</td>
                                    </tr>
                                    <tr>
                                        <td>Date Updated</td>
                                        <td>{{nexus.updated | date }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </loader>
                        </div>

                        <div class="scraped-data" ng-if="workshop">
                            <h4>Steam Workshop Data</h4>
                            <loader data="workshop.id" spinner-class="medium-spinner">
                                <table class="infotable">
                                    <colgroup>
                                        <col span="1" style="width: 160px;">
                                        <col span="1">
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <td>Mod ID</td>
                                        <td>{{workshop.id}}</td>
                                    </tr>
                                    <tr>
                                        <td>Mod Name</td>
                                        <td>{{workshop.mod_name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Uploaded By</td>
                                        <td>{{workshop.uploaded_by}}</td>
                                    </tr>
                                    <tr>
                                        <td>Date Released</td>
                                        <td>{{workshop.released | date }}</td>
                                    </tr>
                                    <tr>
                                        <td>Date Updated</td>
                                        <td>{{workshop.updated | date }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </loader>
                        </div>

                        <div class="scraped-data" ng-if="lab">
                            <h4>Lover's Lab Data</h4>
                            <loader data="lab.id" spinner-class="medium-spinner">
                                <table class="infotable">
                                    <colgroup>
                                        <col span="1" style="width: 160px;">
                                        <col span="1">
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <td>Mod ID</td>
                                        <td>{{lab.id}}</td>
                                    </tr>
                                    <tr>
                                        <td>Mod Name</td>
                                        <td>{{lab.mod_name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Uploaded By</td>
                                        <td>{{lab.uploaded_by}}</td>
                                    </tr>
                                    <tr>
                                        <td>Date Released</td>
                                        <td>{{lab.released | date }}</td>
                                    </tr>
                                    <tr>
                                        <td>Date Updated</td>
                                        <td>{{lab.updated | date }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </loader>
                        </div>
                    </div>
                </section>

                <h3 class="section-title">General Info
                    <span class="help-tooltip" title="General information on the mod.">?</span>
                </h3>
                <section>
                    <label class="subsection" ng-show="!sources.length || permissions.canSetGeneralModInfo">
                        <span class="input-label">Mod Name</span>
                    <span class="input-block">
                        <input type="text" class="medium-text" ng-model="mod.name">
                    </span>
                    </label>
                    <label class="subsection">
                        <span class="input-label">Aliases</span>
                    <span class="input-block">
                        <input type="text" class="medium-text" ng-model="mod.aliases">
                    </span>
                    </label>
                    <label class="subsection" ng-show="!sources.length || permissions.canSetGeneralModInfo">
                        <span class="input-label">Authors</span>
                    <span class="input-block">
                        <input type="text" class="medium-text" ng-model="mod.authors">
                    </span>
                    </label>
                    <label class="subsection" ng-show="!sources.length || permissions.canSetGeneralModInfo">
                        <span class="input-label">Date Released</span>
                    <span class="input-block">
                        <input type="date" ng-model="mod.released">
                    </span>
                    </label>
                    <label class="subsection" ng-show="!sources.length || permissions.canSetGeneralModInfo">
                        <span class="input-label">Date Updated</span>
                    <span class="input-block">
                        <input type="date" ng-model="mod.updated">
                    </span>
                    </label>
                </section>

                <h3 class="section-title">Mod Authors
                    <span class="help-tooltip" title="The users who can edit this mod.  Click for &#13;more information.">?</span>
                </h3>
                <section>
                    <div class="dynamic-item" ng-repeat="author in mod.mod_authors" ng-hide="author._destroy">
                        <select ng-model="author.role">
                            <option value="author">Author</option>
                            <option value="contributor">Contributor</option>
                            <option value="curator">Curator</option>
                        </select>
                        <search-input search-function="searchUsers" result-id="author.user_id" search-text="author.user.username" disabled="author.id" label="user" model="username" placeholder="Enter username"></search-input>
                        <span class="remove-item" ng-click="removeAuthor(author)" title="Remove author">
                            <i class="fa fa-times"></i>
                        </span>
                    </div>
                    <input type="button" class="btn" value="Add Author" ng-click="addAuthor()">
                </section>

                <h3 class="section-title">
                    Mod Analysis
                    <!-- temporary github link, should link to a help page -->
                    <a href="http://github.com/matortheeternal/mod-asset-mapper">
                        <span class="help-tooltip" title="Submitting a mod requires uploading an analysis file which &#13; includes an asset file tree and one or more plugin dumps. &#13;You can generate a mod analysis file using Mod Analyzer.  &#13;Click here for more information and download links.">?</span>
                    </a>
                </h3>
                <section>
                    <div class="analysis-results" ng-show="mod.analysis">
                        <h4 class="subtitle" ng-show="mod.analysis.nestedAssets">Asset File Tree</h4>
                        <div class="subsection analysis-container" ng-show="mod.analysis.nestedAssets">
                            <asset-tree data="mod.analysis.nestedAssets"></asset-tree>
                        </div>

                        <h4 class="subtitle" ng-show="mod.analysis.plugins.length > 0">Plugin Analysis</h4>
                        <div class="subsection analysis-container" ng-show="mod.analysis.plugins.length > 0">
                            <div class="plugin-analysis-item" ng-repeat="plugin in mod.analysis.plugins">
                                <plugin-metadata plugin="plugin" show-record-groups="true"></plugin-metadata>
                            </div>
                        </div>
                    </div>

                    <label>
                        <input id="analysis-input" type="file" file-change="changeAnalysisFile" accept=".json">
                        <input type="button" class="btn" ng-click="browseAnalysisFile()" value="Browse">
                    </label>
                </section>

                <h3 class="section-title">Requirements
                    <span class="help-tooltip" title="Mods that are required for this mod to function.">?</span>
                </h3>
                <section>
                    <div class="dynamic-item" ng-repeat="requirement in mod.requirements" ng-hide="requirement._destroy">
                        <search-input search-function="searchMods" result-id="requirement.required_id" search-text="requirement.name" class="long-input" disabled="requirement.id" label="mod" key="name"></search-input>
                        <span class="remove-item" ng-click="removeRequirement(requirement)" title="Remove requirement">
                            <i class="fa fa-times"></i>
                        </span>
                    </div>
                    <input type="button" class="btn" value="Add Requirement" ng-click="addRequirement()">
                </section>

                <section>
                    <category-tree selection="mod.categories" toggle-all="false"></category-tree>
                    <div id="category-messages">
                        <div ng-repeat="message in categoryMessages" class="category-message"
                             ng-class="message.klass">{{message.text}}</div>
                    </div>
                    <div class="category-buttons">
                        <input type="button" class="btn" ng-click="checkCategories()" value="Check Categories">
                        <input type="button" class="btn" ng-click="swapCategories()" value="Swap" title="Swap the primary and secondary categories" ng-disabled="mod.categories.length != 2">
                    </div>
                </section>

                <h3 class="section-title">Tags</h3>
                <section>
                    <tag-selector active-tags="mod.tags" new-tags="mod.newTags" show-mods-count="true" show-add="true" show-remove="true" max-tags="10" can-create="true"></tag-selector>
                </section>

                <h3 class="section-title">Other Options</h3>
                <section>
                    <label class="checkbox-option">
                        <input type="checkbox" ng-model="mod.is_utility">
                        External Utility
                    </label>
                    <span class="help-tooltip" title="A mod is classified as an external utility if it installs files &#13;outside of the user's data directory.  This includes &#13;mod managers, patchers, and script extenders.">?</span><br/>

                    <label class="checkbox-option">
                        <input type="checkbox" ng-model="mod.has_adult_content">
                        Has Adult Content
                    </label>
                    <span class="help-tooltip" title="In this context, adult content is classified as nudity or &#13;depictions of sexual acts.">?</span><br/>

                    <label class="checkbox-option">
                        <input type="checkbox" ng-model="mod.disallow_contributors">
                        Don't allow contributors to edit the mod page
                    </label>
                    <span class="help-tooltip" title="Makes it so Mod Authors who are contributors cannot &#13;access the edit mod page.">?</span><br/>

                    <label class="checkbox-option">
                        <input type="checkbox" ng-model="mod.disable_reviews">
                        Disable Reviews
                    </label>
                    <span class="help-tooltip" title="If enabled the Reviews tab for this mod will be hidden &#13;and any existing reviews on this mod will be hidden from &#13;public viewing.  NOTE: Unsetting this will not restore the hidden &#13;reviews, only a moderator or site administrator can restore them.">?</span><br/>

                    <label class="checkbox-option">
                        <input type="checkbox" ng-model="mod.lock_tags">
                        Lock Tags
                    </label>
                    <span class="help-tooltip" title="If enabled only mod authors, moderators and administrators &#13;will be able to add tags to this mod.">?</span><br/>

                    <label class="checkbox-option" ng-if="permissions.canModerate">
                        <input type="checkbox" ng-model="mod.hidden">
                        Hidden
                    </label>
                </section>

                <div class="action-button-container">
                    <input class="btn action-btn" type="submit" ng-disabled='submitting || !modValid()' ng-click="updateMod()" value="Save Changes"/>
                </div>
            </form>
        </loader>
    </div>
</div>

<div class="fullscreen-modal-container" ng-show="submitting">
    <div class="modal">
        <loader data="success || errors" spinner-class="big-spinner">
        </loader>
        <h2>{{submittingStatus}}</h2>
        <div ng-show="success">
            <a href="#/mod/{{mod.id}}">Click here</a> to return to the Mod Page
        </div>
        <div ng-show="errors">
            <div ng-repeat="error in errors">
                {{error.message}}
            </div>
            <div>
                <a ng-click="closeModal()">Click here</a> to return the update form
            </div>
        </div>
    </div>
</div>