<two-columns>
    <loader data="mod" spinner-class="big-spinner">
        <div class="page-header-container">
            <div class="page-container page-header">
                <section>
                    <div class="quality-item action-box" ng-if="mod.primary_category_id">
                        <span class="quality-number">{{mod.reputation | number:0}}</span> REPUTATION
                    </div>

                    <div class="header-info">
                        <span class="header-name">{{mod.name}}</span>
                        <span class="header-authors-container">by
                            <a ng-click="toggleAuthorsModal(true)">{{mod.authors}}</a>
                        </span>
                        <!--<span ng-repeat="author in mod.authors">
                            <a ng-href="#/user/{{author.id}}">{{author.username}}</a>
                        </span>-->
                        <br>
                        <span ng-if="mod.primary_category_id">
                            {{mod.reviews_count | number}} reviews
                        </span>
                        <!-- TODO: add this with css :after content -->
                        <span class="divider" ng-if="mod.primary_category_id && (mod.aliases || permissions.canManage)">
                            |
                        </span>

                        <!--Included in <a ng-href="#/modlists/includingMod/{{mod.id}}">{{mod.mod_modlists_count}} modlists</a>
                        <span class="divider">
                            |
                        </span>-->

                        <span ng-if="mod.aliases">
                            <strong>Aliases: </strong>{{mod.aliases}}
                            <span class="divider" ng-if="permissions.canManage">
                                |
                            </span>
                        </span>

                        <a ng-href="#/mod/{{mod.id}}/edit" ng-if="permissions.canManage">Edit</a>
                    </div>
                </section>

                <section>
                    <div class="header-box">
                        <!-- TODO: I feel like using some spans here would be wiser -->
                        ACTIONS
                        <span class="action-box" ng-click="starMod()">
                            <i class="fa {{mod.star ? 'fa-star' : 'fa-star-o'}}" aria-hidden="true"></i> {{mod.star ? 'Unfavorite' : 'Favorite'}}
                        </span>
                        <span class="action-box" ng-if="activeModList" ng-click="toggleInModList()">
                            <i class="fa {{ mod.in_mod_list ? 'fa-remove' : 'fa-plus' }}" aria-hidden="true"></i>
                            {{ mod.in_mod_list ? 'Remove from' : 'Add to' }} mod list
                        </span>
                    </div>

                    <div class="header-box" ng-if="mod.primary_category_id">
                        STATUS
                        <span class="action-box {{statusClasses[mod.status]}} capitalize" ng-click="toggleStatusModal(true)">
                            {{mod.status}}
                        </span>
                    </div>
                </section>
            </div>
        </div>

        <authors-modal></authors-modal>

        <appeals-modal></appeals-modal>

        <requirements-modal></requirements-modal>

        <messages></messages>

        <div class="page-container">
            <loader data="mod" spinner-class="big-spinner">
                <div class="left-column left-mod-column wide-column">

                    <!--Image-->
                    <img ng-if="mod.image !== '/mods/Default.png'" ng-src="{{mod.image}}" class="mod-image" />

                    <!-- General -->
                    <h3 class="section-title">General</h3>
                    <div class="stat-block">
                        <section>
                            <dt class="stat-title">Date Released</dt>
                            <dd class="stat-data">{{mod.released | date}}</dd>

                            <dt class="stat-title" ng-if="mod.updated">Date Updated</dt>
                            <dd class="stat-data" ng-if="mod.updated">{{mod.updated | date}}</dd>
                        </section>
                    </div>

                    <!--Sources-->
                    <h3 class="section-title">Sources</h3>
                    <section class="sources">
                        <source-link source="mod.nexus_infos" label="Nexus Mods" link="http://www.nexusmods.com/{{currentGame.nexus_name}}/mods/{{mod.nexus_infos.id}}"></source-link>
                        <source-link source="mod.workshop_infos" label="Steam Workshop" link="http://steamcommunity.com/sharedfiles/filedetails/{{mod.workshop_infos.id}}"></source-link>
                        <source-link source="mod.lover_infos" label="Lover's Lab" link="http://www.loverslab.com/files/file/{{mod.lover_infos.id}}"></source-link>
                        <source-link ng-repeat="source in mod.custom_sources" source="source" label="{{source.label}}" link="{{source.url}}" title="{{source.url}}"></source-link>
                    </section>

                    <!--Requirements-->
                    <h3 ng-if="mod.required_mods.length" class="section-title">Requires</h3>
                    <section ng-if="mod.required_mods.length">
                        <ol class="requirements-list">
                            <li ng-repeat="req in mod.required_mods | limitTo: 3">
                                <a ng-href="#/mod/{{req.required_mod.id}}">
                                    {{req.required_mod.name}}
                                </a>
                            </li>
                            <li class="show-more" ng-show="mod.required_mods.length > 3">
                                <a class="inverse-link" ng-click="toggleRequirementsModal(true)">
                                    Show {{mod.required_mods.length - 3}} more
                                </a>
                            </li>
                        </ol>
                    </section>

                    <h3 ng-if="mod.required_by.length" class="section-title">Required By</h3>
                    <section ng-if="mod.required_by.length">
                        <ol class="requirements-list">
                            <li ng-repeat="req in mod.required_by | limitTo: 3">
                                <a ng-href="#/mod/{{req.mod.id}}">
                                    {{req.mod.name}}
                                </a>
                            </li>
                            <li class="show-more" ng-show="mod.required_by.length > 3">
                                <a class="inverse-link" ng-click="toggleRequirementsModal(true)">
                                    Show {{mod.required_by.length - 3}} more
                                </a>
                            </li>
                        </ol>
                    </section>

                    <!-- We hide categories and tags when viewing a mod with no primary category -->
                    <div ng-if="mod.primary_category_id">
                        <!--Categories-->
                        <h3 class="section-title">Categories</h3>
                        <section>
                            <a ng-href="#/mods?c={{mod.primary_category_id}}">
                                <div class="action-box">{{mod.primary_category.name}}</div>
                            </a>
                            <a ng-href="#/mods?c={{mod.secondary_category_id}}" ng-show="mod.secondary_category_id">
                                <div class="action-box">{{mod.secondary_category.name}}</div>
                            </a>
                        </section>

                        <!--Tags-->
                        <h3 class="section-title">Tags</h3>
                        <section>
                            <tag-selector active-tags="mod.tags" new-tags="newTags" max-tags="10" show-mods-count="true" show-add="permissions.canManage || !mod.lock_tags" can-create="permissions.canCreateTags" show-remove="permissions.canManage" save-callback="saveTags"></tag-selector>
                        </section>
                    </div>

                    <!--Site Stats-->
                    <stat-expander info="mod.nexus_infos" expanded="nexusExpanded" label="Nexus Mods">
                        <nexus-stats></nexus-stats>
                    </stat-expander>
                    <stat-expander info="mod.workshop_infos" expanded="workshopExpanded" label="Steam Workshop">
                        <workshop-stats></workshop-stats>
                    </stat-expander>
                    <stat-expander info="mod.lover_infos" expanded="labExpanded" label="Lover's Lab">
                        <lab-stats></lab-stats>
                    </stat-expander>

                </div>
                <div class="right-column tabs-column">
                    <tabs tabs="tabs"></tabs>
                    <div class="tab box-shadow">
                        <tab-views></tab-views>
                    </div>
                </div>
            </loader>
        </div>
    </loader>
</two-columns>
