<messages></messages>

<div class="column-wrapper">
    <div class="single-column">
        <h2>Submit Mod
            <span class="action-box right-item" ng-click="hideTooltips = !hideTooltips">
                <i class="fa fa-eye{{ hideTooltips ? '' : '-slash'}}"></i>
                {{ hideTooltips ? 'Show' : 'Hide'}} Help Tooltips
            </span>
        </h2>

        <form id="submitModForm" name="submitModForm" spellcheck="false">
            <h3 class="section-title">Image
                <span class="help-tooltip" ng-hide="hideTooltips" title="The image that will be shown on the mod page.">
                    <i class="fa fa-question-circle"></i>
                </span>
            </h3>
            <section>
                <image-upload image="image" can-change="true" default-src="defaultImageSrc" label="mod image" image-class="mod-image" max-width="300" max-height="300"></image-upload>
            </section>

            <mod-sources></mod-sources>

            <mod-general-info></mod-general-info>

            <mod-analysis-manager></mod-analysis-manager>

            <mod-requirements></mod-requirements>

            <mod-categories></mod-categories>

            <h3 class="section-title">Tags
                <span class="help-tooltip" ng-hide="hideTooltips" title="Keywords that describe the mod to help users find it easier.">
                    <i class="fa fa-question-circle"></i>
                </span>
            </h3>
            <section>
                <tag-selector active-tags="[]" new-tags="mod.tags" show-mods-count="true" show-add="true" max-tags="10" can-create="true"></tag-selector>
            </section>

            <h3 class="section-title">Other Options</h3>
            <section>
                <label class="checkbox-option">
                    <input type="checkbox" ng-model="mod.is_utility">
                    External Utility
                </label>
                <span class="help-tooltip small" ng-hide="hideTooltips" title="A mod is classified as an external utility if it installs files &#13;outside of the user's data directory.  This includes &#13;mod managers, patchers, and script extenders.">
                    <i class="fa fa-question-circle"></i>
                </span><br/>

                <label class="checkbox-option">
                    <input type="checkbox" ng-model="mod.has_adult_content">
                    Has Adult Content
                </label>
                <a href="/help/adult_content">
                    <span class="help-tooltip small" ng-hide="hideTooltips" title="If the mod has nudity, sexual references, or gore in excess &#13;of an unmodified game it should be marked as having adult content.">
                        <i class="fa fa-question-circle"></i>
                    </span>
                </a><br/>

                <label class="checkbox-option">
                    <input type="checkbox" ng-model="mod.curate">
                    Curate This Mod
                </label>
                <a href="/help/mod_authors" target="_blank">
                    <span class="help-tooltip small" ng-hide="hideTooltips" title="Check this box if you'd like to be a curator for this mod. &#13;Click here for more information.">
                        <i class="fa fa-question-circle"></i>
                    </span>
                </a>
            </section>

            <div class="action-button-container">
                <input class="btn action-btn" type="submit" ng-disabled='submitting || !modValid()' ng-click="submit()" value="Submit"/>
            </div>
        </form>
    </div>
</div>

<submission-modal></submission-modal>