<messages></messages>

<div class="column-wrapper">
    <div class="single-column">
        <h2>Submit Mod</h2>

        <form id="submitModForm" name="submitModForm" spellcheck="false">

            <mod-sources></mod-sources>

            <mod-general-info></mod-general-info>

            <mod-analysis-manager></mod-analysis-manager>

            <mod-requirements></mod-requirements>

            <mod-categories></mod-categories>

            <h3 class="section-title">Tags</h3>
            <section>
                <tag-selector active-tags="[]" new-tags="mod.tags" show-mods-count="true" show-add="true" max-tags="10" can-create="true"></tag-selector>
            </section>

            <h3 class="section-title">Other Options</h3>
            <section>
                <label class="checkbox-option">
                    <input type="checkbox" ng-model="mod.is_utility">
                    External Utility
                </label>
                <span class="help-tooltip" title="A mod is classified as an external utility if it installs files &#13;outside of the user's data directory.  This includes &#13;mod managers, patchers, and script extenders.">?</span><br/>

                <label class="checkbox-option">
                    <input type="checkbox" ng-model="mod.has_adult_content">
                    Has Adult Content
                </label>
                <span class="help-tooltip" title="In this context, adult content is classified as nudity or &#13;depictions of sexual acts.">?</span>
            </section>

            <div class="action-button-container">
                <input class="btn action-btn" type="submit" ng-disabled='submitting || !modValid()' ng-click="submit()" value="Submit"/>
            </div>
        </form>
    </div>
</div>

<submission-modal></submission-modal>