<div class="plugins-block">
	<div class="plugins-title">
		Plugins
		<select ng-model="currentPlugin" ng-options="plugin as plugin.filename for plugin in plugins" class="plugin-selector"></select>
	</div>
	<div class="metadata-section">
		<h3 class="section-title">Metadata</h3>
		<section>
			<dt class="metadata-title">Plugin Author</dt>
			<dd class="metadata-data">{{currentPlugin.author}}</dd>

			<dt class="metadata-title">Plugin Version</dt>
			<dd class="metadata-data"><em>no data here</em></dd>

			<dt class="metadata-title">Masters</dt>
			<dd class="metadata-data"><em>no data here</em></dd>

			<dt class="metadata-title">Plugin Description</dt>
			<dd class="metadata-data">{{currentPlugin.description}}</dd>

			<dt class="metadata-title">Filesize</dt>
			<dd class="metadata-data"><em>no data here</em></dd>

			<dt class="metadata-title">File Hash</dt>
			<dd class="metadata-data">{{currentPlugin.crc_hash}}</dd>

			<dt class="metadata-title">Number of Overrides</dt>
			<dd class="metadata-data"><em>no data here</em></dd>
		</section>
	</div>
	<div class="records-section">
		<h3 class="section-title">Records</h3>
		<section>
			<table class="analysis-table">
				<thead>
					<tr>
						<th>Record Type</th>
						<th>Number of Records</th>
						<th>Number of Overrides</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="plugin_record_group in plugin_record_groups">
						<td>{{plugin_record_group.signature}}</td>
						<td>{{plugin_record_group.new_records}}</td>
						<td>{{plugin_record_group.override_records}}</td>
					</tr>
				</tbody>
			</table>
		</section>
	</div>
	<div class="errors-section">
		<h3 class="section-title"></h3>
		<section>
			<table class="analysis-table">
				<thead>
					<tr>
						<th>Signature</th>
						<th>FormID</th>
						<th>Type</th>
						<th>Name</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="plugin_error in plugin_errors">
						<td>{{plugin_error.signature}}</td>
						<td>{{plugin_error.form_id}}</td>
						<td>{{plugin_error.type}}</td>
						<td>{{plugin_error.name}}</td>
					</tr>
				</tbody>
			</table>
		</section>
	</div>
	<div class="overrides-section">
		<h3 class="section-title">Overrides</h3>
		<section>
			<div ng-repeat="override_record in override_records">
				<em>plugin name</em>
				-
				[{{override_record.signature}}:{{override_record.form_id}}]
			</div>
		</section>
	</div>
</div>

<div class="assets-block">
	<asset-tree data="treeData"></asset-tree>
</div>
