<div class="mod-tab-actions">
	<!--<div class="centered-mod-tab-action">
		<strong>Compatible</strong>
		<br>
		with modlist
	</div>
	<div class="mod-tab-action filter-checkbox">
		<label class="checkbox">
			<strong>Enable Modlist Filter</strong>
			<input type="checkbox" checked>
		</label>
	</div>--><!--

	--><div class="mod-tab-action sort-by-dropdown">
		<strong>Sort By: </strong>

		<select ng-model="compatibilitySort" ng-init="'reputation">
			<option value="reputation">Reputation</option>
			<option value="severity">Severity</option>
			<option value="submitted">Date Submitted</option>
			<option value="edited">Last Edited</option>
		</select>
	</div><!--
	--><div class="mod-tab-action">
		<input class="btn mod-page-btn" type="submit" value="Add Note" ng-click="submit()"/>
	</div>
</div>

<div class="add-note-box">
	<h3 class="section-title">Add Compatibility Note</h3>
	<section>
		<div class="add-note-actions">
			<strong>{{mod.name}}</strong>
			<div class="select compatibility-dropdown">
				<select ng-model="newCompatibilityNote.compatibility_type">
					<!-- TODO: put to server or static.js, set default value (so it's not empty on first drop down) -->
					<option value="incompatible">is incompatible with</option>
					<option value="partially incompatible">is partially incompatible with</option>
					<option value="compatibility mod">requires an assets patch for</option>
					<option value="compatibility option">requires a plug-in patch for</option>
					<option value="make custom patch">needs a custom patch made for</option>
				</select>
			</div>
			<input type="text" placeholder="Enter Mod Name" ng-model="otherModName" ng-change="newCompatibilityNote.otherMod = getModByName(newCompatibilityNote.otherModName)">
		</div>
	</section>
	<section>
		<div ng-if="newCompatibilityNote.compatibility_type === 'compatibility mod'">
			Compatibility Mod
			<input type="text" placeholder="Enter Mod Name" ng-model="newCompatibilityNote.compatibilityModName" ng-change="newCompatibilityNote.compatibility_mod = getModByName(newCompatibilityNote.compatibilityModName)">
		</div>
		<div ng-if="newCompatibilityNote.compatibility_type === 'compatibility option'">
			Compatibility Plug-in
			<select ng-model="newCompatibilityNote.compatibility_type">
				<option ng-repeat="" value=""></option>
			</select>
		</div>
	</section>
    <text-area data="newCompatibilityNote.text_body" ng-refresh="true" class="note-text-area"></text-area>

	<div class="submit-note">
		<input class="btn" type="submit" value="Submit" ng-click="createCompatibilityNote()"/>
	</div>
</div>

<div ng-repeat="note in compatibilityNotes" class="notes">
	<compatibility-note note="note" show-author-column="true"></compatibility-note>
</div>

