<div class="mod-tab-actions">
	<!--<div class="centered-mod-tab-action">
		<strong>Compatible</strong>
		<br>
		with modlist
	</div>
	<div class="mod-tab-action filter-checkbox">
		<label class="checkbox">
			<strong>Enable Modlist Filter</strong>
			<input type="checkbox" checked>
		</label>
	</div>--><!--

	--><div class="mod-tab-action sort-by-dropdown">
		<strong>Sort By: </strong>

		<select ng-model="sort.compatibility_notes" ng-init="sort.compatibility_notes = 'reputation'">
			<option value="reputation">Reputation</option>
			<option value="severity">Severity</option>
			<option value="submitted">Date Submitted</option>
			<option value="edited">Last Edited</option>
		</select>
	</div>
	<div class="mod-tab-action">
		<input class="btn mod-page-btn" type="button" value="Add Note" ng-click="startNewCompatibilityNote()" ng-disabled="newCompatibilityNote"/>
	</div>
</div>

<div class="add-note-box" ng-show="newCompatibilityNote">
	<div class="add-note-title">
		Add Compatibility Note
	</div>
    <div class="add-note-actions">
        <strong>{{mod.name}}</strong>
        <div class="select compatibility-dropdown">
            <select ng-model="newCompatibilityNote.compatibility_type">
                <option value="incompatible">is incompatible with</option>
                <option value="partially incompatible">is partially incompatible with</option>
                <option value="compatibility mod">requires an assets patch for</option>
                <option value="compatibility option">requires a plug-in patch for</option>
                <option value="make custom patch">needs a custom patch for</option>
            </select>
        </div>
        <input type="text" class="mod-input" placeholder="Enter Mod Name" ng-model="newCompatibilityNote.second_mod_id">

        <div ng-if="newCompatibilityNote.compatibility_type === 'compatibility mod'">
            Compatibility Mod
            <input type="text" placeholder="Enter Mod Name" ng-model="newCompatibilityNote.compatibilityModName" ng-change="newCompatibilityNote.compatibility_mod = getModByName(newCompatibilityNote.compatibilityModName)">
        </div>
        <div ng-if="newCompatibilityNote.compatibility_type === 'compatibility option'">
            Compatibility Plug-in
            <select ng-model="newCompatibilityNote.compatibility_type">
                <option ng-repeat="" value=""></option>
            </select>
        </div>
    </div>
	<div class="note-content-container">
		<text-area data="newCompatibilityNote.text_body" ng-refresh="updateMDE" class="note-text-area"></text-area>

		<div class="action-button-container">
			<input class="btn action-btn" type="submit" value="Submit" ng-click="submitCompatibilityNote()"/>
			<input class="btn action-btn" type="button" value="Discard" ng-click="discardCompatibilityNote()">
		</div>
	</div>
</div>

<div ng-repeat="note in mod.compatibility_notes" class="post">
	<compatibility-note note="note" mod-id="mod.id" show-author-column="true" index="100 + $index"></compatibility-note>
</div>

