<div class="mod-tab-actions">
	<div class="mod-tab-action">
		{{compatability}}
		<br>
		with modlist
	</div>
	<div class="mod-tab-action filter-checkbox">
		<label class="checkbox">
			<strong>Enable Modlist Filter</strong>
			<input type="checkbox" checked>
		</label>
	</div

   ><div class="mod-tab-action sort-dropdown">
		<strong style="margin-right: 10px;">Sort By: </strong>
		<div class="select">
			<select ng-model="filter">
				<option value="compatibility_type" selected>Severity</option>
				<option value="submitted">Date Submitted</option>
				<option value="edited">Last Edited</option>
				<option value="incorrect_notes_count">Author's Incorrect Notes</option>
			</select>
		</div>
	</div
   ><div class="mod-tab-action">
		<input class="btn mod-page-btn" type="submit" value="Add Note" ng-click="submit()"/>
	</div>
</div>
<div ng-repeat="compatibilityNote in compatibilityNotes" class="compatibility-notes">
	<note note="compatibilityNote"></note>
</div>
