<div class="mod-tab-items">
	<!--<div class="centered-mod-tab-action">
		<strong>Compatible</strong>
		<br>
		with modlist
	</div>
	<div class="mod-tab-action filter-checkbox">
		<label class="checkbox">
			<strong>Enable Modlist Filter</strong>
			<input type="checkbox" checked>
		</label>
	</div>-->
	<div class="mod-tab-item sort-by-dropdown">
		<strong>Sort By: </strong>

		<select ng-model="sort.compatibility_notes" ng-init="sort.compatibility_notes = 'reputation'">
			<option value="reputation">Reputation</option>
			<option value="severity">Severity</option>
			<option value="submitted">Date Submitted</option>
			<option value="edited">Last Edited</option>
		</select>
	</div>
	<div class="mod-tab-item">
		<input class="btn" type="button" value="Add Compatibility Note" ng-click="startNewCompatibilityNote()" ng-disabled="newCompatibilityNote"/>
	</div>
</div>

<div class="add-note-box" ng-show="newCompatibilityNote">
	<div class="add-note-title">
		Add Compatibility Note
	</div>
    <div class="add-note-options">
        <span class="select compatibility-dropdown">
            <select ng-model="newCompatibilityNote.compatibility_type">
                <option value="incompatible">Incompatible with</option>
                <option value="partially incompatible">Partially Incompatible with</option>
                <option value="compatibility mod">Compatibility Mod for</option>
                <option value="compatibility option">Compatibility Option for</option>
                <option value="make custom patch">Make Custom Patch for</option>
            </select>
        </span>
        <mod-input result-id="newCompatibilityNote.second_mod_id" excluded-id="mod.id"></mod-input>
    </div>
    <div class="add-note-options" ng-show="['compatibility mod', 'compatibility option'].indexOf(newCompatibilityNote.compatibility_type) > -1">
        <span ng-if="newCompatibilityNote.compatibility_type === 'compatibility mod'">
            <strong>Compatibility Mod</strong>
            <mod-input result-id="newCompatibilityNote.compatibility_mod" excluded-id="mod.id"></mod-input>
        </span>
        <span ng-if="newCompatibilityNote.compatibility_type === 'compatibility option'">
            <strong>Compatibility Plugin</strong>
            <mod-input result-id="newCompatibilityNote.compatibility_plugin" search-plugins="true"></mod-input>
        </span>
    </div>
	<div class="note-content-container">
		<text-area data="newCompatibilityNote.text_body" ng-refresh="updateMDE" class="note-text-area"></text-area>

		<div class="action-button-container">
			<input class="btn action-btn" type="submit" value="Submit" ng-click="submitCompatibilityNote()"/>
			<input class="btn action-btn" type="button" value="Discard" ng-click="discardCompatibilityNote()">
		</div>
	</div>
</div>

<loader data="mod.compatibility_notes" content-class="" spinner-class="big-spinner">
    <div ng-repeat="note in mod.compatibility_notes" class="post">
        <compatibility-note note="note" mod-id="mod.id" show-author-column="true" index="100 + $index" user="user"></compatibility-note>
    </div>

    <div class="no-content-message" ng-if="mod.compatibility_notes.length == 0">
        There are no Compatibility Notes for this mod yet.
    </div>
</loader>