<messages></messages>

<div class="column-wrapper">
    <div class="single-column">
        <h2>Edit Mod</h2>

        <loader data="mod" spinner-class="big-spinner">
            <form id="editModForm" name="editModForm" spellcheck="false">

                <h3 class="section-title">Image
                    <span class="help-tooltip" title="The image that will be shown on the mod page.">?</span>
                </h3>
                <section>
                    <image-upload image="image" can-change="true" default-src="mod.image" label="mod image" image-class="mod-image" max-width="300" max-height="300"></image-upload>
                </section>

                <h3 class="section-title">General Info
                    <span class="help-tooltip" title="General information on the mod.">?</span>
                </h3>
                <section>
                    <label class="subsection" ng-show="!sources.length || permissions.canSetGeneralModInfo">
                        <span class="input-label">Mod Name</span>
                    <span class="input-block">
                        <input type="text" class="medium-text" ng-model="mod.name">
                    </span>
                    </label>
                    <label class="subsection">
                        <span class="input-label">Aliases</span>
                    <span class="input-block">
                        <input type="text" class="medium-text" ng-model="mod.aliases">
                    </span>
                    </label>
                    <label class="subsection" ng-show="!sources.length || permissions.canSetGeneralModInfo">
                        <span class="input-label">Authors</span>
                    <span class="input-block">
                        <input type="text" class="medium-text" ng-model="mod.authors">
                    </span>
                    </label>
                    <label class="subsection" ng-show="!sources.length || permissions.canSetGeneralModInfo">
                        <span class="input-label">Date Released</span>
                    <span class="input-block">
                        <input type="date" ng-model="mod.released">
                    </span>
                    </label>
                    <label class="subsection" ng-show="!sources.length || permissions.canSetGeneralModInfo">
                        <span class="input-label">Date Updated</span>
                    <span class="input-block">
                        <input type="date" ng-model="mod.updated">
                    </span>
                    </label>
                </section>

                <h3 class="section-title">Mod Authors
                    <span class="help-tooltip" title="The users who can edit this mod.  Click for &#13;more information.">?</span>
                </h3>
                <section>
                    <div class="dynamic-item" ng-repeat="author in mod.mod_authors">
                        <select ng-model="author.role">
                            <option value="0">Author</option>
                            <option value="1">Contributor</option>
                            <option value="2">Curator</option>
                        </select>
                        <search-input search-type="users" result-id="author.user_id" search-text="author.user.username"></search-input>
                        <span class="remove-item" ng-click="removeAuthor(author)" title="Remove author">
                            <i class="fa fa-times"></i>
                        </span>
                    </div>
                    <input type="button" class="btn" value="Add Author" ng-click="addAuthor()">
                </section>

                <h3 class="section-title">Requirements
                    <span class="help-tooltip" title="Mods that are required for this mod to function.">?</span>
                </h3>
                <section>
                    <div class="dynamic-item" ng-repeat="requirement in mod.requirements">
                        <search-input search-type="mods" result-id="requirement.required_id" search-text="requirement.name" class="long-input"></search-input>
                        <span class="remove-item" ng-click="removeRequirement(requirement)" title="Remove requirement">
                            <i class="fa fa-times"></i>
                        </span>
                    </div>
                    <input type="button" class="btn" value="Add Requirement" ng-click="addRequirement()">
                </section>

                <section>
                    <category-tree selection="mod.categories" toggle-all="false"></category-tree>
                    <div id="category-messages">
                        <div ng-repeat="message in categoryMessages" class="category-message"
                             ng-class="message.klass">{{message.text}}</div>
                    </div>
                    <input type="button" id="check-categories-btn" class="btn" ng-click="checkCategories()" value="Check Categories">
                </section>

                <h3 class="section-title">Tags</h3>
                <section>
                    <tag-selector active-tags="mod.tags" new-tags="newTags" show-mods-count="true" show-add="true" max-tags="10" can-create="true"></tag-selector>
                </section>

                <h3 class="section-title">Other Options</h3>
                <section>
                    <label class="checkbox-option">
                        <input type="checkbox" ng-model="mod.isUtility">
                        External Utility
                    </label>
                    <span class="help-tooltip" title="A mod is classified as an external utility if it installs files &#13;outside of the user's data directory.  This includes &#13;mod managers, patchers, and script extenders.">?</span><br/>

                    <label class="checkbox-option">
                        <input type="checkbox" ng-model="mod.hasAdultContent">
                        Has Adult Content
                    </label>
                    <span class="help-tooltip" title="In this context, adult content is classified as nudity or &#13;depictions of sexual acts.">?</span>
                </section>

                <div class="action-button-container">
                    <input class="btn action-btn" type="submit" ng-disabled='submitting || !modValid()' ng-click="submit()" value="Save Changes"/>
                </div>
            </form>
        </loader>
    </div>
</div>