<div class="mod-tab-items">
    <div class="mod-tab-item primary-item">
        <strong>Sort By: </strong>

        <select ng-model="tabs[2].params.sort" ng-change="reSortInstallOrder()">
            <option value="reputation">Reputation</option>
            <option value="submitted">Date Submitted</option>
            <option value="edited">Last Edited</option>
        </select>
    </div>
    <div class="mod-tab-item">
        <input class="btn" type="submit" value="Add Install Order Note" ng-click="startNewInstallOrderNote()" ng-disabled="activeInstallOrderNote"/>
    </div>
</div>

<div class="content-block add-note-box" ng-show="activeInstallOrderNote">
    <div class="content-title">
        <span ng-if="activeInstallOrderNote.original">Edit</span>
        <span ng-if="!activeInstallOrderNote.original">Add</span>
        Install Order Note
    </div>
    <div class="add-note-options">
        <span class="select order-dropdown">
            <select ng-model="activeInstallOrderNote.order">
                <option value="before">Install Before</option>
                <option value="after">Install After</option>
            </select>
        </span>
        <mod-input result-id="activeInstallOrderNote.mod_id" excluded-id="mod.id" on-change="validateInstallOrderNote"></mod-input>
    </div>
    <div class="content-container">
        <text-area data="activeInstallOrderNote.text_body" ng-refresh="updateMDE" class="note-text-area" on-change="validateInstallOrderNote"></text-area>

        <div class="action-button-container">
            <input class="btn action-btn" type="submit" value="Submit" ng-click="submitInstallOrderNote()" ng-disabled="!activeInstallOrderNote.valid" title="{{activeInstallOrderNote.valid ? 'Submit your install order note' : 'Your install order note is either too short or incomplete.'}}"/>
            <input class="btn action-btn" type="button" value="Discard" ng-click="discardInstallOrderNote()">
        </div>
    </div>
</div>

<state-loader spinner-class="big-spinner">
    <div ng-repeat="note in mod.install_order_notes" class="content-block" ng-if="!note.editing">
        <install-order-note note="note" show-author-column="true" mod-id="mod.id" index="100 + $index" user="currentUser" edit="editInstallOrderNote"></install-order-note>
    </div>

    <div class="no-content-message" ng-if="mod.install_order_notes.length == 0">
        There are no Install Order Notes for this mod yet.
    </div>
</state-loader>
