<div class="mod-tab-actions">
    <div class="mod-tab-action sort-by-dropdown">
		<strong>Sort By: </strong>
		<div class="select">
			<select ng-model="iNotesFilter">
				<option value="-sortBySeverity">Severity</option>
				<option value="-submitted">Date Submitted</option>
				<option value="-edited">Last Edited</option>
				<option value="+incorrect_notes_count">Author's Incorrect Notes</option>
			</select>
		</div>
	</div>
	<!-- TODO: replace both inputs with buttons that have inline value -->
	<div class="mod-tab-action">
		<input class="btn mod-page-btn" type="submit" value="Add Install Order Note" ng-click="submit()"/>
	</div>
	<div class="mod-tab-action">
		<input class="btn mod-page-btn" type="submit" value="Add Load Order Note" ng-click="submit()"/>
	</div>
</div>

<div class="add-note-box">
	<h3 class="section-title">Add Compatibility Note</h3>
	<section>
		<div class="add-note-actions">
			<div>
				<!-- TODO: this seems a bit out of place -->
				Install
			</div>
			<div>
				<strong>{{mod.name}}</strong>
			</div>
			<div class="select install-order-dropdown">
				<select ng-model="newInstallData.beforeBool">
					<option value="true">Before</option>
					<option value="false">After</option>
				</select>
			</div>
			<input type="text" placeholder="Enter Mod Name" ng-model="newInstallData.firstModName" ng-change="newInstallData.firstMod = getModByName(newInstallOrderNote.firstModName)">
			<div ng-if="userCanAddMod">
				Mod not listed?
				<input class="btn mod-page-btn" type="submit" value="Add Mod" ng-click="addMod()"/>
			</div>
		</div>
	</section>
	<section class="version-boxes-section">
		<!-- TODO: kill redundancy -->
		<version-boxes versions="mod.mod_versions" selectedVersions="newCompatibilityNote.mods[0].mod_versions"></version-boxes>
		<version-boxes ng-if="newCompatibilityNote.otherMod.mod_versions" versions="newCompatibilityNote.otherMod.mod_versions" selectedVersions="newCompatibilityNote.mods[1].mod_versions"></version-boxes>
	</section>
    <text-area data="newInstallOrderNote.text_body" ng-refresh="true" class="note-text-area"></text-area>

	<div class="submit-note">
		<input class="btn" type="submit" value="Submit" ng-click="createCompatibilityNote()"/>
	</div>
</div>

<div ng-repeat="inote in installOrderNotes" class="notes">
	<i-note inote="inote" show-author-column="true"></i-note>
</div>

<div ng-repeat="lnote in loadOrderNotes" class="notes">
	<l-note lnote="lnote" show-author-column="true"></l-note>
</div>

