<div class="mod-tab-actions">
    <div class="mod-tab-action sort-by-dropdown">
		<strong>Sort By: </strong>

		<select ng-model="installOrderFilter" ng-init="installOrderFilter = 'reputation'">
			<option value="reputation">Reputation</option>
			<option value="submitted">Date Submitted</option>
			<option value="edited">Last Edited</option>
		</select>
	</div>
	<!-- TODO: replace input with button that has an inline value -->
	<div class="mod-tab-action">
		<input class="btn mod-page-btn" type="submit" value="Add Install Order Note" ng-click="submit()"/>
	</div>
</div>

<div class="add-note-box">
	<h3 class="section-title">Add Install Order Note</h3>
	<section>
		<div class="add-note-actions">
			<div>
				<!-- TODO: this seems a bit out of place -->
				Install
			</div>
			<div>
				<strong>{{mod.name}}</strong>
			</div>
			<div class="select order-dropdown">
				<select ng-model="newInstallData.before" ng-init="newInstallData.before = true">
					<option value="true">Before</option>
					<option value="false">After</option>
				</select>
			</div>
			<input type="text" placeholder="Enter Mod Name" ng-model="newInstallData.firstModName" ng-change="newInstallData.firstMod = getModByName(newInstallOrderNote.firstModName)">
		</div>
	</section>
    <text-area data="newInstallOrderNote.text_body" ng-refresh="true" class="note-text-area"></text-area>

	<div class="submit-note">
		<input class="btn" type="submit" value="Submit" ng-click="createInstallOrderNote()"/>
	</div>
</div>

<div ng-repeat="inote in installOrderNotes" class="notes">
	<install-order-note inote="inote" show-author-column="true"></install-order-note>
