<div class="mod-header-color">
    <div class="page-container mod-header">
        <div class="stars-count action-box">
            <span class="stars-number">{{mod.mod_stars_count}}</span>
            STARS
        </div>

        <div class="mod-header-box">
            ACTIONS
            <div class="action-box btn-round">
                <i class="fa fa-heart" aria-hidden="true"></i>
                Favorite
            </div>
            <div class="action-box btn-round">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Add to mod list
            </div>
        </div>

        <div class="mod-header-box">
            STATUS
            <div class="green-box action-box">
                <i class="fa fa-check" aria-hidden="true"></i>
                {{mod.status}}
            </div>

            <div class="green-box action-box">
                <i class="fa fa-check" aria-hidden="true"></i>
                {{mod.compatibility}}
            </div>
        </div>
        <span class="mod-name">{{mod.name}}</span>
        <div class="mod-info">
            <a ng-click="currentTab = tabs[2]">{{mod.reviews.length}} reviews</a>
            <span class="divider">
                |
            </span>

            Included in <a ng-href="">{{mod.mod_modlists_count}} modlists</a>
            <span class="divider">
                |
            </span>

            <strong>Aliases: </strong>{{mod.aliases}}
            <span class="divider">
                |
            </span>

            <a ng-href="#/editMod/{{mod.id}}">Edit</a>
        </div>
    </div>
</div>

<div class="page-container">
    <loader data="mod">
        <div class="left-column left-mod-column wide-column">
            <!--Versions-->
            <h3>Mod Versions</h3>
            <section>
                <div class="select">
                    <select ng-model="currentVersion" ng-options="version as version.version for version in mod.mod_versions" class="version-dropdown"></select>
                </div>
            </section>
            <!--Image-->
            <img ng-src="{{mod.image}}" class="mod-image"/>
            <!--Sources-->
            <h3 class="section-title">Sources</h3>
            <section class="sources">
                <div class="action-box source-box" ng-if="mod.nexus_info">
                    <img src="/assets/nexus_logo" class="source-image"/>
                    Nexus
                </div>
                <div class="action-box source-box" ng-if="mod.steam_info">
                    <img src="/assets/steam_logo" class="source-image" />
                    Steam
                </div>
                <div class="action-box source-box" ng-if="mod.lovers_info">
                    <img src="/assets/lovers_logo" class="source-image" />
                </div>
            </section>
            <!--Requirements-->
            <h3 class="section-title">Requirements</h3>
            <section>
                <ol>
                    <li ng-repeat="requirement in mod.requirements">
                        <a ng-href="#/mod/{{requirement.id}}">
                            <strong>{{requirement.name}}</strong>
                        </a>
                        <span ng-if="requirement.aliases">({{requirement.aliases}})</span>
                    </li>
                </ol>
                <span class="explanation" ng-if="!mod.requirements">
                    None
                </span>
            </section>
            <!--Categories-->
            <h3 class="section-title">Categories</h3>
            <section>
                <div ng-show="mod.primary_category_id" class="action-box mod-category">{{firstCategory}}</div>
                <div ng-show="mod.secondary_category_id" class="action-box mod-category">{{secondCategory}}</div>
            </section>
            <!--Tags-->
            <h3 class="section-title">Tags</h3>
            <section>
                <div>
                    <div class="action-box" ng-repeat="tag in mod.tags">{{tag.text}}</div>
                </div>
            </section>
            <!--Nexus Stats-->
            <expandable expanded="nexusExpanded" ng-if="mod.nexus_info" class="stat-block">
                    <expanded-title>
                        <label>
                           Nexus stats
                        </label>
                    </expanded-title>
                    <content>
                        <nexus-block></nexus-block>
                    </content>
            </expandable>
            <expandable expanded="steamExpanded" ng-if="mod.workshop_infos">
                    <expanded-title>
                        <label>
                           Steam stats
                        </label>
                    </expanded-title>
                    <content>
                        <steam-block></steam-block>
                    </content>
            </expandable>
            <expandable expanded="loversExpanded" ng-if="mod.lovers_infos">
                    <expanded-title>
                        <label>
                           Lover's Lab stats
                        </label>
                    </expanded-title>
                    <content>
                        <lovers-block></lovers-block>
                    </content>
            </expandable>
            <section ng-show="mod.workshop_infos">
                <steam-block></steam-block>
            </section>
            <section ng-show="mod.lovers_infos">
                <lovers-block></lovers-block>
            </section>

        </div>
        <div class="right-column">
            <div class="right-mod-column">
                <tabs current-tab="currentTab" tabs="tabs"></tabs>
                <div ng-include="currentTab.url" class="mod-tab"></div>
            </div>
        </div>
    </loader>
</div>
