<div class="page-container">
    <loader data="mod">
        <div class="modHeader">
            <div class="stars-count">
                {{mod.mod_stars_count}}
                Stars
            </div>
            <h1>{{mod.name}}</h1>
            <p class="mod-authors">
                by
                <a ng-repeat="author in mod.authors" ng-href="#/user/{{author.id}}">{{author.username}} </a>
            </p>
            <span>
                <a ng-click="showReviews()">{{mod.reviews.length}} reviews</a>
                | In {{mod.mod_modlists_count}}
                | <a ng-href="#/editMod/{{mod.id}}">Edit</a>
            </span>
            <mod-actions></mod-actions>
            <div class="mod-status-box">
                Mod Status
                <div class="mod-status">

                </div>
            </div>
        </div>

        <tabs current-tab="currentTab" tabs="tabs"></tabs>

        <hr/>
        <div class="left-column">
            <!--Versions-->
            <h3 class="section-title">Mod Versions</h3>
            <section>
                <select ng-model="version" ng-change="changeVersion(version)" ng-options="version.id as version.version for version in mod.mod_versions"></select>
            </section>
            <!--Image-->
            <img ng-src="{{mod.image}}" class="mod-image"/>
            <!--Aliases-->
            <h3 class="section-title">Mod Aliases</h3>
            <section>
                <p>{{mod.aliases}}</p>
            </section>
            <!--Sources-->
            <h3 class="section-title">Sources</h3>
            <section>
                <img src="/assets/nexus_logo" ng-show="mod.nexus_info" class="source-image"/>
                <img src="/assets/steam_logo" ng-show="mod.steam_info" class="source-image" />
                <img src="/assets/lovers_logo" ng-show="mod.lovers_info" class="source-image" />
            </section>
            <!--Requirements-->
            <h3 class="section-title">Requirements</h3>
            <section>
                <p>{{mod.requirements}}</p>
            </section>
            <!--Categories-->
            <h3 class="section-title">Categories</h3>
            <section>
                <div class="mod-cat-tag">{{mod.primary_category_id}}</div>
                <div class="mod-cat-tag">{{mod.secondary_category_id}}</div>
            </section>
            <!--Tags-->
            <h3 class="section-title">Tags</h3>
            <section>
                <div >
                    <div class="mod-cat-tag" ng-repeat="tag in mod.tags">{{tag.text}}</div>
                </div>
            </section>
            <!--Nexus Stats-->
            <h3 class="section-title">Nexus stats</h3>
            <section ng-show="mod.nexus_info">
                <stat-block rows="nexusRows"></stat-block>
            </section>
            <section ng-show="mod.workshop_infos">
                <p class="explanation">Coming Soon!</p>
            </section>
            <section ng-show="mod.lovers_infos">
                <p class="explanation">Coming Soon!</p>
            </section>

        </div>
        <div class="right-column mod-content">
            <ng-include src="currentTab.url"></ng-include>
        </div>
    </loader>
</div>
