<div class="mod-tab-actions">
	<div class="mod-tab-action sort-by-dropdown">
		<strong>Sort By: </strong>

		<select ng-model="reviewsFilter" ng-init="reviewsFilter = 'reputation'">
			<option value="reputation">Reputation</option>
			<option value="helpfulness">Helpfulness</option>
			<option value="overallRating">Overall Rating</option>
			<option value="submitted">Date Submitted</option>
			<option value="edited">Last Edited</option>
		</select>
	</div>

	<div class="mod-tab-action text-centered-block">
		Average Rating
		<br>
		{{mod.average_review}}
	</div>

	<div class="mod-tab-action">
		<input class="btn mod-page-btn" type="submit" value="Add Review" ng-click="startNewReview()" ng-disabled="newReview"/>
	</div>
</div>

<div class="add-note-box" ng-show="newReview">
	<div class="add-note-title">
		<div>
			Add Review
			({{newReview.overallRating}}/100)
		</div>
	</div>
	<section class="ratings-container">
		<div class="rating-item" ng-repeat="rating in newReview.ratings">
			<div>
				<select class="select" ng-options="section as section.name for section in reviewSections track by section.id" ng-model="rating.section" pu-elastic-input>
				</select>:
				<i class="fa fa-caret-down" aria-hidden="true"></i>
			</div>
			<input ng-change="rating.rating = formatScore(rating.rating); updateOverallRating()" ng-model="rating.rating" ng-click="focusText($event)" pu-elastic-input>
		</div>
		<div class="section-tools">
			<i class="fa fa-plus" aria-hidden="true" ng-if="newReview.ratings.length < 5" ng-click="addNewRating(reviewSections[0])" title="Add review section"></i>
			<i class="fa fa-minus" aria-hidden="true" ng-if="newReview.ratings.length > 1" ng-click="newReview.ratings.splice(newReview.ratings.length-1,1)" title="Remove review section"></i>
		</div>
	</section>
    <section class="note-content-container">
        <text-area data="newReview.text_body" ng-refresh="true" class="note-text-area"></text-area>

        <div class="action-button-container">
            <input class="btn action-btn" type="submit" value="Submit" ng-click="submitReview()"/>
            <input class="btn action-btn" type="button" value="Discard" ng-click="discardReview()">
        </div>
    </section>
</div>

<div ng-repeat="review in mod.reviews" class="reviews">
	<review review="review"></review>
</div>
