<div class="sort-selector">
	Sort By:
	<select ng-model="filter">
		<option value="compatibility_type">Severity</option>
		<option value="submitted">Date Submitted</option>
		<option value="edited">Last Edited</option>
		<option value="incorrect_notes_count">Author's Incorrect Notes</option>
	</select>
</div>

Average Rating
<div class="average-rating">
	{{mod.average_review}}
</div>

<input class="btn" type="submit" value="Add Note" ng-click="submit()"/>

<div ng-repeat="compatibility_note in mod.compatibility_notes" class="compatibility-notes">
	<note note="compatibilityNote"></note>
</div>
