<div class="mod-tab-actions">
	<div class="mod-tab-action sort-by-dropdown">
		<strong>Sort By: </strong>

		<select ng-model="reviewsFilter" ng-init="reviewsFilter = 'reputation'">
			<option value="reputation">Reputation</option>
			<option value="helpfulness">Helpfulness</option>
			<option value="overallRating">Overall Rating</option>
			<option value="submitted">Date Submitted</option>
			<option value="edited">Last Edited</option>
		</select>
		</div>
	</div>

	<div class="mod-tab-action text-centered-block">
		Average Rating
		<br>
		{{mod.average_review}}
	</div>

	<div class="mod-tab-action">
		<input class="btn mod-page-btn" type="submit" value="Add Review" ng-click="startNewReview()"/>
	</div>
</div>

<div class="add-note-box" ng-show="newReview">
	<h3 class="section-title">Add Review</h3>
	<section class="ratings-container">
		<div class="rating-item" ng-repeat="rating in newReview.ratings">
			<div class="select">
				<select class="select" ng-options="section as section.name for section in reviewSections track by section.id" ng-model="rating.section"></select>
			</div>
			<input type="number" step="0.1" max="10" min="0" ng-model="rating.rating">
		</div>
	</section>
	<section>
		Overall:
		{{newReview.overallRating}}
	</section>

    <text-area data="newReview.text_body" ng-refresh="true" class="note-text-area"></text-area>

	<input class="btn mod-page-btn" type="submit" value="Submit" ng-click="createCompatibilityNote()"/>
</div>

<div ng-repeat="review in mod.reviews" class="reviews">
	<review review="review"></review>

