<h1>Terms of Service</h1>

<p><b>Please read these Terms of Service and our <a href="/legal/privacy">Privacy Policy</a> carefully before using Mod Picker, LLC's ("MOD PICKER") Services.</b></p>

<p>Whenever you use the Services, you agree that these Terms of Service will control the relationship between you and MOD PICKER. If you do not agree to all the terms and conditions, you must not use our Services.</p>

<ol>
    <li><b>DEFINITIONS</b>
        <ol>
            <li><b>Account:</b> Any account provided by MOD PICKER that you create to access certain Services.</li>
            <li><b>Purchases:</b> Non-Virtual Goods available for purchase through the Services. Including, but not limited to applications and premium accounts. </li>
            <li><b>IP right:</b> Any intellectual property right, including but not limited to any copyright, trademark, patent, trade secret, industrial design right, database right, software, idea, concept, method, invention, Content, Item, or combinations thereof.</li>
            <li><b>Privacy Policy:</b> MOD PICKER policy regarding privacy. The current version can be found at <a href="/legal/privacy">modpicker.com/legal/privacy</a></li>
            <li><b>Service or Services:</b> Any application, website, and other related services by MOD PICKER and its affiliates.</li>
            <li><b>Terms of Service or Terms:</b> These terms of service.</li>
        </ol>
    </li>

    <li><b>OWNERSHIP AND LIMITED LICENSE — SERVICES LICENSED NOT SOLD</b>
        <ol>
            <li><b>Ownership.</b> All rights, title and interest in and to the Services (including without limitation any applications, titles, computer code, themes, objects, methods of operation, moral rights, and documentation) are owned or licensed by MOD PICKER. MOD PICKER reserves all rights, including without limitation, all intellectual property rights or other proprietary rights, in connection with its application and the Service.</li>
            <li><b>License.</b> Subject to your agreement and continuing compliance with these Terms of Service and any other relevant MOD PICKER policies, MOD PICKER grants you a non-exclusive, non-transferable, revocable limited license, subject to the limitations in these Terms, to access and use the Services for your own non-commercial entertainment or education purposes. You agree to not use the Services for any other purpose.</li>
            <li><p><b>License Limitations.</b> Any use of the Services in violation of these License Limitations is strictly prohibited, and may result in the immediate revocation of your limited license and may subject you to liability for violations of law. Further, we may delete accounts that are deemed inactive. "Inactive" will be defined by MOD PICKER based on average usage of the Services from other users.</p>

                <p>You acknowledge you will not directly or indirectly:</p>

                <ol>
                    <li>Partake in any activity or action that MOD PICKER deems to be against the spirit or intent of the Services.</li>
                    <li>Copy, distribute or reproduce any Service or related content.</li>
                    <li>Attempt to harass, abuse, or harm, or advocate or incite harassment, abuse, or harm of another person, group, or MOD PICKER itself.</li>
                    <li>Initiate, assist, or become involved in any form of attack, including without limitation distribution of a virus, denial of service attacks upon the Service, or other attempts to disrupt the Service or other person's use or enjoyment of the Service.</li>
                    <li>Make available through the Service any material or information that infringes any copyright, trademark, patent, trade secret, right of privacy, right of publicity, or other right of any person or entity or impersonates any other person, including without limitation a MOD PICKER employee.</li>
                    <li>Attempt to gain unauthorized access to the Service or Accounts not belonging to you.</li>
                </ol>
            </li>
            <li><b>Your Account and Purchases.</b>
                <ol>
                    <li>No matter what else is said in these Terms or anywhere else within the Services, you have no right or title to the Account you create on our Service and your Account is not your property. Likewise, Purchases, regardless of whether they were "earned" or purchased within the Services, are not your property. Your Account and any Purchases are owned by MOD PICKER and are licensed to you under the same rules as 2(a).</li>
                    <li>Further, we may delete accounts that are deemed inactive. "Inactive" will be defined by MOD PICKER based on average usage of the Services from other users. If you would like us to delete your account, please alert us here: modpicker [at] gmail.com</li>
                </ol>
            </li>
        </ol>
    </li>

    <li><b>USER CONTENT</b>
        <ol>
            <li>While the MOD PICKER staff does monitor and moderate content, we are unable to pre-screen or monitor all User Content. Your use of the Service is at your own risk.  MOD PICKER assumes no responsibility for the conduct of any user submitting any content created by users ("User Content").</li>
            <li><p>When you transmit or upload User Content, you agree to abide by the following rules:</p>
                <ol>
                    <li>All content will be accurate to the best of your knowledge</li>
                    <li>All content will be free of any infringing material</li>
                    <li>All content will not be in violation of any law, contractual restrictions, or other parties' rights.</li>
                    <li>All content will be free of viruses, adware, spyware, worms, or other malicious code.</li>
                </ol>
            </li>
            <li>Core content submitted to MOD PICKER is community licensed under the <a href="http://creativecommons.org/publicdomain/zero/1.0/">CC0</a>.  Core content is limited to user-submitted data, including Mod Data, Mod Lists, Configuration Files, Help Pages, Tags, Reviews, Compatibility Notes, Install Order Notes, Load Order Notes, Comments, and Corrections.</li>
            <li>Protected content on MOD PICKER is owned by MOD PICKER. Protected content includes Users, User Settings, Reports, Events, and Articles.</li>
            <li>Other content such as Mod Images, User Images, and scraped statistics may not be owned by Mod Picker.  If you're concerned your copyright may be violated please contact us at modpicker@gmail.com.</li>
        </ol>
    </li>

    <li><b>FEES AND PAYMENT TERMS</b>
        <ol>
            <li>Within the Services, you may purchase, with "real world" money, a limited license to use Purchases. MOD PICKER may manage, regulate, control, modify or eliminate all Purchases at any time, with or without notice. MOD PICKER shall have no liability to you or any third party if MOD PICKER exercises any such rights.</li>
            <li>Purchases purchased within the Services on other platforms such as PayPal will be subject to those platforms' payment terms and conditions. MOD PICKER does not control how you can pay on those platforms. Please review those platforms' terms of service for additional information.</li>
            <li>ALL SALES ARE FINAL AND YOU ACKNOWLEDGE THAT MOD PICKER IS NOT REQUIRED TO PROVIDE A REFUND FOR ANY REASON. YOU WILL NOT RECEIVE MONEY OR OTHER COMPENSATION FOR UNUSED PURCHASES WHEN AN ACCOUNT IS CLOSED, WHETHER SUCH CLOSURE WAS VOLUNTAY OR INVOLUNTARY.</li>
        </ol>
    </li>

    <li><b>DURATION</b>
        <ol>
            <li>Unless modified or amended by MOD PICKER, this agreement and its provisions shall remain in effect. Termination of any license granted by MOD PICKER under this agreement does not affect any other provisions of this agreement.</li>
        </ol>
    </li>

    <li><b>ACCOUNT ACCESS AND PERMISSIBLE ASSIGNMENT</b>
        <ol>
            <li>You warrant and represent that you: 1) are at least 18 years of age and otherwise legally competent to read, understand and accept the provisions of this agreement on behalf of yourself; 2) are at least 18 years of age and otherwise legally competent to read, understand and accept the provisions of this agreement on behalf of yourself and a minor age 13-17 for whom you are legally permitted to allow access to the Services; or 3) are a minor age 13-17 who has been authorized under the provisions of Section 6(c) below. If you are under 13 years of age, you may not use our Services. If you are under 13 years of age, you must not create an Account, use any part of the Services, or submit personal information through the Services.</li>
            <li>Each Account may only be used by one person. If a minor has been allowed access to an Account under Section 6(c) below, only that minor may use the Account thereafter. You may not make any assignment or transfer of rights, obligations or liabilities related to this agreement and any attempt by you to do so is null and void.</li>
            <li>If you are at least 18 years of age and otherwise legally competent to read, understand and accept the provisions of this agreement on behalf of yourself and a minor age 13-17 for whom you are legally permitted to allow access to the Services, you can choose to allow use of your Account by that minor instead of yourself subject to the following provisions:
                <ol>
                    <li>You acknowledge, and further agree they are entering into an agreement with your consent;</li>
                    <li>You acknowledge, and further agree you are responsible for all the provisions they have agreed to on your behalf;</li>
                    <li>You acknowledge, and further agree, you are legally responsible for all actions of that minor, including but not limited to any payments, damages and/or liabilities related to the actions of that minor;</li>
                    <li>In consideration for MOD PICKER allowing access to the Services by a minor, and in addition to the provisions of Section 13 below, the foregoing adult hereby guarantees and agrees to pay for any and all liabilities of any nature whatsoever incurred under this agreement and to defend, indemnify and hold harmless MOD PICKER with respect thereto.</li>
                </ol>
            </li>
        </ol>
    </li>

    <li><b>SERVICE AND AVAILABILITY</b>
        <ol>
            <li>You acknowledge that MOD PICKER may in its sole and absolute discretion provide subsequent versions, enhancements, modifications, upgrades or patches related to any part of the Service.</li>
            <li>You acknowledge that admission to the Service may be interrupted for reasons within or beyond the control of MOD PICKER, and that MOD PICKER cannot and does not guarantee you will be able to use the Services whenever you wish to do so.</li>
        </ol>
    </li>

    <li><b>ADDITIONAL WARRANTIES AND REPRESENTATIONS BY YOU</b>
        <p>YOU ACKNOWLEDGE THAT MOD PICKER AND MOD PICKER AFFILIATES ARE NOT LIABLE</p>

        <p>(1) FOR ANY INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY OR CONSEQUENTIAL DAMAGES, INCLUDING FOR LOSS OF PROFITS, GOODWILL OR DATA, IN ANY WAY WHATSOEVER ARISING OUT OF THE USE OF, OR INABILITY TO USE, THE SERVICE; OR</p>

        <p>(2) FOR THE CONDUCT OF THIRD PARTIES, INCLUDING OTHER USERS OF THE SERVICE AND OPERATORS OF EXTERNAL SITES.</p>

        <p>THE RISK OF USING THE SERVICE RESTS ENTIRELY WITH YOU AS DOES THE RISK OF INJURY FROM THE SERVICE.</p>

        <p>TO THE FULLEST EXTENT ALLOWED BY ANY LAW THAT APPLIES, THE DISCLAIMERS OF LIABILITY IN THESE TERMS APPLY TO ALL DAMAGES OR INJURY CAUSED BY THE SERVICE, OR RELATED TO USE OF, OR INABILITY TO USE, THE SERVICE, UNDER ANY CAUSE OF ACTION IN ANY JURISDICTION, INCLUDING, WITHOUT LIMITATION, ACTIONS FOR BREACH OF WARRANTY, BREACH OF CONTRACT OR TORT (INCLUDING NEGLIGENCE).</p>

        <p>TO THE MAXIMUM EXTENT PERMISSIBLE UNDER APPLICABLE LAWS, THE TOTAL LIABILITY OF MOD PICKER AND/OR MOD PICKER AFFILIATES IS LIMITED TO THE TOTAL AMOUNT YOU HAVE PAID MOD PICKER AND/OR THE MOD PICKER AFFILIATE IN THE ONE HUNDRED AND EIGHTY DAYS (180) DAYS IMMEDIATELY PRECEDING THE DATE ON WHICH YOU FIRST ASSERT ANY SUCH CLAIM.</p>

        <p>IF YOU HAVE NOT PAID MOD PICKER OR ANY MOD PICKER AFFILIATE ANY AMOUNT IN THE ONE HUNDRED AND EIGHTY DAYS (180) DAYS IMMEDIATELY PRECEDING THE DATE ON WHICH YOU FIRST ASSERT ANY SUCH CLAIM, YOUR SOLE AND EXCLUSIVE REMEDY FOR ANY DISPUTE WITH MOD PICKER AND/OR ANY MOD PICKER AFFILIATE IS TO STOP USING THE SERVICE AND TO CANCEL YOUR ACCOUNT.</p>

        <p>YOU REPRESENT AND WARRANT THAT YOU ARE NOT LOCATED IN A COUNTRY THAT IS SUBJECT TO A UNITED STATES GOVERNMENT EMBARGO, OR THAT HAS BEEN DESIGNATED BY THE UNITED STATES GOVERNMENT AS A “TERRORIST SUPPORTING” COUNTRY; AND YOU ARE NOT LISTED ON ANY UNITED STATES GOVERNMENT LIST OF PROHIBITED OR RESTRICTED PARTIES.</p>

        <p>Some states or countries do not allow the exclusion of certain warranties or the limitations/exclusions of liability described above. So these limitations/exclusions may not apply to you if you reside in one of those states or countries.</p>
    </li>

    <li><b>INDEMNITY</b>
        <ol>
            <li>
                <p>You agree to defend, indemnify and hold harmless MOD PICKER, any third-parties under agreement with MOD PICKER, any parent, subsidiary or affiliate of MOD PICKER, and any employee, agent, supplier, licensee, customer, distributor, shareholder, director or officer of any of the foregoing, as well as any person using the Services and any person or entity that becomes aware of your use of the Services at any time, with respect to any and all claims, liabilities, injuries, damages, losses or expenses (including but not limited to attorney’s fees and costs) that arise under, from or in any way, directly or indirectly, relate to:</p>

                <ol>
                    <li>Your failure to comply with any provision of this agreement;</li>
                    <li>Your use of the Services, including but not limited to economic, physical, emotional, psychological or privacy related considerations; and</li>
                    <li>Your actions to knowingly affect the Services via any bloatware, malware, computer virus, worm, Trojan horse, spyware, adware, crimeware, scareware, rootkit or any other program installed in a way that executable code of any program is scheduled to utilize or utilizes processor cycles during periods of time when such program is not directly or indirectly being used.</li>
                </ol>
            </li>
            <li>You acknowledge, and further agree, that MOD PICKER has no obligation to defend, indemnify or hold harmless you in any way related to this agreement including, but not limited to, your use of the Services, use of the Services by any person, or any connection between the foregoing and any other person or entity that becomes aware of your use of the Services at any time.</li>
        </ol>
    </li>

    <li><b>DISPUTE RESOLUTION</b>
        <ol>
            <li><b>Informal Resolution.</b> With respect to the resolution of any controversy related to this agreement (hereinafter “Dispute”) you agree to try to resolve any Dispute informally for at least thirty (30) days before initiating any arbitration or other proceeding, including any legal proceeding in court or before an administrative agency.</li>
            <li>
                <p>
                    <b>Contact Information.</b> MOD PICKER can be reached at the following address:
                </p>

                <ul>
                    <li><b>Mod Picker, LLC</b></li>
                    <li><b>5142 Hollister Ave #111, Santa Barbara, CA 93111</b></li>
                </ul>
            </li>
            <li>
                <p><b>Mandatory Binding Arbitration.</b> If you are not able to satisfactorily resolve a Dispute informally within a total of ninety (90) days or if MOD PICKER, in its sole and absolute discretion, determines that it will not be possible to satisfactorily resolve that Dispute informally within a total of ninety (90) days, you agree that either you or MOD PICKER may request resolution by final and fully binding arbitration conducted under the Commercial Arbitration Rules of the American Arbitration Association.</p>

                <ol>
                    <li>The American Arbitration Association (AAA) will run the arbitration between you and MOD PICKER, and AAA’s rules and procedures (including their Supplementary Procedures for Consumer-Related Disputes, if applicable) will be used. If something in these Terms is different than AAA’s rules and procedures, then we will follow these Terms instead. You can look at AAA’s rules and procedures on their website www.adr.org or you can call them at 1-800-778-7879.</li>
                    <li>YOU UNDERSTAND, AND FURTHER AGREE, THAT YOU HAVE THE RIGHT TO CONSULT WITH INDEPENDENT LEGAL COUNSEL OF YOUR OWN CHOOSING REGARDING THIS AND ANY OTHER PROVISION IN THIS AGREEMENT AND THAT THIS BINDING ARBITRATION PROVISION WILL ELIMINATE YOUR LEGAL RIGHT TO SUE IN COURT AND/OR HAVE A JURY TRIAL WITH RESPECT TO ANY SUCH DISPUTE. Accordingly, you and MOD PICKER agree that neither shall attempt to have any other Dispute related to any other party, including but not limited to any class action, joined to any arbitration in which you are involved. Thus, to the fullest extent permitted by law no arbitration proceeding shall be joined with any other or decided on a class-action basis.</li>
                </ol>
            </li>
        </ol>
    </li>

    <li><b>GENERAL PROVISIONS</b>
        <ol>
            <li>It is your responsibility to read, understand and accept this agreement in connection with your use of the Services. You acknowledge that MOD PICKER may make changes to the provisions of this agreement at any time and that Section headings in this agreement are for purposes of convenience only.</li>

            <li><b>Force Majeure.</b> Both you and MOD PICKER shall be excused from any failure to perform any obligation under this agreement to the extent such failure is caused by war, terrorism, acts of public enemies, strikes or other labor disturbances, fires, floods, acts of god, or any causes of like or different kind beyond the control of you or MOD PICKER, as applicable under the circumstances.</li>

            <li><b>No Waiver.</b> If MOD PICKER does not enforce a provision of these Terms, or the Privacy Policy, that does not waive MOD PICKER’s right to do so later. And, if MOD PICKER does expressly waive a provision of these Terms, or the Privacy Policy, that does not mean it is waived for all time in the future. Any waiver must be in writing and signed by both you and MOD PICKER to be legally binding.</li>

            <li><b>Waiver.</b> Signed written consent from a legally authorized representative of MOD PICKER is required to waive any provisions of this agreement. Any waiver of any provision of this agreement, intentional or otherwise, shall not be deemed a waiver of any other provisions of this agreement.</li>

            <li><b>Injunctive Relief.</b> You and MOD PICKER acknowledge that breach of this agreement may result in irreparable harm and loss, and upon a breach of this agreement the non-breaching party (i.e. you and/or MOD PICKER) shall be entitled to immediate injunctive relief from a court of competent jurisdiction, which is in addition to, not in lieu of remedies at law and/or any other remedies set forth in this agreement.</li>

            <li><b>Governing Law and Venue.</b> This agreement and any controversy related to this agreement shall be interpreted in accordance with and governed by the laws of the state of California, or, as appropriate, by federal law as applied by a federal court sitting in California, both without regard to California choice of law rules.</li>
        </ol>
    </li>
</ol>