<p>This is a wizard to help mod authors choose licenses for their work.  Please see the <a href="/help/mod_licensing">mod licensing help page</a> for general information about licensing mods.</p>

<p><b>Disclaimer</b>: This information is not intended to convey or constitute legal advice, and is not a substitute for obtaining legal advice from a qualified attorney.  Mod Picker is not a law firm and does not provide legal services.  Using the licensing wizard provided below does not create a lawyer-client or any other relationship.</p>

<div ng-app="licensingWizard">
    <wizard></wizard>
</div>

<%= javascript_include_tag "licensing-wizard" %>