/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

/* some basic css for scaffolds */
body {
  width: 80%;
  margin: auto;
  padding-top: 100px;
}

table {
	border-collapse: collapse;
	width: 95%;
	font-family:Arial;
}

td, th {
	border-left: 1px solid #CBCBCB;
	border-width: 0px 0px 0px 1px;
	font-size: 12px;
	margin: 0px;
	overflow: visible;
	padding: 0.5em 1em;
}

tr:nth-child(odd) { 
	background-color:#dddddd; 
}

tr:nth-child(even) { 
	background-color:#ffffff; 
}