/* BLACKREACH THEME */

$banner_image: image_path("blackreach.jpg");

$text_color: #aaa;
$inverse_text_color: #111;

$primary_background: #171718;
$secondary_background: #1d1d20;
$background_highlight: #1e2028;

$shadow_color: #000;
$border_color: #0c3235;
$soft_border_color: #0a2439;
$hard_border_color: #0b476b;

$h1_color: #bbb;
$h2_color: #ccc;
$h3_color: #576d7d;
$h4_color: #485d86;

$action_color: #2b7377;
$action_text_color: #bbb;
$bright_action_color: #1b5a8f;
$dark_action_color: #165c5e;

$bar_color: #0a2030;
$bar_dark_color: #11334B;
$bar_highlight_color: #0b476b;
$bar_text_color: #aaa;
$bar_highlight_text_color: #7eaac7;

$link_color: #2b8387;
$link_hover_color_primary: #21a6c9;
$link_hover_color_secondary: #21a6c9;

$slider_bg_color: #aaa;
$slider_range_color: #21a6c9;
$slider_circle_color_after: #0a2439;

$success_primary: #415741;
$success_secondary: #22D522;
$error_primary: #5A1A23;
$error_secondary: #F52222;
$warning_primary: #5A5A1A;
$warning_secondary: #F5D718;

$admin_color: #800000;
$moderator_color: #8000b0;
$mod_author_color: #008000;

$select_image: image_path("Blackreach_select_arrow.png");

@import 'main';
