/* DARKWATER THEME */

$banner_image: image_path("darkwater.jpg");

$text_color: #151d1f;
$inverse_text_color: #aeb5b6;

$primary_background: #ddd;
$secondary_background: #ced0cf;
$background_highlight: #b5beb7;

$shadow_color: #000;
$border_color: #6e8c8e;
$soft_border_color: #b7c6c7;
$hard_border_color: #333;

$h1_color: #fff;
$h2_color: #000;
$h3_color: #2e2c1d;
$h4_color: #313d31;

$action_color: #2f443d;
$action_text_color: #aeb5b6;
$bright_action_color: #4c5854;
$dark_action_color: #172224;

$bar_color: #202424;
$bar_dark_color: #2F3737;
$bar_highlight_color: #303434;
$bar_text_color: #8a8e8f;
$bar_highlight_text_color: #88a9b3;

$link_color: #205098;
$link_hover_color_primary: #a6ceda;
$link_hover_color_secondary: #4f5e61;

$slider_bg_color: #aeb5b6;
$slider_range_color: #6e8c8e;
$slider_circle_color_after: #2f443d;

$success_primary: #526A52;
$success_secondary: #22D522;
$error_primary: #743E45;
$error_secondary: #F52222;
$warning_primary: #74743E;
$warning_secondary: #F5D718;

$select_image: image_path("Darkwater_select_arrow.png");

@import 'main';
