@import
'general/mixins',
'general/buttons',
'general/forms',
'general/urls',
'general/utility',
'components/logo',
'help/footer',
'help/content',
'help/header',
'pages/showHelpPage',
'pages/helpCenter',
'components/helpList';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  color: $text_color;
  margin: 0;
  background-color: $primary_background;
  min-height: 100vh;
  position: relative;
}

.content-message {
  text-align: center;
  font-size: 20px;
}