<div class="contribution-container box-shadow">
    <div class="content-title">
		<span ng-if="modId">
            <span class="capitalize">{{note.status}}</span>
            {{note.compatibility_verb}}
            <span ng-if="note.mods[0].id == modId">
                <a ng-href="#/mod/{{note.mods[1].id}}" target="_blank">{{note.mods[1].name}}</a>
            </span>
            <span ng-if="note.mods[1].id == modId">
                <a ng-href="#/mod/{{note.mods[0].id}}" target="_blank">{{note.mods[0].name}}</a>
            </span>
        </span>
        <span ng-if="!modId">
            <span ng-if="note.compatibility_verb === 'for'">
                <span class="capitalize">{{note.status}}</span> for
                <a ng-href="#/mod/{{note.mods[0].id}}" target="_blank">{{note.mods[0].name}}</a>
                and
                <a ng-href="#/mod/{{note.mods[1].id}}" target="_blank">{{note.mods[1].name}}</a>
            </span>
            <span ng-if="note.compatibility_verb === 'with'">
                <a ng-href="#/mod/{{note.mods[0].id}}" target="_blank">{{note.mods[0].name}}</a>
                is <span class="capitalize">{{note.status}}</span> with
                <a ng-href="#/mod/{{note.mods[1].id}}" target="_blank">{{note.mods[1].name}}</a>
            </span>
        </span>
        <span class="right-item">
            <span class="standing capitalize">{{note.standing}} standing</span>
        </span>
    </div>
    <user-column ng-if="showUserColumn" user="note.submitter" editors="note.editors" class="user-column" index="index"></user-column>
    <div class="content-column" ng-class="{ 'no-actions' : !showActions }">
        <contribution-text target="note"></contribution-text>
        <contribution-actions target="note" ng-if="showActions" index="index" current-user="currentUser" model-name="CompatibilityNote" edit="edit" has-history="true"></contribution-actions>
    </div>
    <div ng-if="showResolutionOptions" class="resolution-column">
        <div class="resolution-status">{{getResolutionStatus()}}</div>
        <div class="resolution-options">
            <span class="action-box green-box single" ng-if="note.compatibility_mod" ng-click="resolve('add mod')" ng-class="{ 'disabled' : note.resolved }">Add {{note.compatibility_mod.name}}</span>
            <span class="action-box green-box single" ng-if="note.compatibility_plugin" ng-click="resolve('add plugin')" ng-class="{ 'disabled' : note.resolved }">Add {{note.compatibility_plugin.filename}}</span>
            <span class="action-box green-box single" ng-if="note.status === 'make custom patch'" ng-click="resolve('add custom')" ng-class="{ 'disabled' : note.resolved }">Add Custom Patch Plugin</span>
            <span class="action-box red-box" ng-click="resolve('remove', 0)" ng-class="{ 'disabled' : note.resolved }">Remove {{note.mods[0].name}}</span>
            <span class="action-box red-box" ng-click="resolve('remove', 1)" ng-class="{ 'disabled' : note.resolved }">Remove {{note.mods[1].name}}</span>
            <span class="action-box yellow-box single" ng-if="!note.ignored" ng-click="resolve('ignore')" ng-class="{ 'disabled' : note.resolved }">Ignore Issue</span>
            <span class="action-box yellow-box single" ng-if="note.ignored" ng-click="resolve('unignore')" ng-class="{ 'disabled' : note.resolved }">Unignore Issue</span>
        </div>
    </div>
</div>
