<div class="submitted-line">Submitted {{target.submitted | date : 'longDate'}} - {{target.submitted | date : 'shortTime'}}</div>
<div class="text-container" ng-class="{ 'half-opacity' : target.hidden }">
    <read-more text="target.text_body" words="75"></read-more>
</div>
<div class="edit-summary" ng-if="target.edited">
    Edited {{target.edited | date : 'longDate'}} - {{target.edited | date : 'shortTime'}}
    <span ng-show="target.editor">by <a href="#/profile/{{target.editor.id}}">{{target.editor.username}}</a></span><br>
    <span ng-show="target.edit_summary">{{target.edit_summary}}</span>
</div>
<div class="moderator-message" ng-if="target.moderator_message">
    <div class="message-title">
        Moderator Message
        <div>
            <i class="fa fa-times remove-icon" ng-show="permissions.canModerate" aria-hidden="true" ng-click="removeModeratorMessage()"></i>
        </div>
    </div>

    <div class="text-container" ng-if="target.moderator_message && !target.adding_mod_note" marked="target.moderator_message"></div>
</div>
