<div class="contribution-container box-shadow">
	<div class="content-title">
		<span ng-if="modId">
            Install
            <span ng-if="note.mods[0].id == modId">
                Before
                <a ng-href="#/mod/{{note.mods[1].id}}" target="_blank">{{note.mods[1].name}}</a>
            </span>
            <span ng-if="note.mods[1].id == modId">
                After
                <a ng-href="#/mod/{{note.mods[0].id}}" target="_blank">{{note.mods[0].name}}</a>
            </span>
        </span>
        <span ng-if="!modId">
            Install
            <a ng-href="#/mod/{{note.mods[0].id}}" target="_blank">{{note.mods[0].name}}</a>
            Before
            <a ng-href="#/mod/{{note.mods[1].id}}" target="_blank">{{note.mods[1].name}}</a>
        </span>
        <span class="right-item">
            <span class="standing capitalize">{{note.standing}} standing</span>
        </span>
	</div>
    <user-column ng-if="showUserColumn" user="note.submitter" editors="note.editors" class="user-column" index="index"></user-column>
    <div class="content-column" ng-class="{ 'no-actions' : !showActions }">
        <contribution-text target="note"></contribution-text>
        <contribution-actions target="note" ng-if="showActions" model-name="InstallOrderNote" index="index" current-user="currentUser" edit="edit" has-history="true"></contribution-actions>
    </div>
    <div ng-if="showResolutionOptions" class="resolution-column">
        <div class="resolution-status">
            {{note.ignored ? "Ignored" : note.resolved ? "Resolved" : "Unresolved"}}
        </div>
        <div class="resolution-options order-options">
            <span class="action-box green-box" ng-click="resolve('move', 0)" ng-class="{ 'disabled' : note.resolved }">Move  {{note.mods[0].name}}</span>
            <span class="action-box green-box" ng-click="resolve('move', 1)" ng-class="{ 'disabled' : note.resolved }">Move  {{note.mods[1].name}}</span>
            <span class="action-box yellow-box single" ng-click="resolve('ignore')" ng-class="{ 'disabled' : note.resolved }">{{note.ignored ? 'Unignore' : 'Ignore'}} Issue</span>
        </div>
    </div>
</div>
