<div class="note-container">
	<div class="note-title">
		<span ng-if="modId">
            Install
            <span ng-if="note.mods[0].id == modId">
                Before
                <a ng-href="#/mod/{{note.mods[1].id}}" target="_blank">{{note.mods[1].name}}</a>
            </span>
            <span ng-if="note.mods[1].id == modId">
                After
                <a ng-href="#/mod/{{note.mods[0].id}}" target="_blank">{{note.mods[0].name}}</a>
            </span>
        </span>
        <span class="right-item">
            <span class="standing">Good Standing</span>
        </span>
	</div>
    <author-column user="note.user" ng-if="showAuthorColumn" class="author-column" index="index"></author-column>
    <div class="content-column">
        <post-text target="note"></post-text>
        <post-actions target="note" route="'install_order_notes'" correctable="true" index="index" user="user"></post-actions>
    </div>
</div>