<div class="contribution-container box-shadow">
	<div class="content-title">
		<span>
            Load
            <span class="root">
                <a ng-href="mods/{{note.first_mod.id}}/analysis">{{note.first_plugin.filename}}</a>
                Before
                <a ng-href="mods/{{note.second_mod.id}}/analysis">{{note.second_plugin.filename}}</a>
            </span>
        </span>
        <span class="standing-item" title="This contribution is in {{note.standing}} standing">
            <i class="fa {{standingClasses[note.standing]}}"></i>
        </span>
	</div>
	<user-column ng-if="showUserColumn" user="note.submitter" editors="note.editors" class="user-column" index="index"></user-column>
    <div class="content-column">
        <contribution-text target="note"></contribution-text>
        <contribution-actions target="note" model-name="LoadOrderNote" index="index" edit="edit" has-history="true"></contribution-actions>
    </div>
    <div ng-if="showResolutionOptions" class="resolution-column">
        <div class="resolution-status">
            {{note.ignored ? "Ignored" : note.resolved ? "Resolved" : "Unresolved"}}
        </div>
        <div class="resolution-options order-options">
            <div class="action-box green-box" ng-click="resolve('move', 0)" ng-class="{ 'disabled' : note.resolved || note.ignored }">Move {{note.first_plugin.filename}}</div>
            <div class="action-box green-box" ng-click="resolve('move', 1)" ng-class="{ 'disabled' : note.resolved || note.ignored }">Move {{note.second_plugin.filename}}</div>
            <div class="action-box yellow-box single" ng-click="resolve('ignore')" ng-class="{ 'disabled' : note.resolved }">{{note.ignored ? 'Unignore' : 'Ignore'}} Issue</div>
        </div>
    </div>
</div>
