<div class="modal-container">
    <div class="modal big-modal">
        <form>
            <h3 class="section-title">
                <!--TODO: refactor to be able to easily report users-->
                Report {{target.submitter.username}}'s {{model.label}}
            </h3>
            <section>
                <div class="line-label">What rule or community guideline does this submission violate?</div>
                <div class="report-reason-list" ng-init="report.reason = '0'">
                    <label>
                        <input type="radio" name="reason" ng-model="report.reason" value="0">
                        <span class="report-reason">Be Respectful</span>
                    </label>
                    <label>
                        <input type="radio" name="reason" ng-model="report.reason" value="1">
                        <span class="report-reason">Be Trustworthy</span>
                    </label>
                    <label>
                        <input type="radio" name="reason" ng-model="report.reason" value="2">
                        <span class="report-reason">Be Constructive</span>
                    </label>
                    <label>
                        <input type="radio" name="reason" ng-model="report.reason" value="3">
                        <span class="report-reason">Spam, Advertising, or Solicitation</span>
                    </label>
                    <label>
                        <input type="radio" name="reason" ng-model="report.reason" value="4">
                        <span class="report-reason">Piracy</span>
                    </label>
                    <label>
                        <input type="radio" name="reason" ng-model="report.reason" value="5">
                        <span class="report-reason">Unmarked Adult Content</span>
                        <a href="/help/community_guidelines#adult-content">
                            <span class="help-tooltip" title="Note: Adult Content is allowed if marked.  Click here for more information.">?</span>>
                        </a>
                    </label>
                    <label>
                        <input type="radio" name="reason" ng-model="report.reason" value="6">
                        <span class="report-reason">Other</span>
                    </label>
                </div>
            </section>

            <section>
                <label>
                    <div class="line-label">Notes</div>
                    <textarea class="small-text-area" ng-model="report.note"></textarea>
                </label>
            </section>

            <div class="action-button-container">
                <input type="submit" class="btn action-btn" value="Report" ng-click="submitReport()">
                <input type="button" class="btn action-btn" value="Cancel" ng-click="toggleReportModal(false)">
            </div>
        </form>
    </div>
</div>
