<div class="note-container">
    <div class="content-title">
        <span ng-if="showMod">
            <a ng-href="#/mod/{{review.mod.id}}" target="_blank">{{review.mod.name}}</a> -
        </span>
        {{review.user.username}}'s Review ({{review.overall_rating | number:0}}/100)
    </div>
    <author-column user="review.user" ng-if="showAuthorColumn" class="author-column" index="index"></author-column>
    <div class="content-column">
        <div class="ratings-container">
            <div class="rating-item" ng-repeat="rating in review.review_ratings">
                <span class="section-name">{{rating.section.name}}:</span>
                <span class="rating-value">{{rating.rating}}</span>
            </div>
        </div>
        <contribution-text target="review"></contribution-text>
        <contribution-actions target="review" route="'reviews'" correctable="false" index="index" user="user" edit="edit"></contribution-actions>
    </div>
</div>