<div class="contribution-container box-shadow">
    <div class="content-title">
        <span ng-if="showMod">
            <a ng-href="#/mod/{{review.mod.id}}" target="_blank">{{review.mod.name}}</a> -
        </span>
        {{review.submitter.username}}'s Review ({{review.overall_rating | number:0}}/100)
    </div>
    <user-column ng-if="showUserColumn" user="review.submitter" class="user-column" index="index"></user-column>
    <div class="content-column">
        <div class="ratings-container">
            <div class="rating-item" ng-repeat="rating in review.review_ratings">
                <span class="section-name">{{rating.section.name}}:</span>
                <span class="rating-value">{{rating.rating}}</span>
            </div>
        </div>
        <contribution-text target="review"></contribution-text>
        <contribution-actions target="review" model-name="Review" correctable="false" index="index" current-user="currentUser" edit="edit"></contribution-actions>
    </div>
</div>
