<ul>
    <li ng-repeat="option in modOptions">
        <div class="mod-option">
            <span class="mod-option-icon" title="{{::option.tooltip}}">
                <i class="fa {{::option.iconClass}}"></i>
            </span>
            <span class="mod-option-details">
                <span class="mod-option-title">
                    <input type="checkbox" ng-model="option.default" title="Default"/>
                    <input type="text" title="{{::option.name}}" class="fuzzy-input" ng-model="option.display_name" ng-click="focusText($event)" pu-elastic-input>
                </span>
                <span class="mod-option-stats">
                    {{::option.size | bytes}}
                </span>
                <label class="old-option" ng-if="oldOptions">
                    <span>Old Option:</span>`
                    <select ng-options="opt.id as opt.display_name for opt in ::oldOptions" ng-model="option.id" ng-change="oldOptionChanged()">
                        <option value="">None</option>
                    </select>
                </label>
            </span>
            <span class="remove-item" ng-click="removeModOption()" title="Remove mod option">
                <i class="fa fa-times"></i>
            </span>
        </div>
        <div class="children-container" ng-if="option.plugins.length">
            <span class="children-note" ng-click="togglePluginsExpansion(option)">
                <i class="fa fa-chevron-{{option.pluginsExpanded ? 'down' : 'right'}}"></i>
                {{::option.plugins.length | number}} plugin{{:: option.plugins.length != 1 ? 's' : ''}}
            </span>
            <div ng-if="option.pluginsExpanded">
                <div class="plugin-analysis-item" ng-repeat="plugin in option.plugins">
                    <label class="old-plugin" ng-if="option.oldOption">
                        <span>Old Plugin:</span>
                        <select ng-options="op.id as op.filename for op in option.oldOption.plugins" ng-model="plugin.id" ng-change="oldPluginChanged(plugin)">
                            <option value="">None</option>
                        </select>
                    </label>
                    <plugin-metadata plugin="plugin" show-record-groups="true"></plugin-metadata>
                </div>
            </div>
        </div>
        <div class="children-container" ng-if="option.assets.length">
            <span class="children-note" ng-click="toggleAssetsExpansion(option)">
                <i class="fa fa-chevron-{{option.assetsExpanded ? 'down' : 'right'}}"></i>
                {{::option.assets.length | number}} asset{{:: option.assets.length != 1 ? 's' : ''}}
            </span>
            <div ng-if="option.assetsExpanded">
                <asset-tree assets="option.nestedAssets"></asset-tree>
            </div>
        </div>
        <div class="children-container" ng-if="option.children">
            <span class="children-note" ng-click="toggleExpansion(option)">
                <i class="fa fa-chevron-{{option.expanded ? 'down' : 'right'}}"></i>
                {{::option.children.length | number}} installer options
            </span>
            <div ng-if="option.expanded">
                <edit-mod-option-tree mod-options="option.children" old-options="oldOptions"></edit-mod-option-tree>
            </div>
        </div>
    </li>
</ul>