<h3 class="section-title">
    Mod Analysis
    <a href="/help/mod_analyzer">
        <span class="help-tooltip" ng-hide="hideTooltips" title="A mod analysis file includes an asset file tree and one or more plugin &#13;dumps. You can generate a mod analysis file using Mod Analyzer. &#13;Click here for more information and download links.">
            <i class="fa fa-question-circle"></i>
        </span>
    </a>
    <span ng-hide="analysisValid" class="error-tooltip" title="A mod analysis is required.">
        <i class="fa fa-exclamation-circle"></i>
    </span>
</h3>
<section>
    <div class="analysis-results" ng-repeat="option in mod.analysis.mod_options">
        <h4 class="subtitle">
            <input class="fuzzy-input" type="text" ng-model="option.name" ng-click="focusText($event)" pu-elastic-input/>
            ({{option.size | bytes}})
            <span class="remove-item" ng-click="removeOption(option)" title="Remove mod option">
                <i class="fa fa-times"></i>
            </span>
        </h4>

        <label class="default-option">
            <input type="checkbox" ng-model="option.default"> Default
        </label>

        <strong ng-show="option.nestedAssets">Asset File Tree</strong>
        <div class="subsection analysis-container" ng-show="option.nestedAssets">
            <asset-tree assets="option.nestedAssets"></asset-tree>
        </div>

        <strong ng-show="option.plugins.length">Plugins</strong>
        <div class="subsection analysis-container" ng-show="option.plugins.length">
            <div class="plugin-analysis-item" ng-repeat="plugin in option.plugins">
                <plugin-metadata plugin="plugin" show-record-groups="true"></plugin-metadata>
            </div>
        </div>
    </div>

    <label>
        <input id="analysis-input" type="file" file-change="changeAnalysisFile" accept=".json">
        <input type="button" class="btn" ng-click="browseAnalysisFile()" value="Browse">
    </label>
</section>