<h3 class="section-title">
    Mod Analysis
    <a href="/help/mod_analyzer" target="_blank">
        <span class="help-tooltip" ng-hide="hideTooltips" title="A mod analysis file includes an asset file tree and one or more plugin &#13;dumps. You can generate a mod analysis file using Mod Analyzer. &#13;Click here for more information and download links.">
            <i class="fa fa-question-circle"></i>
        </span>
    </a>
    <span ng-hide="analysisValid" class="error-tooltip" title="A mod analysis is required.">
        <i class="fa fa-exclamation-circle"></i>
    </span>
</h3>
<section>
    <loader spinner-class="big-spinner" data="!loadingAnalysis">
        <div class="analysis-container" ng-if="nestedOptions">
            <edit-mod-option-tree mod-options="nestedOptions" old-options="oldNestedOptions"></edit-mod-option-tree>
        </div>
        <div class="analysis-container" ng-if="oldNestedOptions">
            <edit-mod-option-tree mod-options="oldNestedOptions"></edit-mod-option-tree>
        </div>

        <label>
            <input id="analysis-input" type="file" file-change="changeAnalysisFile" accept=".json">
            <input type="button" class="btn" ng-click="browseAnalysisFile()" value="Browse">
            <input type="button" class="btn" ng-click="clearAnalysis()" value="Clear">
        </label>
    </loader>
</section>