<h3 class="section-title">General Info
    <span class="help-tooltip" title="Information that cannot be fetched from scraping &#13;the mod pages.">?</span>
</h3>
<section>
    <label class="subsection" ng-show="!sources.length || permissions.canSetGeneralModInfo">
        <span class="input-label">Mod Name</span>
        <input type="text" class="medium-text" ng-model="mod.name">
    </label>
    <label class="subsection">
        <span class="input-label">Aliases
            <span class="help-tooltip" title="Other names the mod is known by, such as acronyms.">?</span>
        </span>
        <input type="text" class="medium-text" ng-model="mod.aliases">
    </label>
    <label class="subsection" ng-show="!sources.length || permissions.canSetGeneralModInfo">
        <span class="input-label">Authors</span>
        <input type="text" class="medium-text" ng-model="mod.authors">
    </label>
    <label class="subsection" ng-show="!sources.length || permissions.canSetGeneralModInfo">
        <span class="input-label">Date Released</span>
        <input type="date" ng-model="mod.released">
    </label>
    <label class="subsection" ng-show="!sources.length || permissions.canSetGeneralModInfo">
        <span class="input-label">Date Updated</span>
        <input type="date" ng-model="mod.updated">
    </label>
</section>