<h3 class="section-title">Metadata</h3>
<section>
    <label class="subsection" ng-show="permissions.canSetModMetadata || !mod.sources.length">
        <span class="input-label">Mod Name</span>
        <input type="text" class="medium-text" ng-model="mod.name" ng-model="mod.authors" ng-class="{ 'invalid' : !mod.name }">
    </label>
    <label class="subsection">
        <span class="input-label">Aliases
            <span class="help-tooltip small" ng-hide="hideTooltips" title="Other names the mod is known by, such as acronyms.">
                <i class="fa fa-question-circle"></i>
            </span>
        </span>
        <input type="text" class="medium-text" ng-model="mod.aliases" maxlength="128">
    </label>
    <label class="subsection" ng-show="!mod.sources.length || permissions.canSetModMetadata">
        <span class="input-label">Authors</span>
        <input type="text" class="medium-text" ng-model="mod.authors" ng-class="{ 'invalid' : !mod.authors }">
    </label>
    <label class="subsection" ng-show="!mod.sources.length || permissions.canSetModMetadata">
        <span class="input-label">Date Released</span>
        <input type="date" ng-model="mod.released" ng-class="{ 'invalid' : !mod.released }">
    </label>
    <label class="subsection" ng-show="!mod.sources.length || permissions.canSetModMetadata">
        <span class="input-label">Date Updated</span>
        <input type="date" ng-model="mod.updated">
    </label>
</section>