<h4 class="subtitle">
    <input class="fuzzy-input" type="text" ng-model="option.display_name" ng-click="focusText($event)" pu-elastic-input/>
    ({{option.size | bytes}})
    <span class="remove-item" ng-click="removeModOption()" title="Remove mod option">
        <i class="fa fa-times"></i>
    </span>
</h4>

<label class="default-option">
    <input type="checkbox" ng-model="option.default"> Default
</label>

<label>
    <span>Raw Name:</span> {{option.name}}
</label>

<label class="old-option" ng-if="oldOptions">
    <span>Old Option:</span>
    <select ng-options="opt.id as opt.display_name for opt in oldOptions" ng-model="option.id" ng-change="oldOptionChanged()">
        <option value="">None</option>
    </select>
</label>

<strong ng-if="option.assets.length && option.nestedAssets">Asset File Tree</strong>
<div class="subsection analysis-container" ng-if="option.assets.length && option.nestedAssets">
    <asset-tree assets="option.nestedAssets"></asset-tree>
</div>

<strong ng-if="option.plugins.length">Plugins</strong>
<div class="subsection analysis-container" ng-if="option.plugins.length">
    <div class="plugin-analysis-item" ng-repeat="plugin in option.plugins">
        <label class="old-plugin" ng-if="oldOption">
            <span>Old Plugin:</span>
            <select ng-options="op.id as op.filename for op in oldOption.plugins" ng-model="plugin.id" ng-change="oldPluginChanged(plugin)">
                <option value="">None</option>
            </select>
        </label>
        <plugin-metadata plugin="plugin" show-record-groups="true"></plugin-metadata>
    </div>
</div>