<h3 class="section-title">Sources
    <span class="help-tooltip" ng-hide="hideTooltips" title="Locations where an author has officially uploaded a Mod. &#13;You can only enter one valid location for each supported site.">
        <i class="fa fa-question-circle"></i>
    </span>
    <span ng-hide="sourcesValid" class="error-tooltip" title="At least one valid source is required.">
        <i class="fa fa-exclamation-circle"></i>
    </span>
</h3>
<section>
    <div class="dynamic-item" ng-repeat="source in sources">
        <select ng-model="source.label" ng-change="validateSource(source)" ng-disabled="source.scraped">
            <option ng-repeat="site in sites" ng-if="!site.hidden">{{site.label}}</option>
        </select>
        <input type="text" class="long-input" ng-model="source.url" placeholder="Enter Source URL here" ng-change="validateSource(source)" ng-disabled="source.scraped">
        <input type="button" class="btn scrape-button" value="Scrape" ng-click="scrapeSource(source)" ng-disabled="!source.valid || source.scraped">
        <span class="remove-item" ng-click="removeSource(source)" ng-if="($index > 0 || permissions.canUseCustomSources) && !source.scraped" title="Remove source">
            <i class="fa fa-times"></i>
        </span>
    </div>
    <div class="dynamic-item" ng-repeat="source in customSources" ng-hide="source._destroy">
        <input type="text" class="source-label" ng-model="source.label" ng-change="validateCustomSource(source)">
        <input type="text" class="long-input" ng-model="source.url" placeholder="Enter Source URL here" ng-change="validateCustomSource(source)">
        <span class="remove-item" ng-click="removeCustomSource(source)" title="Remove custom source">
            <i class="fa fa-times"></i>
        </span>
    </div>
    <!-- TODO: Fix this not hiding immediately -->
    <input type="button" class="btn" value="Add Source" ng-click="addSource()" ng-show="sources.length < sites.length">
    <input type="button" class="btn" value="Add Custom Source" ng-click="addCustomSource()" ng-show="permissions.canUseCustomSources">

    <div class="scraped-data-container" ng-if="nexus || lab || workshop">
        <div class="scraped-data" ng-if="nexus">
            <h4>Nexus Mods Data</h4>
            <loader data="nexus.id" spinner-class="medium-spinner">
                <table class="infotable">
                    <colgroup>
                        <col span="1" style="width: 160px;">
                        <col span="1">
                    </colgroup>
                    <tbody>
                    <tr>
                        <td>Mod ID</td>
                        <td>{{nexus.id}}</td>
                    </tr>
                    <tr>
                        <td>Mod Name</td>
                        <td>{{nexus.mod_name}}</td>
                    </tr>
                    <tr>
                        <td>Uploaded By</td>
                        <td>{{nexus.uploaded_by}}</td>
                    </tr>
                    <tr>
                        <td>Authors</td>
                        <td>{{nexus.authors}}</td>
                    </tr>
                    <tr>
                        <td>Latest Version</td>
                        <td>{{nexus.current_version}}</td>
                    </tr>
                    <tr>
                        <td>Date Released</td>
                        <td>{{nexus.released | date }}</td>
                    </tr>
                    <tr>
                        <td>Date Updated</td>
                        <td>{{nexus.updated | date }}</td>
                    </tr>
                    </tbody>
                </table>
            </loader>
        </div>

        <div class="scraped-data" ng-if="workshop">
            <h4>Steam Workshop Data</h4>
            <loader data="workshop.id" spinner-class="medium-spinner">
                <table class="infotable">
                    <colgroup>
                        <col span="1" style="width: 160px;">
                        <col span="1">
                    </colgroup>
                    <tbody>
                    <tr>
                        <td>Mod ID</td>
                        <td>{{workshop.id}}</td>
                    </tr>
                    <tr>
                        <td>Mod Name</td>
                        <td>{{workshop.mod_name}}</td>
                    </tr>
                    <tr>
                        <td>Uploaded By</td>
                        <td>{{workshop.uploaded_by}}</td>
                    </tr>
                    <tr>
                        <td>Date Released</td>
                        <td>{{workshop.released | date }}</td>
                    </tr>
                    <tr>
                        <td>Date Updated</td>
                        <td>{{workshop.updated | date }}</td>
                    </tr>
                    </tbody>
                </table>
            </loader>
        </div>

        <div class="scraped-data" ng-if="lab">
            <h4>Lover's Lab Data</h4>
            <loader data="lab.id" spinner-class="medium-spinner">
                <table class="infotable">
                    <colgroup>
                        <col span="1" style="width: 160px;">
                        <col span="1">
                    </colgroup>
                    <tbody>
                    <tr>
                        <td>Mod ID</td>
                        <td>{{lab.id}}</td>
                    </tr>
                    <tr>
                        <td>Mod Name</td>
                        <td>{{lab.mod_name}}</td>
                    </tr>
                    <tr>
                        <td>Uploaded By</td>
                        <td>{{lab.uploaded_by}}</td>
                    </tr>
                    <tr>
                        <td>Date Released</td>
                        <td>{{lab.released | date }}</td>
                    </tr>
                    <tr>
                        <td>Date Updated</td>
                        <td>{{lab.updated | date }}</td>
                    </tr>
                    </tbody>
                </table>
            </loader>
        </div>
    </div>
</section>